<section class="py-4 overflow-hidden">
    <div class="container px-4 mx-auto">
      <h3 class="font-heading mb-7 text-xl font-semibold">Articles from Knowledge Base</h3>
      <div class="flex flex-wrap -m-3">
        <div class="w-full sm:w-1/2 lg:w-1/4 p-3">
          <div class="p-6 pb-7 h-full bg-white border rounded-xl">
            <div class="relative flex justify-center items-center mb-5 h-56 bg-neutral-100 overflow-hidden rounded-md">
              <div class="absolute flex items-center justify-center bg-white w-20 h-20 rounded-full">
                <img src="https://shuffle.dev/dashy-assets/images/chart-pie.svg" alt="">
              </div>
            </div>
            <h3 class="font-heading mb-3 text-lg font-semibold">Keeping track of cash and balances</h3>
            <p class="mb-7 text-neutral-500">Account management strategy is a system of main account manager is often ready, interested only in that.</p>
            <a class="inline-flex flex-wrap items-center justify-center px-5 py-3 text-center text-neutral-50 font-medium bg-gradient-purple-left hover:bg-gradient-purple-left-dark rounded-lg transition duration-300" href="#">
              <span class="mr-3 font-medium">Read More</span>
              <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.33333 3.3335L14 8.00016M14 8.00016L9.33333 12.6668M14 8.00016L2 8.00016" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 p-3">
          <div class="p-6 pb-7 h-full bg-white border rounded-xl">
            <div class="relative flex justify-center items-center mb-5 h-56 bg-neutral-100 overflow-hidden rounded-md">
              <div class="absolute flex items-center justify-center bg-white w-20 h-20 rounded-full">
                <img src="https://shuffle.dev/dashy-assets/images/chart-pie.svg" alt="">
              </div>
            </div>
            <h3 class="font-heading mb-3 text-lg font-semibold">Keeping track of cash and balances</h3>
            <p class="mb-7 text-neutral-500">Account management strategy is a system of main account manager is often ready, interested only in that.</p>
            <a class="inline-flex flex-wrap items-center justify-center px-5 py-3 text-center text-neutral-50 hover:text-neutral-100 bg-neutral-600 hover:bg-opacity-95 rounded-lg focus:ring-4 focus:ring-neutral-400" href="#">
              <span class="mr-3 font-medium">Read More</span>
              <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.33333 3.3335L14 8.00016M14 8.00016L9.33333 12.6668M14 8.00016L2 8.00016" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 p-3">
          <div class="p-6 pb-7 h-full bg-white border rounded-xl">
            <div class="relative flex justify-center items-center mb-5 h-56 bg-neutral-100 overflow-hidden rounded-md">
              <div class="absolute flex items-center justify-center bg-white w-20 h-20 rounded-full">
                <img src="https://shuffle.dev/dashy-assets/images/chart-pie.svg" alt="">
              </div>
            </div>
            <h3 class="font-heading mb-3 text-lg font-semibold">Keeping track of cash and balances</h3>
            <p class="mb-7 text-neutral-500">Account management strategy is a system of main account manager is often ready, interested only in that.</p>
            <a class="inline-flex flex-wrap items-center justify-center px-5 py-3 text-center text-neutral-50 hover:text-neutral-100 bg-neutral-600 hover:bg-opacity-95 rounded-lg focus:ring-4 focus:ring-neutral-400" href="#">
              <span class="mr-3 font-medium">Read More</span>
              <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.33333 3.3335L14 8.00016M14 8.00016L9.33333 12.6668M14 8.00016L2 8.00016" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 p-3">
          <div class="p-6 pb-7 h-full bg-white border rounded-xl">
            <div class="relative flex justify-center items-center mb-5 h-56 bg-neutral-100 overflow-hidden rounded-md">
              <div class="absolute flex items-center justify-center bg-white w-20 h-20 rounded-full">
                <img src="https://shuffle.dev/dashy-assets/images/chart-pie.svg" alt="">
              </div>
            </div>
            <h3 class="font-heading mb-3 text-lg font-semibold">Keeping track of cash and balances</h3>
            <p class="mb-7 text-neutral-500">Account management strategy is a system of main account manager is often ready, interested only in that.</p>
            <a class="inline-flex flex-wrap items-center justify-center px-5 py-3 text-center text-neutral-50 hover:text-neutral-100 bg-neutral-600 hover:bg-opacity-95 rounded-lg focus:ring-4 focus:ring-neutral-400" href="#">
              <span class="mr-3 font-medium">Read More</span>
              <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.33333 3.3335L14 8.00016M14 8.00016L9.33333 12.6668M14 8.00016L2 8.00016" stroke="currentcolor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>