<section class="pt-20">
    <div class="container relative mx-auto px-4 text-center">
      <div class="mx-auto mb-16 max-w-lg lg:max-w-2xl">
        <span class="text-xs font-semibold uppercase text-indigo-500">Lorem ipsum</span>
        <h2 class="font-heading mb-4 mt-2 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        <p class="mb-8 text-base leading-relaxed text-gray-500 lg:text-xl lg:leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
        <div class="mb-16 flex items-center justify-center">
          <a class="mr-4" href="#">
            <img src="https://shuffle.dev/plain-assets/images/buttons/app-store-indigo.svg" alt="" />
          </a>
          <a href="#">
            <img src="https://shuffle.dev/plain-assets/images/buttons/google-play-indigo.svg" alt="" />
          </a>
        </div>
      </div>
      <div>
        <img class="mx-auto" src="https://shuffle.dev/plain-assets/images/devices/3-devices.svg" alt="" />
      </div>
    </div>
  </section>
  