<section class="py-10 bg-gray-50 overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="relative px-8 pt-16 md:pb-16 lg:pt-40 lg:pb-44 bg-white border border-gray-100 rounded-3xl">
        <div class="relative max-w-7xl mx-auto">
          <div class="flex flex-wrap items-center -m-8">
            <div class="w-full md:w-1/2 p-8 mb-16 md:mb-0">
              <div class="md:max-w-xl">
                <span class="inline-block mb-5 text-sm text-blue-500 font-bold uppercase tracking-widest">Applications</span>
                <h2 class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-gray-900 font-black tracking-tight">Start with ease, Grow your business</h2>
                <p class="mb-6 text-gray-500 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.</p>
                <a class="inline-block" href="#">
                  <img src="https://shuffle.dev/zanrly-assets/images/applications/app-store.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <img class="md:absolute md:bottom-0 md:right-0 xl:right-28 md:w-1/2 lg:w-auto mx-auto md:mr-0" src="https://shuffle.dev/zanrly-assets/images/applications/smartphone.png" alt="">
      </div>
    </div>
  </section>