<section class="relative pt-24 pb-24 md:pb-52 bg-gray-100 overflow-hidden">
    <div class="hidden lg:block absolute top-0 right-0 mt-40 mr-20 h-full">
      <a class="inline-block" href="#">
        <img class="w-16 h-16" src="https://shuffle.dev/wrexa-assets/logos/logo-wrexa.svg" alt="">
      </a>
    </div>
    <div class="container px-4 mx-auto">
      <div class="flex items-center mb-18">
        <span class="font-heading text-xl">02</span>
        <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
        <span class="font-heading text-xl">Creative team</span>
      </div>
      <div class="lg:hidden mb-12">
        <a class="inline-block" href="#">
          <img class="w-16 h-16" src="https://shuffle.dev/wrexa-assets/logos/logo-wrexa.svg" alt="">
        </a>
      </div>
      <div class="max-w-3xl xl:max-w-4xl mb-24 sm:mb-44">
        <h1 class="font-heading text-4xl sm:text-5xl md:text-6xl mb-8">“Alone we can do so little, together we can do so much.”</h1>
        <p class="max-w-xl font-light">The house by the pond cras ornare, some chords for a three moments, like a sense of truth that comes from within. The final game.</p>
      </div>
      <div class="flex flex-wrap -mx-4 -mb-16">
        <div class="w-full md:w-1/2 xl:w-1/4 px-4 mb-16">
          <img class="block mb-14 w-full object-coverrounded-md" src="https://shuffle.dev/wrexa-assets/images/team1.png" alt="">
          <h4 class="text-2xl mb-2">Ethan Orio O.Son</h4>
          <span class="text-lg text-indigo-500">Design Director</span>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 px-4 xl:mt-24 mb-16">
          <img class="block mb-14 w-full object-coverrounded-md" src="https://shuffle.dev/wrexa-assets/images/team2.png" alt="">
          <h4 class="text-2xl mb-2">Olivia Milner</h4>
          <span class="text-lg text-indigo-500">Co-Founder</span>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 px-4 mb-16">
          <img class="block mb-14 w-full object-coverrounded-md" src="https://shuffle.dev/wrexa-assets/images/team3.png" alt="">
          <h4 class="text-2xl mb-2">Wera Livington</h4>
          <span class="text-lg text-indigo-500">Product Designer</span>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 px-4 xl:mt-24 mb-16">
          <img class="block mb-14 w-full object-coverrounded-md" src="https://shuffle.dev/wrexa-assets/images/team4.png" alt="">
          <h4 class="text-2xl mb-2">Paul Alleson</h4>
          <span class="text-lg text-indigo-500">Designer</span>
        </div>
      </div>
    </div>
  </section>