<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="mx-auto mb-24 max-w-3xl text-center">
        <span class="text-sm uppercase text-gray-200">Lorem Ipsum</span>
        <h2 class="font-heading mb-4 mt-2 text-4xl font-bold lg:text-5xl">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <div class="flex items-center justify-around">
        <button class="hidden h-16 w-16 rounded-full bg-gray-50 p-5 hover:bg-gray-100 md:block">
          <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
        <div class="relative">
          <div class="mx-auto mb-6 max-w-2xl rounded-lg bg-gray-50 px-12 py-16 text-center lg:mb-12">
            <div class="absolute inset-0 -mt-10">
              <img class="mx-auto mb-6 h-20 w-20 rounded-full" src="https://shuffle.dev/mockup-assets/images/gray-300-avatar.png" alt="" />
            </div>
            <h3 class="font-heading text-2xl font-bold">Danny Bailey</h3>
            <p class="mb-4 text-lg text-gray-500">CEO & Founder</p>
            <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          </div>
        </div>
        <button class="hidden h-16 w-16 rounded-full bg-gray-50 p-5 hover:bg-gray-100 md:block">
          <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
      <div class="hidden w-full text-center md:block">
        <button class="mr-2 h-3 w-3 rounded-full border border-gray-500 bg-gray-500"></button>
        <button class="mr-2 h-3 w-3 rounded-full border border-gray-500"></button>
        <button class="mr-2 h-3 w-3 rounded-full border border-gray-500"></button>
        <button class="h-3 w-3 rounded-full border border-gray-500"></button>
      </div>
      <div class="w-full text-center md:hidden">
        <button class="h-12 w-12 rounded-full bg-gray-50 p-2">
          <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
        <button class="h-12 w-12 rounded-full bg-gray-50 p-2">
          <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </div>
  </section>
  