<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="mx-auto mb-12 max-w-lg text-center lg:mb-16 lg:max-w-2xl">
        <span class="text-xs font-semibold uppercase text-indigo-500">Lorem ipsum</span>
        <h2 class="font-heading mb-4 mt-2 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        <p class="text-base leading-relaxed text-gray-500 lg:text-xl lg:leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <div class="-m-4 flex flex-wrap">
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded bg-gray-50 p-6">
            <div class="-mx-4 flex flex-wrap items-center">
              <div class="mb-4 w-full px-4 md:w-2/5 lg:mb-0">
                <img class="h-52 rounded-lg object-cover md:w-full" src="https://shuffle.dev/plain-assets/images/indigo-600-square.png" alt="" />
              </div>
              <div class="w-full px-4 md:w-3/5">
                <h3 class="font-heading mb-1 text-2xl font-bold">Danny Bailey</h3>
                <p class="mb-2 text-lg text-gray-400">CEO & Founder</p>
                <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded bg-gray-50 p-6">
            <div class="-mx-4 flex flex-wrap items-center">
              <div class="mb-4 w-full px-4 md:w-2/5 lg:mb-0">
                <img class="h-52 rounded-lg object-cover md:w-full" src="https://shuffle.dev/plain-assets/images/indigo-600-square.png" alt="" />
              </div>
              <div class="w-full px-4 md:w-3/5">
                <h3 class="font-heading mb-1 text-2xl font-bold">Danny Bailey</h3>
                <p class="mb-2 text-lg text-gray-400">CEO & Founder</p>
                <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded bg-gray-50 p-6">
            <div class="-mx-4 flex flex-wrap items-center">
              <div class="mb-4 w-full px-4 md:w-2/5 lg:mb-0">
                <img class="h-52 rounded-lg object-cover md:w-full" src="https://shuffle.dev/plain-assets/images/indigo-600-square.png" alt="" />
              </div>
              <div class="w-full px-4 md:w-3/5">
                <h3 class="font-heading mb-1 text-2xl font-bold">Danny Bailey</h3>
                <p class="mb-2 text-lg text-gray-400">CEO & Founder</p>
                <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded bg-gray-50 p-6">
            <div class="-mx-4 flex flex-wrap items-center">
              <div class="mb-4 w-full px-4 md:w-2/5 lg:mb-0">
                <img class="h-52 rounded-lg object-cover md:w-full" src="https://shuffle.dev/plain-assets/images/indigo-600-square.png" alt="" />
              </div>
              <div class="w-full px-4 md:w-3/5">
                <h3 class="font-heading mb-1 text-2xl font-bold">Danny Bailey</h3>
                <p class="mb-2 text-lg text-gray-400">CEO & Founder</p>
                <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  