<section class="relative pb-24 md:pb-52 bg-orange-900 overflow-hidden">
    <div class="bg-gray-900 h-16">
      <div class="absolute top-0 left-1/2">
        <div class="w-px h-16 bg-white"></div>
        <div class="w-px h-20 bg-gray-800"></div>
      </div>
    </div>
    <div class="container px-4 mx-auto">
      <div class="max-w-4xl mx-auto pt-24 sm:pt-40 text-center">
        <h1 class="font-heading text-4xl sm:text-6xl lg:text-7xl mb-10">
          <span class="block leading-none">Turnover. Even</span>
          <span class="block leading-none">more than you expect</span>
        </h1>
        <div>
          <a class="inline-flex mb-20 items-center text-black" href="#">
            <span class="mr-4">Exploring the shift of today</span>
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M14.9983 2.97487L12.8444 2.94712L12.9539 11.4487L1.76433 0.259107L0.261729 1.76171L11.4513 12.9513L2.94974 12.8418L2.97749 14.9957L15.1552 15.1525L14.9983 2.97487Z" fill="currentColor"></path>
            </svg>
          </a>
        </div>
        <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Get Started</a>
      </div>
    </div>
  </section>