<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="max-w-3xl mx-auto text-center">
        <span class="text-xs text-gray-200 uppercase">New Feature</span>
        <h2 class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading">Take quick action that increases your brand's regular profit.</h2>
        <p class="mb-6 text-lg text-gray-500 leading-loose">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
        <div class="flex flex-wrap justify-center"><a class="inline-block w-full sm:w-auto px-6 py-2 mb-3 sm:mb-0 sm:mr-4 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">Active Demo</a><a class="inline-block w-full sm:w-auto px-6 py-2 text-sm text-gray-500 hover:text-gray-600 font-bold leading-loose border border-gray-100 hover:border-gray-200 rounded" href="#">Share with your friends</a></div>
      </div>
    </div>
  </section>