<section class="py-24 bg-gray-100 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="max-w-xl mx-auto text-center">
        <span class="inline-block max-w-max mb-8 px-3 py-1.5 text-sm text-white uppercase tracking-tight font-semibold bg-gray-600 rounded-full" style="background: url('basko-assets/images/gradient.png'); background-repeat: no-repeat; background-size: cover;">Try some freebie</span>
        <h2 class="font-heading mb-4 text-6xl text-gray-700 tracking-tighter">Upgrade your online marketing game today</h2>
        <p class="mb-8 text-xl tracking-tight">Whereby is the super simple way to connect over video. No apps, downloads, or long meeting links.</p>
        <div class="flex flex-wrap justify-center -m-1.5 mb-5">
          <div class="w-auto p-1.5">
            <input class="block w-full px-5 py-4 text-gray-700 bg-white outline-none placeholder-gray-700 border border-gray-300 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200" type="text" placeholder="Enter your email address">
          </div>
          <div class="w-auto p-1.5"><a class="inline-block px-5 py-4 text-white font-semibold tracking-tight bg-indigo-500 hover:bg-indigo-600 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200" href="#">Try 14 Days Free Trial</a></div>
        </div>
      </div>
    </div>
  </section>