<section class="py-24 lg:py-32 bg-white overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="relative p-12 bg-black overflow-hidden rounded-2xl">
        <img class="absolute top-0 right-0" src="https://shuffle.dev/basko-assets/images/cta/gradient.png" alt="">
        <div class="relative">
          <h2 class="font-heading mb-2 text-6xl text-white tracking-tighter">Get early access to Basko.</h2>
          <h2 class="font-heading mb-8 text-6xl text-gray-400 tracking-tighter">Close your books faster and grow.</h2>
          <a class="inline-block mb-32 lg:mb-48 px-5 py-4 text-white font-semibold tracking-tight bg-indigo-500 hover:bg-indigo-600 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200" href="#">Try 14 Days Free Trial</a>
          <ul class="flex flex-wrap -m-4">
            <li class="p-4">
              <a class="flex flex-wrap" href="#">
                <svg class="mr-3" width="26" height="26" viewbox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.25 13L11.75 15.5L16.75 10.5M24.25 13C24.25 19.2132 19.2132 24.25 13 24.25C6.7868 24.25 1.75 19.2132 1.75 13C1.75 6.7868 6.7868 1.75 13 1.75C19.2132 1.75 24.25 6.7868 24.25 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span class="text-white tracking-tight">Seamless Collaboration</span>
              </a>
            </li>
            <li class="p-4">
              <a class="flex flex-wrap" href="#">
                <svg class="mr-3" width="26" height="26" viewbox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.25 13L11.75 15.5L16.75 10.5M24.25 13C24.25 19.2132 19.2132 24.25 13 24.25C6.7868 24.25 1.75 19.2132 1.75 13C1.75 6.7868 6.7868 1.75 13 1.75C19.2132 1.75 24.25 6.7868 24.25 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span class="text-white tracking-tight">Customizable Workflows</span>
              </a>
            </li>
            <li class="p-4">
              <a class="flex flex-wrap" href="#">
                <svg class="mr-3" width="26" height="26" viewbox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.25 13L11.75 15.5L16.75 10.5M24.25 13C24.25 19.2132 19.2132 24.25 13 24.25C6.7868 24.25 1.75 19.2132 1.75 13C1.75 6.7868 6.7868 1.75 13 1.75C19.2132 1.75 24.25 6.7868 24.25 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span class="text-white tracking-tight">Comprehensive Reporting</span>
              </a>
            </li>
            <li class="p-4">
              <a class="flex flex-wrap" href="#">
                <svg class="mr-3" width="26" height="26" viewbox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.25 13L11.75 15.5L16.75 10.5M24.25 13C24.25 19.2132 19.2132 24.25 13 24.25C6.7868 24.25 1.75 19.2132 1.75 13C1.75 6.7868 6.7868 1.75 13 1.75C19.2132 1.75 24.25 6.7868 24.25 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span class="text-white tracking-tight">Intuitive Interface</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>