<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="mx-auto max-w-xl text-center lg:max-w-3xl">
        <span class="text-xs font-semibold uppercase text-indigo-500">New Feature</span>
        <h2 class="font-heading mb-4 mt-2 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Take quick action that increases your brand's regular profit.</h2>
        <p class="mb-8 text-base leading-relaxed text-gray-500 lg:text-xl lg:leading-relaxed">If you have ever wondeindigo how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
        <div class="mb-12"><a class="mb-3 inline-block rounded border border-indigo-500 bg-indigo-500 px-5 py-3 text-sm font-semibold text-white transition duration-200 hover:border-indigo-600 hover:bg-indigo-600 md:mb-0 md:mr-3" href="#">Try Demo</a></div>
        <img class="mx-auto rounded-lg object-cover" src="https://shuffle.dev/plain-assets/images/indigo-600-horizontal.png" alt="" />
      </div>
    </div>
  </section>
  