<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full md:w-1/2 px-4 order-1 md:order-0">
          <img class="w-full object-cover rounded-lg" src="https://shuffle.dev/plain-assets/images/indigo-600-square.png" alt="">
        </div>
        <div class="w-full md:w-1/2 px-4 md:order-1 mb-12 md:mb-0">
          <div class="lg:max-w-md mx-auto">
            <h2 class="mb-6 text-3xl leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight font-bold font-heading">Expand your brand with this excellent extension tool</h2>
            <p class="mb-8 text-base leading-relaxed lg:text-xl lg:leading-relaxed text-gray-500">With this tool, you will get much better results at work and develop new skills. Will you take the risk of trying the latest version of our application?</p>
            <a class="inline-block px-5 py-3 md:mr-3 mb-3 md:mb-0 text-sm bg-indigo-500 hover:bg-indigo-600 text-white font-semibold border border-indigo-500 hover:border-indigo-600 rounded transition duration-200" href="#">Try Demo</a>
          </div>
        </div>
      </div>
    </div>
  </section>