<section class="py-24">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap items-center">
            <div class="w-full lg:w-1/2 p-4">
                <div class="flex items-center flex-wrap gap-4 mb-10">
                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="26" viewbox="0 0 52 26" fill="none">
                        <path
                            d="M2 26C1.99983 22.8482 2.62048 19.7273 3.8265 16.8154C5.03252 13.9035 6.80029 11.2577 9.02887 9.02906C11.2575 6.80042 13.9032 5.0326 16.815 3.82654C19.7268 2.62049 22.8477 1.99983 25.9994 2C39.2544 2 50 12.7446 50 26"
                            stroke="#530031" stroke-width="3" stroke-miterlimit="10"></path>
                        <path
                            d="M7.41943 26C7.41943 21.0563 9.37703 16.3151 12.8616 12.8194C16.3461 9.32367 21.0722 7.3598 26.0001 7.3598C30.928 7.3598 35.654 9.32367 39.1386 12.8194C42.6231 16.3151 44.5807 21.0563 44.5807 26"
                            stroke="#FF7100" stroke-width="3" stroke-miterlimit="10"></path>
                        <path
                            d="M12.6006 26C12.6006 22.4463 14.0123 19.038 16.5252 16.5251C19.0381 14.0123 22.4463 12.6005 26.0001 12.6005C29.5539 12.6005 32.9621 14.0123 35.475 16.5251C37.9879 19.038 39.3996 22.4463 39.3996 26"
                            stroke="#FFC96D" stroke-width="3" stroke-miterlimit="10"></path>
                    </svg>
                    <p class="text-lg font-medium">What are you waiting for?</p>
                </div>
                <div class="bg-orange-500 rounded-2xl border border-orange-50 flex flex-col p-2 lg:max-w-md">
                    <div class="bg-orange-100 rounded-xl px-6 pt-4 mr-auto mb-2">
                        <img src="solstice-assets/images/cta/men-picture1.png" alt="">
                    </div>
                    <div class="bg-purple-900 rounded-xl px-6 pt-4 ml-auto">
                        <img src="solstice-assets/images/cta/woman-picture1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="w-full lg:w-1/2 p-4">
                <h1 class="text-4xl lg:text-5xl mb-6 font-bold font-heading max-w-xs lg:max-w-sm">Join now and learn
                    together!</h1>
                <p class="text-gray-600 mb-10 max-w-sm">Embark on an exciting learning adventure together - Join now!
                </p>
                <a class="w-full sm:w-auto text-center h-16 inline-flex items-center justify-center py-5 px-8 rounded-full bg-orange-500 border border-orange-600 shadow font-bold font-heading text-white hover:bg-orange-600 focus:ring focus:ring-orange-200 transition duration-200"
                    href="#">Sign Up Now</a>
            </div>
        </div>
    </div>
</section>