<section class="py-4 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="relative px-6 py-4 overflow-hidden rounded-xl" style="background-image: url('dashy-assets/images/banner.jpeg'); background-size: cover; background-position: center;">
        <div class="absolute top-0 left-0 w-full h-full bg-neutral-600 bg-opacity-90"></div>
        <div class="relative z-10 flex flex-wrap items-center justify-between -m-2">
          <div class="w-auto p-2">
            <h3 class="font-heading font-semibold text-lg text-white">Save 30% on Pro Package. Get started now</h3>
          </div>
          <div class="w-auto p-2">
            <a class="inline-flex flex-wrap items-center px-5 py-3.5 text-sm text-neutral-50 font-medium bg-gradient-purple-left hover:bg-gradient-purple-left-dark rounded-lg transition duration-300" href="#">
              <span class="mr-3 font-medium">Upgrade to Pro</span>
              <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.33333 3.33337L14 8.00004M14 8.00004L9.33333 12.6667M14 8.00004L2 8.00004" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>