<div class="max-w-sm w-full rounded-t-lg">
    <a class="group block px-3.5 py-1.5 bg-white border rounded-t-lg" href="#">
      <div class="flex flex-wrap items-center justify-between -m-2">
        <div class="w-auto p-2">
          <h3 class="font-heading">Select a Company</h3>
        </div>
        <div class="w-auto p-2">
          <svg class="relative -top-px text-neutral-300 group-hover:text-neutral-400" width="16" height="23" viewbox="0 0 16 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.6673 9.5L8.00065 14.1667L3.33398 9.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
    </a>
    <div class="relative overflow-hidden">
      <div class="static top-0 left-0 bg-white border-l border-r border-b rounded-b-lg">
        <div class="flex flex-wrap px-5 pt-5 pb-2 -m-3">
          <div class="w-full p-3">
            <a class="block" href="#">
              <div class="flex flex-wrap -m-2">
                <div class="w-auto p-2">
                  <img src="https://shuffle.dev/dashy-assets/images/company.svg" alt="">
                </div>
                <div class="w-auto p-2">
                  <h3 class="font-heading mb-0.5 text-sm font-medium">Labdrill</h3>
                  <span class="text-sm text-neutral-500">11-50 Members</span>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full p-3">
            <a class="block" href="#">
              <div class="flex flex-wrap -m-2">
                <div class="w-auto p-2">
                  <img src="https://shuffle.dev/dashy-assets/images/company3.svg" alt="">
                </div>
                <div class="w-auto p-2">
                  <h3 class="font-heading mb-0.5 text-sm font-medium">Bioplex</h3>
                  <span class="text-sm text-neutral-500">1-10 Members</span>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full p-3">
            <a class="block" href="#">
              <div class="flex flex-wrap -m-2">
                <div class="w-auto p-2">
                  <img src="https://shuffle.dev/dashy-assets/images/company2.svg" alt="">
                </div>
                <div class="w-auto p-2">
                  <h3 class="font-heading mb-0.5 text-sm font-medium">Y-corporation</h3>
                  <span class="text-sm text-neutral-500">50-100 Members</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>