<section class="py-12 bg-gray-800">
    <div class="container mx-auto px-4">
      <div class="sm:flex justify-center sm:justify-between items-center">
        <nav class="mb-8 sm:mb-0">
          <ul class="flex items-center justify-center">
            <li class="mr-1">
              <a class="flex w-9 h-9 items-center justify-center bg-black hover:bg-gray-900 text-gray-400 hover:text-gray-200" href="#" aria-label="previous">
                <svg width="7" height="12" viewbox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 10.6666L1.33333 5.99992L6 1.33325" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
            </li>
            <li class="mr-1"><a class="flex w-9 h-9 items-center justify-center bg-black hover:bg-gray-900 text-gray-400 hover:text-gray-200 font-bold" href="#">1</a></li>
            <li class="mr-1"><a class="flex w-9 h-9 items-center justify-center bg-black hover:bg-gray-900 text-gray-400 hover:text-gray-200 font-bold" href="#">2</a></li>
            <li class="mr-1"><a class="flex w-9 h-9 items-center justify-center bg-yellow-500 text-black font-bold" href="#">3</a></li>
            <li class="mr-1"><a class="flex w-9 h-9 items-center justify-center bg-black hover:bg-gray-900 text-gray-400 hover:text-gray-200 font-bold" href="#">4</a></li>
            <li class="mr-1"><a class="flex w-9 h-9 items-center justify-center bg-black hover:bg-gray-900 text-gray-400 hover:text-gray-200 font-bold" href="#">5</a></li>
            <li class="mr-1">
              <a class="flex w-9 h-9 items-center justify-center bg-black hover:bg-gray-900 text-gray-400 hover:text-gray-200" href="#" aria-label="next">
                <svg width="7" height="12" viewbox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.33341L5.66667 6.00008L1 10.6667" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
            </li>
            <li>
              <a class="flex w-9 h-9 items-center justify-center bg-black hover:bg-gray-900 text-gray-400 hover:text-gray-200" href="#" aria-label="next">
                <svg width="15" height="12" viewbox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1.33341L5.66667 6.00008L1 10.6667" stroke="#84878A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M9 1.33341L13.6667 6.00008L9 10.6667" stroke="#84878A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <div class="text-center">
          <span class="inline-block text-sm text-white font-medium">Showing 1 of 10 out of 134 results</span>
        </div>
      </div>
    </div>
  </section>