<section class="py-12 bg-black">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-center">
        <a class="inline-block mx-2 font-bold text-white" href="#">1</a>
        <div class="py-px w-12 bg-gray-800"></div>
        <a class="inline-block mx-2 font-bold text-gray-400 hover:text-gray-200" href="#">2</a>
        <div class="py-px w-5 bg-gray-800"></div>
        <a class="inline-block mx-2 font-bold text-gray-400 hover:text-gray-200" href="#">3</a>
        <div class="py-px w-5 bg-gray-800"></div>
        <a class="inline-block mx-2 font-bold text-gray-400 hover:text-gray-200" href="#">4</a>
        <div class="py-px w-5 bg-gray-800"></div>
        <a class="inline-block mx-2 font-bold text-gray-400 hover:text-gray-200" href="#">5</a>
      </div>
    </div>
  </section>