<section class="py-4 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="pt-5 pb-2 bg-neutral-50 border border-neutral-100 rounded-xl">
        <div class="px-6">
          <h3 class="font-heading pb-5 text-lg text-neutral-600 font-semibold">Trending Prices</h3>
          <div class="w-full overflow-x-auto">
            <table class="w-full min-w-max">
              <tbody>
                <tr>
                  <td class="py-3 pr-4">
                    <div class="flex flex-wrap items-center -m-1.5">
                      <div class="w-auto p-1.5">
                        <img class="h-10" src="https://shuffle.dev/dashy-assets/images/bitcoin.png" alt="">
                      </div>
                      <div class="w-auto p-1.5">
                        <span class="mb-1 block text-sm font-semibold">Bitcoin</span>
                        <span class="block font-medium text-xs text-neutral-400 uppercase">BTC</span>
                      </div>
                    </div>
                  </td>
                  <td class="py-3 pl-4">
                    <span class="block relative mb-1 top-0.5 text-sm font-medium text-right">$2,439.75</span>
                    <span class="block font-medium text-xs text-neutral-400 text-right">+10.89%</span>
                  </td>
                </tr>
                <tr>
                  <td class="py-3 pr-4">
                    <div class="flex flex-wrap items-center -m-1.5">
                      <div class="w-auto p-1.5">
                        <img class="h-10" src="https://shuffle.dev/dashy-assets/images/etherum.png" alt="">
                      </div>
                      <div class="w-auto p-1.5">
                        <span class="mb-1 block text-sm font-semibold">Ethereum</span>
                        <span class="block font-medium text-xs text-neutral-400 uppercase">ETH</span>
                      </div>
                    </div>
                  </td>
                  <td class="py-3 pl-4">
                    <span class="block relative mb-1 top-0.5 text-sm font-medium text-right">$1,659.75</span>
                    <span class="block font-medium text-xs text-neutral-400 text-right">-27.99%</span>
                  </td>
                </tr>
                <tr>
                  <td class="py-3 pr-4">
                    <div class="flex flex-wrap items-center -m-1.5">
                      <div class="w-auto p-1.5">
                        <img class="h-10" src="https://shuffle.dev/dashy-assets/images/band.png" alt="">
                      </div>
                      <div class="w-auto p-1.5">
                        <span class="mb-1 block text-sm font-semibold">Band Protocol</span>
                        <span class="block font-medium text-xs text-neutral-400 uppercase">Band</span>
                      </div>
                    </div>
                  </td>
                  <td class="py-3 pl-4">
                    <span class="block relative mb-1 top-0.5 text-sm font-medium text-right">$622.08</span>
                    <span class="block font-medium text-xs text-neutral-400 text-right">-22.97%</span>
                  </td>
                </tr>
                <tr>
                  <td class="py-3 pr-4">
                    <div class="flex flex-wrap items-center -m-1.5">
                      <div class="w-auto p-1.5">
                        <img class="h-10" src="https://shuffle.dev/dashy-assets/images/cardano.png" alt="">
                      </div>
                      <div class="w-auto p-1.5">
                        <span class="mb-1 block text-sm font-semibold">Cardano</span>
                        <span class="block font-medium text-xs text-neutral-400 uppercase">ADA</span>
                      </div>
                    </div>
                  </td>
                  <td class="py-3 pl-4">
                    <span class="block relative mb-1 top-0.5 text-sm font-medium text-right">$105.06</span>
                    <span class="block font-medium text-xs text-neutral-400 text-right">+17.25%</span>
                  </td>
                </tr>
                <tr>
                  <td class="py-3 pr-4">
                    <div class="flex flex-wrap items-center -m-1.5">
                      <div class="w-auto p-1.5">
                        <img class="h-10" src="https://shuffle.dev/dashy-assets/images/tron.png" alt="">
                      </div>
                      <div class="w-auto p-1.5">
                        <span class="mb-1 block text-sm font-semibold">TRON</span>
                        <span class="block font-medium text-xs text-neutral-400">TRX</span>
                      </div>
                    </div>
                  </td>
                  <td class="py-3 pl-4">
                    <span class="block relative mb-1 top-0.5 text-sm font-medium text-right">$6.49</span>
                    <span class="block font-medium text-xs text-neutral-400 text-right">-28.60%</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>