<section class="py-16 bg-black">
    <div class="container mx-auto px-4">
      <div class="max-w-lg mx-auto">
        <div class="relative">
          <div class="hidden sm:block absolute top-0 left-0 mt-3 w-full px-10">
            <div class="py-px bg-gray-800"></div>
          </div>
          <div class="relative sm:flex items-center justify-between">
            <div class="text-center mb-12 sm:mb-0">
              <div class="inline-block bg-black px-2 rounded-full">
                <svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="15" r="15" fill="#F2FF5A"></circle>
                  <path d="M9.95898 16.2917L13.1257 19.4584L21.0423 11.5417" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="block mt-3 font-bold text-white">Cart</span>
            </div>
            <div class="text-center mb-12 sm:mb-0">
              <div class="inline-block bg-black px-2 rounded-full">
                <svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="15" r="14.5" fill="black" stroke="#F2FF5A"></circle>
                  <path d="M9.95898 16.2917L13.1257 19.4584L21.0423 11.5417" stroke="#F2FF5A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="block mt-3 font-bold text-white">Payment Options</span>
            </div>
            <div class="text-center">
              <div class="inline-block bg-black px-2 rounded-full">
                <svg width="30" height="30" viewbox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="15" cy="15" r="14.5" fill="black" stroke="#212124"></circle>
                  <path d="M9.95898 16.2917L13.1257 19.4584L21.0423 11.5417" stroke="#84878A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="block mt-3 font-bold text-white">Confirmation</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>