<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="mx-auto mb-12 max-w-lg text-center lg:max-w-2xl">
        <span class="text-xs font-semibold uppercase text-indigo-500">Frequently Asked Questions</span>
        <h2 class="font-heading mb-4 mt-2 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        <p class="text-base leading-relaxed text-gray-500 lg:text-xl lg:leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <div class="mb-2 text-center md:mb-4">
        <button class="mb-4 mr-4 border-b-4 border-indigo-500 pb-2 text-lg md:mb-0 lg:mr-12">General</button>
        <button class="mb-4 mr-4 border-b-4 border-transparent pb-2 text-lg hover:border-indigo-500 md:mb-0 lg:mr-12">Payments</button>
        <button class="mb-4 mr-4 border-b-4 border-transparent pb-2 text-lg hover:border-indigo-500 md:mb-0 lg:mr-12">Returns</button>
        <button class="border-b-4 border-transparent pb-2 text-lg hover:border-indigo-500">Refunds</button>
      </div>
      <div class="mx-auto max-w-2xl">
        <ul>
          <li class="border-b border-indigo-50 px-6 py-8">
            <button class="font-heading group flex w-full items-center justify-between text-left font-bold">
              <span class="font-heading text-lg font-bold group-hover:text-indigo-500">Fusce eget nunc et libero accumsan rutrum quis nec lectus?</span>
              <svg class="ml-2 h-4 w-4 flex-shrink-0 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
              </svg>
            </button>
            <p class="mt-2 text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</p>
          </li>
          <li class="border-b border-indigo-50 px-6 py-8">
            <button class="font-heading group flex w-full items-center justify-between text-left font-bold">
              <span class="font-heading text-lg font-bold group-hover:text-indigo-500">Donec sed leo sit amet ante ornare laoreet in quis est?</span>
              <svg class="ml-2 h-4 w-4 flex-shrink-0 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <p class="mt-2 hidden text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis ultricies est. Duis nec hendrerit magna. Ut vel orci gravida, hendrerit enim non, gravida turpis. Praesent non lectus porttitor, scelerisque nulla nec, ornare neque. Integer massa libero, ornare ut leo nec, scelerisque rutrum elit. Morbi et massa id ipsum lobortis rhoncus. Aenean sit amet porta nulla, quis varius risus. Suspendisse ultrices ut lectus non laoreet. Etiam ornare laoreet tortor quis porttitor. Suspendisse tempus erat non dui volutpat eleifend.</p>
          </li>
          <li class="border-b border-indigo-50 px-6 py-8">
            <button class="font-heading group flex w-full items-center justify-between text-left font-bold">
              <span class="font-heading text-lg font-bold group-hover:text-indigo-500">Mauris vitae ex ut lectus cursus ornare?</span>
              <svg class="ml-2 h-4 w-4 flex-shrink-0 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <p class="mt-2 hidden text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis ultricies est. Duis nec hendrerit magna. Ut vel orci gravida, hendrerit enim non, gravida turpis. Praesent non lectus porttitor, scelerisque nulla nec, ornare neque. Integer massa libero, ornare ut leo nec, scelerisque rutrum elit. Morbi et massa id ipsum lobortis rhoncus. Aenean sit amet porta nulla, quis varius risus. Suspendisse ultrices ut lectus non laoreet. Etiam ornare laoreet tortor quis porttitor. Suspendisse tempus erat non dui volutpat eleifend.</p>
          </li>
          <li class="border-b border-indigo-50 px-6 py-8">
            <button class="group flex w-full items-center justify-between text-left">
              <span class="font-heading text-lg font-bold group-hover:text-indigo-500">Nam consequat, augue sed rutrum faucibus?</span>
              <svg class="ml-2 h-4 w-4 flex-shrink-0 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <p class="mt-2 hidden text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</p>
          </li>
          <li class="border-b border-indigo-50 px-6 py-8">
            <button class="group flex w-full items-center justify-between text-left">
              <span class="font-heading text-lg font-bold group-hover:text-indigo-500">Cras at ante non ligula pharetra elementum?</span>
              <svg class="ml-2 h-4 w-4 flex-shrink-0 text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
              </svg>
            </button>
            <p class="mt-2 hidden text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  