<section class="py-10 bg-gray-800 overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="py-16 px-8 bg-gray-900 overflow-hidden border border-gray-800 rounded-3xl">
        <div class="md:max-w-7xl mx-auto">
          <div class="md:max-w-xl mb-10">
            <span class="inline-block mb-5 text-sm text-blue-500 font-bold uppercase tracking-widest">Frequently asked questions</span>
            <h2 class="font-heading text-4xl md:text-5xl lg:text-6xl text-white font-black tracking-tight">Got questions? We’re here to help!</h2>
          </div>
          <div class="flex flex-wrap -m-3">
            <div class="w-full p-3">
              <div class="p-10 bg-gray-800 rounded-3xl">
                <div class="flex flex-wrap -m-2">
                  <div class="w-full md:w-1/2 p-2">
                    <h3 class="font-heading text-xl text-white font-black">Is it really unlimited downloads?</h3>
                  </div>
                  <div class="w-full md:w-1/2 p-2">
                    <p class="text-gray-400 font-bold">Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full p-3">
              <div class="p-10 bg-gray-800 rounded-3xl">
                <div class="flex flex-wrap -m-2">
                  <div class="w-full md:w-1/2 p-2">
                    <h3 class="font-heading text-xl text-white font-black">Do you offer discounts on annual plans?</h3>
                  </div>
                  <div class="w-full md:w-1/2 p-2">
                    <p class="text-gray-400 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis euismod ornare aenean ut justo elit amet. Gravida pulvinar ac elementum praesent vel quis accumsan, proin rhoncus.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full p-3">
              <div class="p-10 bg-gray-800 rounded-3xl">
                <div class="flex flex-wrap -m-2">
                  <div class="w-full md:w-1/2 p-2">
                    <h3 class="font-heading text-xl text-white font-black">What kind of file do you offer with the packages?</h3>
                  </div>
                  <div class="w-full md:w-1/2 p-2">
                    <p class="text-gray-400 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis euismod ornare aenean ut justo elit amet.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>