<section class="py-16 bg-gray-800 overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="md:max-w-lg mb-10">
        <span class="inline-block mb-5 text-sm text-blue-500 font-bold uppercase tracking-widest">Frequently asked questions</span>
        <h2 class="font-heading text-4xl md:text-5xl lg:text-6xl text-white font-black tracking-tight">Common Answers</h2>
      </div>
      <div class="flex flex-wrap -m-4">
        <div class="w-full md:w-1/2 p-4">
          <div class="flex flex-col justify-between p-10 h-full bg-gray-900 border border-gray-800 rounded-3xl">
            <div class="flex-initial mb-8 md:mb-36">
              <h3 class="font-heading text-xl text-white font-black">How does Zanrly help you in problems?</h3>
            </div>
            <div class="flex-initial">
              <p class="text-gray-400 font-bold">Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-4">
          <div class="flex flex-col justify-between p-10 h-full bg-gray-900 border border-gray-800 rounded-3xl">
            <div class="flex-initial mb-8 md:mb-36">
              <h3 class="font-heading text-xl text-white font-black">What makes us look good?</h3>
            </div>
            <div class="flex-initial">
              <p class="text-gray-400 font-bold">Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.Mauris accumsan tristique velit, lobortis tincidunt ex interdum sagittis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-4">
          <div class="flex flex-col justify-between p-10 h-full bg-gray-900 border border-gray-800 rounded-3xl">
            <div class="flex-initial mb-8 md:mb-36">
              <h3 class="font-heading text-xl text-white font-black">What kind of fille do you offer with the packages?</h3>
            </div>
            <div class="flex-initial">
              <p class="text-gray-400 font-bold">Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.Mauris accumsan tristique velit, lobortis tincidunt ex interdum sagittis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-4">
          <div class="flex flex-col justify-between p-10 h-full bg-gray-900 border border-gray-800 rounded-3xl">
            <div class="flex-initial mb-8 md:mb-36">
              <h3 class="font-heading text-xl text-white font-black">Is it really unlimited downloads?</h3>
            </div>
            <div class="flex-initial">
              <p class="text-gray-400 font-bold">Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.Mauris accumsan tristique velit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>