<section class="pt-24 pb-36 overflow-hidden">
    <div class="container mx-auto px-4">
      <h2 class="mb-14 font-heading font-semibold text-center text-6xl sm:text-7xl text-gray-900">Frequently asked question</h2>
      <div class="max-w-2xl mx-auto bg-gradient-cyan p-0.5">
        <div class="flex flex-wrap">
          <div class="w-full">
            <a href="#">
              <div class="pb-0.5 bg-gradient-cyan">
                <div class="py-3.5 px-5 bg-white">
                  <div class="flex flex-wrap items-center justify-between -m-2">
                    <div class="w-auto p-2">
                      <p class="font-heading font-semibold text-lg text-gray-900">Is it really unlimited downloads?</p>
                    </div>
                    <div class="w-auto p-2">
                      <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 3.75L15.75 9M15.75 9L10.5 14.25M15.75 9L2.25 9" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full">
            <a href="#">
              <div class="pb-0.5 bg-gradient-cyan">
                <div class="py-3.5 px-5 bg-white">
                  <div class="flex flex-wrap justify-between -m-2">
                    <div class="flex-1 p-2">
                      <p class="mb-5 font-heading font-semibold text-lg text-gray-900">Do you offer discounts on annual plans?</p>
                      <p class="text-base text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis euismod ornare aenean ut justo elit amet. Gravida pulvinar ac elementum praesent vel quis accumsan, proin rhoncus.</p>
                    </div>
                    <div class="w-auto p-2">
                      <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.75 7.5L9 2.25M9 2.25L14.25 7.5M9 2.25V15.75" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full">
            <a href="#">
              <div class="pb-0.5 bg-gradient-cyan">
                <div class="py-3.5 px-5 bg-white">
                  <div class="flex flex-wrap items-center justify-between -m-2">
                    <div class="w-auto p-2">
                      <p class="font-heading font-semibold text-lg text-gray-900">What kind of file do you offer with the packages?</p>
                    </div>
                    <div class="w-auto p-2">
                      <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 3.75L15.75 9M15.75 9L10.5 14.25M15.75 9L2.25 9" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full">
            <a href="#">
              <div class="pb-0.5 bg-gradient-cyan">
                <div class="py-3.5 px-5 bg-white">
                  <div class="flex flex-wrap items-center justify-between -m-2">
                    <div class="w-auto p-2">
                      <p class="font-heading font-semibold text-lg text-gray-900">Can I invite my team members?</p>
                    </div>
                    <div class="w-auto p-2">
                      <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 3.75L15.75 9M15.75 9L10.5 14.25M15.75 9L2.25 9" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full">
            <a href="#">
              <div>
                <div class="py-3.5 px-5 bg-white">
                  <div class="flex flex-wrap items-center justify-between -m-2">
                    <div class="w-auto p-2">
                      <p class="font-heading font-semibold text-lg text-gray-900">What is your refund policy?</p>
                    </div>
                    <div class="w-auto p-2">
                      <svg width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 3.75L15.75 9M15.75 9L10.5 14.25M15.75 9L2.25 9" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>