<section class="bg-indigo-500 py-20">
    <div class="container mx-auto px-4">
      <div class="-m-4 flex flex-wrap">
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded-lg bg-white px-10 py-12">
            <span class="font-heading mb-6 flex h-12 w-12 items-center justify-center rounded-full bg-indigo-500 font-bold text-indigo-50">1</span>
            <h3 class="font-heading mb-4 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg leading-loose text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded-lg bg-white px-10 py-12">
            <span class="font-heading mb-6 flex h-12 w-12 items-center justify-center rounded-full bg-indigo-500 font-bold text-indigo-50">2</span>
            <h3 class="font-heading mb-4 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg leading-loose text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded-lg bg-white px-10 py-12">
            <span class="font-heading mb-6 flex h-12 w-12 items-center justify-center rounded-full bg-indigo-500 font-bold text-indigo-50">3</span>
            <h3 class="font-heading mb-4 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg leading-loose text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded-lg bg-white px-10 py-12">
            <span class="font-heading mb-6 flex h-12 w-12 items-center justify-center rounded-full bg-indigo-500 font-bold text-indigo-50">4</span>
            <h3 class="font-heading mb-4 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg leading-loose text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded-lg bg-white px-10 py-12">
            <span class="font-heading mb-6 flex h-12 w-12 items-center justify-center rounded-full bg-indigo-500 font-bold text-indigo-50">5</span>
            <h3 class="font-heading mb-4 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg leading-loose text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full p-4 lg:w-1/2">
          <div class="rounded-lg bg-white px-10 py-12">
            <span class="font-heading mb-6 flex h-12 w-12 items-center justify-center rounded-full bg-indigo-500 font-bold text-indigo-50">6</span>
            <h3 class="font-heading mb-4 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg leading-loose text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  