<section class="bg-gray-500 py-20">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -m-4">
        <div class="w-full lg:w-1/2 p-4">
          <div class="py-12 px-10 rounded-lg bg-white">
            <span class="mb-6 flex items-center justify-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">1</span>
            <h3 class="mb-4 text-4xl lg:text-5xl font-bold font-heading">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="py-12 px-10 rounded-lg bg-white">
            <span class="mb-6 flex items-center justify-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">2</span>
            <h3 class="mb-4 text-4xl lg:text-5xl font-bold font-heading">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="py-12 px-10 rounded-lg bg-white">
            <span class="mb-6 flex items-center justify-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">3</span>
            <h3 class="mb-4 text-4xl lg:text-5xl font-bold font-heading">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="py-12 px-10 rounded-lg bg-white">
            <span class="mb-6 flex items-center justify-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">4</span>
            <h3 class="mb-4 text-4xl lg:text-5xl font-bold font-heading">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="py-12 px-10 rounded-lg bg-white">
            <span class="mb-6 flex items-center justify-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">5</span>
            <h3 class="mb-4 text-4xl lg:text-5xl font-bold font-heading">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="py-12 px-10 rounded-lg bg-white">
            <span class="mb-6 flex items-center justify-center w-12 h-12 rounded-full bg-gray-500 text-gray-50 font-bold font-heading">6</span>
            <h3 class="mb-4 text-4xl lg:text-5xl font-bold font-heading">Suspendisse interdum ullamcorper elit, at consequat libero.</h3>
            <p class="text-lg text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet.</p>
          </div>
        </div>
      </div>
    </div>
  </section>