<section class="overflow-hidden bg-white py-24 lg:py-32">
    <div class="container mx-auto px-4">
      <div class="-m-8 flex flex-wrap xl:items-center">
        <div class="w-full p-8 md:w-1/2">
          <img class="mx-auto transform rounded-2xl transition duration-500 hover:-translate-y-1" src="https://shuffle.dev/basko-assets/images/how-it-works/workflow.jpg" alt="" />
        </div>
        <div class="w-full p-8 md:w-1/2">
          <div class="max-w-xl">
            <h2 class="font-heading mb-24 text-6xl tracking-tighter">How to streamline your workflow with Basko</h2>
            <div class="-m-6 flex flex-wrap">
              <div class="w-full p-6">
                <div class="-m-2 flex flex-wrap">
                  <div class="w-auto p-2">
                    <div class="flex h-14 w-14 items-center justify-center rounded-full bg-indigo-500 text-3xl font-semibold text-white" style="letter-spacing: -0.5px;">1</div>
                  </div>
                  <div class="flex-1 p-2">
                    <p class="text-xl tracking-tight">Use and re-use tons of responsive sections too a main create the perfect layout. Sections are ready.</p>
                  </div>
                </div>
              </div>
              <div class="w-full p-6">
                <div class="-m-2 flex flex-wrap">
                  <div class="w-auto p-2">
                    <div class="flex h-14 w-14 items-center justify-center rounded-full bg-indigo-500 text-3xl font-semibold text-white" style="letter-spacing: -0.5px;">2</div>
                  </div>
                  <div class="flex-1 p-2">
                    <p class="text-xl tracking-tight">Once you have chosen your productivity SaaS tool, you will need to set up your account.</p>
                  </div>
                </div>
              </div>
              <div class="w-full p-6">
                <div class="-m-2 flex flex-wrap">
                  <div class="w-auto p-2">
                    <div class="flex h-14 w-14 items-center justify-center rounded-full bg-indigo-500 text-3xl font-semibold text-white" style="letter-spacing: -0.5px;">3</div>
                  </div>
                  <div class="flex-1 p-2">
                    <p class="text-xl tracking-tight">With your account set up, it's time to start using the productivity SaaS tool.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  