
<!-- Section 1 -->
<section class="relative py-10 bg-gray-900 sm:py-12 lg:py-16">
    <div class="absolute inset-0 w-full h-full bg-cover opacity-" style="background-image:url('https://cdn.devdojo.com/images/october2021/mesh-blue.jpeg')"></div>
    <div class="relative max-w-screen-xl px-4 mx-auto md:px-8">
        <h2 class="mb-3 text-2xl font-bold text-center text-white lg:text-5xl">Plans for businesses of any size</h2>
        <p class="max-w-lg mx-auto mb-8 text-center text-gray-300 md:mb-12 xl:mb-20">We have a plan for companies of any size. Choose the plan below that best fits your companies needs.</p>

        <div class="grid gap-6 mb-6 sm:grid-cols-2 lg:grid-cols-3 lg:gap-8 md:mb-8">

            <!-- Free Plan -->
            <div class="flex flex-col p-4 pt-6 bg-black rounded-lg shadow-xl bg-opacity-30">
                <div class="px-3 mb-12">
                    <div class="mb-2 text-2xl font-bold text-center text-gray-100">Free Plan</div>

                    <p class="mx-auto mb-8 text-center text-gray-200">If you want to try our product out, the free plan is perfect for beginners</p>

                    <div class="pt-2 pl-5 -ml-64 space-y-2 text-gray-300 transform translate-x-1/2">

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>1 user per project</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>10 deployments each month</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Single worker pipeline</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Email Support</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-8 mt-auto">
                    <div class="flex items-center justify-center gap-1">
                        <span class="self-start mt-1 text-gray-100">$</span>
                        <span class="text-5xl font-bold text-gray-200">0</span>
                        <div class="flex flex-col pl-1">
                          <span class="inline-block mb-1 leading-none text-indigo-300">per user</span>
                          <span class="text-indigo-300 mb-0.5 leading-none inline-block">per month</span>
                        </div>
                    </div>
                    <a href="#_" class="block px-8 py-3 text-sm font-semibold text-center text-white transition duration-100 bg-indigo-500 rounded-md outline-none hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 md:text-base">Get Started for Free</a>
                </div>
            </div>

            <!-- Basic Plan -->
            <div class="flex flex-col p-4 pt-6 transform scale-100 bg-black border-2 border-indigo-600 rounded-lg shadow-2xl lg:scale-105 bg-opacity-40">
                <div class="mb-12">
                    <div class="absolute inset-x-0 top-0 flex justify-center -mt-3">
                        <span class="flex items-center justify-center h-6 px-3 py-1 text-xs font-semibold tracking-widest text-white uppercase rounded-full bg-gradient-to-tr from-indigo-500 to-indigo-600">most popular</span>
                    </div>
                    <div class="mb-2 text-2xl font-bold text-center text-gray-100">Basic Plan</div>
                    <p class="px-8 mx-auto mb-8 text-center text-gray-200">Get started with the basic plan to enjoy more tools and features</p>
                    <div class="-ml-64 space-y-2 text-gray-300 transform translate-x-1/2">

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Unlimited users per project</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Unlimited deployments</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Multiple worker pipeline</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Integration API Supported</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Excellent Customer Support</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-8 mt-auto">
                    <div class="flex items-center justify-center gap-1">
                        <span class="self-start mt-1 text-gray-100">$</span>
                        <span class="text-5xl font-bold text-gray-200">9</span>
                        <div class="flex flex-col pl-1">
                          <span class="inline-block mb-1 leading-none text-indigo-300">per user</span>
                          <span class="text-indigo-300 mb-0.5 leading-none inline-block">per month</span>
                        </div>
                    </div>

                    <a href="#_" class="block px-8 py-3 text-sm font-semibold text-center text-white transition duration-100 bg-indigo-600 rounded-md outline-none hover:bg-indigo-700 active:bg-indigo-800 focus-visible:ring ring-indigo-300 md:text-base">Get Started with Basic</a>
                </div>
            </div>

            <!-- Pro Plan -->
            <div class="flex flex-col p-4 pt-6 bg-black rounded-lg shadow-xl sm:col-span-2 lg:col-span-1 bg-opacity-30">
                <div class="mb-12">
                    <div class="mb-2 text-2xl font-bold text-center text-gray-100">Pro Plan</div>

                    <p class="px-8 mx-auto mb-8 text-center text-gray-300">Gain pro access to all our features to take your business to the next level</p>

                    <div class="-ml-64 space-y-2 text-gray-300 transform translate-x-1/2">

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Unlimited users and projects</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Unlimited deployments</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Priority worker pipeline</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Full API Integration</span>
                        </div>

                        <div class="flex gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>
                            <span>Superior Customer Support</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col gap-8 mt-auto">
                    <div class="flex items-center justify-center gap-1">
                        <span class="self-start mt-1 text-gray-100">$</span>
                        <span class="text-5xl font-bold text-gray-200">15</span>
                        <div class="flex flex-col pl-1">
                          <span class="inline-block mb-1 leading-none text-indigo-300">per user</span>
                          <span class="text-indigo-300 mb-0.5 leading-none inline-block">per month</span>
                        </div>
                    </div>

                    <a href="#_" class="block px-8 py-3 text-sm font-semibold text-center text-white transition duration-100 bg-indigo-500 rounded-md outline-none hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 md:text-base">Get Started with Pro</a>
                </div>
            </div>
        </div>

        <div class="text-sm text-center text-blue-900 lg:pt-8 lg:text-gray-300 sm:text-base">
            Have a Question? <a href="#_" class="text-blue-900 underline transition duration-100 lg:text-gray-200 hover:text-gray-100">Contact us here</a>.
        </div>
    </div>
</section>
