
<!-- Section 1 -->
<section class="relative px-10 py-12 bg-black lg:py-16">

    <!-- Bottom Mesh Background -->
    <div class="absolute bottom-0 left-0 w-full h-full bg-center bg-cover" style="background-image:url('http://devdojo.com.s3.us-east-1.amazonaws.com/tails/images/bottom-gradient.svg')"></div>

    <div class="relative max-w-5xl mx-auto">
        <div class="mb-10 md:mb-16">
            <h2 class="mb-4 text-2xl font-extrabold text-left text-white md:text-center md:text-4xl lg:text-6xl md:mb-6">Select Your Plan Below</h2>
            <p class="max-w-xl mx-auto text-left text-gray-300 md:text-center md:text-lg">
                Select the plan that best fits your needs. You can upgrade or cancel at anytime. When you succeed, we succeed!
            </p>
        </div>

        <div class="flex flex-wrap items-center justify-center gap-4 sm:gap-0">

            <!-- Starter Plan -->
            <div class="w-full p-6 bg-black border border-gray-700 rounded-lg sm:w-1/2 lg:w-1/3 bg-opacity-20 sm:rounded-r-none sm:p-8">
                <div class="mb-4">
                    <h3 class="text-2xl font-semibold text-gray-100 sm:text-3xl">Starter Plan</h3>
                    <p class="text-gray-300">Basic Tools</p>
                </div>
                <div class="mb-4 space-x-2">
                    <span class="text-4xl font-bold text-gray-100">$9</span>
                    <span class="text-2xl text-gray-300 line-through">$19</span>
                </div>
                <ul class="mb-6 space-y-2 text-gray-300">
                    <li class="flex items-center gap-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span>Our Basic Toolset</span>
                    </li>
                    <li class="flex items-center gap-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span>Simple Integration</span>
                    </li>
                    <li class="flex items-center gap-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span>Email Support</span>
                    </li>
                </ul>
                <a href="#_" class="block px-8 py-3 text-sm font-semibold text-center text-gray-100 transition duration-100 bg-white rounded-lg outline-none bg-opacity-10 hover:bg-opacity-20 md:text-base">Get the Starter Plan</a>
            </div>

            <!-- Premium Plan -->
            <div class="w-full p-6 rounded-lg shadow-xl sm:w-1/2 bg-gradient-to-br from-indigo-400 to-purple-600 sm:p-8">
                <div class="flex flex-col items-start justify-between gap-4 mb-4 lg:flex-row">
                    <div>
                        <h3 class="text-2xl font-semibold text-white sm:text-3xl">Premium Plan</h3>
                        <p class="text-indigo-100">Premium Tools &amp; Resources</p>
                    </div>
                    <span class="order-first inline-block px-3 py-1 text-xs font-semibold tracking-wider text-white uppercase bg-black rounded-full lg:order-none bg-opacity-20">Best deal</span>
                </div>
                <div class="mb-4 space-x-2">
                    <span class="text-4xl font-bold text-white">$19</span>
                    <span class="text-2xl text-indigo-100 line-through">$39</span>
                </div>
                <ul class="mb-6 space-y-2 text-indigo-100">
                    <li class="flex items-center gap-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span>Our Premium Toolset</span>
                    </li>
                    <li class="flex items-center gap-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span>Toolset Academy</span>
                    </li>
                    <li class="flex items-center gap-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span>Full API Integration</span>
                    </li>
                    <li class="flex items-center gap-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span>Beta Applications</span>
                    </li>
                    <li class="flex items-center gap-1.5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-5 h-5" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                        <span>Premium Support</span>
                    </li>
                </ul>
                <a href="#_" class="block px-8 py-3 text-sm font-semibold text-center text-white transition duration-100 bg-white rounded-lg outline-none bg-opacity-20 hover:bg-opacity-30 md:text-base">Get the Premium Plan</a>
            </div>

            <div class="w-full pt-16 pb-4 text-sm text-center">
                <div class="relative text-gray-300">Have any questions? <a href="#_" class="text-gray-300 underline hover:text-gray-200">Contact us here</a>.</div>
            </div>
        </div>
    </div>
</section>
