<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="max-w-3xl mx-auto mb-12 text-center">
        <span class="text-sm text-gray-200 uppercase">Lorem Ipsum</span>
        <h2 class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        <p class="text-lg text-gray-500 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <div class="flex flex-wrap mb-6 p-6 bg-gray-50 rounded">
        <div class="w-full lg:w-2/3 pt-6 pl-6">
          <div class="max-w-md">
            <h2 class="mb-4 text-4xl lg:text-5xl font-bold font-heading">Premium Membership</h2>
            <p class="mb-6 text-lg text-gray-500 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          </div>
          <div class="max-w-lg">
            <ul class="flex flex-wrap mb-6 text-left text-base lg:text-lg">
              <li class="w-full lg:w-1/2 mb-2 flex items-center">
                <svg class="mr-2 w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <p>Complete documentation</p>
              </li>
              <li class="w-full lg:w-1/2 mb-2 flex items-center">
                <svg class="mr-2 w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <p>Working materials in Figma</p>
              </li>
              <li class="w-full lg:w-1/2 mb-2 flex items-center">
                <svg class="mr-2 w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <p>100GB cloud storage</p>
              </li>
              <li class="w-full lg:w-1/2 mb-2 flex items-center">
                <svg class="mr-2 w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <p>500 team members</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full lg:w-1/3">
          <div class="bg-white rounded h-full text-center p-6">
            <h3 class="text-2xl font-bold font-heading">Sale -25%</h3>
            <p class="mb-6 lg:mb-16 text-lg text-gray-500">Free access for 25 members</p>
            <div class="max-w-max mx-auto mb-6">
              <span class="block mb-8 text-5xl font-bold font-heading">$49,99</span>
              <a class="inline-block px-12 py-2 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">Action</a>
            </div>
            <p class="text-gray-500">Lifetime license</p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap p-6 bg-gray-50 rounded">
        <div class="w-full lg:w-2/3 pt-6 pl-6">
          <div class="max-w-md">
            <h2 class="mb-4 text-4xl lg:text-5xl font-bold font-heading">Ultimate Membership</h2>
            <p class="mb-6 text-lg text-gray-500 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          </div>
          <div class="max-w-lg">
            <ul class="flex flex-wrap mb-6 text-left text-base lg:text-lg">
              <li class="w-full lg:w-1/2 mb-2 flex items-center">
                <svg class="mr-2 w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <p>Complete documentation</p>
              </li>
              <li class="w-full lg:w-1/2 mb-2 flex items-center">
                <svg class="mr-2 w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <p>Working materials in Figma</p>
              </li>
              <li class="w-full lg:w-1/2 mb-2 flex items-center">
                <svg class="mr-2 w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <p>100GB cloud storage</p>
              </li>
              <li class="w-full lg:w-1/2 mb-2 flex items-center">
                <svg class="mr-2 w-6 h-6 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                </svg>
                <p>500 team members</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full lg:w-1/3">
          <div class="bg-white rounded h-full text-center p-6">
            <h3 class="text-2xl font-bold font-heading">Sale -50%</h3>
            <p class="mb-6 lg:mb-16 text-lg text-gray-500">Free access for all members</p>
            <div class="max-w-max mx-auto mb-6">
              <span class="block mb-8 text-5xl font-bold font-heading">$99,99</span>
              <a class="inline-block px-12 py-2 text-sm text-white font-bold leading-loose bg-gray-500 hover:bg-gray-600 rounded transition duration-200" href="#">Action</a>
            </div>
            <p class="text-gray-500">Lifetime license</p>
          </div>
        </div>
      </div>
    </div>
  </section>