<section class="py-24 lg:pt-32 lg:pb-36 bg-black overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="max-w-xl mb-16">
        <h2 class="font-heading text-6xl text-white tracking-tighter">Flexible pricing that scales with your business.</h2>
      </div>
      <div class="flex flex-wrap -m-6">
        <div class="w-full md:w-1/2 lg:w-1/3 p-6">
          <div class="mb-8 p-10 bg-indigo-500 rounded-lg transform hover:-translate-y-2 transition duration-500">
            <h4 class="mb-6 text-xl text-white font-semibold tracking-tight">Solo</h4>
            <h3 class="mb-4 text-white">
              <span class="font-heading text-6xl md:text-7xl tracking-tighter">$9</span>
              <span class="text-3xl font-semibold" style="letter-spacing: -0.5px;">/mo</span>
            </h3>
            <p class="mb-8 text-xl text-white tracking-tight">Ideal for freelancers or students.</p>
            <a class="inline-block px-5 py-4 font-semibold tracking-tight bg-white hover:bg-gray-100 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200" href="#">Try 14 Days Free Trial</a>
          </div>
          <ul>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Limited Features</span>
            </li>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Multiple payment options</span>
            </li>
            <li class="flex flex-wrap items-center">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Unlimited product usage</span>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-6">
          <div class="mb-8 p-10 bg-white rounded-lg transform hover:-translate-y-2 transition duration-500">
            <h4 class="mb-6 text-xl font-semibold tracking-tight">Startup</h4>
            <h3 class="mb-4">
              <span class="font-heading text-6xl md:text-7xl tracking-tighter">$49</span>
              <span class="text-3xl font-semibold" style="letter-spacing: -0.5px;">/mo</span>
            </h3>
            <p class="mb-8 text-xl text-white tracking-tight">Ideal for freelancers or students.</p>
            <a class="inline-block px-5 py-4 hover:text-white font-semibold tracking-tight bg-white hover:bg-black border border-gray-700 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200" href="#">Try 14 Days Free Trial</a>
          </div>
          <ul>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Access all features</span>
            </li>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Multiple payment options</span>
            </li>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Unlimited product usage</span>
            </li>
            <li class="flex flex-wrap items-center">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Advanced security features</span>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 p-6">
          <div class="mb-8 p-10 bg-red-500 rounded-lg transform hover:-translate-y-2 transition duration-500">
            <h4 class="mb-6 text-xl text-white font-semibold tracking-tight">Business</h4>
            <h3 class="mb-4 text-white">
              <span class="font-heading text-6xl md:text-7xl tracking-tighter">$99</span>
              <span class="text-3xl font-semibold" style="letter-spacing: -0.5px;">/mo</span>
            </h3>
            <p class="mb-8 text-xl text-white tracking-tight">Ideal for freelancers or students.</p>
            <a class="inline-block px-5 py-4 font-semibold tracking-tight bg-white hover:bg-gray-100 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200" href="#">Try 14 Days Free Trial</a>
          </div>
          <ul>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Access all features</span>
            </li>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Multiple payment options</span>
            </li>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Unlimited product usage</span>
            </li>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Advanced security features</span>
            </li>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Detailed analytics and reporting</span>
            </li>
            <li class="flex flex-wrap items-center mb-5">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">150+ integrations</span>
            </li>
            <li class="flex flex-wrap items-center">
              <div class="mr-2 inline-block">
                <svg width="14" height="10" viewbox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.16797 5.8335L4.5013 9.16683L12.8346 0.833496" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
              <span class="font-medium text-gray-200">Comprehensive documentation</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>