<section class="py-10 bg-gray-800 overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="py-16 px-8 bg-gray-900 rounded-3xl">
        <div class="max-w-7xl mx-auto">
          <div class="flex flex-wrap -m-4 mb-14">
            <div class="w-full md:w-1/2 p-4">
              <div class="py-16 px-8 text-center h-full bg-gray-800 rounded-3xl">
                <div class="flex flex-col justify-between h-full">
                  <div class="flex-initial mb-10">
                    <span class="inline-block mb-6 text-sm text-blue-500 font-bold uppercase tracking-widest">Standard</span>
                    <h2 class="font-heading text-5xl md:text-7xl text-gray-100 font-black tracking-tight">
                      <span>$32</span>
                      <span class="text-xl">USD</span>
                    </h2>
                    <p class="text-xl text-gray-700 font-bold">per month, paid annually or $20 paid monthly</p>
                  </div>
                  <div class="flex-initial">
                    <div class="flex flex-wrap justify-center -m-2">
                      <div class="w-full md:w-auto p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full" href="#">Start 14 days free trial</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 p-4">
              <div class="py-16 px-8 text-center h-full bg-gray-800 rounded-3xl">
                <div class="flex flex-col justify-between h-full">
                  <div class="flex-initial mb-10">
                    <span class="inline-block mb-6 text-sm text-blue-500 font-bold uppercase tracking-widest">Standard</span>
                    <h2 class="font-heading text-5xl md:text-7xl text-gray-100 font-black tracking-tight">
                      <span>$32</span>
                      <span class="text-xl">USD</span>
                    </h2>
                    <p class="text-xl text-gray-700 font-bold">per month, paid annually or $20 paid monthly</p>
                  </div>
                  <div class="flex-initial">
                    <div class="flex flex-wrap justify-center -m-2">
                      <div class="w-full md:w-auto p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full" href="#">Start 14 days free trial</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="text-2xl text-gray-500 font-bold text-center max-w-4xl mx-auto">No credit card required. No trial period. Full design and CMS control. Start building websites today.</p>
        </div>
      </div>
    </div>
  </section>