<section class="py-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap mb-24 -mx-4">
        <div class="w-full lg:w-1/2 p-4">
          <div class="p-10 bg-orange-500 rounded-3xl">
            <h2 class="text-white text-4xl lg:text-6xl font-bold font-heading mb-6">$4/month</h2>
            <p class="text-white mb-10">Join over 350 hundreds users who have signed up for Solstice.</p>
            <div class="p-4 bg-orange-400 rounded-3xl flex items-center justify-between flex-wrap gap-4 mb-10">
              <p class="text-white text-lg font-medium">Cancel anytime.</p>
              <a class="w-full sm:w-auto h-14 text-center py-4 px-6 rounded-full bg-white border border-gray-200 shadow hover:bg-gray-50 focus:ring focus:ring-orange-200 transition duration-200 flex items-center justify-center gap-2" href="#">
                <span class="text-sm font-semibold ">Sign up today</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewbox="0 0 21 20" fill="none">
                  <path d="M5.50002 10H15.9167M15.9167 10L10.9167 5M15.9167 10L10.9167 15" stroke="#282828" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
            </div>
            <h2 class="text-white text-lg font-bold font-heading mb-4">What you’ll get</h2>
            <ul class="flex flex-col gap-4">
              <li class="flex items-center gap-4">
                <div class="w-2 h-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewbox="0 0 8 8" fill="none">
                    <g clip-path="url(#clip0_199_1928)">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.21702 3.51098C7.30324 3.56048 7.37487 3.63185 7.42469 3.71788C7.4745 3.80392 7.50073 3.90157 7.50073 4.00098C7.50073 4.1004 7.4745 4.19805 7.42469 4.28409C7.37487 4.37012 7.30324 4.44149 7.21702 4.49098L1.38352 7.91948C0.994524 8.14798 0.500023 7.87348 0.500024 7.42948L0.500024 0.571984C0.500024 0.127484 0.995024 -0.146516 1.38352 0.0819844L7.21702 3.51098Z" fill="white"></path>
                    </g>
                    <defs><clippath id="clip0_199_1928"><rect width="8" height="8" fill="white" transform="translate(8) rotate(90)"></rect></clippath></defs>
                  </svg>
                </div>
                <span class="text-white">Create unlimited room</span>
              </li>
              <li class="flex items-center gap-4">
                <div class="w-2 h-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewbox="0 0 8 8" fill="none">
                    <g clip-path="url(#clip0_199_1928)">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.21702 3.51098C7.30324 3.56048 7.37487 3.63185 7.42469 3.71788C7.4745 3.80392 7.50073 3.90157 7.50073 4.00098C7.50073 4.1004 7.4745 4.19805 7.42469 4.28409C7.37487 4.37012 7.30324 4.44149 7.21702 4.49098L1.38352 7.91948C0.994524 8.14798 0.500023 7.87348 0.500024 7.42948L0.500024 0.571984C0.500024 0.127484 0.995024 -0.146516 1.38352 0.0819844L7.21702 3.51098Z" fill="white"></path>
                    </g>
                    <defs><clippath id="clip0_199_1928"><rect width="8" height="8" fill="white" transform="translate(8) rotate(90)"></rect></clippath></defs>
                  </svg>
                </div>
                <span class="text-white">Host events and virtual study club</span>
              </li>
              <li class="flex items-center gap-4">
                <div class="w-2 h-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewbox="0 0 8 8" fill="none">
                    <g clip-path="url(#clip0_199_1928)">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.21702 3.51098C7.30324 3.56048 7.37487 3.63185 7.42469 3.71788C7.4745 3.80392 7.50073 3.90157 7.50073 4.00098C7.50073 4.1004 7.4745 4.19805 7.42469 4.28409C7.37487 4.37012 7.30324 4.44149 7.21702 4.49098L1.38352 7.91948C0.994524 8.14798 0.500023 7.87348 0.500024 7.42948L0.500024 0.571984C0.500024 0.127484 0.995024 -0.146516 1.38352 0.0819844L7.21702 3.51098Z" fill="white"></path>
                    </g>
                    <defs><clippath id="clip0_199_1928"><rect width="8" height="8" fill="white" transform="translate(8) rotate(90)"></rect></clippath></defs>
                  </svg>
                </div>
                <span class="text-white">Invite up to 100 people to learn together</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="lg:px-8">
            <div class="inline-block px-3 py-1 rounded-lg border border-orange-100 bg-orange-50 text-orange-500 text-sm font-medium mb-4">PRICING</div>
            <h2 class="text-4xl lg:text-5xl font-bold font-heading mb-4 max-w-xs">A plan for everyone</h2>
            <p class="text-gray-600 text-lg mb-4 max-w-md">Simple one plan pricing that fits for everyone for the price of a cup of coffee.</p>
            <p class="text-gray-600 text-lg mb-10 max-w-md">We offer a transparent monthly payment that covers everything our learning platform has to offer, with no hidden costs or transaction fees.</p>
            <div class="w-full h-px bg-gray-100 mb-10"></div>
            <div class="flex items-center flex-wrap gap-4">
              <div class="p-2 flex items-center justify-center border border-orange-50 shadow-sm rounded-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 32 32" fill="none">
                  <path d="M0 10.82H32C32 19.66 24.84 26.82 16 26.82C7.16 26.82 0 19.66 0 10.82Z" fill="url(#paint0_linear_199_2333)"></path>
                  <path d="M32 10.82C32 13.03 30.51 15.47 26.59 15.47C23.17 15.47 19.32 13.1 16 10.82C19.52 8.39003 23.39 5.19003 26.59 5.19003C29.86 5.18003 32 8.17003 32 10.82Z" fill="url(#paint1_linear_199_2333)"></path>
                  <path d="M0 10.82C0 13.03 1.49 15.47 5.41 15.47C8.83 15.47 12.68 13.1 16 10.82C12.48 8.38999 8.61 5.17999 5.41 5.17999C2.14 5.17999 0 8.16999 0 10.82Z" fill="url(#paint2_linear_199_2333)"></path>
                  <defs><lineargradient id="paint0_linear_199_2333" x1="16" y1="13.371" x2="16" y2="26.161" gradientunits="userSpaceOnUse"><stop stop-color="#00D924"></lineargradient><lineargradient id="paint1_linear_199_2333" x1="24" y1="5.37103" x2="24" y2="16.756" gradientunits="userSpaceOnUse"><stop offset="0.156" stop-color="#009C00"></lineargradient><lineargradient id="paint2_linear_199_2333" x1="8" y1="17.251" x2="8" y2="4.87599" gradientunits="userSpaceOnUse"><stop stop-color="#FFE37D"></lineargradient></defs>
                    </svg>
                    </div>
                    <p class="text-gray-600 text-sm max-w-sm">
                      <span>Solstice contributes 1% of every payment to</span>
                      <span class="font-semibold">remove CO₂ from the atmosphere</span>
                      <span>through Stripe Climate.</span>
                    </p>
                    </div>
                  </div>
              </div>
            </div>
            <h2 class="text-4xl font-bold font-heading mb-14">Pricing FAQs</h2>
            <div class="flex flex-wrap -mx-4">
              <div class="w-full lg:w-1/2 px-4">
                <div class="py-12 border-b border-gray-100 h-full">
                  <h2 class="text-xl font-bold font-heading mb-2">What payment options are there?</h2>
                  <p class="text-gray-500">You can pay by credit card, PayPal, or Stripe.</p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="py-12 border-b border-gray-100 h-full">
                  <h2 class="text-xl font-bold font-heading mb-2">Are there a free trial?</h2>
                  <p class="text-gray-500">Yes! We offer 14-days of trial. Free and no credit card required.</p>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap -mx-4">
              <div class="w-full lg:w-1/2 px-4">
                <div class="py-12 border-b border-gray-100 h-full">
                  <h2 class="text-xl font-bold font-heading mb-2">What type of pricing plans does Solstice offer?</h2>
                  <p class="text-gray-500">We only have one monthly subscription plan, costs no more than the price of a cup of coffee</p>
                </div>
              </div>
              <div class="w-full lg:w-1/2 px-4">
                <div class="py-12 border-b border-gray-100 h-full">
                  <h2 class="text-xl font-bold font-heading mb-2">Why am I paying a monthly basis over a one-time payment?</h2>
                  <p class="text-gray-500">This is our way of keeping your costs low while giving you access to our platform level quality and peace of mind.</p>
                </div>
              </div>
            </div>
          </div>
          </section>