<section class="overflow-hidden">
    <div class="bg-indigo-500">
      <div class="container mx-auto px-4">
        <div class="flex items-center justify-between py-5">
          <div class="w-auto">
            <div class="flex flex-wrap items-center">
              <div class="w-auto pr-2">
                <a href="#">
                  <img src="https://shuffle.dev/basko-assets/logos/basko-logo-light.png" alt="" />
                </a>
              </div>
            </div>
          </div>
          <div class="w-auto">
            <div class="flex flex-wrap items-center">
              <div class="hidden w-auto lg:block">
                <ul class="mr-8 flex items-center">
                  <li class="mr-14 font-medium tracking-tight text-white hover:text-gray-200"><a href="#">Features</a></li>
                  <li class="mr-14 font-medium tracking-tight text-white hover:text-gray-200"><a href="#">Pricing</a></li>
                  <li class="mr-8 border-r border-gray-500 pr-8 font-medium tracking-tight text-white hover:text-gray-200"><a href="#">Automation</a></li>
                  <li class="font-medium tracking-tight text-white hover:text-gray-200"><a href="#">Customer Login</a></li>
                </ul>
              </div>
              <div class="hidden w-auto lg:block">
                <div class="inline-block"><a class="inline-block rounded-lg border bg-indigo-500 px-5 py-3 text-center font-semibold tracking-tight text-white transition duration-200 hover:bg-white hover:text-indigo-500 focus:ring-4 focus:ring-indigo-300" href="#">Try 14 Days Free Trial</a></div>
              </div>
              <div class="w-auto lg:hidden">
                <a href="#">
                  <svg class="navbar-burger text-indigo-600" width="51" height="51" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="56" height="56" rx="28" fill="currentColor"></rect>
                    <path d="M37 32H19M37 24H19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-menu fixed bottom-0 left-0 top-0 z-50 hidden w-4/6 sm:max-w-xs">
        <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
        <nav class="relative z-10 h-full overflow-y-auto bg-black px-9 pt-8">
          <div class="flex h-full flex-wrap justify-between">
            <div class="w-full">
              <div class="-m-2 flex items-center justify-between">
                <div class="w-auto p-2">
                  <a class="inline-block" href="#">
                    <img src="https://shuffle.dev/basko-assets/logos/basko-logo-light.png" alt="" />
                  </a>
                </div>
                <div class="w-auto p-2">
                  <a class="navbar-burger text-white" href="#">
                    <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M6 18L18 6M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="flex w-full flex-col justify-center py-16">
              <ul>
                <li class="mb-12 font-medium tracking-tight text-white hover:text-gray-200"><a href="#">Features</a></li>
                <li class="mb-12 font-medium tracking-tight text-white hover:text-gray-200"><a href="#">Pricing</a></li>
                <li class="mb-12 font-medium tracking-tight text-white hover:text-gray-200"><a href="#">Automation</a></li>
                <li class="font-medium tracking-tight text-white hover:text-gray-200"><a href="#">Customer Login</a></li>
              </ul>
            </div>
            <div class="flex w-full flex-col justify-end pb-8"><a class="inline-block rounded-lg bg-indigo-500 px-5 py-3 text-center font-semibold tracking-tight text-white transition duration-200 hover:bg-indigo-600 focus:ring-4 focus:ring-indigo-300" href="#">Try 14 Days Free Trial</a></div>
          </div>
        </nav>
      </div>
    </div>
    <div class="relative overflow-hidden bg-indigo-500 pb-28 pt-9">
      <div class="container mx-auto px-4">
        <div class="mx-auto mb-16 max-w-3xl text-center">
          <h1 class="font-heading mb-4 text-6xl tracking-tighter text-white md:text-7xl">Engage your target audience and build brand</h1>
          <p class="mx-auto mb-8 max-w-xl text-xl text-white">Use and re-use tons of responsive sections too a main create the perfect layout. Sections are ready.</p>
          <div class="-m-1.5 mb-5 flex flex-wrap justify-center">
            <div class="w-auto p-1.5">
              <input class="block w-full rounded-lg border border-white bg-transparent px-5 py-4 text-white placeholder-white outline-none transition duration-200 focus:ring-4 focus:ring-indigo-300" type="text" placeholder="Enter your email address" />
            </div>
            <div class="w-auto p-1.5"><a class="inline-block rounded-lg bg-gray-50 px-5 py-4 font-semibold tracking-tight transition duration-200 hover:bg-gray-200 focus:ring-4 focus:ring-indigo-300" href="#">Try 14 Days Free Trial</a></div>
          </div>
          <div class="mx-auto max-w-md">
            <p class="text-sm tracking-tight text-gray-300">This website uses cookies and other tracking tools to provide you with the best experience.</p>
          </div>
        </div>
        <div class="relative z-10 overflow-hidden rounded-xl">
          <div class="bg-black px-3 py-2.5">
            <div class="-m-2 flex flex-wrap items-center">
              <div class="w-auto p-2">
                <div class="flex flex-row">
                  <div class="w-auto p-1">
                    <div class="h-2 w-2 rounded-full border border-red-500 bg-red-400"></div>
                  </div>
                  <div class="w-auto p-1">
                    <div class="h-2 w-2 rounded-full border border-yellow-500 bg-yellow-400"></div>
                  </div>
                  <div class="w-auto p-1">
                    <div class="h-2 w-2 rounded-full border border-green-500 bg-green-400"></div>
                  </div>
                </div>
              </div>
              <div class="flex-1 p-2">
                <div class="mx-auto max-w-xs rounded bg-white bg-opacity-10 px-4 py-0.5 text-center text-sm tracking-tight text-white text-opacity-50">
                  <span>basko.co</span>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-700 p-12">
            <div class="-m-8 flex flex-wrap lg:items-center">
              <div class="w-full p-8 md:w-1/2">
                <div class="max-w-md">
                  <div class="-m-4 flex flex-wrap">
                    <div class="w-full p-4">
                      <div class="-m-2 flex flex-wrap">
                        <div class="w-auto p-2">
                          <span class="inline-block text-xl font-semibold tracking-tight text-white">1.</span>
                        </div>
                        <div class="flex-1 p-2">
                          <h3 class="mb-3 text-xl font-semibold tracking-tight text-white">Choose the right tool</h3>
                          <p class="text-xl tracking-tight text-gray-500">Use and re-use tons of responsive sections too a main create the perfect layout.</p>
                        </div>
                      </div>
                    </div>
                    <div class="w-full p-4">
                      <div class="-m-2 flex flex-wrap">
                        <div class="w-auto p-2">
                          <span class="inline-block text-xl font-semibold tracking-tight text-white">2.</span>
                        </div>
                        <div class="flex-1 p-2">
                          <h3 class="mb-3 text-xl font-semibold tracking-tight text-white">Set up your account</h3>
                          <p class="text-xl tracking-tight text-gray-500">Use and re-use tons of responsive sections too a main create the perfect layout.</p>
                        </div>
                      </div>
                    </div>
                    <div class="w-full p-4">
                      <div class="-m-2 flex flex-wrap">
                        <div class="w-auto p-2">
                          <span class="inline-block text-xl font-semibold tracking-tight text-white">3.</span>
                        </div>
                        <div class="flex-1 p-2">
                          <h3 class="mb-3 text-xl font-semibold tracking-tight text-white">Start using Basko</h3>
                          <p class="text-xl tracking-tight text-gray-500">Use and re-use tons of responsive sections too a main create the perfect layout.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full p-8 md:w-1/2">
                <div class="group relative ml-auto max-w-max">
                  <a class="absolute left-1/2 top-1/2 z-20 flex h-20 w-20 -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full bg-white transition duration-200 hover:bg-gray-200" href="#">
                    <svg width="21" height="23" viewbox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.29871 0.690679C2.36694 -0.459709 0.800781 0.482703 0.800781 2.79393V19.8498C0.800781 22.1633 2.36694 23.1045 4.29871 21.9552L18.6583 13.4058C20.5907 12.255 20.5907 10.3905 18.6583 9.23999L4.29871 0.690679Z" fill="#5E27FF"></path>
                    </svg>
                  </a>
                  <div class="max-w-max overflow-hidden rounded-xl">
                    <img class="transform transition duration-500 group-hover:scale-105" src="https://shuffle.dev/basko-assets/images/headers/video.png" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute bottom-0 left-0 w-full">
        <svg class="w-full" width="100%" height="186" preserveaspectratio="none" viewbox="0 0 1600 186" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1608 127.618C969.729 -103.398 167.657 31.1518 0 127.618V186H1608V127.618Z" fill="white"></path>
        </svg>
        <div class="h-80 bg-white"></div>
      </div>
    </div>
  </section>
  