<section class="relative">
    <img class="absolute top-0 left-0 w-full h-full" src="https://shuffle.dev/vendia-assets/images/header/bg-color-gradient.png" alt="">
    <nav class="relative px-6 py-6 z-20">
      <div class="flex w-full items-center">
        <a class="inline-block text-lg font-bold mr-24" href="#">
          <img class="h-6" src="https://shuffle.dev/vendia-assets/logos/vendia.svg" alt="" width="auto">
        </a>
        <div class="ml-auto lg:hidden">
          <button class="navbar-burger flex items-center p-3 bg-white hover:bg-yellow-500">
            <svg class="block h-4 w-4" stroke="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Mobile menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
        </div>
        <ul class="hidden lg:flex lg:w-auto lg:space-x-12 mr-auto">
          <li><a class="inline-block text-sm text-gray-50 hover:text-yellow-500 font-medium" href="#">Home</a></li>
          <li><a class="inline-block text-sm text-gray-50 hover:text-yellow-500 font-medium" href="#">Shop</a></li>
          <li><a class="inline-block text-sm text-gray-50 hover:text-yellow-500 font-medium" href="#">Product</a></li>
          <li><a class="inline-block text-sm text-gray-50 hover:text-yellow-500 font-medium" href="#">Blog</a></li>
          <li><a class="inline-block text-sm text-gray-50 hover:text-yellow-500 font-medium" href="#">Support</a></li>
        </ul>
        <div class="hidden lg:block">
          <a class="inline-flex items-center justify-center rounded-full w-8 h-8 bg-white hover:bg-yellow-500" href="#">
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.5 0.5H2.16667L2.5 2.16667M3.83333 8.83333H12.1667L15.5 2.16667H2.5M3.83333 8.83333L2.5 2.16667M3.83333 8.83333L1.92259 10.7441C1.39762 11.269 1.76942 12.1667 2.51184 12.1667H12.1667M12.1667 12.1667C11.2462 12.1667 10.5 12.9129 10.5 13.8333C10.5 14.7538 11.2462 15.5 12.1667 15.5C13.0871 15.5 13.8333 14.7538 13.8333 13.8333C13.8333 12.9129 13.0871 12.1667 12.1667 12.1667ZM5.5 13.8333C5.5 14.7538 4.75381 15.5 3.83333 15.5C2.91286 15.5 2.16667 14.7538 2.16667 13.8333C2.16667 12.9129 2.91286 12.1667 3.83333 12.1667C4.75381 12.1667 5.5 12.9129 5.5 13.8333Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </nav>
    <img class="hidden xl:block absolute bottom-0 left-1/2 h-full transform -translate-x-1/2 ml-20 2xl:ml-0 z-10" src="https://shuffle.dev/vendia-assets/images/header/woman-middle-bg.png" alt="">
    <img class="hidden lg:block xl:hidden absolute bottom-0 right-0 mr-12 h-full" src="https://shuffle.dev/vendia-assets/images/header/woman-middle-bg.png" alt="">
    <div class="container mx-auto px-4 relative">
      <div class="flex flex-wrap items-end">
        <div class="w-full lg:w-auto">
          <div class="max-w-md xl:max-w-xl pt-12 md:pt-24 xl:pt-48 lg:pb-52 mb-20 lg:mb-0 mx-auto xl:mx-0">
            <div class="relative mb-14">
              <img class="absolute top-1/2 right-1/2 md:-mr-32 h-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1/4 md:w-auto" src="https://shuffle.dev/vendia-assets/images/header/smuge-yellow.svg" alt="">
              <div class="relative">
                <h1 class="font-heading block font-bold text-7xl xs:text-10xl md:text-11xl text-white">the</h1>
                <h1 class="font-heading block font-bold text-7xl xs:text-10xl md:text-11xl xs:-mt-8 md:-mt-14 text-white">winter</h1>
                <h1 class="font-heading block font-bold text-7xl xs:text-10xl md:text-11xl xs:-mt-8 md:-mt-14 text-white">makeup</h1>
              </div>
            </div>
            <div class="max-w-sm 2xl:ml-14">
              <p class="font-medium text-white">Lorem ipsum dolor sit amet, consectetur adipiscing a elit. Nullam to dictum aliquet accumsan porta lectus ridiculus in these mattis.</p>
            </div>
          </div>
        </div>
        <div class="lg:hidden w-full">
          <div class="max-w-md mx-auto xl:mr-0 py-8 px-8 px-sm-12 bg-black">
            <p class="text-base sm:text-2xl font-medium text-white mb-7">Lorem ipsum dolor sit amet, consec tetur adipiscing a elit. Nullam to dictum aliquet accumsan porta lectus ridiculus in these mattis.</p>
            <a class="inline-flex items-center font-bold text-yellow-500" href="#">
              <span class="mr-3">Explore Collections</span>
              <svg width="11" height="12" viewbox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.95669 1.75742L9.55635 1.75742M9.55635 1.75742L9.55635 8.35709M9.55635 1.75742L1.07107 10.2427" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="hidden lg:block absolute bottom-0 right-0 max-w-md mx-auto xl:mr-0 py-8 px-12 bg-black" style="z-index: 1;">
        <p class="text-xl font-medium text-white mb-7">Lorem ipsum dolor sit amet, consec tetur adipiscing a elit. Nullam to dictum aliquet accumsan porta lectus ridiculus in these mattis.</p>
        <a class="group inline-flex items-center font-bold text-yellow-500 hover:text-yellow-600" href="#">
          <span class="mr-3">Explore Collections</span>
          <span class="animate-bounce">
            <svg width="11" height="12" viewbox="0 0 11 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.95669 1.75742L9.55635 1.75742M9.55635 1.75742L9.55635 8.35709M9.55635 1.75742L1.07107 10.2427" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </span>
        </a>
      </div>
      <img class="block lg:hidden w-full max-w-md mx-auto" src="https://shuffle.dev/vendia-assets/images/header/woman-middle-bg.png" alt="">
    </div>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <a class="mr-auto text-2xl font-medium leading-none" href="#">
            <img class="h-6" src="https://shuffle.dev/vendia-assets/logos/vendia-dark.svg" alt="" width="auto">
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-500 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Home</a></li>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Shop</a></li>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Product</a></li>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Blog</a></li>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Support</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6"><a class="block mb-2 py-3 text-sm text-center border border-gray-200 hover:border-gray-400 font-bold" href="#">Login</a><a class="block py-3 text-sm text-center text-black bg-yellow-500 hover:bg-yellow-600 font-bold transition duration-200" href="#">Sign In</a></div>
        </div>
      </nav>
    </div>
  </section>