<section class="bg-black">
    <nav class="relative px-5 lg:px-16 py-10">
      <div class="flex flex-wrap justify-between items-center">
        <a class="inline-block py-2 text-lg font-bold" href="#">
          <img class="h-7" src="https://shuffle.dev/vendia-assets/logos/vendia.svg" alt="" width="auto">
        </a>
        <div class="py-2">
          <a class="inline-flex items-center text-yellow-500 hover:text-white font-medium" href="#">
            <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 2.33333C1 1.59695 1.59695 1 2.33333 1H4.51949C4.80645 1 5.06121 1.18362 5.15195 1.45585L6.15049 4.45147C6.25541 4.76622 6.11292 5.11021 5.81618 5.25858L4.31134 6.011C5.04617 7.64081 6.35919 8.95383 7.989 9.68866L8.74142 8.18382C8.88979 7.88708 9.23378 7.74459 9.54853 7.84951L12.5442 8.84805C12.8164 8.93879 13 9.19355 13 9.48051V11.6667C13 12.403 12.403 13 11.6667 13H11C5.47715 13 1 8.52285 1 3V2.33333Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="ml-3">Call us: +1-395-493-395</span>
          </a>
        </div>
      </div>
    </nav>
    <div class="py-12 px-5 lg:px-16 border-t border-b border-blueGray-800 overflow-hidden">
      <div class="flex -mx-4 xl:-mx-8 animate-photo">
        <div class="flex-shrink-0 w-80 sm:w-2/3 md:w-1/3 xl:w-auto px-4 xl:px-8">
          <div class="group block w-full xl:w-88 relative">
            <div class="hidden group-hover:block absolute bottom-0 left-0 w-full pb-6 px-8">
              <a class="block py-5 px-4 bg-yellow-500 hover:bg-white transition duration-200" href="#">
                <div class="flex flex-wrap items-center -mb-4">
                  <div class="flex mb-4 items-center">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.25 1.25H2.75L3.05 2.75M4.25 8.75H11.75L14.75 2.75H3.05M4.25 8.75L3.05 2.75M4.25 8.75L2.53033 10.4697C2.05786 10.9421 2.39248 11.75 3.06066 11.75H11.75M11.75 11.75C10.9216 11.75 10.25 12.4216 10.25 13.25C10.25 14.0784 10.9216 14.75 11.75 14.75C12.5784 14.75 13.25 14.0784 13.25 13.25C13.25 12.4216 12.5784 11.75 11.75 11.75ZM5.75 13.25C5.75 14.0784 5.07843 14.75 4.25 14.75C3.42157 14.75 2.75 14.0784 2.75 13.25C2.75 12.4216 3.42157 11.75 4.25 11.75C5.07843 11.75 5.75 12.4216 5.75 13.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="px-1 lg:pl-3 lg:pr-4">
                      <svg width="5" height="20" viewbox="0 0 5 20" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="4.48927" y1="0.103005" x2="0.489274" y2="19.103" stroke="black"></line></svg>
                    </span>
                    <span class="font-bold">Summer shirt</span>
                  </div>
                  <div class="ml-auto pl-4 mb-4">
                    <span class="inline-block text-sm font-bold">$129.95</span>
                  </div>
                </div>
              </a>
            </div>
            <img class="block w-full object-cover" src="https://shuffle.dev/vendia-assets/images/header/header-people1.png" alt="" style="height: 634px;">
          </div>
        </div>
        <div class="flex-shrink-0 w-80 sm:w-2/3 md:w-1/3 xl:w-auto px-4 xl:px-8">
          <div class="group block w-full xl:w-88 relative">
            <div class="absolute bottom-0 left-0 w-full pb-6 px-8">
              <a class="block py-5 px-4 bg-yellow-500 hover:bg-white transition duration-200" href="#">
                <div class="flex flex-wrap items-center -mb-4">
                  <div class="flex mb-4 items-center">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.25 1.25H2.75L3.05 2.75M4.25 8.75H11.75L14.75 2.75H3.05M4.25 8.75L3.05 2.75M4.25 8.75L2.53033 10.4697C2.05786 10.9421 2.39248 11.75 3.06066 11.75H11.75M11.75 11.75C10.9216 11.75 10.25 12.4216 10.25 13.25C10.25 14.0784 10.9216 14.75 11.75 14.75C12.5784 14.75 13.25 14.0784 13.25 13.25C13.25 12.4216 12.5784 11.75 11.75 11.75ZM5.75 13.25C5.75 14.0784 5.07843 14.75 4.25 14.75C3.42157 14.75 2.75 14.0784 2.75 13.25C2.75 12.4216 3.42157 11.75 4.25 11.75C5.07843 11.75 5.75 12.4216 5.75 13.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="px-1 lg:pl-3 lg:pr-4">
                      <svg width="5" height="20" viewbox="0 0 5 20" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="4.48927" y1="0.103005" x2="0.489274" y2="19.103" stroke="black"></line></svg>
                    </span>
                    <span class="font-bold">Summer shirt</span>
                  </div>
                  <div class="ml-auto pl-4 mb-4">
                    <span class="inline-block text-sm font-bold">$39.95</span>
                  </div>
                </div>
              </a>
            </div>
            <img class="block w-full object-cover" src="https://shuffle.dev/vendia-assets/images/header/header-people4.png" alt="" style="height: 634px;">
          </div>
        </div>
        <div class="flex-shrink-0 w-80 sm:w-2/3 md:w-1/3 xl:w-auto px-4 xl:px-8">
          <div class="group block w-full xl:w-88 relative">
            <div class="hidden group-hover:block absolute bottom-0 left-0 w-full pb-6 px-8">
              <a class="block py-5 px-4 bg-yellow-500 hover:bg-white transition duration-200" href="#">
                <div class="flex flex-wrap items-center -mb-4">
                  <div class="flex mb-4 items-center">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.25 1.25H2.75L3.05 2.75M4.25 8.75H11.75L14.75 2.75H3.05M4.25 8.75L3.05 2.75M4.25 8.75L2.53033 10.4697C2.05786 10.9421 2.39248 11.75 3.06066 11.75H11.75M11.75 11.75C10.9216 11.75 10.25 12.4216 10.25 13.25C10.25 14.0784 10.9216 14.75 11.75 14.75C12.5784 14.75 13.25 14.0784 13.25 13.25C13.25 12.4216 12.5784 11.75 11.75 11.75ZM5.75 13.25C5.75 14.0784 5.07843 14.75 4.25 14.75C3.42157 14.75 2.75 14.0784 2.75 13.25C2.75 12.4216 3.42157 11.75 4.25 11.75C5.07843 11.75 5.75 12.4216 5.75 13.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="px-1 lg:pl-3 lg:pr-4">
                      <svg width="5" height="20" viewbox="0 0 5 20" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="4.48927" y1="0.103005" x2="0.489274" y2="19.103" stroke="black"></line></svg>
                    </span>
                    <span class="font-bold">Summer shirt</span>
                  </div>
                  <div class="ml-auto pl-4 mb-4">
                    <span class="inline-block text-sm font-bold">$19.95</span>
                  </div>
                </div>
              </a>
            </div>
            <img class="block w-full object-cover" src="https://shuffle.dev/vendia-assets/images/header/header-people3.png" alt="" style="height: 634px;">
          </div>
        </div>
        <div class="hidden sm:block sm:flex-shrink-0 w-full sm:w-2/3 md:w-1/3 xl:w-auto px-4 xl:px-8">
          <div class="group block w-full xl:w-88 relative">
            <div class="hidden group-hover:block absolute bottom-0 left-0 w-full pb-6 px-8">
              <a class="block py-5 px-4 bg-yellow-500 hover:bg-white transition duration-200" href="#">
                <div class="flex flex-wrap items-center -mb-4">
                  <div class="flex mb-4 items-center">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.25 1.25H2.75L3.05 2.75M4.25 8.75H11.75L14.75 2.75H3.05M4.25 8.75L3.05 2.75M4.25 8.75L2.53033 10.4697C2.05786 10.9421 2.39248 11.75 3.06066 11.75H11.75M11.75 11.75C10.9216 11.75 10.25 12.4216 10.25 13.25C10.25 14.0784 10.9216 14.75 11.75 14.75C12.5784 14.75 13.25 14.0784 13.25 13.25C13.25 12.4216 12.5784 11.75 11.75 11.75ZM5.75 13.25C5.75 14.0784 5.07843 14.75 4.25 14.75C3.42157 14.75 2.75 14.0784 2.75 13.25C2.75 12.4216 3.42157 11.75 4.25 11.75C5.07843 11.75 5.75 12.4216 5.75 13.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="px-1 lg:pl-3 lg:pr-4">
                      <svg width="5" height="20" viewbox="0 0 5 20" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="4.48927" y1="0.103005" x2="0.489274" y2="19.103" stroke="black"></line></svg>
                    </span>
                    <span class="font-bold">Summer shirt</span>
                  </div>
                  <div class="ml-auto pl-4 mb-4">
                    <span class="inline-block text-sm font-bold">$29.95</span>
                  </div>
                </div>
              </a>
            </div>
            <img class="block w-full object-cover" src="https://shuffle.dev/vendia-assets/images/header/header-people2.png" alt="" style="height: 634px;">
          </div>
        </div>
        <div class="hidden sm:block sm:flex-shrink-0 w-full sm:w-2/3 md:w-1/3 xl:w-auto px-4 xl:px-8">
          <div class="group block w-full xl:w-88 relative">
            <div class="hidden group-hover:block absolute bottom-0 left-0 w-full pb-6 px-8">
              <a class="block py-5 px-4 bg-yellow-500 hover:bg-white transition duration-200" href="#">
                <div class="flex flex-wrap items-center -mb-4">
                  <div class="flex mb-4 items-center">
                    <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.25 1.25H2.75L3.05 2.75M4.25 8.75H11.75L14.75 2.75H3.05M4.25 8.75L3.05 2.75M4.25 8.75L2.53033 10.4697C2.05786 10.9421 2.39248 11.75 3.06066 11.75H11.75M11.75 11.75C10.9216 11.75 10.25 12.4216 10.25 13.25C10.25 14.0784 10.9216 14.75 11.75 14.75C12.5784 14.75 13.25 14.0784 13.25 13.25C13.25 12.4216 12.5784 11.75 11.75 11.75ZM5.75 13.25C5.75 14.0784 5.07843 14.75 4.25 14.75C3.42157 14.75 2.75 14.0784 2.75 13.25C2.75 12.4216 3.42157 11.75 4.25 11.75C5.07843 11.75 5.75 12.4216 5.75 13.25Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="px-1 lg:pl-3 lg:pr-4">
                      <svg width="5" height="20" viewbox="0 0 5 20" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="4.48927" y1="0.103005" x2="0.489274" y2="19.103" stroke="black"></line></svg>
                    </span>
                    <span class="font-bold">Summer shirt</span>
                  </div>
                  <div class="ml-auto pl-4 mb-4">
                    <span class="inline-block text-sm font-bold">$129.95</span>
                  </div>
                </div>
              </a>
            </div>
            <img class="block w-full object-cover" src="https://shuffle.dev/vendia-assets/images/header/header-people1.png" alt="" style="height: 634px;">
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap px-5 lg:px-16 items-center justify-between py-8">
      <ul class="hidden md:flex flex-wrap -mb-4 mr-20 items-center">
        <li class="mb-4 mr-10"><a class="text-xs text-white hover:text-yellow-500 font-bold uppercase" href="#">Home</a></li>
        <li class="mb-4 mr-10"><a class="text-xs text-white hover:text-yellow-500 font-bold uppercase" href="#">Shop</a></li>
        <li class="mb-4 mr-10"><a class="text-xs text-white hover:text-yellow-500 font-bold uppercase" href="#">Product</a></li>
        <li class="mb-4 mr-10"><a class="text-xs text-white hover:text-yellow-500 font-bold uppercase" href="#">Blog</a></li>
        <li class="mb-4"><a class="text-xs text-white hover:text-yellow-500 font-bold uppercase" href="#">Support</a></li>
      </ul>
      <a class="hidden md:inline-flex items-center justify-center py-3 px-6 bg-gray-800 hover:bg-gray-700" href="#">
        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.25 1.25H2.75L3.05 2.75M4.25 8.75H11.75L14.75 2.75H3.05M4.25 8.75L3.05 2.75M4.25 8.75L2.53033 10.4697C2.05786 10.9421 2.39248 11.75 3.06066 11.75H11.75M11.75 11.75C10.9216 11.75 10.25 12.4216 10.25 13.25C10.25 14.0784 10.9216 14.75 11.75 14.75C12.5784 14.75 13.25 14.0784 13.25 13.25C13.25 12.4216 12.5784 11.75 11.75 11.75ZM5.75 13.25C5.75 14.0784 5.07843 14.75 4.25 14.75C3.42157 14.75 2.75 14.0784 2.75 13.25C2.75 12.4216 3.42157 11.75 4.25 11.75C5.07843 11.75 5.75 12.4216 5.75 13.25Z" stroke="#FFFFFF" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </a>
      <div class="md:hidden ml-auto">
        <button class="navbar-burger flex items-center p-3 text-white hover:text-yellow-500">
          <svg class="block h-4 w-4" stroke="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <a class="mr-auto text-2xl font-medium leading-none" href="#">
            <img class="h-6" src="https://shuffle.dev/vendia-assets/logos/vendia-dark.svg" alt="" width="auto">
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-500 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Home</a></li>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Shop</a></li>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Product</a></li>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Blog</a></li>
            <li class="mb-1"><a class="block p-4 font-medium text-black hover:bg-gray-50" href="#">Support</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6"><a class="block mb-2 py-3 text-sm text-center border border-gray-200 hover:border-gray-400 font-bold" href="#">Login</a><a class="block py-3 text-sm text-center text-black bg-yellow-500 hover:bg-yellow-600 font-bold transition duration-200" href="#">Sign In</a></div>
        </div>
      </nav>
    </div>
  </section>