<section class="bg-gray-500 pb-24">
    <div class="container mx-auto px-4">
      <nav class="relative flex items-center justify-between py-8">
        <a class="text-2xl leading-none text-gray-600" href="#">
          <img class="h-8" src="https://shuffle.dev/mockup-assets/logos/shuffle-ux-light.svg" alt="" width="auto" />
        </a>
        <div class="lg:hidden">
          <button class="navbar-burger block text-gray-50 hover:text-gray-200 focus:outline-none">
            <svg class="h-4 w-4" fill="currentColor " viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Mobile menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
            </svg>
          </button>
        </div>
        <ul class="absolute left-1/2 top-1/2 ml-auto mr-auto hidden w-auto -translate-x-1/2 -translate-y-1/2 transform items-center space-x-12 lg:flex">
          <li><a class="text-sm text-gray-50 hover:text-gray-200" href="#">About</a></li>
          <li><a class="text-sm text-gray-50 hover:text-gray-200" href="#">Company</a></li>
          <li><a class="text-sm text-gray-50 hover:text-gray-200" href="#">Services</a></li>
          <li><a class="text-sm text-gray-50 hover:text-gray-200" href="#">Testimonials</a></li>
        </ul>
        <ul class="hidden w-auto items-center space-x-12 lg:flex">
          <li><a class="text-sm text-gray-50 hover:text-gray-200" href="#">Sign in</a></li>
          <li><a class="text-sm text-gray-50 hover:text-gray-200" href="#">Sign up</a></li>
        </ul>
      </nav>
      <div class="my-16 bg-gray-500">
        <div class="container mx-auto px-4">
          <div class="mx-auto mb-12 max-w-4xl text-center">
            <span class="text-gray-200">Develop your skill</span>
            <h2 class="font-heading mb-8 mt-4 text-5xl font-bold text-white lg:text-6xl">Take care of your performance every day.</h2>
            <a class="mb-3 inline-block w-full rounded border border-white bg-white px-6 py-3 font-semibold text-gray-900 transition duration-200 hover:bg-gray-50 lg:mb-0 lg:mr-3 lg:w-auto" href="#">Get Started Free</a><a class="inline-block w-full rounded border px-6 py-3 font-bold text-gray-50 hover:text-gray-100 lg:w-auto" href="#">Request Demo</a>
          </div>
          <button class="mx-auto block text-gray-50 hover:text-gray-100">
            <svg class="md:w-18 md:h-18 mx-auto mb-2 h-16 w-16" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z" clip-rule="evenodd"></path>
            </svg>
            <span class="font-semibold">Watch Demo</span>
          </button>
        </div>
      </div>
    </div>
    <div class="navbar-menu fixed bottom-0 left-0 top-0 z-50 hidden w-5/6 max-w-sm">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex h-full w-full flex-col overflow-y-auto border-r bg-white px-6 py-6">
        <div class="mb-8 flex items-center">
          <a class="mr-auto text-2xl font-semibold leading-none" href="#">
            <img class="h-8" src="https://shuffle.dev/mockup-assets/logos/shuffle-ux.svg" alt="" width="auto" />
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 cursor-pointer text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a class="block rounded p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50" href="#">About</a></li>
            <li class="mb-1"><a class="block rounded p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50" href="#">Company</a></li>
            <li class="mb-1"><a class="block rounded p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50" href="#">Services</a></li>
            <li class="mb-1"><a class="block rounded p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50" href="#">Testimonials</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6"><a class="mb-3 block rounded border border-gray-100 px-6 py-2 text-center text-sm font-bold leading-loose text-gray-500 hover:border-gray-200 hover:text-gray-600" href="#">Sign in</a><a class="mb-2 block rounded border border-gray-100 px-6 py-2 text-center text-sm font-bold leading-loose text-gray-500 hover:border-gray-200 hover:text-gray-600" href="#">Sign up</a></div>
          <p class="mb-4 mt-6 text-center text-sm text-gray-400">
            <span>© 2021 All rights reserved.</span>
          </p>
        </div>
      </nav>
    </div>
  </section>
  