<section class="relative overflow-x-hidden bg-gray-500">
    <div class="container mx-auto px-4">
      <nav class="flex items-center justify-between py-8">
        <a class="text-2xl leading-none text-white" href="#">
          <img class="h-8" src="https://shuffle.dev/mockup-assets/logos/shuffle-ux-light.svg" alt="" width="auto" />
        </a>
        <button class="navbar-burger block rounded text-gray-100 hover:text-gray-200 focus:outline-none">
          <svg class="h-4 w-4" fill="currentColor " viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </nav>
      <div class="mt-16 max-w-md lg:mb-24">
        <div class="mb-6 max-w-2xl lg:max-w-md">
          <h2 class="font-heading mb-8 text-4xl font-bold text-white md:text-5xl">Take care of your performance every day.</h2>
          <p class="text-lg leading-loose text-gray-200">Build a well-presented brand that everyone will love. Take care to develop resources continually and integrity them with previous projects.</p>
        </div>
        <div class="flex flex-wrap">
          <input class="mb-2 w-full rounded py-3 pl-4 text-sm text-gray-900 md:mb-0 md:w-2/3" type="text" placeholder="Type your e-mail" />
          <button class="w-full rounded bg-gray-700 px-6 py-3 text-sm font-semibold text-white hover:bg-gray-800 md:ml-2 md:w-auto">Start for free</button>
        </div>
      </div>
    </div>
    <div class="mt-16 w-full px-4 pb-16 lg:absolute lg:right-0 lg:top-1/2 lg:-mr-8 lg:mt-4 lg:w-1/2 lg:-translate-y-1/2 lg:transform lg:pb-0 lg:pb-0">
      <img class="lg:h-112 mx-auto h-80 w-full rounded-lg object-cover lg:mx-0 lg:ml-auto" src="https://shuffle.dev/mockup-assets/images/gray-400-horizontal.png" alt="" />
    </div>
    <div class="navbar-menu fixed bottom-0 left-0 top-0 z-50 hidden w-5/6 max-w-sm">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex h-full w-full flex-col overflow-y-auto border-r bg-white px-6 py-6">
        <div class="mb-8 flex items-center">
          <a class="mr-auto text-2xl font-semibold leading-none" href="#">
            <img class="h-8" src="https://shuffle.dev/mockup-assets/logos/shuffle-ux.svg" alt="" width="auto" />
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 cursor-pointer text-gray-400 hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a class="block rounded p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50" href="#">About</a></li>
            <li class="mb-1"><a class="block rounded p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50" href="#">Company</a></li>
            <li class="mb-1"><a class="block rounded p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50" href="#">Services</a></li>
            <li class="mb-1"><a class="block rounded p-4 text-sm font-semibold text-gray-900 hover:bg-gray-50" href="#">Testimonials</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6"><a class="mb-3 block rounded border border-gray-100 px-6 py-2 text-center text-sm font-bold leading-loose text-gray-500 hover:border-gray-200 hover:text-gray-600" href="#">Sign in</a><a class="mb-2 block rounded border border-gray-100 px-6 py-2 text-center text-sm font-bold leading-loose text-gray-500 hover:border-gray-200 hover:text-gray-600" href="#">Sign up</a></div>
          <p class="mb-4 mt-6 text-center text-sm text-gray-400">
            <span>© 2021 All rights reserved.</span>
          </p>
        </div>
      </nav>
    </div>
  </section>
  