<section>
    <nav class="relative px-6 py-6 flex justify-between items-center py-6 bg-white">
      <a class="text-3xl font-bold leading-none" href="#">
        <img class="h-12" src="https://shuffle.dev/atis-assets/logo/atis/atis-mono-black.svg" alt="" width="auto">
      </a>
      <div class="lg:hidden">
        <button class="navbar-burger flex items-center p-3 hover:bg-gray-100 rounded">
          <svg class="block h-4 w-4" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>
      <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
        <li><a class="text-gray-400 text-sm hover:text-gray-500" href="#">Start</a></li>
        <li class="text-gray-300">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </li>
        <li><a class="text-green-600 font-bold text-sm" href="#">About Us</a></li>
        <li class="text-gray-300">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </li>
        <li><a class="text-gray-400 text-sm hover:text-gray-500" href="#">Services</a></li>
        <li class="text-gray-300">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </li>
        <li><a class="text-gray-400 text-sm hover:text-gray-500" href="#">Platform</a></li>
        <li class="text-gray-300">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </li>
        <li><a class="text-gray-400 text-sm hover:text-gray-500" href="#">Testimonials</a></li>
      </ul>
      <a class="hidden lg:inline-block py-2 px-6 bg-green-600 hover:bg-green-700 rounded-l-xl rounded-t-xl text-white font-bold text-sm transition duration-200" href="#">Contact Us</a>
    </nav>
    <div class="relative py-20 bg-gray-50 overflow-hidden">
      <img class="hidden lg:block absolute inset-0 w-full" src="https://shuffle.dev/atis-assets/background/lines.svg" alt="">
      <div class="relative container mx-auto px-4">
        <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
            <div class="w-full text-center lg:text-left">
              <div class="max-w-md mx-auto lg:mx-0">
                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading">
                  <span>Build & Launch without</span>
                  <span class="text-green-600">problems</span>
                </h2>
              </div>
              <div class="max-w-sm mx-auto lg:mx-0">
                <p class="mb-6 text-gray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
                <div><a class="inline-block mb-3 lg:mb-0 lg:mr-3 w-full lg:w-auto py-2 px-6 leading-loose bg-green-600 hover:bg-green-700 text-white font-semibold rounded-l-xl rounded-t-xl transition duration-200" href="#">Get Started</a><a class="inline-block w-full lg:w-auto py-2 px-6 leading-loose font-semibold bg-white hover:bg-gray-50 rounded-l-xl rounded-t-xl transition duration-200" href="#">How it works</a></div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-4">
            <div class="max-w-sm text-center mx-auto">
              <div class="mb-4 px-6 py-8 bg-white rounded-xl">
                <div class="mb-6">
                  <span class="text-sm text-gray-500">Sign Up</span>
                  <h3 class="text-2xl font-bold">Create an account</h3>
                </div>
                <form action="">
                  <div class="flex flex-wrap -mx-2">
                    <div class="mb-4 w-full lg:w-1/2 px-2">
                      <input class="w-full p-4 text-xs bg-gray-50 outline-none rounded" type="text" placeholder="First Name">
                    </div>
                    <div class="mb-4 w-full lg:w-1/2 px-2">
                      <input class="w-full p-4 text-xs bg-gray-50 outline-none rounded" type="text" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="mb-4 flex p-4 bg-gray-50 rounded">
                    <input class="w-full text-xs bg-gray-50 outline-none" type="email" placeholder="name@email.com">
                    <svg class="h-6 w-6 ml-4 my-auto text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"></path>
                    </svg>
                  </div>
                  <div class="mb-6 flex p-4 bg-gray-50 rounded">
                    <input class="w-full text-xs bg-gray-50 outline-none" type="password" placeholder="Enter your password">
                    <button>
                      <svg class="h-6 w-6 ml-4 my-auto text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                      </svg>
                    </button>
                  </div>
                  <div class="text-center">
                    <button class="mb-2 w-full py-4 bg-green-600 hover:bg-green-700 rounded text-sm font-bold text-gray-50 transition duration-200">Sign Up</button>
                    <span class="text-gray-400 text-xs">Already have an account? <a class="text-green-600 hover:underline" href="#">Sign In</a></span>
                  </div>
                </form>
              </div>
              <p class="text-xs text-gray-500"><a class="underline text-green-600 hover:text-green-700" href="#">Policy privacy</a> and <a class="underline text-green-600 hover:text-green-700" href="#">Terms of Use</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex flex-col py-6 px-6 h-full w-full bg-white border-r overflow-y-auto">
        <div class="flex items-center mb-8">
          <a class="mr-auto text-3xl font-bold leading-none" href="#">
            <img class="h-10" src="https://shuffle.dev/atis-assets/logo/atis/atis-mono-black.svg" alt="" width="auto">
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="#">Start</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="#">About Us</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="#">Services</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="#">Platform</a></li>
            <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href="#">Testimonials</a></li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6"><a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-l-xl rounded-t-xl" href="#">Sign In</a><a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-green-600 hover:bg-green-700 rounded-l-xl rounded-t-xl" href="#">Sign Up</a></div>
          <p class="my-4 text-xs text-center text-gray-400">
            <span>© 2020 All rights reserved.</span>
          </p>
          <div class="text-center">
            <a class="inline-block px-1" href="#">
              <img src="https://shuffle.dev/atis-assets/social/facebook.svg" alt="">
            </a>
            <a class="inline-block px-1" href="#">
              <img src="https://shuffle.dev/atis-assets/social/twitter.svg" alt="">
            </a>
            <a class="inline-block px-1" href="#">
              <img src="https://shuffle.dev/atis-assets/social/instagram.svg" alt="">
            </a>
          </div>
        </div>
      </nav>
    </div>
  </section>