<section class="relative bg-gray-900 overflow-hidden">
    <div class="flex flex-wrap">
      <div class="w-full md:w-3/12 2xl:w-2/12">
        <nav class="relative flex flex-col pt-12 h-full bg-gray-200">
          <div class="px-12">
            <div>
              <a class="inline-block mb-24 lg:mb-52" href="#">
                <img src="https://shuffle.dev/wrexa-assets/logos/logo-wrexa.svg" alt="" width="auto">
              </a>
              <button type="button" aria-label="Close"></button>
            </div>
            <ul>
              <li class="mb-6">
                <a class="flex items-center justify-between text-gray-900 hover:text-gray-700" href="#">
                  <span>Collection</span>
                  <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 2L6 6L2 2" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
              <li class="mb-6"><a class="inline-block text-gray-900 hover:text-gray-700" href="#">Projects</a></li>
              <li class="mb-16"><a class="inline-block text-gray-900 hover:text-gray-700" href="#">About</a></li>
              <li class="mb-6"><a class="inline-block text-gray-900 hover:text-gray-700" href="#">How to Start</a></li>
              <li><a class="inline-block text-gray-900 hover:text-gray-700" href="#">Design</a></li>
            </ul>
          </div>
          <div class="fixed bottom-0 left-0 w-full md:w-3/12 2xl:w-2/12">
            <a class="flex items-center pt-4 pb-5 pl-6 pr-4 bg-white" href="#">
              <div class="relative mr-4">
                <img class="w-12 h-12 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar2.png" alt="">
                <div class="absolute bottom-0 left-0 -ml-2 flex items-center justify-center w-6 h-6 bg-green-800 rounded-full text-white text-xs">1</div>
              </div>
              <div class="pr-5 mr-auto">
                <h4 class="text-xs text-gray-400">Account</h4>
                <span>matloay</span>
              </div>
              <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 2L6 6L2 2" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </nav>
      </div>
      <div class="w-full md:w-9/12 2xl:w-10/12 pt-32 pb-48 relative">
        <img class="absolute top-0 left-0 w-full mt-64 2xl:mt-0 object-contain" src="https://shuffle.dev/wrexa-assets/images/avatars-with-circles-background.png" alt="">
        <div class="container px-4 mx-auto relative">
          <div class="flex flex-wrap items-center -mx-4">
            <div class="w-full 2xl:w-1/2 px-4 mb-16 2xl:mb-0">
              <div class="max-w-sm lg:max-w-md 3xl:max-w-xl mx-auto">
                <h1 class="text-5xl sm:text-6xl lg:text-7xl 3xl:text-8xl text-white mb-32 sm:mb-96 relative">
                  <span class="hidden sm:block absolute bottom-0 left-0 mb-2 lg:mb-4 w-full h-px bg-white"></span>
                  <span class="block">Easy</span>
                  <span>editor for your home.</span>
                </h1>
                <a class="inline-block w-full sm:w-auto px-8 sm:px-16 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Discover Now</a>
              </div>
            </div>
            <div class="w-full 2xl:w-1/2 px-4">
              <img class="block w-full max-w-md 2xl:max-w-xl mx-auto" src="https://shuffle.dev/wrexa-assets/images/two-phone-views.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-0 left-1/2 z-10 transform -translate-x-1/2">
      <div class="h-26 w-px bg-white"></div>
      <div class="h-14 w-px bg-gray-800"></div>
    </div>
  </section>