<section class="pb-26 bg-gray-100 relative">
    <div class="absolute bottom-0 left-1/2 h-26 w-26 bg-white z-10 transform -translate-x-1/2">
      <div class="absolute bottom-0 left-1/2 mb-8">
        <div class="h-26 w-px bg-white"></div>
        <div class="h-18 w-px bg-gray-800"></div>
      </div>
    </div>
    <div class="bg-gray-900">
      <nav class="mr-12 py-8 px-8 bg-gray-200 overflow-hidden">
        <div class="flex w-full items-center">
          <a class="inline-block 3xl:mr-52 self-center" href="#">
            <img src="https://shuffle.dev/wrexa-assets/logos/logo-wrexa.svg" alt="" width="auto">
          </a>
          <button class="3xl:hidden flex navbar-burger ml-auto items-center justify-center w-14 h-14 rounded-full bg-white hover:bg-gray-100">
            <svg width="20" height="9" viewbox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="0.75" y1="1.25" x2="19.25" y2="1.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line><line x1="0.75" y1="8.25" x2="13.25" y2="8.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line></svg>
          </button>
          <ul class="hidden 3xl:flex mr-auto items-center">
            <li class="mr-14">
              <a class="inline-flex items-center text-sm text-gray-900 hover:text-gray-700" href="#">
                <span class="mr-4">Collection</span>
                <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 2L6 6L2 2" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
                </svg>
              </a>
            </li>
            <li class="mr-14"><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Projects</a></li>
            <li><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">About</a></li>
          </ul>
          <div class="hidden 3xl:block relative pl-16 mr-32">
            <div class="absolute top-0 left-0 h-32 -mt-20 w-px bg-gray-400"></div>
            <ul class="flex items-center">
              <li class="mr-14">
                <a class="inline-flex items-center text-sm text-gray-900 hover:text-gray-700" href="#">
                  <span class="mr-4">How to Start</span>
                  <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 2L6 6L2 2" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
                  </svg>
                </a>
              </li>
              <li><a class="inline-block text-sm text-gray-900 hover:text-gray-700" href="#">Your Design</a></li>
            </ul>
          </div>
          <a class="hidden 3xl:flex items-center py-3 px-8 bg-white shadow rounded-2xl" href="#">
            <div class="relative mr-4">
              <img class="w-12 h-12 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar2.png" alt="">
              <div class="absolute bottom-0 left-0 -ml-2 flex items-center justify-center w-6 h-6 bg-green-800 rounded-full text-white text-xs">1</div>
            </div>
            <div class="pr-5 mr-auto">
              <h4 class="text-xs text-gray-400">Account</h4>
              <span>matloay</span>
            </div>
            <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 2L6 6L2 2" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </nav>
    </div>
    <div class="relative bg-gray-900 overflow-hidden">
      <div class="hidden sm:block absolute top-0 left-0">
        <div class="w-8 h-96 bg-gray-200"></div>
        <div class="w-8 h-192 bg-white"></div>
      </div>
      <img class="hidden md:block absolute bottom-0 right-0 -mb-12 h-full w-1/2 pl-10 object-cover" src="https://shuffle.dev/wrexa-assets/images/placeholder-apps.png" alt="">
      <div class="container px-4 mx-auto">
        <div class="pt-28 pb-32">
          <div class="sm:ml-8 lg:ml-12">
            <div class="max-w-md 3xl:max-w-xl relative">
              <div class="absolute bottom-0 right-1/2 -mb-12 -mr-10">
                <svg width="181" height="91" viewbox="0 0 181 91" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="" fill="white">
                    <path d="M181 0.5C181 24.5021 171.465 47.5211 154.493 64.4932C137.521 81.4652 114.502 91 90.5 91C66.4979 91 43.4789 81.4652 26.5068 64.4932C9.5348 47.5211 3.62422e-06 24.5021 0 0.500015L36.4575 0.500008C36.4575 14.833 42.1512 28.5789 52.2862 38.7138C62.4211 48.8488 76.167 54.5425 90.5 54.5425C104.833 54.5425 118.579 48.8488 128.714 38.7138C138.849 28.5789 144.543 14.833 144.543 0.5L181 0.5Z"></path>
                  </mask>
                  <path d="M181 0.5C181 24.5021 171.465 47.5211 154.493 64.4932C137.521 81.4652 114.502 91 90.5 91C66.4979 91 43.4789 81.4652 26.5068 64.4932C9.5348 47.5211 3.62422e-06 24.5021 0 0.500015L36.4575 0.500008C36.4575 14.833 42.1512 28.5789 52.2862 38.7138C62.4211 48.8488 76.167 54.5425 90.5 54.5425C104.833 54.5425 118.579 48.8488 128.714 38.7138C138.849 28.5789 144.543 14.833 144.543 0.5L181 0.5Z" stroke="#585353" stroke-width="2" mask="url(#path-1-inside-1_1312_11273)"></path>
                </svg>
              </div>
              <h1 class="text-5xl sm:text-6xl lg:text-7xl 3xl:text-8xl text-white mb-32 sm:mb-52 relative">
                <span class="block">Easy</span>
                <span>editor for your home.</span>
              </h1>
            </div>
            <div class="2xl:flex mb-18 items-center">
              <div class="flex mb-4 2xl:mb-0 2xl:mr-12 items-center">
                <svg width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle opacity="0.1" cx="14" cy="14" r="14" fill="#95A8FF"></circle>
                  <path d="M18.9173 11.914L18.1189 11.086C18.0927 11.0587 18.0616 11.0371 18.0274 11.0223C17.9931 11.0076 17.9564 11 17.9193 11C17.8822 11 17.8455 11.0076 17.8113 11.0223C17.777 11.0371 17.7459 11.0587 17.7197 11.086L13.6372 15.5552L11.2971 13.1275C11.2435 13.0719 11.1708 13.0407 11.0949 13.0407C11.0191 13.0407 10.9463 13.0719 10.8927 13.1275L10.0837 13.9671C10.0301 14.0227 10 14.0981 10 14.1768C10 14.2554 10.0301 14.3308 10.0837 14.3865L13.4119 17.9178C13.4426 17.949 13.48 17.9724 13.5209 17.9861C13.5619 17.9997 13.6054 18.0033 13.6479 17.9965C13.6917 18.0044 13.7367 18.0014 13.7791 17.9877C13.8216 17.974 13.8603 17.9501 13.892 17.9178L18.9173 12.3281C18.9703 12.2732 19.0001 12.1987 19.0001 12.121C19.0001 12.0434 18.9703 11.9689 18.9173 11.9139V11.914Z" fill="#95A8FF"></path>
                </svg>
                <span class="ml-4 text-gray-500 font-light">The house by the pond cras ornare</span>
              </div>
              <div class="flex items-center">
                <svg width="28" height="28" viewbox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle opacity="0.1" cx="14" cy="14" r="14" fill="#95A8FF"></circle>
                  <path d="M18.9173 11.914L18.1189 11.086C18.0927 11.0587 18.0616 11.0371 18.0274 11.0223C17.9931 11.0076 17.9564 11 17.9193 11C17.8822 11 17.8455 11.0076 17.8113 11.0223C17.777 11.0371 17.7459 11.0587 17.7197 11.086L13.6372 15.5552L11.2971 13.1275C11.2435 13.0719 11.1708 13.0407 11.0949 13.0407C11.0191 13.0407 10.9463 13.0719 10.8927 13.1275L10.0837 13.9671C10.0301 14.0227 10 14.0981 10 14.1768C10 14.2554 10.0301 14.3308 10.0837 14.3865L13.4119 17.9178C13.4426 17.949 13.48 17.9724 13.5209 17.9861C13.5619 17.9997 13.6054 18.0033 13.6479 17.9965C13.6917 18.0044 13.7367 18.0014 13.7791 17.9877C13.8216 17.974 13.8603 17.9501 13.892 17.9178L18.9173 12.3281C18.9703 12.2732 19.0001 12.1987 19.0001 12.121C19.0001 12.0434 18.9703 11.9689 18.9173 11.9139V11.914Z" fill="#95A8FF"></path>
                </svg>
                <span class="ml-4 text-gray-500 font-light">All options</span>
              </div>
            </div>
            <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Discover Now</a>
          </div>
        </div>
      </div>
      <img class="block md:hidden w-full pl-12" src="https://shuffle.dev/wrexa-assets/images/placeholder-apps.png" alt="">
    </div>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 sm:max-w-xs z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
      <nav class="relative flex flex-col pt-12 pb-40 h-full w-full bg-gray-200 overflow-y-auto">
        <div class="px-12">
          <div>
            <a class="inline-block mb-52" href="#">
              <img src="https://shuffle.dev/wrexa-assets/logos/logo-wrexa.svg" alt="" width="auto">
            </a>
            <button type="button" aria-label="Close"></button>
          </div>
          <ul>
            <li class="mb-6">
              <a class="flex items-center justify-between" href="#">
                <span>Collection</span>
                <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 2L6 6L2 2" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
                </svg>
              </a>
            </li>
            <li class="mb-6"><a class="inline-block" href="#">Projects</a></li>
            <li class="mb-16"><a class="inline-block" href="#">About</a></li>
            <li class="mb-6"><a class="inline-block" href="#">How to Start</a></li>
            <li><a class="inline-block" href="#">Design</a></li>
          </ul>
        </div>
      </nav>
      <div class="absolute bottom-0 left-0 w-full">
        <a class="flex items-center pt-4 pb-5 pl-6 pr-4 bg-white" href="#">
          <div class="relative mr-4">
            <img class="w-12 h-12 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar2.png" alt="">
            <div class="absolute bottom-0 left-0 -ml-2 flex items-center justify-center w-6 h-6 bg-green-800 rounded-full text-white text-xs">1</div>
          </div>
          <div class="pr-5 mr-auto">
            <h4 class="text-xs text-gray-400">Account</h4>
            <span>matloay</span>
          </div>
          <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 2L6 6L2 2" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>