<section class="pb-40 bg-gray-100">
    <nav class="relative bg-gray-900 px-6 sm:px-12 py-4">
      <div class="hidden 3xl:block absolute bottom-0 left-1/2 transform -translate-x-1/2">
        <ul class="flex items-end">
          <li class="mr-5">
            <a class="inline-flex items-center pr-8 pb-5 text-sm text-white hover:text-gray-200" href="#">
              <span class="mr-4">Collection</span>
              <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10 2L6 6L2 2" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
              </svg>
            </a>
            <div class="border-b-4 border-lime-900"></div>
          </li>
          <li class="pb-6 mr-20"><a class="inline-block text-sm text-white hover:text-gray-200" href="#">Projects</a></li>
          <li class="pb-6 mr-20"><a class="inline-block text-sm text-white hover:text-gray-200" href="#">About</a></li>
          <li class="pb-6 mr-20"><a class="inline-block text-sm text-white hover:text-gray-200" href="#">How to Start</a></li>
          <li class="pb-6"><a class="inline-block text-sm text-white hover:text-gray-200" href="#">Your Design</a></li>
        </ul>
      </div>
      <div class="flex items-center 3xl:hidden">
        <a class="inline-block self-center" href="#">
          <img src="https://shuffle.dev/wrexa-assets/logos/logo-wrexa.svg" alt="" width="auto">
        </a>
        <button class="flex navbar-burger ml-auto items-center justify-center w-14 h-14 rounded-full bg-white hover:bg-gray-200">
          <svg width="20" height="9" viewbox="0 0 20 9" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="0.75" y1="1.25" x2="19.25" y2="1.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line><line x1="0.75" y1="8.25" x2="13.25" y2="8.25" stroke="black" stroke-width="1.5" stroke-linecap="round"></line></svg>
        </button>
      </div>
      <div class="hidden 3xl:flex w-full justify-between items-end">
        <div class="w-auto">
          <a class="inline-block self-center" href="#">
            <img src="https://shuffle.dev/wrexa-assets/logos/logo-wrexa.svg" alt="" width="auto">
          </a>
        </div>
        <div class="w-auto">
          <div><a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium text-white border border-white hover:border-gray-200 hover:text-gray-200 rounded" href="#">Get Started</a></div>
        </div>
      </div>
    </nav>
    <div class="pb-5 bg-gray-800 relative">
      <div class="absolute bottom-0 left-0 h-5 w-1/2 bg-white"></div>
      <div class="hidden sm:block absolute bottom-0 right-0 h-26 w-26 bg-white">
        <div class="absolute bottom-0 left-1/2 mb-8 transform translate-x-1/2">
          <div class="h-26 w-px bg-white"></div>
          <div class="h-18 w-px bg-gray-800"></div>
        </div>
      </div>
      <div class="sm:mr-26 relative">
        <img class="absolute top-0 left-0 w-full h-full block object-cover" src="https://shuffle.dev/wrexa-assets/images/people-havinf-fun-background-big.png" alt="">
        <div class="container px-4 mx-auto relative">
          <div class="flex flex-wrap -mx-4">
            <div class="w-full lg:w-1/2 px-4 self-end order-last lg:order-first">
              <div class="max-w-md mb-12 relative">
                <div class="absolute top-0 right-0 -mt-8 mr-8 flex items-center justify-center w-24 h-24 bg-white rounded-full">
                  <img class="block w-20 h-20 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar.png" alt="">
                  <a class="absolute bottom-0 right-0 -mr-2 -mb-2 inline-flex items-center justify-center w-12 h-12 bg-green-800 hover:bg-green-900 text-white rounded-full" href="#">
                    <svg width="10" height="11" viewbox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" width="2.4" height="10.4" rx="1" fill="white"></rect><rect x="10" y="4" width="2.4" height="9.6" rx="1" transform="rotate(90 10 4)" fill="white"></rect></svg>
                  </a>
                </div>
                <div class="py-14 px-6 sm:px-8 bg-indigo-500 bg-opacity-90 rounded-2xl">
                  <h3 class="text-2xl sm:text-3xl text-white mb-8">Hello again*</h3>
                  <form class="mb-8" action="#" method="post">
                    <div class="relative flex items-center pl-4 sm:pl-14 pt-3 pb-2 bg-white rounded-full">
                      <input class="w-32 md:w-40 block mt-2 bg-transparent outline-none" type="email" placeholder="mat@hello.dev" value="">
                      <label class="absolute top-0 left-0 ml-4 sm:ml-14 mt-3 text-xs font-normal text-gray-400" for="">Your email</label>
                      <a class="inline-flex items-center py-2 px-4 ml-auto mr-2 text-sm sm:text-lg font-medium bg-white hover:bg-gray-100 shadow rounded-full" href="#">
                        <svg class="hidden sm:block h-4 w-4 sm:w-8 sm:h-8 mr-3" width="34" height="34" viewbox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <circle cx="17" cy="17" r="15.75" fill="white" stroke="#DDDEE1" stroke-width="2.5"></circle>
                          <path d="M22.8898 14.1751L21.8252 13.1105C21.7903 13.0755 21.7488 13.0477 21.7031 13.0287C21.6575 13.0098 21.6085 13 21.5591 13C21.5096 13 21.4607 13.0098 21.415 13.0287C21.3693 13.0477 21.3279 13.0755 21.293 13.1105L15.8496 18.8567L12.7295 15.7354C12.658 15.6639 12.561 15.6238 12.4599 15.6238C12.3588 15.6238 12.2618 15.6639 12.1903 15.7354L11.1117 16.8148C11.0402 16.8863 11 16.9833 11 17.0844C11 17.1855 11.0402 17.2825 11.1117 17.354L15.5492 21.8943C15.5902 21.9345 15.6399 21.9645 15.6946 21.9821C15.7492 21.9997 15.8071 22.0043 15.8639 21.9956C15.9223 22.0057 15.9822 22.0018 16.0388 21.9842C16.0954 21.9666 16.147 21.9358 16.1893 21.8943L22.8898 14.7076C22.9604 14.637 23.0001 14.5412 23.0001 14.4413C23.0001 14.3415 22.9604 14.2457 22.8898 14.1751V14.1751Z" fill="#D6D7DA"></path>
                        </svg>
                        <span>Accept</span>
                      </a>
                    </div>
                  </form>
                  <div class="flex flex-wrap sm:justify-center -mx-2">
                    <div class="w-auto pb-4 sm:pb-0 px-2">
                      <h5 class="text-xs font-medium text-indigo-200 mb-1">Save 10% with code</h5>
                      <span class="text-2xl font-medium text-white">OXH20</span>
                    </div>
                    <div class="h-px w-full sm:w-px sm:mx-12 sm:h-18 bg-indigo-300"></div>
                    <div class="w-auto pt-4 sm:pt-0 px-2">
                      <h5 class="text-xs font-medium text-indigo-200 mb-1">Valid through</h5>
                      <span class="text-2xl font-medium text-white">5 Feb</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-1/2 px-4">
              <div class="max-w-xl py-24 md:pt-52 lg:pb-72">
                <h1 class="font-heading text-5xl sm:text-6xl xl:text-7xl text-white mb-16">Find your editor and create your home.</h1>
                <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Discover Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 sm:max-w-xs z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
      <nav class="relative flex flex-col pt-12 pb-40 h-full w-full bg-gray-200 overflow-y-auto">
        <div class="px-12">
          <div>
            <a class="inline-block mb-52" href="#">
              <img src="https://shuffle.dev/wrexa-assets/logos/logo-wrexa.svg" alt="" width="auto">
            </a>
            <button type="button" aria-label="Close"></button>
          </div>
          <ul>
            <li class="mb-6">
              <a class="flex items-center justify-between" href="#">
                <span>Collection</span>
                <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M10 2L6 6L2 2" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
                </svg>
              </a>
            </li>
            <li class="mb-6"><a class="inline-block" href="#">Projects</a></li>
            <li class="mb-16"><a class="inline-block" href="#">About</a></li>
            <li class="mb-6"><a class="inline-block" href="#">How to Start</a></li>
            <li><a class="inline-block" href="#">Design</a></li>
          </ul>
        </div>
      </nav>
      <div class="absolute bottom-0 left-0 w-full">
        <a class="flex items-center pt-4 pb-5 pl-6 pr-4 bg-white" href="#">
          <div class="relative mr-4">
            <img class="w-12 h-12 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar2.png" alt="">
            <div class="absolute bottom-0 left-0 -ml-2 flex items-center justify-center w-6 h-6 bg-green-800 rounded-full text-white text-xs">1</div>
          </div>
          <div class="pr-5 mr-auto">
            <h4 class="text-xs text-gray-400">Account</h4>
            <span>matloay</span>
          </div>
          <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10 2L6 6L2 2" stroke="black" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="square" stroke-linejoin="round"></path>
          </svg>
        </a>
      </div>
    </div>
  </section>