	<section class="py-20">
		<div class="container mx-auto max-w-6xl px-10">
			<div class="grid grid-cols-1 text-gray-600 md:grid-cols-2 md:gap-16">
				<div class="col-span-1">
					<lottie-player class="object-cover object-center w-full h-full" autoplay loop mode="normal" src="https://ipfs.io/ipfs/QmT8iBrdpE8fWztEsZiNCgjaVscAGzM1VwWx9M2933dwar" > </lottie-player>
				</div>

				<div class="col-span-1 m-auto">
					<div class="container mx-auto">
						<span class="font-bold uppercase text-yellow-400">CONTACT US</span>
						<br />
						<h1 class="font-bold text-3xl sm:text-3xl leading-tight mt-4">
							<span class="uppercase text-transparent bg-clip-text bg-gradient-to-br from-blue-500 to-red-300">besoeasy@pm.me</span>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</section>
