<section class="pt-24 pb-11 overflow-hidden bg-orange-50">
    <div class="container mx-auto px-4">
        <h1 class="text-center text-4xl lg:text-5xl font-bold font-heading mb-10">Oops. Page not found.</h1>
        <div class="flex justify-center mb-20"><a
                class="w-full sm:w-auto text-center h-14 inline-flex items-center justify-center py-4 px-6 rounded-full bg-orange-500 border border-orange-600 shadow text-sm font-semibold text-white hover:bg-orange-600 focus:ring focus:ring-orange-200 transition duration-200"
                href="#">Back to Home</a></div>
        <div class="flex items-center justify-center gap-4 sm:gap-8 lg:gap-16">
            <div>
                <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24 mx-auto">
                </div>
                <div class="flex justify-between mb-2">
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                </div>
                <div class="flex gap-1 lg:gap-2 mb-2">
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                </div>
                <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24 ml-auto">
                </div>
            </div>
            <div>
                <div class="flex gap-1 lg:gap-2 mb-2">
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                </div>
                <div class="flex justify-between mb-2">
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                </div>
                <div class="flex gap-1 lg:gap-2">
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                </div>
            </div>
            <div>
                <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24 mx-auto">
                </div>
                <div class="flex justify-between mb-2">
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                </div>
                <div class="flex gap-1 lg:gap-2 mb-2">
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                    <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24"></div>
                </div>
                <div class="bg-orange-100 rounded-lg sm:rounded-3xl w-6 sm:w-12 lg:w-24 h-6 sm:h-12 lg:h-24 ml-auto">
                </div>
            </div>
        </div>
    </div>
</section>