<section class="py-24 lg:py-56 bg-orange-50">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
            <div class="w-full lg:w-2/3 p-4">
                <div
                    class="border border-orange-200 rounded-5xl py-24 px-6 lg:px-12 h-full flex flex-col justify-center">
                    <h1 class="text-orange-100 text-center text-8xl sm:text-9xl lg:text-10xl font-bold font-heading">404
                    </h1>
                </div>
            </div>
            <div class="w-full lg:w-1/3 p-4">
                <div class="rounded-5xl bg-white px-10 py-18">
                    <p class="text-2xl font-bold font-heading mb-4">Sorry, that page could not be found.</p>
                    <p class="text-gray-500 mb-10">The page you are looking for was moved, removed, renamed or might
                        have never existed!</p>
                    <div class="flex flex-wrap items-center gap-6"><a
                            class="inline-block text-orange-500 text-sm font-semibold hover:text-orange-600 transition duration-200"
                            href="#">Back to Home</a><a
                            class="inline-block text-orange-500 text-sm font-semibold hover:text-orange-600 transition duration-200"
                            href="#">Support</a></div>
                </div>
            </div>
        </div>
    </div>
</section>