<section class="overflow-hidden pt-10 lg:pb-24 bg-orange-50">
    <div class="container mx-auto px-4 relative" style="height:600px;">
        <div class="flex justify-center md:justify-between">
            <div class="hidden lg:block">
                <div class="w-80 h-80 rounded-3xl bg-orange-100 bg-opacity-40 relative z-10"></div>
                <div class="w-80 h-80 rounded-3xl relative z-10"
                    style="background: linear-gradient(180deg, rgba(255, 234, 194, 0.00) 0%, #FFEAC2 100%);"></div>
            </div>
            <div class="hidden lg:block">
                <div class="w-80 h-80 rounded-3xl bg-orange-100 bg-opacity-40 relative z-10"></div>
                <div class="w-80 h-80 rounded-3xl relative z-10"
                    style="background: linear-gradient(180deg, rgba(255, 234, 194, 0.00) 0%, #FFEAC2 100%);"></div>
            </div>
        </div>
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full">
            <div class="flex flex-col justify-center h-full py-12 px-8 relative">
                <div class="absolute top-0 left-1/2 transform -translate-x-1/2">
                    <div class="flex justify-center gap-6">
                        <div class="bg-orange-50 bg-opacity-60 w-60 h-60"></div>
                        <div class="bg-orange-50 bg-opacity-60 w-60 h-60"></div>
                    </div>
                </div>
                <h1 class="text-center text-orange-500 text-8xl sm:text-9xl font-bold font-heading mb-2">404</h1>
                <div class="relative z-20">
                    <p class="text-center text-gray-500 text-lg mb-10 max-w-lg mx-auto">The page you are looking for was
                        moved, removed, renamed or might have never existed!</p>
                    <div class="flex justify-center"><a
                            class="w-full sm:w-auto text-center h-14 inline-flex items-center justify-center py-4 px-6 rounded-full bg-orange-500 border border-orange-600 shadow text-sm font-semibold text-white hover:bg-orange-600 focus:ring focus:ring-orange-200 transition duration-200"
                            href="#">Back to Home</a></div>
                </div>
            </div>
        </div>
    </div>
</section>