<section class="relative py-20">
    <div class="container px-4 mx-auto">
      <div class="w-full lg:w-1/2 mb-12">
        <div class="lg:max-w-md">
          <div class="max-w-md mx-auto text-center py-10">
            <span class="text-sm text-gray-500 font-semibold uppercase">Sign Up</span>
            <h3 class="mb-8 text-2xl font-bold font-heading">Create new account</h3>
            <div class="flex">
              <input class="w-1/2 mr-2 py-3 pl-3 mb-4 bg-white border rounded-lg" type="text" placeholder="First Name">
              <input class="w-1/2 py-3 pl-3 mb-4 bg-white border rounded-lg" type="text" placeholder="Last Name">
            </div>
            <input class="w-full py-3 pl-3 mb-4 bg-white border rounded-lg" type="email" placeholder="E-mail address">
            <input class="w-full py-3 pl-3 mb-4 bg-white border rounded-lg" type="password" placeholder="Password">
            <label class="inline-block mb-4">
              <input class="mr-1" type="checkbox" name="terms" value="1">
              <span class="text-sm text-gray-500">By signing up, you agree to our <a class="font-bold hover:underline" href="#">Terms, Data Policy</a> and <a class="font-bold hover:underline" href="#">Cookies Policy</a>.</span>
            </label>
            <button class="block w-full mb-4 py-3 text-gray-50 font-semibold bg-gray-500 hover:bg-gray-600 rounded">Sign Up</button>
            <p class="text-sm text-gray-500">
              <span>Already have an account?</span>
              <a class="font-bold hover:underline" href="#">Sign In</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="h-96 lg:h-auto lg:absolute top-0 right-0 bottom-0 lg:w-1/2 bg-no-repeat bg-cover" style="background-image: url('mockup-assets/images/gray-500-square.png');"></div>
  </section>