<section class="relative py-20">
    <div class="container mx-auto px-4">
      <div class="mb-12 w-full lg:w-1/2">
        <div class="lg:max-w-md">
          <div class="mx-auto max-w-md py-10 text-center">
            <span class="text-sm font-semibold uppercase text-gray-500">Sign Up</span>
            <h3 class="font-heading mb-8 text-2xl font-bold">Create new account</h3>
            <div class="flex">
              <input class="mb-4 mr-2 w-1/2 rounded border bg-white py-3 pl-3" type="text" placeholder="First Name" />
              <input class="mb-4 w-1/2 rounded border bg-white py-3 pl-3" type="text" placeholder="Last Name" />
            </div>
            <input class="mb-4 w-full rounded border bg-white py-3 pl-3" type="email" placeholder="E-mail address" />
            <input class="mb-4 w-full rounded border bg-white py-3 pl-3" type="password" placeholder="Password" />
            <label class="mb-4 inline-block">
              <input class="mr-1" type="checkbox" name="terms" value="1" />
              <span class="text-sm text-gray-500">By signing up, you agree to our <a class="font-bold hover:underline" href="#">Terms, Data Policy</a> and <a class="font-bold hover:underline" href="#">Cookies Policy</a>.</span>
            </label>
            <button class="mb-4 block w-full rounded border border-indigo-500 bg-indigo-500 px-5 py-3 text-sm font-semibold text-white transition duration-200 hover:border-indigo-600 hover:bg-indigo-600">Sign Up</button>
            <p class="text-sm text-gray-500">
              <span>Already have an account?</span>
              <a class="font-bold hover:underline" href="#">Sign In</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-0 right-0 top-0 h-96 bg-cover bg-no-repeat lg:absolute lg:h-auto lg:w-1/2" style="background-image: url('plain-assets/images/indigo-600-square.png');"></div>
  </section>
  