<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="mx-auto max-w-md rounded-lg px-8 py-12 text-center">
        <span class="text-sm font-semibold uppercase text-gray-500">Sign Up</span>
        <h3 class="font-heading mb-8 text-3xl font-bold">Create new account</h3>
        <form action="#">
          <div class="flex flex-wrap md:flex-nowrap">
            <input class="mb-4 w-full rounded border bg-white py-3 pl-3 md:mr-2 md:w-1/2" type="text" placeholder="First Name" />
            <input class="mb-4 w-full rounded border bg-white py-3 pl-3 md:w-1/2" type="text" placeholder="Last Name" />
          </div>
          <input class="mb-4 w-full rounded border bg-white py-3 pl-3" type="email" placeholder="E-mail address" />
          <input class="mb-4 w-full rounded border bg-white py-3 pl-3" type="password" placeholder="Password" />
          <label class="mb-4 inline-block">
            <input class="mr-1" type="checkbox" name="terms" value="1" />
            <span class="text-sm text-gray-500">By signing up, you agree to our <a class="font-bold hover:underline" href="#">Terms, Data Policy</a> and <a class="font-bold hover:underline" href="#">Cookies Policy</a>.</span>
          </label>
          <button class="mb-4 block w-full rounded border border-indigo-500 bg-indigo-500 px-5 py-3 text-sm font-semibold text-white transition duration-200 hover:border-indigo-600 hover:bg-indigo-600">Sign Up</button>
        </form>
        <p class="text-sm text-gray-500">
          <span>Already have an account?</span>
          <a class="font-bold hover:underline" href="#">Sign In</a>
        </p>
      </div>
    </div>
  </section>
  