<section class="relative">
    <div class="absolute top-0 left-0 w-full sm:py-12 md:py-24">
      <div class="max-w-lg pt-6 pb-8 px-8 mx-auto bg-blueGray-900">
        <div class="flex mb-10 items-center justify-between">
          <h6 class="font-bold text-xl text-white mb-0">Shopping Cart</h6>
          <button class="inline-block text-gray-400 hover:text-gray-200">
            <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 11L11 1M1 1L11 11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <div class="flex flex-wrap -mx-2 pb-6 border-b border-blueGray-800">
          <div class="w-1/4 px-2">
            <img class="block h-full" src="https://shuffle.dev/vendia-assets/images/cart-popup/item1.png" alt="">
          </div>
          <div class="w-2/4 px-2">
            <div class="flex flex-col h-full">
              <h6 class="font-bold text-white mb-1">Zip Tote Basket</h6>
              <span class="block pb-4 mb-auto font-medium text-gray-400">White and black</span>
              <select class="w-14 text-sm pl-2 text-white bg-blueGray-900 outline-none" name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="w-1/4 px-2">
            <div class="flex flex-col items-end h-full">
              <button class="inline-block mb-auto font-medium text-sm text-gray-400 hover:text-gray-200">Remove</button>
              <span class="block mt-2 text-sm font-bold text-white">$140.00</span>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap -mx-2 py-6 border-b border-blueGray-800">
          <div class="w-1/4 px-2">
            <img class="block h-full w-full" src="https://shuffle.dev/vendia-assets/images/cart-popup/item1.png" alt="">
          </div>
          <div class="w-2/4 px-2">
            <div class="flex flex-col h-full">
              <h6 class="font-bold text-white mb-1">Zip Tote Basket</h6>
              <span class="block pb-4 mb-auto font-medium text-gray-400">White and black</span>
              <select class="w-14 text-sm pl-2 text-white bg-blueGray-900 outline-none" name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="w-1/4 px-2">
            <div class="flex flex-col items-end h-full">
              <button class="inline-block mb-auto font-medium text-sm text-gray-400 hover:text-gray-200">Remove</button>
              <span class="block mt-2 text-sm font-bold text-white">$140.00</span>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap -mx-2 pt-6 mb-10">
          <div class="w-1/4 px-2">
            <img class="block h-full w-full" src="https://shuffle.dev/vendia-assets/images/cart-popup/item1.png" alt="" style="max-width: 110px;">
          </div>
          <div class="w-2/4 px-2">
            <div class="flex flex-col h-full">
              <h6 class="font-bold text-white mb-1">Zip Tote Basket</h6>
              <span class="block pb-4 mb-auto font-medium text-gray-400">White and black</span>
              <select class="w-14 text-sm pl-2 text-white bg-blueGray-900 outline-none" name="" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <div class="w-1/4 px-2">
            <div class="flex flex-col items-end h-full">
              <button class="inline-block mb-auto font-medium text-sm text-gray-400 hover:text-gray-200">Remove</button>
              <span class="block mt-2 text-sm font-bold text-white">$140.00</span>
            </div>
          </div>
        </div>
        <div class="bg-black p-6">
          <div class="mb-5 pb-5 border-b border-blueGray-800">
            <div class="flex content-center justify-between">
              <span class="font-medium text-gray-400">Subtotal</span>
              <span class="font-bold text-gray-300">$262.00</span>
            </div>
          </div>
          <div class="mb-5 pb-5 border-b border-blueGray-800">
            <div class="flex content-center justify-between">
              <span class="font-medium text-gray-400">Shipping</span>
              <span class="font-bold text-gray-300">$5.00</span>
            </div>
          </div>
          <div class="mb-5 pb-5 border-b border-blueGray-800">
            <div class="flex content-center justify-between">
              <span class="font-medium text-gray-400">Tax</span>
              <span class="font-bold text-gray-300">$53.40</span>
            </div>
          </div>
          <div class="flex mb-6 content-center justify-between">
            <span class="font-bold text-white">Order total</span>
            <span class="text-sm font-bold text-white">$320.40</span>
          </div>
          <button class="inline-block w-full px-6 py-3 text-center font-bold text-black bg-yellow-500 hover:bg-yellow-600 transition duration-200">Continue to Payment</button>
        </div>
      </div>
    </div>
  </section>