<section class="py-20 xl:bg-contain bg-top bg-no-repeat" style="background-image: url('metis-assets/backgrounds/intersect.svg');">
  <div class="container px-4 mx-auto">
    <div class="max-w-lg mx-auto mb-12 text-center">
      <img class="mx-auto" src="metis-assets/icons/quote.svg" alt="">
      <h2 class="my-2 text-3xl md:text-4xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor</h2>
      <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
    </div>
    <div class="flex flex-wrap max-w-5xl mx-auto mb-6">
      <div class="w-full md:w-1/2 px-3 mb-6">
        <div class="p-8 bg-white shadow rounded">
          <div class="flex items-center mb-4">
            <img class="h-16 w-16 rounded-full object-cover" src="https://images.unsplash.com/photo-1556474835-b0f3ac40d4d1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
            <div class="pl-4">
              <p class="text-xl">John Bailey</p>
              <p class="text-blue-600">CEO</p>
            </div>
          </div>
          <p class="leading-loose text-blueGray-400">Donec consequat tortor risus, at auctor felis consequat. Donec quis dolor sem. Sed sollicitudin magna in hendrerit pulvinar. Vestibulum non quam velit.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <div class="p-8 bg-white shadow rounded">
          <div class="flex items-center mb-4">
            <img class="h-16 w-16 rounded-full object-cover" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
            <div class="pl-4">
              <p class="text-xl">Julie Bailey</p>
              <p class="text-blue-600">Head of Development</p>
            </div>
          </div>
          <p class="leading-loose text-blueGray-400">Donec consequat tortor risus, at auctor felis consequat. Donec quis dolor sem. Sed sollicitudin magna in hendrerit pulvinar. Vestibulum non quam velit.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <div class="p-8 bg-white shadow rounded">
          <div class="flex items-center mb-4">
            <img class="h-16 w-16 rounded-full object-cover" src="https://images.unsplash.com/photo-1584308972272-9e4e7685e80f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
            <div class="pl-4">
              <p class="text-xl">Julie Bailey</p>
              <p class="text-blue-600">Head of Operations</p>
            </div>
          </div>
          <p class="leading-loose text-blueGray-400">Donec consequat tortor risus, at auctor felis consequat. Donec quis dolor sem. Sed sollicitudin magna in hendrerit pulvinar. Vestibulum non quam velit.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <div class="p-8 bg-white shadow rounded">
          <div class="flex items-center mb-4">
            <img class="h-16 w-16 rounded-full object-cover" src="https://images.unsplash.com/photo-1556474835-b0f3ac40d4d1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
            <div class="pl-4">
              <p class="text-xl">Tom Brown</p>
              <p class="text-blue-600">Head of Development</p>
            </div>
          </div>
          <p class="leading-loose text-blueGray-400">Donec consequat tortor risus, at auctor felis consequat. Donec quis dolor sem. Sed sollicitudin magna in hendrerit pulvinar. Vestibulum non quam velit.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <div class="p-8 bg-white shadow rounded">
          <div class="flex items-center mb-4">
            <img class="h-16 w-16 rounded-full object-cover" src="https://images.unsplash.com/photo-1556474835-b0f3ac40d4d1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
            <div class="pl-4">
              <p class="text-xl">Tom Brown</p>
              <p class="text-blue-600">Head of Development</p>
            </div>
          </div>
          <p class="leading-loose text-blueGray-400">Donec consequat tortor risus, at auctor felis consequat. Donec quis dolor sem. Sed sollicitudin magna in hendrerit pulvinar. Vestibulum non quam velit.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <div class="p-8 bg-white shadow rounded">
          <div class="flex items-center mb-4">
            <img class="h-16 w-16 rounded-full object-cover" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
            <div class="pl-4">
              <p class="text-xl">Julie Bailey</p>
              <p class="text-blue-600">Head of Development</p>
            </div>
          </div>
          <p class="leading-loose text-blueGray-400">Donec consequat tortor risus, at auctor felis consequat. Donec quis dolor sem. Sed sollicitudin magna in hendrerit pulvinar. Vestibulum non quam velit.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <div class="p-8 bg-white shadow rounded">
          <div class="flex items-center mb-4">
            <img class="h-16 w-16 rounded-full object-cover" src="https://images.unsplash.com/photo-1556474835-b0f3ac40d4d1?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
            <div class="pl-4">
              <p class="text-xl">Tom Brown</p>
              <p class="text-blue-600">Head of Development</p>
            </div>
          </div>
          <p class="leading-loose text-blueGray-400">Donec consequat tortor risus, at auctor felis consequat. Donec quis dolor sem. Sed sollicitudin magna in hendrerit pulvinar. Vestibulum non quam velit.</p>
        </div>
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <div class="p-8 bg-white shadow rounded">
          <div class="flex items-center mb-4">
            <img class="h-16 w-16 rounded-full object-cover" src="https://images.unsplash.com/photo-1584308972272-9e4e7685e80f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=500&amp;q=60" alt="">
            <div class="pl-4">
              <p class="text-xl">Julie Bailey</p>
              <p class="text-blue-600">Head of Operations</p>
            </div>
          </div>
          <p class="leading-loose text-blueGray-400">Donec consequat tortor risus, at auctor felis consequat. Donec quis dolor sem. Sed sollicitudin magna in hendrerit pulvinar. Vestibulum non quam velit.</p>
        </div>
      </div>
    </div>
    <div class="text-center"><a class="inline-block py-4 px-8 text-xs text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="#">Show more Testimonials</a></div>
  </div>
</section>
