<div>
  <section class="py-10 bg-gray-100 border border-gray-100 ooverflow-hidden">
    <div class="container mx-auto px-4">
      <div class="bg-white rounded-3xl">
        <div class="py-16 px-8 md:max-w-3xl mx-auto text-center">
          <img
            class="mb-6 mx-auto rounded-full"
            src="https://shuffle.dev/zanrly-assets/images/testimonials/avatar.png"
            alt=""
          />
          <p class="mb-10 text-2xl font-bold">
            "Had some issues where my site crashed and broke, reached out to
            Fouroom to see if they could help me fix it. Even though we are 12
            hours apart in time, they were quick to reply and helpful/willing to
            do what is needed to fix the issue."
          </p>
          <h3 class="font-heading mb-2 text-2xl text-gray-900 font-black">
            Monica
          </h3>
          <p class="text-sm text-gray-500 font-bold">@monicajohnson</p>
        </div>
      </div>
    </div>
  </section>
</div>
