<div>
  <section class="py-10 bg-gray-50 overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="py-16 px-8 bg-white border border-gray-100 rounded-3xl">
        <div class="max-w-7xl mx-auto">
          <div class="max-w-lg mx-auto text-center">
            <span
              class="inline-block mb-2 text-sm text-blue-500 font-bold uppercase tracking-widest"
              >Testimonials</span
            >
            <h2
              class="font-heading mb-12 text-4xl md:text-5xl text-gray-900 font-black tracking-tight"
            >
              Our customer says
            </h2>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="w-full md:w-1/3 p-4">
              <div
                class="flex flex-col justify-between px-8 pt-12 pb-8 h-full text-center bg-gray-100 border border-gray-100 rounded-3xl"
              >
                <div class="flex-initial mb-8">
                  <img
                    class="mb-6 mx-auto rounded-full"
                    src="https://shuffle.dev/zanrly-assets/images/testimonials/avatar2.png"
                    alt=""
                  />
                  <p class="text-base text-gray-700 font-bold">
                    Had some issues where my site crashed and broke, reached out
                    to Shuffle Editor to see if they could help me fix it.
                  </p>
                </div>
                <div class="flex-initial">
                  <h3 class="font-heading text-2xl text-gray-900 font-black">
                    Monica Johnson
                  </h3>
                  <p class="text-sm text-gray-500 font-bold">@monicajonhson</p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/3 p-4">
              <div
                class="flex flex-col justify-between px-8 pt-12 pb-8 h-full text-center bg-gray-100 border border-gray-100 rounded-3xl"
              >
                <div class="flex-initial mb-8">
                  <img
                    class="mb-6 mx-auto rounded-full"
                    src="https://shuffle.dev/zanrly-assets/images/testimonials/avatar2.png"
                    alt=""
                  />
                  <p class="text-base text-gray-700 font-bold">
                    Had some issues where my site crashed and broke, reached out
                    to Shuffle Editor to see if they could help me fix it.
                  </p>
                </div>
                <div class="flex-initial">
                  <h3 class="font-heading text-2xl text-gray-900 font-black">
                    Monica Johnson
                  </h3>
                  <p class="text-sm text-gray-500 font-bold">@monicajonhson</p>
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/3 p-4">
              <div
                class="flex flex-col justify-between px-8 pt-12 pb-8 h-full text-center bg-gray-100 border border-gray-100rounded-3xl"
              >
                <div class="flex-initial mb-8">
                  <img
                    class="mb-6 mx-auto rounded-full"
                    src="https://shuffle.dev/zanrly-assets/images/testimonials/avatar2.png"
                    alt=""
                  />
                  <p class="text-base text-gray-700 font-bold">
                    Had some issues where my site crashed and broke, reached out
                    to Shuffle Editor to see if they could help me fix it.
                  </p>
                </div>
                <div class="flex-initial">
                  <h3 class="font-heading text-2xl text-gray-900 font-black">
                    Monica Johnson
                  </h3>
                  <p class="text-sm text-gray-500 font-bold">@monicajonhson</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
