<section class="relative overflow-x-hidden py-20">
    <div class="container mx-auto px-4">
      <div class="-mx-4 flex flex-wrap">
        <div class="my-auto w-full px-4 lg:w-1/2">
          <p class="font-heading text-2xl font-bold">Danny Bailey</p>
          <p class="mb-10 text-lg text-gray-400">CEO & Founder</p>
          <h2 class="font-heading mb-10 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
          <div class="hidden lg:block">
            <button class="mr-3 h-14 w-14 rounded-full bg-indigo-50 p-3 hover:bg-indigo-100">
              <svg class="text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
              </svg>
            </button>
            <button class="h-14 w-14 rounded-full bg-indigo-50 p-3 hover:bg-indigo-100">
              <svg class="text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="relative mb-6 flex w-full flex-wrap items-center justify-center px-4 lg:mb-0 lg:w-1/2">
          <div class="mb-12 lg:hidden">
            <button class="h-14 w-14 rounded-full bg-indigo-50 p-3 hover:bg-indigo-100">
              <svg class="text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
              </svg>
            </button>
            <button class="h-14 w-14 rounded-full bg-indigo-50 p-3 hover:bg-indigo-100">
              <svg class="text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </button>
          </div>
          <img class="lg:w-112 relative mx-auto h-96 w-full rounded-lg object-cover" src="https://shuffle.dev/plain-assets/images/indigo-600-horizontal.png" alt="" />
          <img class="-mr-112 w-112 absolute right-0 top-0 hidden h-96 rounded-lg object-cover opacity-25 lg:block" src="https://shuffle.dev/plain-assets/images/indigo-600-horizontal.png" alt="" />
        </div>
      </div>
    </div>
  </section>
  