<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="flex items-center justify-between">
        <button class="mr-5 hidden h-16 w-16 rounded-full bg-indigo-50 p-5 hover:bg-indigo-100 lg:block">
          <svg class="text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
        <div class="mx-auto max-w-2xl text-center">
          <span class="text-sm font-bold uppercase text-indigo-500">Lorem ipsum</span>
          <h2 class="font-heading mb-6 mt-2 text-3xl font-bold leading-tight md:text-4xl md:leading-tight lg:text-5xl lg:leading-tight">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
          <p class="mb-8 text-base leading-relaxed text-gray-500 lg:text-xl lg:leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque.</p>
          <img class="mx-auto mb-2 h-16 w-16 rounded-full object-cover" src="https://shuffle.dev/plain-assets/images/indigo-500-avatar.png" alt="" />
          <p class="font-heading text-2xl font-bold">Danny Bailey</p>
          <p class="text-gray-500">CEO & Founder</p>
          <div class="mt-8 lg:hidden">
            <button class="mr-5 h-14 w-14 rounded-full bg-indigo-50 p-3 hover:bg-indigo-100">
              <svg class="text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
              </svg>
            </button>
            <button class="h-14 w-14 rounded-full bg-indigo-50 p-3 hover:bg-indigo-100">
              <svg class="text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </button>
          </div>
        </div>
        <button class="hidden h-16 w-16 rounded-full bg-indigo-50 p-5 hover:bg-indigo-100 lg:block">
          <svg class="text-indigo-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </div>
  </section>
  