<section class="relative overflow-x-hidden py-20">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4 my-auto">
          <p class="text-2xl font-bold font-heading">Danny Bailey</p>
          <p class="mb-10 text-lg text-gray-500">CEO & Founder</p>
          <h2 class="mb-10 text-5xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
          <div class="flex items-center">
            <button class="hidden lg:block w-16 h-16 p-5 mr-5 rounded-full bg-gray-50 hover:bg-gray-100">
              <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
              </svg>
            </button>
            <button class="hidden lg:block w-16 h-16 p-5 rounded-full bg-gray-50 hover:bg-gray-100">
              <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="relative w-full lg:w-1/2 px-4 flex flex-wrap items-center justify-center mb-6 lg:mb-0">
          <div class="lg:hidden mb-12">
            <button class="w-14 h-14 p-3 rounded-full bg-gray-50 hover:bg-gray-100">
              <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
              </svg>
            </button>
            <button class="w-14 h-14 p-3 rounded-full bg-gray-50 hover:bg-gray-100">
              <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
              </svg>
            </button>
          </div>
          <img class="relative w-full lg:w-112 h-96 mx-auto object-cover rounded-lg" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="">
          <img class="hidden lg:block absolute top-0 right-0 -mr-112 w-112 h-96 opacity-25 object-cover rounded-lg" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="">
        </div>
      </div>
    </div>
  </section>