<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="mb-12 w-full px-4 lg:mb-0 lg:w-5/12">
          <img class="mx-auto rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-square.png" alt="" />
        </div>
        <div class="w-full px-4 lg:w-7/12">
          <div class="max-w-xl lg:ml-auto">
            <img class="mb-4" src="https://shuffle.dev/mockup-assets/images/quote.svg" alt="" />
            <h2 class="font-heading mb-4 text-5xl font-bold">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
            <p class="mb-9 text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
            <p class="font-heading text-2xl font-bold">Danny Bailey</p>
            <p class="text-lg text-gray-500">CEO & Founder</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  