<section class="relative pt-64 pb-40 bg-white overflow-hidden">
    <div class="absolute top-0 left-1/2">
      <div class="w-px h-16 bg-gray-900"></div>
      <div class="w-px h-24 bg-gray-200"></div>
    </div>
    <div class="container px-4 mx-auto">
      <div class="flex items-center mb-18">
        <span class="font-heading text-xl">08</span>
        <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
        <span class="font-heading text-xl">Customer review</span>
      </div>
      <div class="max-w-4xl mx-auto text-center mb-32">
        <h2 class="font-heading text-5xl sm:text-6xl">Don’t take our word for it. Trust our stats</h2>
      </div>
      <div class="flex justify-center mb-24">
        <div class="hidden md:block w-full md:w-auto mr-8 flex-shrink-0">
          <div class="max-w-md mx-auto px-8 pt-12 pb-20 h-full border border-gray-200 rounded">
            <div class="flex mb-10 items-center justify-between">
              <div class="flex items-center">
                <div class="flex-shrink-0 relative max-w-max mr-4">
                  <img class="w-12 h-12 rounded-full object-cover" src="https://shuffle.dev/wrexa-assets/images/avatar-women1.png" alt="">
                  <img class="absolute bottom-0 right-0 -mb-1 -mr-1" src="https://shuffle.dev/wrexa-assets/elements/miro-logo-small-icon.svg" alt="">
                </div>
                <span class="text-lg">@saidy</span>
              </div>
              <svg width="130" height="22" viewbox="0 0 130 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 8.70801H13.6583L11 0.458008L8.34166 8.70801H0L6.80168 13.548L4.19835 21.5414L11 16.5913L17.8017 21.5414L15.1983 13.548L22 8.70801Z" fill="white"></path>
                <path d="M49 8.70801H40.6583L38 0.458008L35.3417 8.70801H27L33.8017 13.548L31.1984 21.5414L38 16.5913L44.8017 21.5414L42.1983 13.548L49 8.70801Z" fill="white"></path>
                <path d="M76 8.70801H67.6583L65 0.458008L62.3417 8.70801H54L60.8017 13.548L58.1984 21.5414L65 16.5913L71.8017 21.5414L69.1983 13.548L76 8.70801Z" fill="white"></path>
                <path d="M103 8.70801H94.6583L92 0.458008L89.3417 8.70801H81L87.8017 13.548L85.1984 21.5414L92 16.5913L98.8017 21.5414L96.1983 13.548L103 8.70801Z" fill="white"></path>
                <path d="M130 8.70801H121.658L119 0.458008L116.342 8.70801H108L114.802 13.548L112.198 21.5414L119 16.5913L125.802 21.5414L123.198 13.548L130 8.70801Z" fill="white"></path>
              </svg>
            </div>
            <p class="text-xl text-gray-500 font-light">“A real nice tools and app. It comes with a few free plug-ins that will be more than enough for beginners. For more advansed users, you'll need to get a few more plug-ins for an extra cost on 3rd party websites, but Wressa makes it quite easy to set them up.”</p>
          </div>
        </div>
        <div class="hidden sm:block w-auto mr-8 flex-shrink-0">
          <div class="max-w-md mx-auto px-8 pt-12 pb-20 h-full border border-gray-200 rounded">
            <div class="flex mb-10 items-center justify-between">
              <div class="flex items-center">
                <div class="flex-shrink-0 relative max-w-max mr-4">
                  <img class="w-12 h-12 rounded-full object-cover" src="https://shuffle.dev/wrexa-assets/images/avatar-women1.png" alt="">
                  <img class="absolute bottom-0 right-0 -mb-1 -mr-1" src="https://shuffle.dev/wrexa-assets/elements/miro-logo-small-icon.svg" alt="">
                </div>
                <span class="text-lg">@saidy</span>
              </div>
              <svg width="130" height="22" viewbox="0 0 130 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 8.70801H13.6583L11 0.458008L8.34166 8.70801H0L6.80168 13.548L4.19835 21.5414L11 16.5913L17.8017 21.5414L15.1983 13.548L22 8.70801Z" fill="white"></path>
                <path d="M49 8.70801H40.6583L38 0.458008L35.3417 8.70801H27L33.8017 13.548L31.1984 21.5414L38 16.5913L44.8017 21.5414L42.1983 13.548L49 8.70801Z" fill="white"></path>
                <path d="M76 8.70801H67.6583L65 0.458008L62.3417 8.70801H54L60.8017 13.548L58.1984 21.5414L65 16.5913L71.8017 21.5414L69.1983 13.548L76 8.70801Z" fill="white"></path>
                <path d="M103 8.70801H94.6583L92 0.458008L89.3417 8.70801H81L87.8017 13.548L85.1984 21.5414L92 16.5913L98.8017 21.5414L96.1983 13.548L103 8.70801Z" fill="white"></path>
                <path d="M130 8.70801H121.658L119 0.458008L116.342 8.70801H108L114.802 13.548L112.198 21.5414L119 16.5913L125.802 21.5414L123.198 13.548L130 8.70801Z" fill="white"></path>
              </svg>
            </div>
            <p class="text-xl text-gray-500 font-light">“A real nice tools and app. It comes with a few free plug-ins that will be more than enough for beginners. For more advansed users, you'll need to get a few more plug-ins for an extra cost on 3rd party websites, but Wressa makes it quite easy to set them up.”</p>
          </div>
        </div>
        <div class="w-full md:w-auto sm:mr-8 sm:flex-shrink-0">
          <div class="sm:max-w-md mx-auto px-8 pt-12 pb-20 h-full border border-gray-200 rounded">
            <div class="sm:flex mb-10 items-center justify-between">
              <div class="flex items-center mb-5 sm:mb-0">
                <div class="flex-shrink-0 relative max-w-max mr-4">
                  <img class="w-12 h-12 rounded-full object-cover" src="https://shuffle.dev/wrexa-assets/images/avatar-women2.png" alt="">
                  <img class="absolute bottom-0 right-0 -mb-1 -mr-1" src="https://shuffle.dev/wrexa-assets/elements/miro-logo-small-icon.svg" alt="">
                </div>
                <span class="text-lg">@helen.k</span>
              </div>
              <svg width="130" height="22" viewbox="0 0 130 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 8.70801H13.6583L11 0.458008L8.34166 8.70801H0L6.80168 13.548L4.19835 21.5414L11 16.5913L17.8017 21.5414L15.1983 13.548L22 8.70801Z" fill="white"></path>
                <path d="M49 8.70801H40.6583L38 0.458008L35.3417 8.70801H27L33.8017 13.548L31.1984 21.5414L38 16.5913L44.8017 21.5414L42.1983 13.548L49 8.70801Z" fill="white"></path>
                <path d="M76 8.70801H67.6583L65 0.458008L62.3417 8.70801H54L60.8017 13.548L58.1984 21.5414L65 16.5913L71.8017 21.5414L69.1983 13.548L76 8.70801Z" fill="white"></path>
                <path d="M103 8.70801H94.6583L92 0.458008L89.3417 8.70801H81L87.8017 13.548L85.1984 21.5414L92 16.5913L98.8017 21.5414L96.1983 13.548L103 8.70801Z" fill="white"></path>
                <path d="M130 8.70801H121.658L119 0.458008L116.342 8.70801H108L114.802 13.548L112.198 21.5414L119 16.5913L125.802 21.5414L123.198 13.548L130 8.70801Z" fill="white"></path>
              </svg>
            </div>
            <p class="text-xl text-gray-500 font-light">“For more advansed users, you'll need to get a few more plug-ins for an extra cost on 3rd party websites, but Wressa makes it quite easy to set them up.”</p>
          </div>
        </div>
        <div class="hidden sm:block w-auto mr-8 flex-shrink-0">
          <div class="max-w-md mx-auto px-8 pt-12 pb-20 h-full border border-gray-200 rounded">
            <div class="flex mb-10 items-center justify-between">
              <div class="flex items-center">
                <div class="flex-shrink-0 relative max-w-max mr-4">
                  <img class="w-12 h-12 rounded-full object-cover" src="https://shuffle.dev/wrexa-assets/images/avatar-male1.png" alt="">
                  <img class="absolute bottom-0 right-0 -mb-1 -mr-1" src="https://shuffle.dev/wrexa-assets/elements/miro-logo-small-icon.svg" alt="">
                </div>
                <span class="text-lg">@poraka</span>
              </div>
              <svg width="130" height="22" viewbox="0 0 130 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 8.70801H13.6583L11 0.458008L8.34166 8.70801H0L6.80168 13.548L4.19835 21.5414L11 16.5913L17.8017 21.5414L15.1983 13.548L22 8.70801Z" fill="white"></path>
                <path d="M49 8.70801H40.6583L38 0.458008L35.3417 8.70801H27L33.8017 13.548L31.1984 21.5414L38 16.5913L44.8017 21.5414L42.1983 13.548L49 8.70801Z" fill="white"></path>
                <path d="M76 8.70801H67.6583L65 0.458008L62.3417 8.70801H54L60.8017 13.548L58.1984 21.5414L65 16.5913L71.8017 21.5414L69.1983 13.548L76 8.70801Z" fill="white"></path>
                <path d="M103 8.70801H94.6583L92 0.458008L89.3417 8.70801H81L87.8017 13.548L85.1984 21.5414L92 16.5913L98.8017 21.5414L96.1983 13.548L103 8.70801Z" fill="white"></path>
                <path d="M130 8.70801H121.658L119 0.458008L116.342 8.70801H108L114.802 13.548L112.198 21.5414L119 16.5913L125.802 21.5414L123.198 13.548L130 8.70801Z" fill="white"></path>
              </svg>
            </div>
            <p class="text-xl text-gray-500 font-light">“The only reason not to give 5 stars is the fact that I had to separately claim for the offered cash back deal, rather it being automatic, and this info wasn’t stated anywhere.”</p>
          </div>
        </div>
        <div class="hidden md:block w-full md:w-auto flex-shrink-0">
          <div class="max-w-md mx-auto px-8 pt-12 pb-20 h-full border border-gray-200 rounded">
            <div class="flex mb-10 items-center justify-between">
              <div class="flex items-center">
                <div class="flex-shrink-0 relative max-w-max mr-4">
                  <img class="w-12 h-12 rounded-full object-cover" src="https://shuffle.dev/wrexa-assets/images/avatar-women1.png" alt="">
                  <img class="absolute bottom-0 right-0 -mb-1 -mr-1" src="https://shuffle.dev/wrexa-assets/elements/miro-logo-small-icon.svg" alt="">
                </div>
                <span class="text-lg">@saidy</span>
              </div>
              <svg width="130" height="22" viewbox="0 0 130 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22 8.70801H13.6583L11 0.458008L8.34166 8.70801H0L6.80168 13.548L4.19835 21.5414L11 16.5913L17.8017 21.5414L15.1983 13.548L22 8.70801Z" fill="white"></path>
                <path d="M49 8.70801H40.6583L38 0.458008L35.3417 8.70801H27L33.8017 13.548L31.1984 21.5414L38 16.5913L44.8017 21.5414L42.1983 13.548L49 8.70801Z" fill="white"></path>
                <path d="M76 8.70801H67.6583L65 0.458008L62.3417 8.70801H54L60.8017 13.548L58.1984 21.5414L65 16.5913L71.8017 21.5414L69.1983 13.548L76 8.70801Z" fill="white"></path>
                <path d="M103 8.70801H94.6583L92 0.458008L89.3417 8.70801H81L87.8017 13.548L85.1984 21.5414L92 16.5913L98.8017 21.5414L96.1983 13.548L103 8.70801Z" fill="white"></path>
                <path d="M130 8.70801H121.658L119 0.458008L116.342 8.70801H108L114.802 13.548L112.198 21.5414L119 16.5913L125.802 21.5414L123.198 13.548L130 8.70801Z" fill="white"></path>
              </svg>
            </div>
            <p class="text-xl text-gray-500 font-light">“A real nice tools and app. It comes with a few free plug-ins that will be more than enough for beginners. For more advansed users, you'll need to get a few more plug-ins for an extra cost on 3rd party websites, but Wressa makes it quite easy to set them up.”</p>
          </div>
        </div>
      </div>
      <div class="text-center"><a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">All Reviews</a></div>
    </div>
  </section>