<section class="py-24 bg-purple-900">
    <div class="container mx-auto px-4">
      <h1 class="text-white text-center text-4xl lg:text-5xl font-bold font-heading mb-6">Testimonials</h1>
      <p class="text-center text-purple-200 mb-20">See what they have to say about us</p>
      <div class="bg-orange-500 rounded-4xl overflow-hidden px-4 lg:px-10 pt-8 lg:pt-16">
        <div class="flex flex-wrap items-end transform translate-y-14 -mx-4">
          <div class="w-full lg:w-1/3 p-4">
            <div class="border border-gray-100 py-14 px-8 bg-white rounded-3xl overflow-hidden">
              <h2 class="text-2xl font-semibold mb-8">“Highly recommended”</h2>
              <div class="bg-gray-50 rounded-xs h-3 w-40 mb-3"></div>
              <div class="bg-gray-50 rounded-xs h-3 w-full lg:w-full sm:w-72 mb-3"></div>
              <div class="bg-gray-50 rounded-xs h-3 w-full lg:w-full sm:w-72 mb-3"></div>
              <div class="bg-gray-50 rounded-xs h-3 w-52"></div>
            </div>
          </div>
          <div class="w-full lg:w-1/3 p-4">
            <div class="border border-gray-100 py-14 px-8 bg-orange-50 rounded-3xl relative">
              <h2 class="text-2xl font-semibold mb-8">“Make learning fun”</h2>
              <p class="mb-16">They shipping a platform that took learning to the next level. I can invite my friend to study in specific topic together in just two-click.</p>
              <div class="flex items-center gap-4 flex-wrap">
                <div class="rounded-full bg-orange-50 overflow-hidden">
                  <img src="https://shuffle.dev/solstice-assets/images/testimonials/woman-avatar1.png" alt="">
                </div>
                <div>
                  <h2 class="font-semibold mb-1">Hanna Stanton</h2>
                  <p class="text-gray-500 text-sm">Student</p>
                </div>
              </div>
              <div class="absolute top-9 -right-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="57" height="64" viewbox="0 0 57 64" fill="none">
                  <g filter="url(#filter0_d_88_6396)">
                    <path d="M2.57223 2.30894C2.48388 1.88665 2.93594 1.55821 3.31025 1.77273L54.6047 31.1702C54.9842 31.3877 54.9212 31.9533 54.5031 32.0819L28.9159 39.9529C28.8038 39.9873 28.7074 40.0601 28.6435 40.1585L15.5764 60.2877C15.3334 60.662 14.759 60.5546 14.6676 60.1178L2.57223 2.30894Z" fill="#FF7100"></path>
                    <path d="M15.88 56.1468L5.21394 5.16893L50.6111 31.1866L28.3279 38.0413C27.7673 38.2137 27.2853 38.5777 26.966 39.0695L15.88 56.1468Z" stroke="white" stroke-width="4"></path>
                  </g>
                  <defs><filter id="filter0_d_88_6396" x="0.561035" y="0.705185" width="56.2952" height="62.8105" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB"><feflood flood-opacity="0" result="BackgroundImageFix"></feflood><fecolormatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></fecolormatrix><feoffset dy="1"></feoffset><fegaussianblur stddeviation="1"></fegaussianblur><fecolormatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.28 0"></fecolormatrix><feblend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_88_6396"></feblend><feblend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_88_6396" result="shape"></feblend></filter></defs>
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/3 p-4">
            <div class="border border-gray-100 py-14 px-8 bg-white rounded-3xl overflow-hidden">
              <h2 class="text-2xl font-semibold mb-8">“Amazing platform”</h2>
              <div class="bg-gray-50 rounded-xs h-3 w-52 mb-3"></div>
              <div class="bg-gray-50 rounded-xs h-3 w-full sm:w-72 mb-3"></div>
              <div class="bg-gray-50 rounded-xs h-3 w-full sm:w-64 mb-3"></div>
              <div class="bg-gray-50 rounded-xs h-3 w-48"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>