	<div>
		<section class="container mx-auto p-10 md:py-20 px-0 md:p-10 md:px-0">
			<section class="p-5 md:p-0 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-10 items-start ">
		

				<article class="relative shadow-2xl max-w-lg w-full transform duration-500 hover:-translate-y-2 cursor-pointer rounded-md">
					<div class="bg-no-repeat bg-center overflow-hidden mt-10 min-h-96" style="background-image: url('svgs/blob-blue.svg');">
					<lottie-player class="object-cover object-center w-full h-full" autoplay="" loop="" mode="normal" src="https://assets5.lottiefiles.com/packages/lf20_osthueqs.json" background="transparent"></lottie-player>
					</div>
					<div class="p-8 mb-10 mt-2">
						<p class="text-xl text-gray-500">01.</p>
						<h2 class="text-3xl mt-2">Project Audit</h2>
						<p class="text-xbase mt-5 text-gray-400 leading-relaxed">We are an industry leader in high-end security research. Find your bugs before hackers.</p>
					</div>
				</article>

				<article class="relative shadow-2xl max-w-lg w-full transform duration-500 hover:-translate-y-2 cursor-pointer rounded-md">
					<div class="bg-no-repeat bg-center overflow-hidden mt-10 min-h-96" style="background-image: url('svgs/blob-blue.svg');">
					<lottie-player class="object-cover object-center w-full h-full" autoplay="" loop="" mode="normal" src="https://assets5.lottiefiles.com/private_files/lf30_k985zjll.json" background="transparent"></lottie-player>
					</div>
					<div class="p-8 mb-10 mt-2">
						<p class="text-xl text-gray-500">02.</p>
						<h2 class="text-3xl mt-2">Project Optimization</h2>
						<p class="text-xbase mt-5 text-gray-400 leading-relaxed">We assist projects to make their business logic more effective & scalable based on real world conditions.</p>
					</div>
				</article>
	
				<article class="relative shadow-2xl max-w-lg w-full transform duration-500 hover:-translate-y-2 cursor-pointer rounded-md">
					<div class="bg-no-repeat bg-center overflow-hidden mt-10 min-h-96" style="background-image: url('svgs/blob-blue.svg');">
					<lottie-player class="object-cover object-center w-full h-full" autoplay="" loop="" mode="normal" src="https://assets10.lottiefiles.com/packages/lf20_vuqfegoj.json" background="transparent"></lottie-player>
					</div>
					<div class="p-8 mb-10 mt-2">
						<p class="text-xl text-gray-500">03.</p>
						<h2 class="text-3xl mt-2">Venture Capital</h2>
						<p class="text-xbase mt-5 text-gray-400 leading-relaxed">We fund early-stage software startups. Focusing on blockchain startups and web internet based companies.</p>
					</div>
				</article>
	
				<article class="relative shadow-2xl max-w-lg w-full transform duration-500 hover:-translate-y-2 cursor-pointer rounded-md">
					<div class="bg-no-repeat bg-center overflow-hidden mt-10 min-h-96" style="background-image: url('svgs/blob-blue.svg');">
					<lottie-player class="object-cover object-center w-full h-full" autoplay="" loop="" mode="normal" src="https://assets4.lottiefiles.com/packages/lf20_tpbyhgfu.json" background="transparent"></lottie-player>
					</div>
					<div class="p-8 mb-10 mt-2">
						<p class="text-xl text-gray-500">04.</p>
						<h2 class="text-3xl mt-2">Mentorship</h2>
						<p class="text-xbase mt-5 text-gray-400 leading-relaxed">We are mentoring new projects them and ensuring that they tackle every problem.</p>
					</div>
				</article>
	
				<article class="relative shadow-2xl max-w-lg w-full transform duration-500 hover:-translate-y-2 cursor-pointer rounded-md">
					<div class="bg-no-repeat bg-center overflow-hidden mt-10 min-h-96" style="background-image: url('svgs/blob-blue.svg');">
					<lottie-player class="object-cover object-center w-full h-full" autoplay="" loop="" mode="normal" src="https://assets10.lottiefiles.com/private_files/lf30_ow8fqzzg.json" background="transparent"></lottie-player>
					</div>
					<div class="p-8 mb-10 mt-2">
						<p class="text-xl text-gray-500">05.</p>
						<h2 class="text-3xl mt-2">Project Development</h2>
						<p class="text-xbase mt-5 text-gray-400 leading-relaxed">Team of expert developers, we are always building projects that solve real world problems.</p>
					</div>
				</article>
	
				<article class="relative shadow-2xl max-w-lg w-full transform duration-500 hover:-translate-y-2 cursor-pointer rounded-md">
					<div class="bg-no-repeat bg-center overflow-hidden mt-10 min-h-96" style="background-image: url('svgs/blob-blue.svg');">
					<lottie-player class="object-cover object-center w-full h-full" autoplay="" loop="" mode="normal" src="https://assets4.lottiefiles.com/packages/lf20_nc99k6bp.json" background="transparent"></lottie-player>
					</div>
					<div class="p-8 mb-10 mt-2">
						<p class="text-xl text-gray-500">06.</p>
						<h2 class="text-3xl mt-2">Project Security</h2>
						<p class="text-xbase mt-5 text-gray-400 leading-relaxed">Get a comprehensive understanding of your security landscape and be confident in your technology.</p>
					</div>
				</article>


			</section>
		</section>
	</div>
