<section class="py-10 bg-gray-50 overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="py-16 px-8 md:px-16 bg-white rounded-3xl">
        <div class="flex flex-wrap -m-8">
          <div class="w-full md:w-1/2 p-8">
            <img class="mx-auto md:ml-0 rounded-3xl" src="https://shuffle.dev/zanrly-assets/images/features/business.png" alt="">
          </div>
          <div class="w-full md:w-1/2 p-8">
            <div class="md:max-w-md">
              <span class="inline-block mb-5 text-sm text-blue-500 font-bold uppercase tracking-widest">Feature</span>
              <h2 class="font-heading mb-4 text-4xl text-gray-900 font-black tracking-tight">
                <span>Let’s track your business</span>
                <span class="text-blue-500">easily!</span>
              </h2>
              <p class="mb-16 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis volutpat velit.</p>
              <div class="flex flex-wrap -m-2">
                <div class="w-auto p-2">
                  <div class="flex flex-wrap px-3 py-2 bg-gray-100 rounded-full">
                    <div class="w-auto mr-2 pt-1">
                      <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.095 1H3.905C2.085 1 1 2.085 1 3.905V8.09C1 9.915 2.085 11 3.905 11H8.09C9.91 11 10.995 9.915 10.995 8.095V3.905C11 2.085 9.915 1 8.095 1ZM8.39 4.85L5.555 7.685C5.485 7.755 5.39 7.795 5.29 7.795C5.19 7.795 5.095 7.755 5.025 7.685L3.61 6.27C3.465 6.125 3.465 5.885 3.61 5.74C3.755 5.595 3.995 5.595 4.14 5.74L5.29 6.89L7.86 4.32C8.005 4.175 8.245 4.175 8.39 4.32C8.535 4.465 8.535 4.7 8.39 4.85Z" fill="#3B82F6"></path>
                      </svg>
                    </div>
                    <div class="flex-1">
                      <p class="text-sm text-gray-900 font-bold">Exportable code</p>
                    </div>
                  </div>
                </div>
                <div class="w-auto p-2">
                  <div class="flex flex-wrap px-3 py-2 bg-gray-100 rounded-full">
                    <div class="w-auto mr-2 pt-1">
                      <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.095 1H3.905C2.085 1 1 2.085 1 3.905V8.09C1 9.915 2.085 11 3.905 11H8.09C9.91 11 10.995 9.915 10.995 8.095V3.905C11 2.085 9.915 1 8.095 1ZM8.39 4.85L5.555 7.685C5.485 7.755 5.39 7.795 5.29 7.795C5.19 7.795 5.095 7.755 5.025 7.685L3.61 6.27C3.465 6.125 3.465 5.885 3.61 5.74C3.755 5.595 3.995 5.595 4.14 5.74L5.29 6.89L7.86 4.32C8.005 4.175 8.245 4.175 8.39 4.32C8.535 4.465 8.535 4.7 8.39 4.85Z" fill="#3B82F6"></path>
                      </svg>
                    </div>
                    <div class="flex-1">
                      <p class="text-sm text-gray-900 font-bold">Satisfied customers</p>
                    </div>
                  </div>
                </div>
                <div class="w-auto p-2">
                  <div class="flex flex-wrap px-3 py-2 bg-gray-100 rounded-full">
                    <div class="w-auto mr-2 pt-1">
                      <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.095 1H3.905C2.085 1 1 2.085 1 3.905V8.09C1 9.915 2.085 11 3.905 11H8.09C9.91 11 10.995 9.915 10.995 8.095V3.905C11 2.085 9.915 1 8.095 1ZM8.39 4.85L5.555 7.685C5.485 7.755 5.39 7.795 5.29 7.795C5.19 7.795 5.095 7.755 5.025 7.685L3.61 6.27C3.465 6.125 3.465 5.885 3.61 5.74C3.755 5.595 3.995 5.595 4.14 5.74L5.29 6.89L7.86 4.32C8.005 4.175 8.245 4.175 8.39 4.32C8.535 4.465 8.535 4.7 8.39 4.85Z" fill="#3B82F6"></path>
                      </svg>
                    </div>
                    <div class="flex-1">
                      <p class="text-sm text-gray-900 font-bold">Easy integration</p>
                    </div>
                  </div>
                </div>
                <div class="w-auto p-2">
                  <div class="flex flex-wrap px-3 py-2 bg-gray-100 rounded-full">
                    <div class="w-auto mr-2 pt-1">
                      <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.095 1H3.905C2.085 1 1 2.085 1 3.905V8.09C1 9.915 2.085 11 3.905 11H8.09C9.91 11 10.995 9.915 10.995 8.095V3.905C11 2.085 9.915 1 8.095 1ZM8.39 4.85L5.555 7.685C5.485 7.755 5.39 7.795 5.29 7.795C5.19 7.795 5.095 7.755 5.025 7.685L3.61 6.27C3.465 6.125 3.465 5.885 3.61 5.74C3.755 5.595 3.995 5.595 4.14 5.74L5.29 6.89L7.86 4.32C8.005 4.175 8.245 4.175 8.39 4.32C8.535 4.465 8.535 4.7 8.39 4.85Z" fill="#3B82F6"></path>
                      </svg>
                    </div>
                    <div class="flex-1">
                      <p class="text-sm text-gray-900 font-bold">Responsive images</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>