<section class="overflow-hidden py-24 lg:pb-36 lg:pt-28">
    <div class="container mx-auto px-4">
      <div class="mx-auto mb-20 max-w-2xl text-center">
        <span class="mb-5 inline-block rounded-full bg-gray-600 px-3 py-1.5 text-sm font-semibold uppercase tracking-tight text-white" style="background: url('basko-assets/images/gradient.png'); background-repeat: no-repeat; background-size: cover;">Try some freebie</span>
        <h2 class="font-heading text-6xl tracking-tighter">Boost your brand's visibility and reach with Basko</h2>
      </div>
      <div class="mx-auto max-w-7xl">
        <div class="-m-4 flex flex-wrap">
          <div class="w-full p-4 md:w-1/2">
            <div class="-m-4 flex flex-wrap">
              <div class="w-full p-4">
                <div class="relative rounded-lg bg-indigo-500 bg-opacity-10 p-8">
                  <h3 class="mb-4 text-2xl font-semibold" style="letter-spacing: -0.5px;">Live chat technology</h3>
                  <p class="mb-9 tracking-tight md:max-w-sm">Create an on-brand home for your product and create countle hours on design time. Use this table to compare your product.</p>
                  <img class="relative -right-4 mb-10 ml-auto" src="https://shuffle.dev/basko-assets/images/features/email.png" alt="" />
                  <a class="relative z-10 flex items-center font-semibold tracking-tight transition duration-200 hover:text-indigo-500" href="#">
                    <span class="mr-2.5">Learn more</span>
                    <div class="inline-block">
                      <svg width="23" height="24" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.95693 7.75693L15.5566 7.75693M15.5566 7.75693L15.5566 14.3566M15.5566 7.75693L7.07132 16.2422" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>
                  <img class="absolute bottom-5 right-0" src="https://shuffle.dev/basko-assets/images/features/email-light.png" alt="" />
                </div>
              </div>
              <div class="w-full p-4">
                <div class="relative overflow-hidden rounded-lg bg-gray-500 bg-opacity-10 p-8">
                  <h3 class="mb-4 text-2xl font-semibold" style="letter-spacing: -0.5px;">Receive feedbacks</h3>
                  <p class="mb-36 tracking-tight md:max-w-sm">Create an on-brand home for your product and create countle hours on design time. Use this table to compare your product.</p>
                  <a class="relative z-10 flex items-center font-semibold tracking-tight transition duration-200 hover:text-indigo-500" href="#">
                    <span class="mr-2.5">Learn more</span>
                    <div class="inline-block">
                      <svg width="23" height="24" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.95693 7.75693L15.5566 7.75693M15.5566 7.75693L15.5566 14.3566M15.5566 7.75693L7.07132 16.2422" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </div>
                  </a>
                  <img class="absolute bottom-0 right-7" src="https://shuffle.dev/basko-assets/images/features/feedback.png" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="w-full p-4 md:w-1/2">
            <div class="relative h-full overflow-hidden rounded-lg bg-green-500 bg-opacity-10 p-8">
              <h3 class="mb-4 text-2xl font-semibold" style="letter-spacing: -0.5px;">Secured payment</h3>
              <p class="mb-10 tracking-tight md:max-w-sm">Create an on-brand home for your product and countle hours on design time. Use this table to compare your product.</p>
              <a class="relative z-10 mb-4 flex items-center font-semibold tracking-tight transition duration-200 hover:text-indigo-500" href="#">
                <span class="mr-2.5">Learn more</span>
                <div class="inline-block">
                  <svg width="23" height="24" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.95693 7.75693L15.5566 7.75693M15.5566 7.75693L15.5566 14.3566M15.5566 7.75693L7.07132 16.2422" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </a>
              <div class="mx-auto max-w-max">
                <img class="mx-auto mb-3.5 transform transition duration-500 hover:-translate-y-2" src="https://shuffle.dev/basko-assets/images/features/payment-received.png" alt="" />
                <a class="flex w-full rounded-lg px-3.5 py-5 font-medium tracking-tight text-white transition duration-300 focus:ring-4 focus:ring-indigo-300" href="#" style="background: url('basko-assets/images/gradient.png'); background-repeat: no-repeat; background-size: cover;">
                  <div class="mr-3 inline-block">
                    <svg width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5085 26.5561C20.7663 26.5561 26.6499 20.6725 26.6499 13.4148C26.6499 6.15701 20.7663 0.273438 13.5085 0.273438C6.25076 0.273438 0.367188 6.15701 0.367188 13.4148C0.367188 20.6725 6.25076 26.5561 13.5085 26.5561ZM19.5981 11.291C20.2396 10.6495 20.2396 9.6094 19.5981 8.9679C18.9566 8.3264 17.9165 8.3264 17.275 8.9679L11.8659 14.377L9.74206 12.2532C9.10056 11.6117 8.06048 11.6117 7.41898 12.2532C6.77748 12.8947 6.77748 13.9348 7.41898 14.5763L10.7043 17.8616C11.3458 18.5031 12.3859 18.5031 13.0274 17.8616L19.5981 11.291Z" fill="white"></path>
                    </svg>
                  </div>
                  <span>Made $489.00 payment for Netflix</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  