<section class="py-24 lg:py-28 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -m-8">
        <div class="w-full md:w-1/3 p-8">
          <div class="max-w-xs mx-auto text-center">
            <img class="mx-auto mb-9" src="https://shuffle.dev/basko-assets/images/features/customize.png" alt="">
            <h3 class="mb-4 text-xl font-semibold tracking-tight">Customize As Needed</h3>
            <p class="mb-8 tracking-tight">We consider all the drivers of change gives you the blocks & components you need to change to create.</p>
            <a class="font-semibold text-indigo-500 hover:text-indigo-600 tracking-tight transition duration-200" href="#">Start Customizing</a>
          </div>
        </div>
        <div class="w-full md:w-1/3 p-8">
          <div class="max-w-xs mx-auto text-center">
            <img class="mx-auto mb-9" src="https://shuffle.dev/basko-assets/images/features/smart.png" alt="">
            <h3 class="mb-4 text-xl font-semibold tracking-tight">Fits Existing Brand</h3>
            <p class="mb-8 tracking-tight">We consider all the drivers of change gives you the blocks & components you need to change to create.</p>
            <a class="font-semibold text-indigo-500 hover:text-indigo-600 tracking-tight transition duration-200" href="#">Grow Brand</a>
          </div>
        </div>
        <div class="w-full md:w-1/3 p-8">
          <div class="max-w-xs mx-auto text-center">
            <img class="mx-auto mb-9" src="https://shuffle.dev/basko-assets/images/features/design.png" alt="">
            <h3 class="mb-4 text-xl font-semibold tracking-tight">Multi-layer Design</h3>
            <p class="mb-8 tracking-tight">We consider all the drivers of change gives you the blocks & components you need to change to create.</p>
            <a class="font-semibold text-indigo-500 hover:text-indigo-600 tracking-tight transition duration-200" href="#">Start Designing</a>
          </div>
        </div>
      </div>
    </div>
  </section>