<section class="py-24 lg:py-40 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -m-8">
        <div class="w-full md:w-1/2 p-8">
          <div class="max-w-max mx-auto">
            <img class="transform hover:-translate-y-2 transition duration-500" src="https://shuffle.dev/basko-assets/images/features/transaction.png" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/2 p-8">
          <div class="md:max-w-md">
            <div class="flex flex-wrap -m-6">
              <div class="w-auto p-6">
                <h3 class="mb-4 text-3xl font-semibold tracking-tighter" style="letter-spacing: -0.5px;">Secured Payments</h3>
                <p class="tracking-tight">Use and re-use tons of responsive sections to create the perfect layout. Sections are organised into convenientmcategories.</p>
              </div>
              <div class="w-auto p-6">
                <h3 class="mb-4 text-3xl font-semibold tracking-tighter" style="letter-spacing: -0.5px;">Individual Customer Profile</h3>
                <p class="tracking-tight">Use and re-use tons of responsive sections to create the perfect layout. Sections are organised into convenientmcategories.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>