<section class="pt-24">
    <div class="container mx-auto px-4">
        <div class="bg-gray-50 bg-opacity-50 rounded-t-3xl pt-10 pb-36 px-10">
            <div class="flex justify-between flex-wrap gap-8">
                <div>
                    <a href="#">
                        <img class="mb-6" src="solstice-assets/images/logos/solstice-logo-dark.svg" alt="">
                    </a>
                    <p class="text-gray-500 text-sm">&copy; 2023 Solstice. All rights reserved.</p>
                </div>
                <div class="flex flex-wrap gap-8 -mx-4">
                    <ul class="flex flex-col gap-6 p-4">
                        <li class="text-black font-medium">Platform</li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Features</a></li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">How it works</a>
                        </li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Pricing</a></li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Events</a></li>
                    </ul>
                    <ul class="flex flex-col gap-6 p-4">
                        <li class="text-black font-medium">Company</li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">About</a></li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Our Mission</a>
                        </li>
                        <li class="flex items-center flex-wrap gap-2">
                            <a class="text-gray-500 hover:text-black transition duration-200" href="#">Careers</a>
                            <div
                                class="bg-orange-500 py-1 px-2 rounded-md text-white text-xs font-bold font-heading uppercase">
                                HIRING</div>
                        </li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Contact</a></li>
                    </ul>
                    <ul class="flex flex-col gap-6 p-4">
                        <li class="text-black font-medium">Resources</li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Tutorials</a>
                        </li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Blog</a></li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Help Center</a>
                        </li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Support</a></li>
                    </ul>
                    <ul class="flex flex-col gap-6 p-4">
                        <li class="text-black font-medium">Community</li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Discord
                                Server</a></li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Slack Group</a>
                        </li>
                        <li><a class="text-gray-500 hover:text-black transition duration-200" href="#">Zoom Room</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>