<section class="py-20">
    <div class="container mx-auto px-4">
      <h2 class="mb-6 text-center text-2xl text-gray-300">Trusted by brand all over the world</h2>
      <div class="-m-4 flex flex-wrap">
        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
          <div class="rounded-lg bg-gray-50 py-12">
            <img class="mx-auto h-8" src="https://shuffle.dev/mockup-assets/logos/slack.svg" alt="" />
          </div>
        </div>
        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
          <div class="rounded-lg bg-gray-50 py-12">
            <img class="mx-auto h-8" src="https://shuffle.dev/mockup-assets/logos/dropbox.svg" alt="" />
          </div>
        </div>
        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
          <div class="rounded-lg bg-gray-50 py-12">
            <img class="mx-auto h-8 px-3" src="https://shuffle.dev/mockup-assets/logos/spotify.svg" alt="" />
          </div>
        </div>
        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
          <div class="rounded-lg bg-gray-50 py-12">
            <img class="mx-auto h-8" src="https://shuffle.dev/mockup-assets/logos/stripe.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  