<section class="py-20">
    <div class="container px-4 mx-auto">
      <h2 class="mb-6 text-center text-2xl text-gray-300">Trusted by brand all over the world</h2>
      <div class="flex flex-wrap -m-4">
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-4 lg:py-8">
            <img class="h-6 mx-auto" src="https://shuffle.dev/mockup-assets/logos/slack.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-4 lg:py-8">
            <img class="h-6 mx-auto" src="https://shuffle.dev/mockup-assets/logos/dropbox.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-4 lg:py-8">
            <img class="h-6 mx-auto" src="https://shuffle.dev/mockup-assets/logos/spotify.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-4 lg:py-8">
            <img class="h-6 mx-auto" src="https://shuffle.dev/mockup-assets/logos/amazon.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-4 lg:py-8">
            <img class="h-6 mx-auto" src="https://shuffle.dev/mockup-assets/logos/netflix.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-4 lg:py-8">
            <img class="h-6 mx-auto" src="https://shuffle.dev/mockup-assets/logos/stripe.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>