<section class="relative pt-24 bg-gray-100">
    <img class="hidden lg:block absolute bottom-0 right-0 max-w-2xl 3xl:max-w-3xl" src="https://shuffle.dev/wrexa-assets/logos/brands/brands-with-circles.svg" alt="">
    <div class="container px-4 mx-auto">
      <div class="sm:flex mb-32 sm:mb-40 lg:mb-64"><a class="inline-block w-full sm:w-auto sm:mr-24 md:mr-40 mb-2 sm:mb-0" href="#">Download application</a><a class="inline-block w-full sm:w-auto sm:mr-auto mb-2 sm:mb-0" href="#">Select plan</a><a class="inline-block w-full sm:w-auto" href="#">Start a conversation</a></div>
      <div class="2xl:ml-14 max-w-md md:max-w-lg lg:pb-52">
        <h2 class="font-heading text-4xl sm:text-5xl md:text-6xl mb-14">Cloud backup solutions for home and business</h2>
        <p class="max-w-sm text-gray-800 font-light mb-20">The house like a sense of truth that comes from within. The final game.</p>
        <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Learn More</a>
      </div>
    </div>
    <img class="lg:hidden block mx-auto mt-32" src="https://shuffle.dev/wrexa-assets/logos/brands/brands-with-circles.svg" alt="">
  </section>