<section class="py-24 lg:pt-32 lg:pb-28 bg-gray-100 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="md:max-w-xl mx-auto">
        <div class="mb-14 text-center">
          <span class="inline-block max-w-max mb-8 px-3 py-1.5 text-sm text-white uppercase tracking-tight font-semibold bg-gray-600 rounded-full" style="background: url('basko-assets/images/gradient.png'); background-repeat: no-repeat; background-size: cover;">Try some freebie</span>
          <h2 class="font-heading mb-4 text-6xl text-gray-700 tracking-tighter">Get Free Estimation</h2>
          <p class="text-xl tracking-tight">Our visual designer lets you quickly and of thei drag and drop your way to customapps for ton both desktop, mobile & also</p>
        </div>
        <form class="flex flex-wrap -m-3" action="#">
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="px-4 py-4 w-full text-gray-700 tracking-tight placeholder-gray-700 outline-none border border-gray-700 focus:border-gray-400 rounded-lg duration-200" id="contactInput5-1" type="text" placeholder="First Name">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="px-4 py-4 w-full text-gray-700 tracking-tight placeholder-gray-700 outline-none border border-gray-700 focus:border-gray-400 rounded-lg duration-200" id="contactInput5-2" type="text" placeholder="Last Name">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="px-4 py-4 w-full text-gray-700 tracking-tight placeholder-gray-700 outline-none border border-gray-700 focus:border-gray-400 rounded-lg duration-200" id="contactInput5-3" type="email" placeholder="Email Address">
            </label>
          </div>
          <div class="w-full md:w-1/2 p-3">
            <label class="block">
              <input class="px-4 py-4 w-full text-gray-700 tracking-tight placeholder-gray-700 outline-none border border-gray-700 focus:border-gray-400 rounded-lg duration-200" id="contactInput5-4" type="text" placeholder="Website URL">
            </label>
          </div>
          <div class="w-full p-3">
            <div class="relative border border-gray-700 overflow-hidden rounded-lg">
              <label class="sr-only" for="select">My field</label>
              <select class="appearance-none w-full py-4 px-4 bg-white outline-none" id="contactSelect5-1" name="select">
                <option value="">What type of service are you looking for?</option>
                <option value="1">Service 1</option>
                <option value="2">Service 2</option>
                <option value="3">Service 3</option>
              </select>
              <div class="pointer-events-none absolute right-5 top-0 bottom-0 flex items-center">
                <svg width="14" height="9" viewbox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.8346 1.5L7.0013 7.33333L1.16797 1.5" stroke="#171A1F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
            </div>
          </div>
          <div class="w-full p-3">
            <label class="block"><textarea class="block p-4 w-full placeholder-gray-700 outline-none border border-gray-700 focus:border-gray-400 rounded-lg resize-none duration-200" id="contactTextarea5-1" rows="7" placeholder="Project Brief"></textarea></label>
          </div>
          <div class="w-full p-3">
            <a class="inline-block mb-4 px-5 py-4 w-full text-white text-center font-semibold tracking-tight bg-indigo-500 hover:bg-indigo-600 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200" href="#">Try 14 Days Free Trial</a>
            <span class="text-sm text-gray-600 tracking-tight">* We never share user details with third parties, period.</span>
          </div>
        </form>
      </div>
    </div>
  </section>