<section class="overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="relative transform -translate-y-18">
        <div class="hidden md:block absolute top-0 left-0">
          <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewbox="0 0 500 500" fill="none">
            <path d="M0.5 498.311V304.054C0.5 136.406 136.406 0.5 304.054 0.5H498.311C498.967 0.5 499.5 1.03289 499.5 1.68919V136.561C499.5 137.217 498.967 137.75 498.311 137.75H342.061C290.59 137.75 239.516 163.123 201.319 201.319C163.123 239.516 137.75 290.59 137.75 342.061V498.311C137.75 498.967 137.217 499.5 136.561 499.5H1.68919C1.03249 499.5 0.5 498.967 0.5 498.311Z" fill="url(#paint0_linear_216_33149)" stroke="#F0F0F0"></path>
            <defs><lineargradient id="paint0_linear_216_33149" x1="0" y1="500" x2="500" y2="0" gradientunits="userSpaceOnUse"><stop stop-color="#F8F8F8"></lineargradient></defs>
              </svg>
            </div>
          <div class="hidden md:block absolute top-0 right-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewbox="0 0 500 500" fill="none">
              <path d="M499.5 1.68919V195.946C499.5 363.594 363.594 499.5 195.946 499.5H1.68919C1.03289 499.5 0.5 498.967 0.5 498.311V363.439C0.5 362.783 1.03289 362.25 1.68919 362.25H157.939C209.41 362.25 260.484 336.877 298.681 298.681C336.877 260.484 362.25 209.41 362.25 157.939V1.68919C362.25 1.03289 362.783 0.5 363.439 0.5H498.311C498.967 0.5 499.5 1.03289 499.5 1.68919Z" fill="url(#paint0_linear_216_33148)" stroke="#F0F0F0"></path>
              <defs><lineargradient id="paint0_linear_216_33148" x1="499.998" y1="2.85805e-05" x2="8.49831" y2="500" gradientunits="userSpaceOnUse"><stop stop-color="#F8F8F8"></lineargradient></defs>
                </svg>
              </div>
          </div>
          <div class="py-20 max-w-3xl mx-auto relative z-10">
            <h1 class="mb-4 text-center text-3xl lg:text-5xl font-bold font-heading">Contact us</h1>
            <p class="text-center text-gray-600 mb-12">Submit your info and we’ll get back to you as soon as possible.</p>
            <form action="">
              <div class="p-8 rounded-3xl border border-gray-100 bg-white max-w-xl mx-auto">
                <div class="flex flex-wrap -mx-4">
                  <div class="w-full lg:w-1/2 p-4">
                    <label class="text-sm font-medium mb-2 block" for="textInput1">First name</label>
                    <input class="w-full rounded-full p-4 outline-none border border-gray-100 shadow placeholder-gray-500 focus:ring focus:ring-orange-200 transition duration-200" id="textInput1" type="text" placeholder="First name">
                  </div>
                  <div class="w-full lg:w-1/2 p-4">
                    <label class="text-sm font-medium mb-2 block" for="textInput2">Last name</label>
                    <input class="w-full rounded-full p-4 outline-none border border-gray-100 shadow placeholder-gray-500 focus:ring focus:ring-orange-200 transition duration-200" id="textInput2" type="text" placeholder="Last name">
                  </div>
                </div>
                <label class="text-sm font-medium mb-2 block" for="textInput3">Email</label>
                <input class="w-full mb-4 rounded-full p-4 outline-none border border-gray-100 shadow placeholder-gray-500 focus:ring focus:ring-orange-200 transition duration-200" id="textInput3" type="text" placeholder="john@email.com">
                <label class="text-sm font-medium mb-2 block" for="select1">I am a... (choose from below)</label>
                <select class="w-full mb-4 rounded-full p-4 outline-none border border-gray-100 shadow focus:ring focus:ring-orange-200 transition duration-200" id="select1">
                  <option value="-">-</option>
                </select>
                <label class="text-sm font-medium mb-2 block" for="textInput4">Message</label>
                <textarea class="resize-none w-full rounded-3xl p-4 mb-2 outline-none border border-gray-100 placeholder-gray-500 focus:ring focus:ring-orange-200 transition duration-200" id="textInput4" rows="5" placeholder="Enter your message"></textarea>
                <p class="text-gray-500 text-sm mb-8">Please provide us as many details as possible.</p>
                <button class="py-4 px-6 rounded-full w-full h-14 inline-flex items-center justify-center text-center mb-8 bg-orange-500 border border-orange-600 font-bold font-heading text-white hover:bg-orange-600 focus:ring focus:ring-orange-200 transition duration-200" type="submit">Submit</button>
                <p class="text-gray-500 text-sm">
                  <span>We process your information in accordance with our</span>
                  <span></span>
                  <span class="text-orange-500 text-sm font-semibold">Privacy Policy</span>
                </p>
              </div>
            </form>
          </div>
        </div>
        </section>