<section class="overflow-hidden">
    <div class="container px-4 mx-auto pt-16 pb-20">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 p-4">
          <div class="max-w-xl mx-auto">
            <h1 class="text-3xl lg:text-5xl font-bold font-heading mb-4">Get in touch</h1>
            <p class="text-gray-600 mb-10">Submit your info and we’ll get back to you as soon as possible.</p>
            <div class="mb-10 flex items-center gap-1">
              <div class="bg-orange-200 rounded-3xl h-px w-3"></div>
              <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewbox="0 0 3 3" fill="none"><circle cx="1.5" cy="1.5" r="1.5" fill="#FFA632"></circle></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewbox="0 0 3 3" fill="none"><circle cx="1.5" cy="1.5" r="1.5" fill="#FFA632"></circle></svg>
              <svg xmlns="http://www.w3.org/2000/svg" width="3" height="3" viewbox="0 0 3 3" fill="none"><circle cx="1.5" cy="1.5" r="1.5" fill="#FFA632"></circle></svg>
              <div class="bg-orange-200 rounded-3xl h-px w-3"></div>
            </div>
            <div class="rounded-3xl border border-gray-100 py-8">
              <div class="relative">
                <div class="absolute top-0 left-0 bg-orange-500 w-1 h-8"></div>
                <div class="px-8">
                  <h2 class="text-xl font-bold font-heading mb-6">Technical Help desk</h2>
                  <a class="w-full sm:w-auto py-3 px-5 h-12 rounded-full bg-purple-900 border border-purple-700 hover:bg-purple-800 focus:ring focus:ring-purple-800 transition duration-200 inline-flex items-center justify-center gap-2" href="#">
                    <span class="text-white text-sm font-semibold">Visit FAQ Center</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
                      <path d="M5 10H15.4167M15.4167 10L10.4167 5M15.4167 10L10.4167 15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 p-4">
          <div class="relative mt-56 lg:mt-24 max-w-xl mx-auto" style="height:550px;">
            <div class="absolute -top-56 lg:-top-24 left-1/2 transform -translate-x-1/2 w-full px-6 z-10">
              <form action="">
                <div class="border border-gray-100 bg-white rounded-3xl p-6">
                  <div class="flex flex-wrap -mx-4">
                    <div class="w-full lg:w-1/2 p-4">
                      <label class="text-sm font-medium mb-2 block" for="textInput1">First name</label>
                      <input class="w-full rounded-full p-4 outline-none border border-gray-100 shadow placeholder-gray-500 focus:ring focus:ring-orange-200 transition duration-200" id="textInput1" type="text" placeholder="First name">
                    </div>
                    <div class="w-full lg:w-1/2 p-4">
                      <label class="text-sm font-medium mb-2 block" for="textInput2">Last name</label>
                      <input class="w-full rounded-full p-4 outline-none border border-gray-100 shadow placeholder-gray-500 focus:ring focus:ring-orange-200 transition duration-200" id="textInput2" type="text" placeholder="Last name">
                    </div>
                  </div>
                  <label class="text-sm font-medium mb-2 block" for="textInput3">Email</label>
                  <input class="w-full mb-4 rounded-full p-4 outline-none border border-gray-100 shadow placeholder-gray-500 focus:ring focus:ring-orange-200 transition duration-200" id="textInput3" type="text" placeholder="john@email.com">
                  <label class="text-sm font-medium mb-2 block" for="textInput4">Message</label>
                  <textarea class="resize-none w-full rounded-3xl p-4 mb-8 outline-none border border-gray-100 placeholder-gray-500 focus:ring focus:ring-orange-200 transition duration-200" id="textInput4" rows="5" placeholder="Enter your message"></textarea>
                  <button class="py-4 px-6 rounded-full w-full h-14 inline-flex items-center justify-center text-center mb-6 bg-orange-500 border border-orange-600 font-bold font-heading text-white hover:bg-orange-600 focus:ring focus:ring-orange-200 transition duration-200" type="submit">Submit</button>
                  <p class="text-gray-500 text-sm">
                    <span>We process your information in accordance with our</span>
                    <span></span>
                    <span class="text-orange-500 text-sm font-semibold">Privacy Policy</span>
                  </p>
                </div>
              </form>
            </div>
            <div class="absolute bottom-0 left-0 bg-purple-900 rounded-3xl h-full w-full"></div>
          </div>
        </div>
      </div>
    </div>
  </section>