<section class="py-24 md:pb-40 md:pt-52 relative">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-24 lg:mb-0">
          <div class="mb-14">
            <h2 class="font-heading text-5xl sm:text-7xl mb-2">Contact</h2>
            <h3 class="font-heading text-2xl sm:text-4xl mb-10">Have any question? Text me!</h3>
            <p class="mb-2 font-light">Mon - Fr 8:00 - 20:00 CET</p>
            <p class="mb-14 font-light">Hotline +44 223 448 0171</p>
            <div class="pb-20 border-b -mb-6">
              <a class="inline-flex mb-6 mr-14 items-center" href="#">
                <img class="mr-4" src="https://shuffle.dev/wrexa-assets/logos/brands/messenger.svg" alt="">
                <span class="font-light">chatshxxk</span>
              </a>
              <a class="inline-flex mb-6 items-center" href="#">
                <img class="mr-4" src="https://shuffle.dev/wrexa-assets/logos/brands/snapchat.svg" alt="">
                <span class="font-light">snapshxxk</span>
              </a>
            </div>
          </div>
          <div><a class="inline-block w-full sm:w-auto px-7 py-4 mb-4 sm:mb-0 sm:mr-5 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Send a message</a><a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium border border-gray-900 hover:text-gray-700 rounded transition duration-250" href="#">Live chat</a></div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <img class="block mx-auto" src="https://shuffle.dev/wrexa-assets/images/message-photo-writing-women.png" alt="">
        </div>
      </div>
    </div>
  </section>