<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="-mx-4 mb-16 flex flex-wrap items-center">
        <div class="w-full px-4 lg:w-2/5">
          <div class="text-left lg:max-w-xs">
            <span class="rounded bg-gray-50 px-2 py-1 text-xs font-semibold uppercase text-gray-500">Development</span>
            <h2 class="font-heading mb-4 mt-2 text-3xl font-bold">Lorem ipsum dolor sit amet consectutar</h2>
            <span class="mb-4 inline-block text-xs font-bold text-gray-500">10 jun 2020 19:40</span>
            <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          </div>
        </div>
        <div class="order-first mb-8 w-full px-4 lg:order-last lg:mb-0 lg:w-3/5">
          <div class="h-96">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="" />
          </div>
        </div>
      </div>
      <div class="-mx-4 mb-16 flex flex-wrap items-center">
        <div class="mb-8 w-full px-4 lg:mb-0 lg:w-3/5">
          <div class="h-96">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="" />
          </div>
        </div>
        <div class="w-full px-4 lg:w-2/5">
          <div class="text-left lg:ml-auto lg:max-w-xs">
            <span class="rounded bg-gray-50 px-2 py-1 text-xs font-semibold uppercase text-gray-500">Development</span>
            <h2 class="font-heading mb-4 mt-2 text-3xl font-bold">Lorem ipsum dolor sit amet consectutar</h2>
            <span class="mb-4 inline-block text-xs font-bold text-gray-500">10 jun 2020 19:40</span>
            <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          </div>
        </div>
      </div>
      <div class="-mx-4 mb-12 flex flex-wrap items-center">
        <div class="w-full px-4 lg:w-2/5">
          <div class="text-left lg:max-w-xs">
            <span class="rounded bg-gray-50 px-2 py-1 text-xs font-semibold uppercase text-gray-500">Development</span>
            <h2 class="font-heading mb-4 mt-2 text-3xl font-bold">Lorem ipsum dolor sit amet consectutar</h2>
            <span class="mb-4 inline-block text-xs font-bold text-gray-500">10 jun 2020 19:40</span>
            <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          </div>
        </div>
        <div class="order-first mb-8 w-full px-4 lg:order-last lg:mb-0 lg:w-3/5">
          <div class="h-96">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="" />
          </div>
        </div>
      </div>
      <div class="-mx-4 mb-20 flex flex-wrap items-center">
        <div class="mb-8 w-full px-4 lg:mb-0 lg:w-3/5">
          <div class="h-96">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="" />
          </div>
        </div>
        <div class="w-full px-4 lg:w-2/5">
          <div class="text-left lg:ml-auto lg:max-w-xs">
            <span class="rounded bg-gray-50 px-2 py-1 text-xs font-semibold uppercase text-gray-500">Development</span>
            <h2 class="font-heading mb-4 mt-2 text-3xl font-bold">Lorem ipsum dolor sit amet consectutar</h2>
            <span class="mb-4 inline-block text-xs font-bold text-gray-500">10 jun 2020 19:40</span>
            <p class="text-lg leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          </div>
        </div>
      </div>
      <div class="text-center"><a class="rounded bg-gray-500 px-6 py-3 font-semibold leading-loose text-gray-50 hover:bg-gray-600" href="#">View More Articles</a></div>
    </div>
  </section>
  