<section class="overflow-hidden bg-white py-24 lg:pb-32 lg:pt-28">
    <div class="container mx-auto px-4">
      <h2 class="font-heading mb-12 text-6xl tracking-tighter">New Articles</h2>
      <div class="-m-8 flex flex-wrap">
        <div class="w-full p-8 md:w-1/2">
          <div class="group cursor-pointer">
            <div class="mb-6 overflow-hidden rounded-lg">
              <img class="w-full transform rounded-lg transition duration-500 hover:scale-105" src="https://shuffle.dev/basko-assets/images/blog/article.jpg" alt="" />
            </div>
            <p class="mb-6 font-medium tracking-tight text-gray-500">
              <span class="mr-4 font-semibold text-indigo-500">Insights</span>
              <span>June 22, 2021</span>
            </p>
            <h3 class="mb-4 text-3xl font-semibold group-hover:text-gray-900 group-hover:underline" style="letter-spacing: -0.5px;">WFH One year on. Here’s what we’ve learned.</h3>
            <p class="text-xl">Use and re-use tons of responsive sections too a main create the perfect layout. Sections are firmly of organised into the perfect start.</p>
          </div>
        </div>
        <div class="w-full p-8 md:w-1/2">
          <div class="group cursor-pointer">
            <div class="mb-6 overflow-hidden rounded-lg">
              <img class="w-full transform rounded-lg transition duration-500 hover:scale-105" src="https://shuffle.dev/basko-assets/images/blog/article2.jpg" alt="" />
            </div>
            <p class="mb-6 font-medium tracking-tight text-gray-500">
              <span class="mr-4 font-semibold text-indigo-500">Insights</span>
              <span>June 22, 2021</span>
            </p>
            <h3 class="mb-4 text-3xl font-semibold group-hover:text-gray-900 group-hover:underline" style="letter-spacing: -0.5px;">WFH One year on. Here’s what we’ve learned.</h3>
            <p class="text-xl">Use and re-use tons of responsive sections too a main create the perfect layout. Sections are firmly of organised into the perfect start.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  