<section class="py-24 md:py-40 bg-gray-100">
    <div class="container px-4 mx-auto">
      <div class="flex items-center mb-24">
        <span class="font-heading text-xl">07</span>
        <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
        <span class="font-heading text-xl">Our Blog</span>
      </div>
      <div class="text-center">
        <div class="mb-12">
          <span class="inline-block px-5 py-2 mr-6 text-sm bg-white rounded-full">News</span>
          <span class="font-light text-sm text-gray-700">January 13, 2022</span>
        </div>
        <h2 class="font-heading text-4xl sm:text-5xl mb-24">Designed by experts, inspired by real life</h2>
      </div>
      <div class="flex flex-wrap -mx-4 pb-24 mb-20 border-b">
        <div class="w-full lg:w-1/2 px-4 mb-16 lg:mb-0">
          <img class="block mx-auto" src="https://shuffle.dev/wrexa-assets/images/graphic-white-background.png" alt="">
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="max-w-sm mx-auto">
            <div>
              <h4 class="text-3xl mb-5">We’re excited to reveal a brand new take on a Wrexa Set.</h4>
              <a class="inline-block relative mb-8" href="#">
                <span>The house by the pond cras ornare, some chords for a three moments, like a sense of truth.</span>
                <span class="absolute bottom-0 right-0 mb-1">
                  <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.9983 2.97487L12.8444 2.94712L12.9539 11.4487L1.76433 0.259107L0.261729 1.76171L11.4513 12.9513L2.94974 12.8418L2.97749 14.9957L15.1552 15.1525L14.9983 2.97487Z" fill="black"></path>
                  </svg>
                </span>
              </a>
              <div class="pb-8 mb-6 border-b"><a class="inline-block mr-6 text-indigo-500 hover:text-indigo-600" href="#">#interiodesign</a><a class="inline-block mr-6 text-indigo-500 hover:text-indigo-600" href="#">#design</a><a class="inline-block text-indigo-500 hover:text-indigo-600" href="#">#application</a></div>
            </div>
            <div class="flex items-center">
              <img class="w-10 h-10 mr-4 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar-male2.png" alt="">
              <span class="text-gray-400">Ethan O. Son</span>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/3 px-4 mb-16 lg:mb-0">
          <div class="max-w-sm mx-auto">
            <span class="text-sm text-gray-600">January 13, 2022</span>
            <a class="inline-block mt-6 mb-8 font-heading text-2xl" href="#">
              <span class="relative">
                <span>How to find the best tools for designing?</span>
                <span class="absolute bottom-0 right-0 -mr-8 mb-1">
                  <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.9983 2.97487L12.8444 2.94712L12.9539 11.4487L1.76433 0.259107L0.261729 1.76171L11.4513 12.9513L2.94974 12.8418L2.97749 14.9957L15.1552 15.1525L14.9983 2.97487Z" fill="black"></path>
                  </svg>
                </span>
              </span>
            </a>
            <div class="flex items-center">
              <img class="w-10 h-10 mr-4 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar.png" alt="">
              <span class="text-gray-400">Pela Gunder</span>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/3 px-4 mb-16 lg:mb-0">
          <div class="max-w-sm mx-auto">
            <span class="text-sm text-gray-600">January 13, 2022</span>
            <a class="inline-block mt-6 mb-8 font-heading text-2xl" href="#">
              <span class="relative">
                <span>Only with us you will learn the real trends</span>
                <span class="absolute bottom-0 right-0 -mr-8 mb-1">
                  <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.9983 2.97487L12.8444 2.94712L12.9539 11.4487L1.76433 0.259107L0.261729 1.76171L11.4513 12.9513L2.94974 12.8418L2.97749 14.9957L15.1552 15.1525L14.9983 2.97487Z" fill="black"></path>
                  </svg>
                </span>
              </span>
            </a>
            <div class="flex items-center">
              <img class="w-10 h-10 mr-4 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar-male2.png" alt="">
              <span class="text-gray-400">Ethan O. Son</span>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/3 px-4">
          <div class="max-w-sm mx-auto">
            <span class="text-sm text-gray-600">January 13, 2022</span>
            <a class="inline-block mt-6 mb-8 font-heading text-2xl" href="#">
              <span class="relative">
                <span>Are you decorating your kitchen? Get inspired!</span>
                <span class="absolute bottom-0 right-0 -mr-8 mb-1">
                  <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.9983 2.97487L12.8444 2.94712L12.9539 11.4487L1.76433 0.259107L0.261729 1.76171L11.4513 12.9513L2.94974 12.8418L2.97749 14.9957L15.1552 15.1525L14.9983 2.97487Z" fill="black"></path>
                  </svg>
                </span>
              </span>
            </a>
            <div class="flex items-center">
              <img class="w-10 h-10 mr-4 rounded-full" src="https://shuffle.dev/wrexa-assets/images/avatar-women1.png" alt="">
              <span class="text-gray-400">Hannah Redmond</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>