<section class="overflow-hidden bg-gray-100 py-24 lg:py-32">
    <div class="container mx-auto px-4">
      <div class="-m-4 flex flex-wrap">
        <div class="w-full p-4 md:w-1/2 lg:w-1/3">
          <div class="flex h-full flex-col justify-between md:max-w-xs">
            <div class="mb-12">
              <h2 class="font-heading mb-4 text-6xl tracking-tighter">News & Insight</h2>
              <p class="text-xl tracking-tight">Get great news and insight from our expert team.</p>
            </div>
            <a class="flex items-center font-semibold tracking-tight transition duration-200 hover:text-indigo-500" href="#">
              <span class="mr-2.5">Read All News</span>
              <div class="inline-block">
                <svg width="23" height="24" viewbox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.95693 7.75693L15.5566 7.75693M15.5566 7.75693L15.5566 14.3566M15.5566 7.75693L7.07132 16.2422" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </div>
            </a>
          </div>
        </div>
        <div class="w-full p-4 md:w-1/2 lg:w-1/3">
          <a class="group block transform rounded-lg bg-white p-6 transition duration-500 hover:-translate-y-2" href="#">
            <img class="mb-6 w-full rounded-lg" src="https://shuffle.dev/basko-assets/images/blog/workflow.jpg" alt="" />
            <h3 class="mb-6 text-3xl font-semibold tracking-tight group-hover:underline">Preparing your team for remote work</h3>
            <p class="font-medium">
              <span>Lifestyle</span>
              <span class="text-gray-400">/</span>
              <span>May 25, 2022</span>
            </p>
          </a>
        </div>
        <div class="w-full p-4 md:w-1/2 lg:w-1/3">
          <a class="group block transform rounded-lg bg-white p-6 transition duration-500 hover:-translate-y-2" href="#">
            <img class="mb-6 w-full rounded-lg" src="https://shuffle.dev/basko-assets/images/blog/news.jpg" alt="" />
            <h3 class="mb-6 text-3xl font-semibold tracking-tight group-hover:underline">Preparing your team for remote work</h3>
            <p class="font-medium">
              <span>Lifestyle</span>
              <span class="text-gray-400">/</span>
              <span>May 25, 2022</span>
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>
  