
<!-- Section 1 -->
<section class="w-full bg-white">
    <div class="max-w-3xl pb-8 mx-auto font-serif md:py-12 lg:py-16">

        <div class="pb-8 border-b md:px-8 md:pb-12 lg:pb-16 border-gray-150 dark:border-gray-750 sm:text-center">
            <a href="#_" class="block mb-10">
                <img src="https://cdn.devdojo.com/images/may2021/tailsblog-img1.jpg" class="object-cover object-center w-full md:rounded h-72">
            </a>

            <div class="w-full px-6 md:px-0">
                <h2 class="mt-4 mb-5">
                    <a href="#_" class="text-xl font-bold leading-tight tracking-tight md:text-2xl lg:text-3xl dark:text-gray-100 prata">Creating a Productive Environment</a>
                </h2>

                <p class="mt-5 mb-6 text-xs text-gray-500 md:text-sm">Written by <a href="#_" class="hover:underline">Mike Smith</a> · May 11, 2021 · 2 minute read</p>
                <p class="text-base text-gray-600 lg:text-lg">
                    <span>Have you heard the saying, "You become who we surround youroursef with." The same concepts apply with your environment. If your enironment creates good feelings and excitement, it will help you return excitement and producitity into your work.</span>
                </p>
            </div>
        </div>

        <div class="pb-8 border-b md:px-4 md:pb-12 lg:pb-16 border-gray-150 dark:border-gray-750 sm:text-center">
            <a href="#_" class="block mt-0 mb-10 md:mt-14">
                <img src="https://cdn.devdojo.com/images/may2021/tailsblog-img2.jpg" class="object-cover object-center w-full md:rounded h-72">
            </a>

            <div class="w-full px-6 md:px-0">
                <h2 class="mt-4 mb-5">
                    <a href="#_" class="text-xl font-bold leading-tight tracking-tight md:text-2xl lg:text-3xl dark:text-gray-100 prata">Learn the Skills to Master Anything</a>
                </h2>

                <p class="mt-5 mb-6 text-xs text-gray-500 md:text-sm">Written by <a href="#_" class="hover:underline">Jane Doe</a> · April 29, 2021 · 2 minute read</p>
                <p class="text-base text-gray-600 lg:text-lg">
                    <span>If you're ready to master the art of design, you're in luck. In this post we are going to highlight the quickest and fastest ways to level-up your design game. The key ingredient for success is all in the 3 P's: Practice, Passion, and Patience.</span>
                </p>
            </div>
        </div>

        <div class="md:px-4 sm:text-center">
            <a href="#_" class="block mt-0 mb-10 md:mt-14">
                <img src="https://cdn.devdojo.com/images/may2021/tailsblog-img3.jpg" class="object-cover object-center w-full md:rounded h-72">
            </a>

            <div class="w-full px-6 md:px-0">
                <h2 class="mt-4 mb-5">
                    <a href="#_" class="text-xl font-bold leading-tight tracking-tight md:text-2xl lg:text-3xl dark:text-gray-100 prata">Designing for Your Future</a>
                </h2>

                <p class="mt-5 mb-6 text-xs text-gray-500 md:text-sm">Written by <a href="#_" class="hover:underline">Carl Rogers</a> · April 29, 2021 · 2 minute read</p>
                <p class="text-base text-gray-600 lg:text-lg">
                    <span>Learning how to design can significantly impact other areas of your life. In order for a good design to form it takes time and patience. Practicing these skills will help prepare you for other aspects of your personality and your life.</span>
                </p>
            </div>
        </div>

    </div>
</section>
