<section class="overflow-hidden">
    <div class="container px-4 mx-auto">
        <h1 class="text-4xl lg:text-6xl font-bold font-heading text-center mb-6 mt-16">Blog</h1>
        <p class="text-gray-500 text-xl text-center mb-20">Discover the latest news, tips and user stories insights from
            Solstice.</p>
        <div class="pb-20 mb-20 border-b border-gray-200">
            <a href="#">
                <div
                    class="bg-white border border-transparent hover:border-orange-500 transition duration-200 rounded-2xl h-full p-3 flex flex-wrap">
                    <div class="w-full lg:w-1/2 p-4">
                        <div class="relative" style="height: 364px;">
                            <div class="absolute top-0 left-0 z-10">
                                <svg class="rounded-tl-3xl" xmlns="http://www.w3.org/2000/svg" width="155" height="154"
                                    viewbox="0 0 155 154" fill="none">
                                    <path
                                        d="M-34 79.9324V153.361C-34 153.714 -33.7141 154 -33.3615 154H17.62C17.9724 154 18.2585 153.714 18.2585 153.361V94.299C18.2585 55.5087 56.5087 17.2585 95.299 17.2585H154.361C154.714 17.2585 155 16.9724 155 16.62V-34.3615C155 -34.7139 154.714 -35 154.361 -35H80.9324C17.4572 -35 -34 16.4572 -34 79.9324Z"
                                        fill="#FF7100"></path>
                                </svg>
                            </div>
                            <div class="absolute bottom-0 right-0 z-10">
                                <svg class="rounded-br-3xl" xmlns="http://www.w3.org/2000/svg" width="154" height="158"
                                    viewbox="0 0 154 158" fill="none">
                                    <path
                                        d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z"
                                        fill="#FF7100"></path>
                                </svg>
                            </div>
                            <img class="absolute inset-0 w-full h-full object-cover rounded-3xl"
                                src="solstice-assets/images/blog/picture-large.png" alt="">
                        </div>
                    </div>
                    <div class="w-full lg:w-1/2 p-4">
                        <div class="flex flex-col justify-center items-start h-full py-8">
                            <div class="flex flex-wrap items-center gap-3 mb-6">
                                <p class="text-gray-500 text-sm">20 Jul 2023</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewbox="0 0 4 4"
                                    fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#B8B8B8"></circle>
                                </svg>
                                <div
                                    class="py-1 px-3 rounded-md border border-gray-100 text-xs font-medium text-gray-700">
                                    Education</div>
                            </div>
                            <h2 class="text-2xl lg:text-3xl font-bold font-heading mb-6 max-w-xs lg:max-w-md">How to
                                Maintain Good Wellbeing While Studying</h2>
                            <p class="text-gray-500 max-w-md">Here are some tips on how to maintain good wellbeing while
                                studying.</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <h2 class="text-4xl font-bold font-heading mb-12">Latest articles</h2>
        <div class="flex flex-wrap mb-8 pb-8 border-b border-gray-100 -mx-4">
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="#">
                    <div
                        class="bg-white border border-transparent hover:border-orange-500 transition duration-200 rounded-2xl h-full p-3">
                        <div class="relative" style="height: 240px;">
                            <div class="absolute top-0 left-0 z-10">
                                <svg class="rounded-tl-2xl" xmlns="http://www.w3.org/2000/svg" width="159" height="156"
                                    viewbox="0 0 159 156" fill="none">
                                    <path
                                        d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z"
                                        fill="#FFF2D6"></path>
                                </svg>
                            </div>
                            <div class="absolute bottom-0 right-0 z-10">
                                <svg class="rounded-br-2xl" xmlns="http://www.w3.org/2000/svg" width="150" height="158"
                                    viewbox="0 0 150 158" fill="none">
                                    <path
                                        d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z"
                                        fill="#FFF2D6"></path>
                                </svg>
                            </div>
                            <img class="absolute inset-0 w-full h-full object-cover rounded-2xl"
                                src="solstice-assets/images/blog/picture1.png" alt="">
                        </div>
                        <div class="py-6">
                            <div class="flex flex-wrap items-center gap-3 mb-3">
                                <p class="text-gray-500 text-sm">8 Jul 2023</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewbox="0 0 4 4"
                                    fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#B8B8B8"></circle>
                                </svg>
                                <div
                                    class="py-1 px-2 rounded-md border border-gray-100 text-xs font-medium text-gray-700">
                                    Tips</div>
                            </div>
                            <h2 class="text-xl font-bold font-heading mb-3 max-w-xs">Make Your Phone Your Best Study
                                Tool</h2>
                            <p class="text-gray-500 text-sm">How do we make our phone best study tool? Read on to find
                                out more.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="#">
                    <div
                        class="bg-white border border-transparent hover:border-orange-500 transition duration-200 rounded-2xl h-full p-3">
                        <div class="relative" style="height: 240px;">
                            <div class="absolute top-0 left-0 z-10">
                                <svg class="rounded-tl-2xl" xmlns="http://www.w3.org/2000/svg" width="159" height="156"
                                    viewbox="0 0 159 156" fill="none">
                                    <path
                                        d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z"
                                        fill="#530031"></path>
                                </svg>
                            </div>
                            <div class="absolute bottom-0 right-0 z-10">
                                <svg class="rounded-br-2xl" xmlns="http://www.w3.org/2000/svg" width="150" height="158"
                                    viewbox="0 0 150 158" fill="none">
                                    <path
                                        d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z"
                                        fill="#530031"></path>
                                </svg>
                            </div>
                            <img class="absolute inset-0 w-full h-full object-cover rounded-2xl"
                                src="solstice-assets/images/blog/picture2.png" alt="">
                        </div>
                        <div class="py-6">
                            <div class="flex flex-wrap items-center gap-3 mb-3">
                                <p class="text-gray-500 text-sm">17 Jul 2023</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewbox="0 0 4 4"
                                    fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#B8B8B8"></circle>
                                </svg>
                                <div
                                    class="py-1 px-2 rounded-md border border-gray-100 text-xs font-medium text-gray-700">
                                    Wellbeing</div>
                            </div>
                            <h2 class="text-xl font-bold font-heading mb-3 max-w-xs">How to Maintain Good Wellbeing
                                While Studying</h2>
                            <p class="text-gray-500 text-sm">Here are some tips on how to maintain good wellbeing while
                                studying.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="#">
                    <div
                        class="bg-white border border-transparent hover:border-orange-500 transition duration-200 rounded-2xl h-full p-3">
                        <div class="relative" style="height: 240px;">
                            <div class="absolute top-0 left-0 z-10">
                                <svg class="rounded-tl-2xl" xmlns="http://www.w3.org/2000/svg" width="159" height="156"
                                    viewbox="0 0 159 156" fill="none">
                                    <path
                                        d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z"
                                        fill="#FF7100"></path>
                                </svg>
                            </div>
                            <div class="absolute bottom-0 right-0 z-10">
                                <svg class="rounded-br-2xl" xmlns="http://www.w3.org/2000/svg" width="150" height="158"
                                    viewbox="0 0 150 158" fill="none">
                                    <path
                                        d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z"
                                        fill="#FF7100"></path>
                                </svg>
                            </div>
                            <img class="absolute inset-0 w-full h-full object-cover rounded-2xl"
                                src="solstice-assets/images/blog/picture3.png" alt="">
                        </div>
                        <div class="py-6">
                            <div class="flex flex-wrap items-center gap-3 mb-3">
                                <p class="text-gray-500 text-sm">8 Jul 2023</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewbox="0 0 4 4"
                                    fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#B8B8B8"></circle>
                                </svg>
                                <div
                                    class="py-1 px-2 rounded-md border border-gray-100 text-xs font-medium text-gray-700">
                                    Productivity</div>
                            </div>
                            <h2 class="text-xl font-bold font-heading mb-3 max-w-xs">Atomic Habits: Tiny Changes,
                                Remarkable Results</h2>
                            <p class="text-gray-500 text-sm">Are you looking for remarkable results in your
                                productivity? Then reading James Clear&rsquo;s Atomi...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="#">
                    <div
                        class="bg-white border border-transparent hover:border-orange-500 transition duration-200 rounded-2xl h-full p-3">
                        <div class="relative" style="height: 240px;">
                            <div class="absolute top-0 left-0 z-10 text-white text-opacity-20">
                                <svg class="rounded-tl-2xl" xmlns="http://www.w3.org/2000/svg" width="159" height="156"
                                    viewbox="0 0 159 156" fill="none">
                                    <path
                                        d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                            <div class="absolute bottom-0 right-0 z-10 text-white text-opacity-20">
                                <svg xmlns="http://www.w3.org/2000/svg" width="153" height="155" viewbox="0 0 153 155"
                                    fill="none">
                                    <path
                                        d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                            <div
                                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-purple-900 w-full h-full rounded-2xl">
                                <div class="flex items-center justify-center gap-4 h-full">
                                    <img src="solstice-assets/images/logos/solstice-logo-light.svg" alt="">
                                    <span class="font-medium text-white text-opacity-50">+</span>
                                    <img src="solstice-assets/images/logos/zoom-logo.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="py-6">
                            <div class="flex flex-wrap items-center gap-3 mb-3">
                                <p class="text-gray-500 text-sm">20 Jul 2023</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewbox="0 0 4 4"
                                    fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#B8B8B8"></circle>
                                </svg>
                                <div
                                    class="py-1 px-2 rounded-md border border-gray-100 text-xs font-medium text-gray-700">
                                    Integration</div>
                            </div>
                            <h2 class="text-xl font-bold font-heading mb-3 max-w-xs">Zoom Integration</h2>
                            <p class="text-gray-500 text-sm">We&rsquo;ve shipped a new Zoom integration that allows you
                                to easily host video meeting to learn or work together in Zoom</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="#">
                    <div
                        class="bg-white border border-transparent hover:border-orange-500 transition duration-200 rounded-2xl h-full p-3">
                        <div class="relative" style="height: 240px;">
                            <div class="absolute top-0 left-0 z-10 text-white text-opacity-20">
                                <svg class="rounded-tl-2xl" xmlns="http://www.w3.org/2000/svg" width="159" height="156"
                                    viewbox="0 0 159 156" fill="none">
                                    <path
                                        d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                            <div class="absolute bottom-0 right-0 z-10 text-white text-opacity-20">
                                <svg xmlns="http://www.w3.org/2000/svg" width="153" height="155" viewbox="0 0 153 155"
                                    fill="none">
                                    <path
                                        d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                            <div
                                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-black w-full h-full rounded-2xl">
                                <div class="flex items-center justify-center gap-4 h-full">
                                    <img src="solstice-assets/images/logos/solstice-logo-light.svg" alt="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16"
                                        fill="none">
                                        <g clip-path="url(#clip0_185_6392)">
                                            <path d="M12 4L4 12" stroke="#5A5A5A" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M4 4L12 12" stroke="#5A5A5A" stroke-width="1.5"
                                                stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                        <defs>
                                            <clippath id="clip0_185_6392">
                                                <rect width="16" height="16" fill="white"></rect>
                                            </clippath>
                                        </defs>
                                    </svg>
                                    <img src="solstice-assets/images/logos/udemy-logo.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="py-6">
                            <div class="flex flex-wrap items-center gap-3 mb-3">
                                <p class="text-gray-500 text-sm">17 Jul 2023</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewbox="0 0 4 4"
                                    fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#B8B8B8"></circle>
                                </svg>
                                <div
                                    class="py-1 px-2 rounded-md border border-gray-100 text-xs font-medium text-gray-700">
                                    Partnership</div>
                            </div>
                            <h2 class="text-xl font-bold font-heading mb-3 max-w-xs">Udemy Partnership</h2>
                            <p class="text-gray-500 text-sm">We partnership with Udemy for those who loves to take
                                course with friends.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/3 p-4">
                <a href="#">
                    <div
                        class="bg-white border border-transparent hover:border-orange-500 transition duration-200 rounded-2xl h-full p-3">
                        <div class="relative" style="height: 240px;">
                            <div class="absolute top-0 left-0 z-10">
                                <svg class="rounded-tl-2xl" xmlns="http://www.w3.org/2000/svg" width="159" height="156"
                                    viewbox="0 0 159 156" fill="none">
                                    <path
                                        d="M-30 81.9324V155.361C-30 155.714 -29.7141 156 -29.3615 156H21.62C21.9724 156 22.2585 155.714 22.2585 155.361V96.299C22.2585 57.5087 60.5087 19.2585 99.299 19.2585H158.361C158.714 19.2585 159 18.9724 159 18.62V-32.3615C159 -32.7139 158.714 -33 158.361 -33H84.9324C21.4572 -33 -30 18.4572 -30 81.9324Z"
                                        fill="#FFF2D6"></path>
                                </svg>
                            </div>
                            <div class="absolute bottom-0 right-0 z-10">
                                <svg class="rounded-br-2xl" xmlns="http://www.w3.org/2000/svg" width="150" height="158"
                                    viewbox="0 0 150 158" fill="none">
                                    <path
                                        d="M189 74.0676V0.638514C189 0.286054 188.714 0 188.361 0H137.38C137.028 0 136.742 0.286054 136.742 0.638514V59.701C136.742 98.4913 98.4914 136.742 59.701 136.742H0.638514C0.286054 136.742 0 137.028 0 137.38V188.361C0 188.714 0.286054 189 0.638514 189H74.0676C137.543 189 189 137.543 189 74.0676Z"
                                        fill="#FFF2D6"></path>
                                </svg>
                            </div>
                            <img class="absolute inset-0 w-full h-full object-cover rounded-2xl"
                                src="solstice-assets/images/blog/picture4.png" alt="">
                        </div>
                        <div class="py-6">
                            <div class="flex flex-wrap items-center gap-3 mb-3">
                                <p class="text-gray-500 text-sm">20 Jul 2023</p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewbox="0 0 4 4"
                                    fill="none">
                                    <circle cx="2" cy="2" r="2" fill="#B8B8B8"></circle>
                                </svg>
                                <div
                                    class="py-1 px-2 rounded-md border border-gray-100 text-xs font-medium text-gray-700">
                                    Productivity</div>
                            </div>
                            <h2 class="text-xl font-bold font-heading mb-3 max-w-xs">The Power of Collaborative Learning
                            </h2>
                            <p class="text-gray-500 text-sm">Read on to find out the power of learning together.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex items-center justify-between flex-wrap gap-4 pb-32">
            <p class="text-sm">
                <span>Page</span>
                <span></span>
                <span class="font-semibold">1</span>
                <span></span>
                <span>of</span>
                <span></span>
                <span class="font-semibold">10</span>
            </p>
            <div class="flex flex-wrap gap-3"><a
                    class="inline-block py-3 px-4 rounded-full bg-white border border-gray-200 shadow text-sm font-semibold hover:bg-gray-50 focus:ring focus:ring-orange-200 transition duration-200"
                    href="#">Prev</a><a
                    class="inline-block py-3 px-4 rounded-full bg-white border border-gray-200 shadow text-sm font-semibold hover:bg-gray-50 focus:ring focus:ring-orange-200 transition duration-200"
                    href="#">Next</a></div>
        </div>
    </div>
</section>