
<!-- Section 1 -->
<section class="relative w-full py-10 bg-black bg-opacity-95 sm:py-16">

    <div class="absolute inset-0 w-full h-full bg-blue-900 opacity-10"></div>
    <div class="max-w-6xl px-10 mx-auto">
        <div class="flex justify-between w-full pb-5">
            <div class="flex flex-col items-start sm:flex-row sm:items-center">
                <div class="px-3 py-2 text-sm font-medium text-white uppercase bg-gray-800">Trending Now</div>
                <a href="#_" class="mt-3 text-white transition duration-300 ease-out opacity-40 sm:ml-4 sm:mt-0 hover:opacity-80">Top Resources for Web Developers</a>
            </div>
            <div class="flex items-center">
                <a href="#_" class="text-white transition duration-300 ease-out opacity-40 hover:opacity-80">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                </a>
                <a href="#_" class="text-white transition duration-300 ease-out opacity-40 hover:opacity-80">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-1">
            <a class="relative flex flex-col items-start justify-end col-span-12 px-5 pb-5 overflow-hidden bg-gray-800 cursor-pointer h-96 md:col-span-6 lg:col-span-3 group">

                <img class="absolute inset-0 object-cover object-center w-full h-full transition duration-300 ease-out transform scale-100 group-hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-1.jpg">

                <span class="absolute inset-0 w-full h-full bg-gradient-to-b from-transparent to-gray-900 opacity-90"></span>
                <span class="bg-purple-500 text-white px-2 py-0.5 inline relative text-xs mb-3 uppercase">Gaming</span>
                <span class="relative mb-3 text-xl font-bold leading-tight text-white">The Gaming Revolution has Taken Over</span>
                <span class="relative flex text-xs text-white opacity-90">
                    <span class="mr-1 font-semibold">John Doe</span>·<span class="ml-1">November 16, 2021</span>
                </span>
            </a>

            <a class="relative flex flex-col items-start justify-end col-span-12 px-5 pb-5 overflow-hidden bg-gray-800 cursor-pointer h-96 md:col-span-6 lg:col-span-3 group">
                <img class="absolute inset-0 object-cover object-center w-full h-full transition duration-300 ease-out transform scale-100 group-hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-2.jpg">
                <span class="absolute inset-0 w-full h-full bg-gradient-to-b from-transparent to-gray-900 opacity-90"></span>
                <span class="bg-pink-500 text-white px-2 py-0.5 inline relative text-xs mb-3 uppercase">Lifestlye</span>
                <span class="relative mb-3 text-xl font-bold leading-tight text-white">Learn How to Create Beautiful Photos</span>
                <span class="relative flex text-xs text-white opacity-90">
                    <span class="mr-1 font-semibold">Mike Jones</span>·<span class="ml-1">November 12, 2021</span>
                </span>
            </a>

            <a class="relative flex flex-col items-start justify-end col-span-12 px-5 pb-5 overflow-hidden bg-gray-800 cursor-pointer h-96 md:col-span-6 lg:col-span-3 group">
                <img class="absolute inset-0 object-cover object-center w-full h-full transition duration-300 ease-out transform scale-100 group-hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-3.jpg">
                <span class="absolute inset-0 w-full h-full bg-gradient-to-b from-transparent to-gray-900 opacity-90"></span>
                <span class="bg-red-500 text-white px-2 py-0.5 inline relative text-xs mb-3 uppercase">Cars</span>
                <span class="relative mb-3 text-xl font-bold leading-tight text-white">The Ultimate List of the Fastest Vehicles</span>
                <span class="relative flex text-xs text-white opacity-90">
                    <span class="mr-1 font-semibold">Don Rogers</span>·<span class="ml-1">November 5, 2021</span>
                </span>
            </a>

            <a class="relative flex flex-col items-start justify-end col-span-12 px-5 pb-5 overflow-hidden bg-gray-800 cursor-pointer h-96 md:col-span-6 lg:col-span-3 group">
                <img class="absolute inset-0 object-cover object-center w-full h-full transition duration-300 ease-out transform scale-100 group-hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-4.jpg">
                <span class="absolute inset-0 w-full h-full bg-gradient-to-b from-transparent to-gray-900 opacity-90"></span>
                <span class="bg-green-500 text-white px-2 py-0.5 inline relative text-xs mb-3 uppercase">Travel</span>
                <span class="relative mb-3 text-xl font-bold leading-tight text-white">Top Destinations for your Next Vacation</span>
                <span class="relative flex text-xs text-white opacity-90">
                    <span class="mr-1 font-semibold">Fred Smith</span>·<span class="ml-1">October 29, 2021</span>
                </span>
            </a>

        </div>

        <div class="grid grid-cols-12 gap-10 mt-10">

            <div class="col-span-12 md:col-span-8">
                <div class="relative overflow-hidden border-b-2 border-purple-500">
                    <h4 class="px-3 py-1.5 bg-purple-500 text-white uppercase text-sm inline-block font-medium">Gaming</h4>
                </div>

                <div class="flex items-center py-5 border-b border-gray-900">
                    <a class="w-1/3 h-40 overflow-hidden">
                        <img class="w-full h-auto transition duration-300 ease-out transform scale-100 bg-cover hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-5.jpg">
                    </a>
                    <div class="w-2/3 pl-5">
                        <h2 class="relative mb-3 text-xl font-bold leading-tight text-white"><a href="#_">Consoles We Could Have Done Without</a></h2>
                        <p class="text-sm text-white opacity-50">It's no doubt that in an industry of so much competition, there are going to be some failures. Here are the top failed consoles.</p>
                        <span class="relative flex mt-3 text-xs text-white opacity-90">
                            <span class="mr-1 font-semibold">Bob Jenkins</span>·<span class="ml-1">October 29, 2021</span>
                        </span>
                    </div>
                </div>

                <div class="flex items-center py-5 border-b border-gray-900">
                    <a class="w-1/3 h-40 overflow-hidden">
                        <img class="w-full h-auto transition duration-300 ease-out transform scale-100 bg-cover hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-6.jpg">
                    </a>
                    <div class="w-2/3 pl-5">
                        <h2 class="relative mb-3 text-xl font-bold leading-tight text-white"><a href="#_">VR Gaming That We Love</a></h2>
                        <p class="text-sm text-white opacity-50">VR has come a long way and there are a few leaders in the industry. In this article we'll talk about those elites.</p>
                        <span class="relative flex mt-3 text-xs text-white opacity-90">
                            <span class="mr-1 font-semibold">Bob Jenkins</span>·<span class="ml-1">October 29, 2021</span>
                        </span>
                    </div>
                </div>

                <div class="flex items-center py-5 border-b border-gray-900">
                    <a class="w-1/3 h-40 overflow-hidden">
                        <img class="w-full h-auto transition duration-300 ease-out transform scale-100 bg-cover hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-7.jpg">
                    </a>
                    <div class="w-2/3 pl-5">
                        <h2 class="relative mb-3 text-xl font-bold leading-tight text-white"><a href="#_">Must-have Games for Xbox</a></h2>
                        <p class="text-sm text-white opacity-50">We've gathered up a list of the top games ever released for the Xbox. There are some amazing games that have passed throughout the years. See if your favorite are in the list.</p>
                        <span class="relative flex mt-3 text-xs text-white opacity-90">
                            <span class="mr-1 font-semibold">Bob Jenkins</span>·<span class="ml-1">October 29, 2021</span>
                        </span>
                    </div>
                </div>

                <div class="flex items-center py-5 border-b border-gray-900">
                    <a class="w-1/3 h-40 overflow-hidden">
                        <img class="w-full h-auto transition duration-300 ease-out transform scale-100 bg-cover hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-8.jpg">
                    </a>
                    <div class="w-2/3 pl-5">
                        <h2 class="relative mb-3 text-xl font-bold leading-tight text-white"><a href="#_">The Arcade Industry Making a Comeback</a></h2>
                        <p class="text-sm text-white opacity-50">The arcade industry may be making a huge comeback soon. As trends have been showing the desire for community based gaming is on the rise.</p>
                        <span class="relative flex mt-3 text-xs text-white opacity-90">
                            <span class="mr-1 font-semibold">Carl Roberts</span>·<span class="ml-1">October 29, 2021</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-span-12 md:col-span-4">
                <div class="relative overflow-hidden border-b-2 border-pink-500">
                    <h4 class="px-3 py-1.5 bg-pink-500 text-white uppercase text-sm inline-block font-medium">Lifestyle</h4>
                </div>

                <a href="#_" class="relative block w-full h-64 mt-5 overflow-hidden">
                    <div class="absolute inset-0 w-full h-full bg-gradient-to-b from-transparent to-gray-900 opacity-90"></div>
                    <img class="object-cover object-bottom w-full h-full transition duration-300 ease-out transform scale-100 hover:scale-105" src="https://cdn.devdojo.com/images/may2021/blog-img-9.jpg">
                </a>
                <h2 class="relative mt-5 mb-3 text-xl font-bold leading-tight text-white"><a href="#_">The Ultimate Travelers Guide</a></h2>
                <p class="text-sm text-white opacity-50">If you want to learn more about how you can travel in style and on a budget, we've put together this awesome guide.</p>
                <span class="relative flex mt-3 text-xs text-white opacity-90">
                    <span class="mr-1 font-semibold">Sally Jones</span>·<span class="ml-1">October 29, 2021</span>
                </span>

                <div class="flex items-center mt-7">
                    <a href="#_" class="text-white transition duration-300 ease-out opacity-40 hover:opacity-80">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                    </a>
                    <a href="#_" class="text-white transition duration-300 ease-out opacity-40 hover:opacity-80">
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </a>
                </div>
            </div>
        </div>

    </div>
</section>
