<section class="py-24 lg:py-28 bg-white overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -m-8">
        <div class="w-full md:w-1/2 p-8">
          <h2 class="max-w-md mb-7 text-3xl font-semibold" style="letter-spacing: -0.5px;">“With Basko, our performance has increased by 150%”</h2>
          <div class="flex flex-wrap -m-2">
            <div class="w-auto p-2">
              <img src="https://shuffle.dev/basko-assets/images/facts/avatar.png" alt="">
            </div>
            <div class="flex-1 p-2">
              <div>
                <h3 class="font-semibold tracking-tight">Andrew Pearson</h3>
                <span class="text-sm text-gray-600 tracking-tight">Founder, Company</span>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-8">
          <div class="flex flex-wrap justify-center -m-10">
            <div class="w-full lg:w-1/2 p-10">
              <h3 class="font-heading mb-4 text-6xl tracking-tighter">2x</h3>
              <p class="font-medium tracking-tight">A multiplier that suggests double the performance when compared to the competition.</p>
            </div>
            <div class="w-full lg:w-1/2 p-10">
              <h3 class="font-heading mb-4 text-6xl tracking-tighter">97.5%</h3>
              <p class="font-medium tracking-tight">Use a percentage number to suggest the increase in performance to expect.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>