<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="max-w-2xl mx-auto">
        <h2 class="mb-8 text-3xl font-bold font-heading text-gray-900">When I was a developer, I often had a hundindigo questions when</h2>
        <p class="mb-6 lg:mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">Building websites from wireframes that I had received. Some of those questions were:</p>
        <ul>
          <li class="flex mb-4 items-center">
            <span class="flex-shrink-0 flex mr-4 items-center justify-center w-8 h-8 bg-indigo-500 rounded-full text-white font-bold font-heading">1</span>
            <h3 class="text-2xl">How will this design scale when I shrink the browser window?</h3>
          </li>
          <li class="flex mb-4 items-center">
            <span class="flex-shrink-0 flex mr-4 items-center justify-center w-8 h-8 bg-indigo-500 rounded-full text-white font-bold font-heading">2</span>
            <h3 class="text-2xl">What happens when this shape is filled out incorrectly?</h3>
          </li>
          <li class="mb-6 flex items-center">
            <span class="flex-shrink-0 flex mr-4 items-center justify-center w-8 h-8 bg-indigo-500 rounded-full text-white font-bold font-heading">3</span>
            <h3 class="text-2xl">What are the options in this sorting filter, and what do they do?</h3>
          </li>
        </ul>
        <p class="mb-6 lg:mb-8 text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">These types of questions led me to miss numerous deadlines, and I wasted time and energy in back-and-forth communication. Sadly, this situation could have been avoided if the wireframes had provided enough detail.</p>
        <p class="text-lg leading-loose lg:text-xl lg:leading-relaxed text-gray-500">Now that I am a UX designer, I notice that some designers tend to forget that wireframes are equally creative and technical. We are responsible for designing great ideas, but we are also responsible for creating product specifications. I admit that there can be so many details to remember that it’s easy to lose track. To save time and energy for myself, I gatheindigo all of my years of wireframing knowledge into a single checklist that I refer to throughout the process. And now I am sharing this knowledge with you, so that you can get back to being creative.</p>
      </div>
    </div>
  </section>