<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="max-w-3xl mx-auto mb-24 text-center">
        <span class="text-sm text-gray-200 uppercase">Lorem Ipsum</span>
        <h2 class="mt-2 mb-4 text-4xl lg:text-5xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        <p class="text-lg text-gray-500 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <div class="flex items-center justify-around">
        <button class="hidden md:block w-16 h-16 p-5 rounded-full bg-gray-50 hover:bg-gray-100">
          <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
        <div class="relative">
          <div class="max-w-2xl mx-auto py-16 px-12 mb-6 lg:mb-12 bg-gray-50 rounded-lg text-center">
            <div class="absolute inset-0 -mt-10">
              <img class="w-20 h-20 mx-auto rounded-full mb-6" src="https://shuffle.dev/mockup-assets/images/gray-300-avatar.png" alt="">
            </div>
            <h3 class="text-2xl font-bold font-heading">Danny Bailey</h3>
            <p class="mb-4 text-gray-500 text-lg">CEO & Founder</p>
            <p class="text-gray-500 text-lg leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          </div>
        </div>
        <button class="hidden md:block w-16 h-16 p-5 rounded-full bg-gray-50 hover:bg-gray-100">
          <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
      <div class="hidden md:block w-full text-center">
        <button class="w-3 h-3 mr-2 rounded-full border border-gray-500 bg-gray-500"></button>
        <button class="w-3 h-3 mr-2 rounded-full border border-gray-500"></button>
        <button class="w-3 h-3 mr-2 rounded-full border border-gray-500"></button>
        <button class="w-3 h-3 rounded-full border border-gray-500"></button>
      </div>
      <div class="md:hidden w-full text-center">
        <button class="w-12 h-12 p-2 rounded-full bg-gray-50">
          <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
        </button>
        <button class="w-12 h-12 p-2 rounded-full bg-gray-50">
          <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
        </button>
      </div>
    </div>
  </section>