<section class="py-24 md:pb-40 md:pt-52 bg-gray-900 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4 mb-32">
        <div class="w-full 3xl:w-1/2 px-4 mb-16 3xl:mb-0">
          <h2 class="max-w-3xl font-heading text-4xl sm:text-6xl xl:text-7xl text-white">Enthralling global photography</h2>
        </div>
        <div class="w-full 3xl:w-1/2 px-4 3xl:text-right">
          <p class="text-white mb-4">The house like a sense of truth that comes from within.</p>
          <select class="pl-4 pr-2 py-1 bg-transparent border border-gray-500 rounded text-gray-500" name="" id="">
            <option value="" selected="">2022</option>
            <option value="">2021</option>
            <option value="">2020</option>
          </select>
        </div>
      </div>
    </div>
    <div>
      <div class="container px-4 mx-auto">
        <div>
          <div class="flex justify-start items-start mb-32">
            <div class="w-full md:flex-shrink-0 max-w-md md:mr-20">
              <a class="block text-white hover:text-gray-200" href="#">
                <img class="block w-full h-64 object-cover mb-6" src="https://shuffle.dev/wrexa-assets/images/phone-on-table.png" alt="">
                <div class="flex items-center">
                  <span class="font-heading text-xl">01</span>
                  <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
                  <span class="font-heading text-xl">New Workspace</span>
                </div>
              </a>
            </div>
            <div class="hidden md:block flex-shrink-0 w-full max-w-xl mr-20">
              <a class="block text-white hover:text-gray-200" href="#">
                <img class="block w-full h-96 object-cover mb-6" src="https://shuffle.dev/wrexa-assets/images/first-room.png" alt="">
                <div class="flex items-center">
                  <span class="font-heading text-xl">02</span>
                  <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
                  <span class="font-heading text-xl">The Light Office</span>
                </div>
              </a>
            </div>
            <div class="hidden md:block flex-shrink-0 w-full max-w-xl">
              <a class="block text-white hover:text-gray-200" href="#">
                <img class="block w-full h-96 object-cover mb-6" src="https://shuffle.dev/wrexa-assets/images/gallery3.png" alt="">
                <div class="flex items-center">
                  <span class="font-heading text-xl">03</span>
                  <div class="mx-4 rounded-full bg-gray-200 h-1 w-1"></div>
                  <span class="font-heading text-xl">A Little Home in Austria</span>
                </div>
              </a>
            </div>
          </div>
          <a class="inline-block w-full sm:w-auto px-7 py-4 text-center font-medium bg-indigo-500 hover:bg-indigo-600 text-white rounded transition duration-250" href="#">Create Account</a>
        </div>
      </div>
    </div>
  </section>