<section class="pb-24">
    <div class="pt-24 sm:pt-40 pb-10 mb-40 bg-gray-900">
      <div class="container px-4 mx-auto">
        <div class="flex flex-wrap items-end justify-center">
          <div class="w-1/3 xl:w-1/5">
            <img class="block w-full h-64 xl:h-80 object-cover" src="https://shuffle.dev/wrexa-assets/images/placeholder-gallery1.png" alt="">
          </div>
          <div class="w-1/3 xl:w-1/5 xl:-mb-24">
            <img class="block w-full h-64 xl:h-80 object-cover" src="https://shuffle.dev/wrexa-assets/images/placeholder-gallery2.png" alt="">
          </div>
          <div class="w-1/3 xl:w-1/5">
            <img class="block w-full h-64 xl:h-80 object-cover" src="https://shuffle.dev/wrexa-assets/images/placeholder-gallery3.png" alt="">
          </div>
          <div class="w-1/3 xl:w-1/5 -mb-24">
            <img class="block w-full h-64 xl:h-80 object-cover" src="https://shuffle.dev/wrexa-assets/images/placeholder-gallery4.png" alt="">
          </div>
          <div class="w-1/3 xl:w-1/5 -mb-24 xl:-mb-0">
            <img class="block w-full h-64 xl:h-80 object-cover" src="https://shuffle.dev/wrexa-assets/images/placeholder-gallery5.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container px-4 mx-auto text-center">
      <a class="relative inline-flex items-center justify-center w-32 h-32 text-gray-800 hover:text-gray-700" href="#">
        <img class="absolute top-0 left-0 h-full w-full object-contain" src="https://shuffle.dev/wrexa-assets/elements/circle-border-light.svg" alt="">
        <svg width="12" height="32" viewbox="0 0 12 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.3109 -2.9239e-07L5.3109 29.4165L0.974389 25.1693L-1.88224e-07 26.1236L6 32L12 26.1236L11.0256 25.1693L6.6891 29.4165L6.6891 -2.32147e-07L5.3109 -2.9239e-07Z" fill="currentColor"></path>
        </svg>
      </a>
    </div>
  </section>