<section class="py-20 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-end -mx-4 mb-6">
        <div class="w-full lg:w-3/5 px-4 mb-6 lg:mb-0">
          <span class="text-sm uppercase text-gray-200">Lorem Ipsum</span>
          <h2 class="text-4xl lg:text-5xl font-bold font-heading">Lorem ispum dolor sit amet consectutar</h2>
        </div>
        <div class="w-full lg:w-2/5 px-4 flex lg:justify-end">
          <button class="mr-4 w-16 h-16 p-5 rounded-full bg-gray-50">
            <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
            </svg>
          </button>
          <button class="w-16 h-16 p-5 rounded-full bg-gray-50">
            <svg class="text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="relative">
        <div>
          <img class="mb-6 w-full h-112 object-cover rounded-lg" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="">
          <div>
            <h3 class="mb-4 text-2xl font-bold font-heading">Neque porro quisquam est</h3>
            <p class="text-lg text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum, erat augue imperdiet neque, quis rutrum odio sem vitae velit. Donec sodales nibh eu risus laoreet molestie.</p>
          </div>
        </div>
        <div class="absolute top-0 left-0 -left-1/2 w-1/2 pr-8">
          <img class="w-full h-112 object-cover rounded-lg" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="">
        </div>
        <div class="absolute top-0 right-0 -right-1/2 w-1/2 pl-8">
          <img class="w-full h-112 object-cover rounded-lg" src="https://shuffle.dev/mockup-assets/images/gray-500-horizontal.png" alt="">
        </div>
      </div>
    </div>
  </section>