<section class="py-20">
    <div class="container mx-auto px-4">
      <div class="mx-auto mb-8 max-w-lg text-center">
        <span class="text-sm uppercase text-gray-200">Lorem Ipsum</span>
        <h2 class="font-heading mt-2 text-4xl font-bold lg:text-5xl">Lorem ispum dolor sit amet consectutar</h2>
      </div>
      <div class="mb-8 text-center lg:mb-16">
        <button class="mr-6 border-b-4 border-gray-500 pb-3 text-lg">Active tab</button>
        <button class="mr-6 pb-3 text-lg text-gray-500">Normal tab</button>
        <button class="mr-6 pb-3 text-lg text-gray-500">Normal tab</button>
        <button class="mr-6 pb-3 text-lg text-gray-500">Normal tab</button>
      </div>
      <div class="-mx-2 flex flex-wrap">
        <div class="flex w-full flex-wrap md:w-1/2 lg:h-screen">
          <div class="h-64 w-1/2 p-2 lg:h-1/3">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-square.png" alt="" />
          </div>
          <div class="h-64 w-1/2 p-2 lg:h-1/3">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-square.png" alt="" />
          </div>
          <div class="h-96 w-full p-2 md:h-64 lg:h-2/3">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-square.png" alt="" />
          </div>
        </div>
        <div class="flex w-full flex-wrap md:w-1/2 lg:h-screen">
          <div class="h-96 w-full p-2 md:h-64 lg:h-2/3">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-square.png" alt="" />
          </div>
          <div class="h-64 w-1/2 p-2 lg:h-1/3">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-square.png" alt="" />
          </div>
          <div class="h-64 w-1/2 p-2 lg:h-1/3">
            <img class="h-full w-full rounded-lg object-cover" src="https://shuffle.dev/mockup-assets/images/gray-500-square.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  