<section class="py-12 md:py-24 bg-black">
    <div class="container mx-auto px-4">
      <div class="max-w-sm md:max-w-xl mx-auto lg:max-w-none">
        <div class="flex flex-wrap -mx-4 mb-14 items-center">
          <div class="w-full lg:w-1/2 xl:w-3/5 mb-8 lg:mb-0 px-4">
            <h1 class="font-heading text-4xl text-white font-bold mb-0">Browse by collection</h1>
          </div>
          <div class="w-full lg:w-1/2 xl:w-auto ml-auto px-4">
            <div class="flex -mb-2 flex-wrap md:justify-end"><a class="inline-block text-gray-200 hover:text-gray-300 font-medium mb-2 mr-8" href="#">All</a><a class="inline-block text-gray-400 hover:text-gray-300 font-medium mb-2 mr-8" href="#">Decor</a><a class="inline-block text-gray-400 hover:text-gray-300 font-medium mb-2 mr-8" href="#">Dining</a><a class="inline-block text-gray-400 hover:text-gray-300 font-medium mb-2 mr-8" href="#">Bedroom</a><a class="inline-block text-gray-400 hover:text-gray-300 font-medium mb-2" href="#">Living Room</a></div>
          </div>
        </div>
        <div class="flex flex-wrap -mb-8 -mx-4 xl:-mx-8">
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 xl:px-8 mb-8">
            <a class="group block" href="#">
              <img class="block mb-5 w-full object-cover" src="https://shuffle.dev/vendia-assets/images/category/furnitures-products-9-4.png" alt="">
              <h6 class="font-bold text-white group-hover:text-yellow-500 mb-2">Lights & Bulbs</h6>
              <span class="text-sm text-gray-400 font-medium">39 Items</span>
            </a>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 xl:px-8 mb-8">
            <a class="group block" href="#">
              <img class="block mb-5 w-full object-cover" src="https://shuffle.dev/vendia-assets/images/category/furnitures-products-9-3.png" alt="">
              <h6 class="font-bold text-white group-hover:text-yellow-500 mb-2">Chair & Seatings</h6>
              <span class="text-sm text-gray-400 font-medium">17 Items</span>
            </a>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 xl:px-8 mb-8">
            <a class="group block" href="#">
              <img class="block mb-5 w-full object-cover" src="https://shuffle.dev/vendia-assets/images/category/furnitures-products-9-2.png" alt="">
              <h6 class="font-bold text-white group-hover:text-yellow-500 mb-2">17 Items</h6>
              <span class="text-sm text-gray-400 font-medium">15 Items</span>
            </a>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 xl:px-8 mb-8">
            <a class="group block" href="#">
              <img class="block mb-5 w-full object-cover" src="https://shuffle.dev/vendia-assets/images/category/furnitures-products-9-1.png" alt="">
              <h6 class="font-bold text-white group-hover:text-yellow-500 mb-2">Wall Texture</h6>
              <span class="text-sm text-gray-400 font-medium">08 Items</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>