<section class="py-20 bg-black">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-4/12 xl:w-3/12 mb-8 lg:mb-0 px-4">
          <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-1 gap-6 md:gap-8 lg:gap-10 lg:max-w-2xs lg:pt-28 pb-9 px-4">
            <div class="pb-8 md:pb-0 lg:pb-8 border-b md:border-b-0 lg:border-b border-blueGray-800">
              <h6 class="font-bold text-white mb-6">Price Range</h6>
              <input class="w-full" type="range">
              <div class="flex items-center justify-between">
                <span class="inline-block px-2 py-px bg-blueGray-800 rounded text-xs font-medium text-gray-200">$0</span>
                <span class="inline-block px-2 py-px bg-blueGray-800 rounded text-xs font-medium text-gray-200">$200</span>
              </div>
            </div>
            <div class="pb-8 md:pb-0 lg:pb-8 border-b md:border-b-0 lg:border-b border-blueGray-800">
              <h6 class="font-bold text-white mb-6">Category</h6>
              <ul class="list-unstyled mb-0">
                <li class="mb-6">
                  <a class="flex items-center justify-between text-sm font-medium text-gray-400 hover:text-gray-200" href="#">
                    <span>Winter Collection</span>
                    <span>184</span>
                  </a>
                </li>
                <li class="mb-4">
                  <a class="flex items-center justify-between text-sm font-medium text-gray-400 hover:text-gray-200" href="#">
                    <span>Beauty</span>
                    <span>77</span>
                  </a>
                </li>
                <li class="mb-4">
                  <a class="flex items-center justify-between text-sm font-medium text-yellow-500" href="#">
                    <div class="flex items-center">
                      <svg width="14" height="11" viewbox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.75 6.25L4.75 9.25L12.25 1.75" stroke="#F2FF5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                      <span class="ml-2">Fashion</span>
                    </div>
                    <span class="text-white">184</span>
                  </a>
                </li>
                <li class="mb-4">
                  <a class="flex items-center justify-between text-sm font-medium text-gray-400 hover:text-gray-200" href="#">
                    <span>Perfume</span>
                    <span>52</span>
                  </a>
                </li>
                <li>
                  <a class="flex items-center justify-between text-sm font-medium text-gray-400 hover:text-gray-200" href="#">
                    <span>Sunglass</span>
                    <span>87</span>
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <h6 class="font-bold text-white mb-6">Brands</h6>
              <ul class="list-unstyled mb-0">
                <li class="mb-5"><a class="inline-block text-sm font-medium text-gray-400 hover:text-gray-200" href="#">Nike</a></li>
                <li class="mb-5"><a class="inline-block text-sm font-medium text-gray-400 hover:text-gray-200" href="#">Louis Vuitton</a></li>
                <li class="mb-5">
                  <a class="inline-flex items-center text-sm font-medium text-yellow-500" href="#">
                    <svg width="14" height="11" viewbox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.75 6.25L4.75 9.25L12.25 1.75" stroke="#F2FF5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <span class="ml-2">Hermes</span>
                  </a>
                </li>
                <li><a class="inline-block text-sm font-medium text-gray-400 hover:text-gray-200" href="#">Gucci</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-8/12 xl:w-9/12 px-4">
          <div class="flex flex-col sm:flex-row mb-6 sm:items-center pb-6 border-b border-blueGray-800">
            <div class="mb-3 sm:mb-0 sm:mr-5">
              <div class="relative border border-blueGray-800">
                <span class="absolute top-1/2 right-0 mr-4 transform -translate-y-1/2">
                  <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.96967 0.71967C1.26256 0.426777 1.73744 0.426777 2.03033 0.71967L6 4.68934L9.96967 0.71967C10.2626 0.426777 10.7374 0.426777 11.0303 0.71967C11.3232 1.01256 11.3232 1.48744 11.0303 1.78033L6.53033 6.28033C6.23744 6.57322 5.76256 6.57322 5.46967 6.28033L0.96967 1.78033C0.676777 1.48744 0.676777 1.01256 0.96967 0.71967Z" fill="white"></path>
                  </svg>
                </span>
                <select class="relative w-full pl-6 pr-10 py-4 bg-transparent font-medium text-gray-400 outline-none appearance-none" name="" id="">
                  <option value="1">Sort by</option>
                  <option value="2">Price</option>
                  <option value="3">Ratings</option>
                  <option value="4">Popularity</option>
                </select>
              </div>
            </div>
            <div class="mb-3 sm:mb-0 sm:mr-5">
              <div class="relative border border-blueGray-800">
                <span class="absolute top-1/2 right-0 mr-4 transform -translate-y-1/2">
                  <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.96967 0.71967C1.26256 0.426777 1.73744 0.426777 2.03033 0.71967L6 4.68934L9.96967 0.71967C10.2626 0.426777 10.7374 0.426777 11.0303 0.71967C11.3232 1.01256 11.3232 1.48744 11.0303 1.78033L6.53033 6.28033C6.23744 6.57322 5.76256 6.57322 5.46967 6.28033L0.96967 1.78033C0.676777 1.48744 0.676777 1.01256 0.96967 0.71967Z" fill="white"></path>
                  </svg>
                </span>
                <select class="relative w-full pl-6 pr-10 py-4 bg-transparent font-medium text-gray-400 outline-none appearance-none" name="" id="">
                  <option value="1">Category</option>
                  <option value="2">Clothes</option>
                  <option value="3">Home</option>
                  <option value="4">Kids</option>
                </select>
              </div>
            </div>
            <div>
              <div class="relative border border-blueGray-800">
                <span class="absolute top-1/2 right-0 mr-4 transform -translate-y-1/2">
                  <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.96967 0.71967C1.26256 0.426777 1.73744 0.426777 2.03033 0.71967L6 4.68934L9.96967 0.71967C10.2626 0.426777 10.7374 0.426777 11.0303 0.71967C11.3232 1.01256 11.3232 1.48744 11.0303 1.78033L6.53033 6.28033C6.23744 6.57322 5.76256 6.57322 5.46967 6.28033L0.96967 1.78033C0.676777 1.48744 0.676777 1.01256 0.96967 0.71967Z" fill="white"></path>
                  </svg>
                </span>
                <select class="relative w-full pl-6 pr-10 py-4 bg-transparent font-medium text-gray-400 outline-none appearance-none" name="" id="">
                  <option value="1">Size</option>
                  <option value="2">S</option>
                  <option value="3">M</option>
                  <option value="4">XL</option>
                </select>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap -mb-8 -mx-4">
            <div class="w-full sm:w-1/2 xl:w-1/3 px-4 mb-8">
              <a class="group block relative" href="#">
                <span class="absolute top-0 left-0 m-4 inline-block px-2 text-xs font-medium bg-yellow-500 border border-black rounded-full">New</span>
                <img class="block mb-5 w-full h-80 object-cover" src="https://shuffle.dev/vendia-assets/images/item-cards/home1.png" alt="">
                <div>
                  <h6 class="font-bold text-white group-hover:text-yellow-500 mb-1">Google Pixel Watch</h6>
                  <span class="text-sm font-medium text-gray-500">From $349.99</span>
                </div>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 px-4 mb-8">
              <a class="group block relative" href="#">
                <span class="absolute top-0 left-0 m-4 inline-block px-2 text-xs font-medium bg-yellow-500 border border-black rounded-full">New</span>
                <img class="block mb-5 w-full h-80 object-cover" src="https://shuffle.dev/vendia-assets/images/item-cards/home2.png" alt="">
                <div>
                  <h6 class="font-bold text-white group-hover:text-yellow-500 mb-1">Pixel 7 Pro</h6>
                  <span class="text-sm font-medium text-gray-500">From $349.99</span>
                </div>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 px-4 mb-8">
              <a class="group block relative" href="#">
                <span class="absolute top-0 left-0 m-4 inline-block px-2 text-xs font-medium bg-yellow-500 border border-black rounded-full">New</span>
                <img class="block mb-5 w-full h-80 object-cover" src="https://shuffle.dev/vendia-assets/images/item-cards/home3.png" alt="">
                <div>
                  <h6 class="font-bold text-white group-hover:text-yellow-500 mb-1">Pixel 7</h6>
                  <span class="text-sm font-medium text-gray-500">From $599</span>
                </div>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 px-4 mb-8">
              <a class="group block relative" href="#">
                <img class="block mb-5 w-full h-80 object-cover" src="https://shuffle.dev/vendia-assets/images/item-cards/home4.png" alt="">
                <div>
                  <h6 class="font-bold text-white group-hover:text-yellow-500 mb-1">Pixel Buds Pro</h6>
                  <span class="text-sm font-medium text-gray-500">From $199.99</span>
                </div>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 px-4 mb-8">
              <a class="group block relative" href="#">
                <span class="absolute top-0 left-0 m-4 inline-block px-2 text-xs font-medium bg-yellow-500 border border-black rounded-full">New</span>
                <img class="block mb-5 w-full h-80 object-cover" src="https://shuffle.dev/vendia-assets/images/item-cards/home5.png" alt="">
                <div>
                  <h6 class="font-bold text-white group-hover:text-yellow-500 mb-1">Nest Doorbells</h6>
                  <span class="text-sm font-medium text-gray-500">From $179.99</span>
                </div>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 px-4 mb-8">
              <a class="group block relative" href="#">
                <img class="block mb-5 w-full h-80 object-cover" src="https://shuffle.dev/vendia-assets/images/item-cards/home4.png" alt="">
                <div>
                  <h6 class="font-bold text-white group-hover:text-yellow-500 mb-1">Pixel Buds Pro</h6>
                  <span class="text-sm font-medium text-gray-500">From $199.99</span>
                </div>
              </a>
            </div>
          </div>
          <nav class="pt-10 mt-14 border-t border-blueGray-800">
            <ul class="flex items-center justify-center">
              <li class="mr-5"><a class="inline-flex items-center h-6 px-2 text-sm text-white font-bold hover:bg-gray-900" href="#">1</a></li>
              <li class="mr-5"><a class="inline-flex items-center h-6 px-2 text-sm text-white font-bold hover:bg-gray-900" href="#">2</a></li>
              <li class="mr-5"><a class="inline-flex items-center h-6 px-2 text-sm text-black font-bold bg-yellow-500" href="#">3</a></li>
              <li class="mr-5"><a class="inline-flex items-center h-6 px-2 text-sm text-white font-bold hover:bg-gray-900" href="#">4</a></li>
              <li><a class="inline-flex items-center h-6 px-2 text-sm text-white font-bold hover:bg-gray-900" href="#">5</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>