<section class="py-20 bg-black">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-4/12 xl:w-3/12 px-4">
          <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-1 gap-6 md:gap-8 lg:gap-10 lg:max-w-2xs lg:pt-28 pb-20 lg:pb-9 px-4">
            <div class="pb-10 lg:border-b border-blueGray-800">
              <h6 class="font-bold text-white mb-5">Price</h6>
              <input class="w-full" type="range">
              <div class="flex items-center justify-between">
                <span class="text-sm font-medium text-gray-200">$0</span>
                <span class="text-sm font-medium text-gray-200">$200</span>
              </div>
            </div>
            <div class="pb-10 lg:border-b border-blueGray-800">
              <h6 class="font-bold text-white mb-8">Category</h6>
              <ul class="list-unstyled mb-0">
                <li class="mb-4"><a class="inline-block font-medium text-gray-400 hover:text-gray-200" href="#">New Releases</a></li>
                <li class="mb-4"><a class="inline-block font-medium text-yellow-500" href="#">Pet Toys</a></li>
                <li class="mb-4"><a class="inline-block font-medium text-gray-400 hover:text-gray-200" href="#">Pet Foods</a></li>
                <li class="mb-4"><a class="inline-block font-medium text-gray-400 hover:text-gray-200" href="#">Pet Fasion</a></li>
                <li><a class="inline-block font-medium text-gray-400 hover:text-gray-200" href="#">Pet Wears</a></li>
              </ul>
            </div>
            <div class="max-w-xs">
              <h6 class="font-bold text-white mb-5">Age</h6>
              <div class="flex flex-wrap -mx-1 -mb-2">
                <div class="w-1/3 px-1 mb-2">
                  <button class="flex items-center justify-center h-7 w-full text-sm font-bold text-gray-400 hover:text-gray-200 border border-gray-800 hover:border-gray-200">6m</button>
                </div>
                <div class="w-1/3 px-1 mb-2">
                  <button class="flex items-center justify-center h-7 w-full text-sm font-bold text-black bg-yellow-500">1y</button>
                </div>
                <div class="w-1/3 px-1 mb-2">
                  <button class="flex items-center justify-center h-7 w-full text-sm font-bold text-gray-400 hover:text-gray-200 border border-gray-800 hover:border-gray-200">2y</button>
                </div>
                <div class="w-1/3 px-1 mb-2">
                  <button class="flex items-center justify-center h-7 w-full text-sm font-bold text-gray-400 hover:text-gray-200 border border-gray-800 hover:border-gray-200">3y</button>
                </div>
                <div class="w-1/3 px-1 mb-2">
                  <button class="flex items-center justify-center h-7 w-full text-sm font-bold text-gray-400 hover:text-gray-200 border border-gray-800 hover:border-gray-200">4y</button>
                </div>
                <div class="w-1/3 px-1 mb-2">
                  <button class="flex items-center justify-center h-7 w-full text-sm font-bold text-gray-400 hover:text-gray-200 border border-gray-800 hover:border-gray-200">5y</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-8/12 xl:9/12 px-4">
          <div class="flex flex-col sm:flex-row mb-6 sm:items-center pb-6 border-b border-blueGray-800">
            <div class="mb-3 sm:mb-0 sm:mr-5">
              <div class="relative border border-blueGray-800">
                <span class="absolute top-1/2 right-0 mr-4 transform -translate-y-1/2">
                  <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.96967 0.71967C1.26256 0.426777 1.73744 0.426777 2.03033 0.71967L6 4.68934L9.96967 0.71967C10.2626 0.426777 10.7374 0.426777 11.0303 0.71967C11.3232 1.01256 11.3232 1.48744 11.0303 1.78033L6.53033 6.28033C6.23744 6.57322 5.76256 6.57322 5.46967 6.28033L0.96967 1.78033C0.676777 1.48744 0.676777 1.01256 0.96967 0.71967Z" fill="white"></path>
                  </svg>
                </span>
                <select class="relative w-full pl-6 pr-10 py-4 bg-transparent font-medium text-gray-400 outline-none appearance-none" name="" id="">
                  <option value="1">Sort by</option>
                  <option value="2">Price</option>
                  <option value="3">Ratings</option>
                  <option value="4">Popularity</option>
                </select>
              </div>
            </div>
            <div class="mb-3 sm:mb-0 sm:mr-5">
              <div class="relative border border-blueGray-800">
                <span class="absolute top-1/2 right-0 mr-4 transform -translate-y-1/2">
                  <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.96967 0.71967C1.26256 0.426777 1.73744 0.426777 2.03033 0.71967L6 4.68934L9.96967 0.71967C10.2626 0.426777 10.7374 0.426777 11.0303 0.71967C11.3232 1.01256 11.3232 1.48744 11.0303 1.78033L6.53033 6.28033C6.23744 6.57322 5.76256 6.57322 5.46967 6.28033L0.96967 1.78033C0.676777 1.48744 0.676777 1.01256 0.96967 0.71967Z" fill="white"></path>
                  </svg>
                </span>
                <select class="relative w-full pl-6 pr-10 py-4 bg-transparent font-medium text-gray-400 outline-none appearance-none" name="" id="">
                  <option value="1">Category</option>
                  <option value="2">Clothes</option>
                  <option value="3">Home</option>
                  <option value="4">Kids</option>
                </select>
              </div>
            </div>
            <div>
              <div class="relative border border-blueGray-800">
                <span class="absolute top-1/2 right-0 mr-4 transform -translate-y-1/2">
                  <svg width="12" height="7" viewbox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.96967 0.71967C1.26256 0.426777 1.73744 0.426777 2.03033 0.71967L6 4.68934L9.96967 0.71967C10.2626 0.426777 10.7374 0.426777 11.0303 0.71967C11.3232 1.01256 11.3232 1.48744 11.0303 1.78033L6.53033 6.28033C6.23744 6.57322 5.76256 6.57322 5.46967 6.28033L0.96967 1.78033C0.676777 1.48744 0.676777 1.01256 0.96967 0.71967Z" fill="white"></path>
                  </svg>
                </span>
                <select class="relative w-full pl-6 pr-10 py-4 bg-transparent font-medium text-gray-400 outline-none appearance-none" name="" id="">
                  <option value="1">Size</option>
                  <option value="2">S</option>
                  <option value="3">M</option>
                  <option value="4">XL</option>
                </select>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap -mb-8 -mx-4">
            <div class="w-full sm:w-1/2 xl:w-1/3 mb-8 px-4">
              <a class="group block" href="#">
                <img class="block mb-5 h-88 w-full object-cover transition-transform duration-500 transform group-hover:scale-102" src="https://shuffle.dev/vendia-assets/images/item-cards/shirt-products4.png" alt="">
                <span class="text-xs font-bold text-yellow-500">$99.63</span>
                <h6 class="font-bold text-sm text-white mt-2">Summer T-Shirt 0492</h6>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 mb-8 px-4">
              <a class="group block" href="#">
                <img class="block mb-5 h-88 w-full object-cover transition-transform duration-500 transform group-hover:scale-102" src="https://shuffle.dev/vendia-assets/images/item-cards/shirt-products3.png" alt="">
                <span class="text-xs font-bold text-yellow-500">$99.63</span>
                <h6 class="font-bold text-sm text-white mt-2">Summer T-Shirt 0492</h6>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 mb-8 px-4">
              <a class="group block" href="#">
                <img class="block mb-5 h-88 w-full object-cover transition-transform duration-500 transform group-hover:scale-102" src="https://shuffle.dev/vendia-assets/images/item-cards/shirt-products2.png" alt="">
                <span class="text-xs font-bold text-yellow-500">$99.63</span>
                <h6 class="font-bold text-sm text-white mt-2">Summer T-Shirt 0492</h6>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 mb-8 px-4">
              <a class="group block" href="#">
                <img class="block mb-5 h-88 w-full object-cover transition-transform duration-500 transform group-hover:scale-102" src="https://shuffle.dev/vendia-assets/images/item-cards/shirt-products1.png" alt="">
                <span class="text-xs font-bold text-yellow-500">$99.63</span>
                <h6 class="font-bold text-sm text-white mt-2">Summer T-Shirt 0492</h6>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 mb-8 px-4">
              <a class="group block" href="#">
                <img class="block mb-5 h-88 w-full object-cover transition-transform duration-500 transform group-hover:scale-102" src="https://shuffle.dev/vendia-assets/images/item-cards/shirt-products4.png" alt="">
                <span class="text-xs font-bold text-yellow-500">$99.63</span>
                <h6 class="font-bold text-sm text-white mt-2">Summer T-Shirt 0492</h6>
              </a>
            </div>
            <div class="w-full sm:w-1/2 xl:w-1/3 mb-8 px-4">
              <a class="group block" href="#">
                <img class="block mb-5 h-88 w-full object-cover transition-transform duration-500 transform group-hover:scale-102" src="https://shuffle.dev/vendia-assets/images/item-cards/shirt-products4.png" alt="">
                <span class="text-xs font-bold text-yellow-500">$99.63</span>
                <h6 class="font-bold text-sm text-white mt-2">Summer T-Shirt 0492</h6>
              </a>
            </div>
          </div>
          <nav class="pt-10 mt-14 border-t border-blueGray-800">
            <ul class="flex items-center justify-center">
              <li class="mr-5"><a class="inline-flex items-center h-6 px-2 text-sm text-white font-bold hover:bg-gray-900" href="#">1</a></li>
              <li class="mr-5"><a class="inline-flex items-center h-6 px-2 text-sm text-white font-bold hover:bg-gray-900" href="#">2</a></li>
              <li class="mr-5"><a class="inline-flex items-center h-6 px-2 text-sm text-black font-bold bg-yellow-500" href="#">3</a></li>
              <li class="mr-5"><a class="inline-flex items-center h-6 px-2 text-sm text-white font-bold hover:bg-gray-900" href="#">4</a></li>
              <li><a class="inline-flex items-center h-6 px-2 text-sm text-white font-bold hover:bg-gray-900" href="#">5</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>