<section class="overflow-hidden bg-gray-100 py-24 lg:pb-28">
    <div class="container mx-auto px-4">
      <div class="-m-8 flex flex-wrap xl:items-center">
        <div class="w-full p-8 md:w-1/2">
          <div class="md:max-w-md">
            <img class="mb-6" src="https://shuffle.dev/basko-assets/images/brands/quote.png" alt="" />
            <h2 class="mb-6 text-3xl font-semibold" style="letter-spacing: -0.5px;">Now that Basko is here, we’ve tossed out all other templates, they just can’t compete.</h2>
            <h3 class="mb-1 text-xl font-semibold tracking-tight">Joanne Francis</h3>
            <span class="tracking-tight text-gray-600">Business Operations, Figtree</span>
          </div>
        </div>
        <div class="w-full p-8 md:w-1/2">
          <div class="-m-5 mb-12 flex flex-wrap justify-center">
            <div class="w-auto p-5">
              <img src="https://shuffle.dev/basko-assets/images/brands/logo-dark6.svg" alt="" />
            </div>
            <div class="w-auto p-5">
              <img src="https://shuffle.dev/basko-assets/images/brands/logo-dark5.svg" alt="" />
            </div>
            <div class="w-auto p-5">
              <img src="https://shuffle.dev/basko-assets/images/brands/logo-dark4.svg" alt="" />
            </div>
            <div class="w-auto p-5">
              <img src="https://shuffle.dev/basko-assets/images/brands/logo-dark3.svg" alt="" />
            </div>
            <div class="w-auto p-5">
              <img src="https://shuffle.dev/basko-assets/images/brands/logo-dark2.svg" alt="" />
            </div>
            <div class="w-auto p-5">
              <img src="https://shuffle.dev/basko-assets/images/brands/logo-dark.svg" alt="" />
            </div>
          </div>
          <p class="text-center tracking-tight text-gray-600">Join a growing group of satisfied customers who have made the switch.</p>
        </div>
      </div>
    </div>
  </section>
  