<section class="py-24 overflow-hidden relative bg-orange-50">
    <p class="text-center text-lg font-medium mb-10">Backed by leading education companies</p>
    <div class="h-28 mb-4 transform -translate-x-24">
      <div class="absolute left-1/2 transform -translate-x-1/2 flex gap-4">
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black1.png" alt="">
        </div>
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black2.png" alt="">
        </div>
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black3.png" alt="">
        </div>
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black4.png" alt="">
        </div>
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black1.png" alt="">
        </div>
      </div>
    </div>
    <div class="h-28 transform translate-x-24">
      <div class="absolute left-1/2 transform -translate-x-1/2 flex gap-4">
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black1.png" alt="">
        </div>
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black2.png" alt="">
        </div>
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black3.png" alt="">
        </div>
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black4.png" alt="">
        </div>
        <div class="w-80 h-28 bg-white py-8 px-10 flex items-center justify-center rounded-2xl">
          <img src="https://shuffle.dev/solstice-assets/images/logos/placeholder-logo-black1.png" alt="">
        </div>
      </div>
    </div>
  </section>