<div><section class="py-16 bg-gray-50">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap justify-between items-center -mx-4 mb-12">
        <div class="w-full lg:w-2/3 px-4 mb-8 lg:mb-0">
          <span class="text-sm font-semibold uppercase">Pricing</span>
          <h2 class="max-w-xl font-heading text-3xl sm:text-4xl">Lorem ipsum dolor sit amet consectutar domor at elis</h2>
        </div>
        <div class="w-full lg:w-auto px-4">
          <div class="flex items-center justify-center">
            <a class="inline-block mr-6 font-heading text-gray-400" href="#">Annually</a>
            <div class="flex w-16 h-10 p-2 items-center justify-end bg-green-50 rounded-full">
              <div class="bg-green-500 w-6 h-6 rounded-full"></div>
            </div>
            <a class="inline-block ml-6 font-heading font-medium text-gray-900" href="#">Monthly</a>
          </div>
        </div>
      </div>
      <div class="max-w-md lg:max-w-3xl mx-auto">
        <div class="flex flex-wrap items-center -mx-4">
          <div class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0">
            <div class="p-8 bg-white rounded-md">
              <div class="text-center mb-8">
                <span class="font-heading font-medium text-lg">Free</span>
                <div class="flex items-start justify-center mt-2">
                  <span class="font-heading font-medium text-lg">$</span>
                  <span class="font-heading font-medium text-3xl leading-10">0</span>
                </div>
              </div>
              <a class="block py-4 px-6 mb-8 text-center font-heading font-medium text-base text-green-500 hover:text-white border border-green-500 hover:bg-green-500 rounded-sm transition duration-200" href="#">Get started</a>
              <ul>
                <li class="flex items-center mb-3">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="#00CBA6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="#00CBA6" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">Complete documentation</span>
                </li>
                <li class="flex items-center mb-3">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="#00CBA6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="#00CBA6" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">Working materials in Figma</span>
                </li>
                <li class="flex items-center mb-3">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="#00CBA6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="#00CBA6" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">100GB cloud storage</span>
                </li>
                <li class="flex items-center text-gray-300 mb-3">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="currentColor" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">100GB cloud storage</span>
                </li>
                <li class="flex items-center text-gray-300">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="currentColor" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">500 team members</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-4">
            <div class="relative p-8 bg-white border-2 border-green-500 rounded-md">
              <img class="absolute top-0 left-0 -ml-1 -mt-1" src="acros-assets/elements/bestseller.svg" alt="">
              <div class="text-center mb-8">
                <span class="font-heading font-medium text-lg">Premium</span>
                <div class="flex items-start justify-center mt-2">
                  <span class="font-heading font-medium text-lg">$</span>
                  <span class="font-heading font-medium text-3xl leading-10">14,99</span>
                </div>
              </div>
              <a class="block py-4 px-6 mb-8 text-center font-heading font-medium text-base text-white bg-green-500 hover:bg-green-600 border border-green-500 hover:border-green-600 rounded-sm transition duration-200" href="#">Try it for free</a>
              <ul>
                <li class="flex items-center mb-3">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="#00CBA6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="#00CBA6" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">Complete documentation</span>
                </li>
                <li class="flex items-center mb-3">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="#00CBA6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="#00CBA6" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">Working materials in Figma</span>
                </li>
                <li class="flex items-center mb-3">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="#00CBA6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="#00CBA6" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">100GB cloud storage</span>
                </li>
                <li class="flex items-center mb-3">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="#00CBA6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="#00CBA6" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">100GB cloud storage</span>
                </li>
                <li class="flex items-center">
                  <svg width="20" height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 10.5L8.5 13.5L14.5 7" stroke="#00CBA6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <circle cx="10" cy="10" r="9" stroke="#00CBA6" stroke-width="1.5"></circle>
                  </svg>
                  <span class="ml-4 text-sm">500 team members</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>