<div> <section class="py-16">
    <div class="container px-4 mx-auto">
      <span class="text-sm font-semibold uppercase">FAQ</span>
      <h2 class="font-heading text-3xl sm:text-4xl mt-2 mb-10">Questions and Answers</h2>
      <div class="max-w-3xl mx-auto">
        <div class="sm:flex mb-10 items-center justify-between p-2 border border-gray-100 rounded"><a class="inline-block w-full sm:w-36 py-3 text-center font-heading font-medium text-green-500 bg-green-50 rounded-sm" href="#">General</a><a class="inline-block w-full sm:w-36 py-3 text-center font-heading text-gray-900 hover:bg-gray-50 rounded-sm" href="#">Tools</a><a class="inline-block w-full sm:w-36 py-3 text-center font-heading text-gray-900 hover:bg-gray-50 rounded-sm" href="#">Payments</a><a class="inline-block w-full sm:w-36 py-3 text-center font-heading text-gray-900 hover:bg-gray-50 rounded-sm" href="#">Returns</a><a class="inline-block w-full sm:w-36 py-3 text-center font-heading text-gray-900 hover:bg-gray-50 rounded-sm" href="#">Refunds</a></div>
        <button class="flex w-full pt-4 pb-6 px-4 mb-4 text-left border border-gray-100 rounded">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center w-8 h-8 text-xs font-medium text-white bg-green-500 rounded-sm">1</div>
          </div>
          <div class="px-6 pt-1 mr-auto">
            <h3 class="font-heading text-lg mb-4">Fusce eget nunc et libero accumsan rutrum quis nec lectus?</h3>
            <p class="leading-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci sed tristique placerat. Fusce in ligula urna. Fusce eget nunc et libero accumsan rutrum quis nec lectus. Quisque luctus sem nibh, quis ornare neque consectetur varius. Maecenas rhoncus consectetur rutrum.</p>
          </div>
          <div class="flex-shrink-0 pt-2">
            <svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 14L12 7L19 14" stroke="#2B3031" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
        </button>
        <button class="flex w-full pt-4 pb-6 px-4 mb-4 text-left bg-gray-50 rounded">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center w-8 h-8 text-xs font-medium text-gray-900 bg-white rounded-sm">2</div>
          </div>
          <div class="px-6 pt-1 mr-auto">
            <h3 class="font-heading text-lg">Donec sed leo sit amet ante ornare laoreet in quis est?</h3>
          </div>
          <div class="flex-shrink-0 pt-2">
            <svg width="16" height="9" viewbox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 1L7.99997 8L0.999968 1" stroke="#2B3031" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
        </button>
        <button class="flex w-full pt-4 pb-6 px-4 mb-4 text-left bg-gray-50 rounded">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center w-8 h-8 text-xs font-medium text-gray-900 bg-white rounded-sm">3</div>
          </div>
          <div class="px-6 pt-1 mr-auto">
            <h3 class="font-heading text-lg">Mauris vitae ex ut lectus cursus ornare?</h3>
          </div>
          <div class="flex-shrink-0 pt-2">
            <svg width="16" height="9" viewbox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 1L7.99997 8L0.999968 1" stroke="#2B3031" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
        </button>
        <button class="flex w-full pt-4 pb-6 px-4 mb-4 text-left bg-gray-50 rounded">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center w-8 h-8 text-xs font-medium text-gray-900 bg-white rounded-sm">4</div>
          </div>
          <div class="px-6 pt-1 mr-auto">
            <h3 class="font-heading text-lg">Nam consequat, augue sed rutrum faucibus?</h3>
          </div>
          <div class="flex-shrink-0 pt-2">
            <svg width="16" height="9" viewbox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 1L7.99997 8L0.999968 1" stroke="#2B3031" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
        </button>
        <button class="flex w-full pt-4 pb-6 px-4 mb-4 text-left bg-gray-50 rounded">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center w-8 h-8 text-xs font-medium text-gray-900 bg-white rounded-sm">5</div>
          </div>
          <div class="px-6 pt-1 mr-auto">
            <h3 class="font-heading text-lg">Cras at ante non ligula pharetra elementum?</h3>
          </div>
          <div class="flex-shrink-0 pt-2">
            <svg width="16" height="9" viewbox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 1L7.99997 8L0.999968 1" stroke="#2B3031" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </section></div>