<div> <section class="py-16 bg-gray-50">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full sm:w-1/2 lg:w-1/4 px-4 mb-12 lg:mb-0">
          <img class="block mb-8" src="acros-assets/icons/stats/percent.svg" alt="">
          <h4 class="font-heading text-2xl mb-2">Looked</h4>
          <span class="text-sm">Dolor sit amet consectutar</span>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 px-4 mb-12 lg:mb-0">
          <img class="block mb-8" src="acros-assets/icons/stats/percent.svg" alt="">
          <h4 class="font-heading text-2xl mb-2">Reproduced</h4>
          <span class="text-sm">Obscure Latin words, consectetur</span>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 px-4 mb-12 sm:mb-0">
          <img class="block mb-8" src="acros-assets/icons/stats/percent.svg" alt="">
          <h4 class="font-heading text-2xl mb-2">Genarated</h4>
          <span class="text-sm">The first line of Lorem Ipsum</span>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/4 px-4">
          <img class="block mb-8" src="acros-assets/icons/stats/percent.svg" alt="">
          <h4 class="font-heading text-2xl mb-2">Injected</h4>
          <span class="text-sm">Hidden in the middle</span>
        </div>
      </div>
    </div>
  </section></div>