<div> <section class="py-16">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-16 lg:mb-0">
          <div class="max-w-md">
            <span class="text-sm font-semibold uppercase">
              <span>Our</span>
              <span class="text-green-500">clients</span>
            </span>
            <h4 class="font-heading text-3xl sm:text-4xl mt-2 mb-6">Trusted by brands all over the world</h4>
            <p class="leading-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque efficitur nisl sodales egestas lobortis.</p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="flex flex-wrap -mx-4">
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-r border-b border-gray-100">
                <img class="block" src="acros-assets/logo/slack.svg" alt="">
              </div>
            </div>
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-b border-r border-gray-100">
                <img class="block" src="acros-assets/logo/google.svg" alt="">
              </div>
            </div>
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-b border-r sm:border-r-0 border-gray-100">
                <img class="block" src="acros-assets/logo/coca-cola.svg" alt="">
              </div>
            </div>
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-r border-b border-gray-100">
                <img class="block" src="acros-assets/logo/adidas.svg" alt="">
              </div>
            </div>
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-r border-b border-gray-100">
                <img class="block" src="acros-assets/logo/audi.svg" alt="">
              </div>
            </div>
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-b border-gray-100">
                <img class="block" src="acros-assets/logo/tinder.svg" alt="">
              </div>
            </div>
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-r border-gray-100">
                <img class="block" src="acros-assets/logo/tinder.svg" alt="">
              </div>
            </div>
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-b sm:border-b-0 border-r border-gray-100">
                <img class="block" src="acros-assets/logo/coca-cola.svg" alt="">
              </div>
            </div>
            <div class="w-1/2 sm:w-1/3">
              <div class="flex h-34 p-4 items-center justify-center border-t border-r border-gray-100 sm:border-0 bg-white rounded-md">
                <img class="block" src="acros-assets/logo/google.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>