<div> <section>
    <div class="skew skew-top mr-for-radius">
      <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewbox="0 0 10 10" preserveaspectratio="none">
        <polygon fill="currentColor" points="0 0 10 10 0 10"></polygon>
      </svg>
    </div>
    <div class="skew skew-top ml-for-radius">
      <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewbox="0 0 10 10" preserveaspectratio="none">
        <polygon fill="currentColor" points="0 10 10 0 10 10"></polygon>
      </svg>
    </div>
    <div class="py-20 bg-gray-50 overflow-hidden radius-for-skewed">
      <div class="container mx-auto px-4">
        <div class="mb-16 max-w-md text-center mx-auto">
          <span class="text-green-600 font-bold">Dolor sit amet consectutar</span>
          <h2 class="mb-2 text-4xl lg:text-5xl font-bold font-heading">Build & Launch without problems</h2>
        </div>
        <div class="relative flex flex-wrap -mx-4 z-0">
          <img class="h-128 hidden xl:block absolute top-0 right-0 -mt-4 -mr-16" style="z-index: -1;" src="atis-assets/elements/line.svg" alt="">
          <div class="mb-10 lg:mb-32 w-full md:w-1/2 lg:w-1/3 px-4">
            <div class="max-w-xs">
              <span class="mb-4 lg:mb-10 flex w-16 h-16 items-center justify-center bg-green-600 rounded-full font-bold text-white text-2xl">1</span>
              <h3 class="mb-4 text-2xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-500 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
          <div class="mb-10 lg:mb-32 w-full md:w-1/2 lg:w-1/3 px-4">
            <div class="max-w-xs">
              <span class="mb-4 lg:mb-10 flex w-16 h-16 items-center justify-center bg-green-600 rounded-full font-bold text-white text-2xl">2</span>
              <h3 class="mb-4 text-2xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-500 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
          <div class="mb-10 lg:mb-32 w-full md:w-1/2 lg:w-1/3 px-4">
            <div class="max-w-xs">
              <span class="mb-4 lg:mb-10 flex w-16 h-16 items-center justify-center bg-green-600 rounded-full font-bold text-white text-2xl">3</span>
              <h3 class="mb-4 text-2xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-500 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
          <div class="mb-10 w-full md:w-1/2 lg:w-1/3 px-4 order-last lg:order-1">
            <div class="max-w-xs">
              <span class="mb-4 lg:mb-10 flex w-16 h-16 items-center justify-center bg-green-600 rounded-full font-bold text-white text-2xl">6</span>
              <h3 class="mb-4 text-2xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-500 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
          <div class="mb-10 md:mb-0 w-full md:w-1/2 lg:w-1/3 px-4 order-1 lg:order-0">
            <div class="max-w-xs">
              <span class="mb-4 lg:mb-10 flex w-16 h-16 items-center justify-center bg-green-600 rounded-full font-bold text-white text-2xl">5</span>
              <h3 class="mb-4 text-2xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-500 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/3 px-4 lg:order-last">
            <div class="max-w-xs">
              <span class="mb-4 lg:mb-10 flex w-16 h-16 items-center justify-center bg-green-600 rounded-full font-bold text-white text-2xl">4</span>
              <h3 class="mb-4 text-2xl font-bold font-heading">Lorem ipsum dolor sit amet consectutar</h3>
              <p class="text-gray-500 leading-loose">Fusce quam tellus, placerat eu metus ut, viverra aliquet purus. Suspendisse potenti. Nulla non nibh feugiat.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="skew skew-bottom mr-for-radius">
      <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewbox="0 0 10 10" preserveaspectratio="none">
        <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
      </svg>
    </div>
    <div class="skew skew-bottom ml-for-radius">
      <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-50" viewbox="0 0 10 10" preserveaspectratio="none">
        <polygon fill="currentColor" points="0 0 10 0 10 10"></polygon>
      </svg>
    </div>
  </section></div>