<div><section class="py-24">
    <div class="container px-4 mx-auto">
      <div class="w-full lg:w-2/3 mb-16">
        <span class="text-blue-400 uppercase font-semibold tracking-widest">Lorem ipsum</span>
        <h2 class="my-5 text-4xl font-bold font-heading text-blue-800">Lorem ipsum dolor sit amet consectutar</h2>
        <p class="text-lg text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <div class="flex flex-wrap items-center mb-6 bg-blue-50">
        <div class="w-full lg:w-2/5 h-80">
          <img class="w-full h-full object-cover clip-path-right-top" src="https://images.unsplash.com/photo-1581279219053-6c0ef420e10b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
        <div class="w-full lg:w-3/5 p-8 lg:px-16">
          <h2 class="mb-2 text-2xl font-semibold font-heading text-blue-800">Vestibulum sapien diam, fermentum</h2>
          <span class="text-xs text-blue-400 font-semibold">10 JUN 2021 | 19:40</span>
          <p class="my-2 text-base leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          <a class="text-sm uppercase font-bold text-blue-800 hover:underline" href="#">
            <span>Read more</span>
            <span class="inline-block ml-2">
              <svg class="text-blue-500 h-3 w-3" viewbox="0 0 8 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.875 0L0 1.875L4.125 6L0 10.125L1.875 12L7.875 6L1.875 0Z"></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="flex flex-wrap items-center mb-6 bg-blue-50">
        <div class="w-full lg:w-2/5 h-80">
          <img class="w-full h-full object-cover clip-path-right-top" src="https://images.unsplash.com/photo-1530389912609-9a007b3c38a4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
        <div class="w-full lg:w-3/5 p-8 lg:px-16">
          <h2 class="mb-2 text-2xl font-semibold font-heading text-blue-800">Vestibulum sapien diam, fermentum</h2>
          <span class="text-xs text-blue-400 font-semibold">10 JUN 2021 | 19:40</span>
          <p class="my-2 text-base leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          <a class="text-sm uppercase font-bold text-blue-800 hover:underline" href="#">
            <span>Read more</span>
            <span class="inline-block ml-2">
              <svg class="text-blue-500 h-3 w-3" viewbox="0 0 8 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.875 0L0 1.875L4.125 6L0 10.125L1.875 12L7.875 6L1.875 0Z"></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="flex flex-wrap items-center mb-6 bg-blue-50">
        <div class="w-full lg:w-2/5 h-80">
          <img class="w-full w-full h-full object-cover clip-path-right-top" src="https://images.unsplash.com/photo-1458080767772-b1011d305557?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1043&q=80" alt="">
        </div>
        <div class="w-full lg:w-3/5 p-8 lg:px-16">
          <h2 class="mb-2 text-2xl font-semibold font-heading text-blue-800">Vestibulum sapien diam, fermentum</h2>
          <span class="text-xs text-blue-400 font-semibold">10 JUN 2021 | 19:40</span>
          <p class="my-2 text-base leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          <a class="text-sm uppercase font-bold text-blue-800 hover:underline" href="#">
            <span>Read more</span>
            <span class="inline-block ml-2">
              <svg class="text-blue-500 h-3 w-3" viewbox="0 0 8 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.875 0L0 1.875L4.125 6L0 10.125L1.875 12L7.875 6L1.875 0Z"></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="flex flex-wrap items-center mb-20 bg-blue-50">
        <div class="w-full lg:w-2/5 h-80">
          <img class="w-full h-full object-cover clip-path-right-top" src="https://images.unsplash.com/photo-1458080464185-b0ebf9ede5cb?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        </div>
        <div class="w-full lg:w-3/5 p-8 lg:px-16">
          <h2 class="mb-2 text-2xl font-semibold font-heading text-blue-800">Vestibulum sapien diam, fermentum</h2>
          <span class="text-xs text-blue-400 font-semibold">10 JUN 2021 | 19:40</span>
          <p class="my-2 text-base leading-loose text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          <a class="text-sm uppercase font-bold text-blue-800 hover:underline" href="#">
            <span>Read more</span>
            <span class="inline-block ml-2">
              <svg class="text-blue-500 h-3 w-3" viewbox="0 0 8 12" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.875 0L0 1.875L4.125 6L0 10.125L1.875 12L7.875 6L1.875 0Z"></path>
              </svg>
            </span>
          </a>
        </div>
      </div>
      <div class="text-center">
        <button class="py-5 px-8 text-sm font-bold text-blue-800 leading-normal uppercase bg-yellow-500 hover:bg-yellow-400">Load more articles</button>
      </div>
    </div>
  </section> </div>