<div> <section class="relative py-24 bg-blue-50">
    <div class="container px-4 mx-auto">
      <div class="max-w-2xl mb-24 mx-auto text-center">
        <span class="text-blue-400 uppercase font-semibold tracking-widest">New feature</span>
        <h2 class="mt-4 mb-6 text-4xl font-bold font-heading text-blue-800">Take quick action that increases your brand's regular profit.</h2>
        <p class="text-lg text-gray-500">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
      </div>
      <div class="flex flex-wrap -mx-3 -mb-12 lg:-mb-16">
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-12 lg:mb-16">
          <div class="relative pt-16 pb-12 px-8 text-center bg-blue-800">
            <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-500 font-bold">1</span>
            <h3 class="mb-4 lg:px-10 text-lg font-semibold font-heading text-white">Making changes simple and easy</h3>
            <p class="text-gray-50 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-12 lg:mb-16">
          <div class="relative pt-16 pb-12 px-8 text-center bg-blue-800">
            <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-500 font-bold">2</span>
            <h3 class="mb-4 lg:px-10 text-lg font-semibold font-heading text-white">Fusce mauris ligula, tincidunt vel</h3>
            <p class="text-gray-50 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-12 lg:mb-16">
          <div class="relative pt-16 pb-12 px-8 text-center bg-blue-800">
            <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-500 font-bold">3</span>
            <h3 class="mb-4 lg:px-10 text-lg font-semibold font-heading text-white">Praesent non turpis arcu</h3>
            <p class="text-gray-50 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-10">
          <div class="relative pt-16 pb-12 px-8 text-center bg-blue-800">
            <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-500 font-bold">4</span>
            <h3 class="mb-4 lg:px-10 text-lg font-semibold font-heading text-white">Nulla facilisis mollis lacus sagittis</h3>
            <p class="text-gray-50 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-10">
          <div class="relative pt-16 pb-12 px-8 text-center bg-blue-800">
            <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-500 font-bold">5</span>
            <h3 class="mb-4 lg:px-10 text-lg font-semibold font-heading text-white">Morbi vitae leo nec libero lacinia</h3>
            <p class="text-gray-50 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-10">
          <div class="relative pt-16 pb-12 px-8 text-center bg-blue-800">
            <span class="absolute top-0 inset-x-0 -mt-8 text-6xl text-yellow-500 font-bold">6</span>
            <h3 class="mb-4 lg:px-10 text-lg font-semibold font-heading text-white">Curabitur rutrum ex rutrum congue</h3>
            <p class="text-gray-50 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
          </div>
        </div>
      </div>
    </div>
  </section></div>