<div>
	<section class="relative bg-blue-800 overflow-hidden">
		<nav class="relative z-10 py-8 px-4 xl:px-10">
			<div class="flex justify-between items-center">
				<a class="text-xl text-white font-semibold" href="#">
					<img
						class="h-7"
						src="https://shuffle.dev/bendis-assets/logos/bendis-light.svg"
						alt=""
						width="auto"
					/>
				</a>
				<div class="lg:hidden">
					<button class="navbar-burger flex items-center p-3 rounded">
						<svg
							class="text-white block h-4 w-4"
							viewbox="0 0 20 20"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
						>
							<title>Mobile menu</title>
							<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
						</svg>
					</button>
				</div>
				<ul
					class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:w-auto lg:space-x-10"
				>
					<li><a class="text-white font-semibold hover:text-blue-50" href="#">About</a></li>
					<li><a class="text-white font-semibold hover:text-blue-50" href="#">Company</a></li>
					<li><a class="text-white font-semibold hover:text-blue-50" href="#">Services</a></li>
					<li><a class="text-white font-semibold hover:text-blue-50" href="#">Testimonials</a></li>
				</ul>
				<div class="hidden lg:block">
					<a class="inline-block px-8 text-white hover:text-blue-50 font-semibold" href="#">Sign in</a
					><a
						class="inline-block py-3 px-8 text-sm text-white hover:text-blue-50 uppercase font-semibold border-2 border-white"
						href="#"
						>Sign up</a
					>
				</div>
			</div>
		</nav>
		<div class="relative pt-12 pb-32 md:pb-32 bg-blue-800">
			<div class="absolute top-0 bottom-0 -left-1/4 -right-1/4 flex items-center justify-center">
				<h2 class="stroke opacity-75">BE BOLD</h2>
			</div>
			<div class="relative container px-4 mx-auto text-center">
				<div class="relative max-w-4xl mx-auto mt-20">
					<div class="relative z-10 mb-20">
						<span class="text-lg text-white font-semibold tracking-widest uppercase"
							>Develop your skill</span
						>
						<h2 class="mt-8 mb-8 text-white text-4xl lg:text-6xl font-bold uppercase">
							Take care of your performance every day.
						</h2>
						<a
							class="inline-block w-full md:w-auto mb-2 md:mb-0 py-5 px-8 mr-6 text-sm font-bold uppercase bg-yellow-500 hover:bg-yellow-400 transition duration-200"
							href="#"
							>Get started free</a
						><a
							class="inline-block w-full md:w-auto py-5 px-8 text-sm text-white font-bold uppercase border border-white hover:border-gray-50 transition duration-200"
							href="#"
							>Request demo</a
						>
					</div>
					<a
						class="relative z-10 flex justify-center items-center text-center text-white hover:text-blue-100"
						href="#"
					>
						<span>Watch</span>
						<span class="px-2">
							<svg
								width="32"
								height="32"
								viewbox="0 0 32 32"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M22.2769 16.6154L12.1231 22.4615C11.9015 22.72 11.5138 22.7569 11.2554 22.5354C11.0523 22.3692 10.9846 22.0923 11.0769 21.8462V10.1538C10.9538 9.83385 11.1138 9.48308 11.4338 9.36C11.68 9.26769 11.9569 9.33539 12.1231 9.53846L22.2769 15.3846C22.6154 15.5385 22.7631 15.9446 22.6092 16.2831C22.5415 16.4308 22.4246 16.5477 22.2769 16.6154ZM32 16C32 24.8369 24.8369 32 16 32C7.16308 32 0 24.8369 0 16C0 7.16308 7.16308 0 16 0C24.8369 0 32 7.16308 32 16ZM29.5385 16C29.5385 8.52308 23.4769 2.46154 16 2.46154C8.52308 2.46154 2.46154 8.52308 2.46154 16C2.46154 23.4769 8.52308 29.5385 16 29.5385C23.4769 29.5385 29.5385 23.4769 29.5385 16Z"
									fill="currentColor"
								></path>
							</svg>
						</span>
						<span>demo</span>
					</a>
					<img
						class="hidden lg:block absolute inset-0 ml-16 -mt-60 h-screen w-full mx-auto object-cover clip-path-both"
						src="https://shuffle.dev/bendis-assets/images/red-image.png"
						alt=""
					/>
				</div>
			</div>
		</div>
		<div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
			<div class="navbar-backdrop fixed inset-0 bg-blue-800 opacity-90"></div>
			<nav class="relative flex flex-col py-8 w-full h-full bg-white border-r overflow-y-auto">
				<div class="flex items-center mb-16 pr-6">
					<a class="ml-16 mr-auto text-xl text-blue-800 font-semibold leading-none" href="#">
						<img
							class="h-7"
							src="https://shuffle.dev/bendis-assets/logos/bendis-blue.svg"
							alt=""
							width="auto"
						/>
					</a>
				</div>
				<div>
					<ul>
						<li class="mb-1">
							<a
								class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded"
								href="#"
								>About</a
							>
						</li>
						<li class="mb-1">
							<a
								class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded"
								href="#"
								>Company</a
							>
						</li>
						<li class="mb-1">
							<a
								class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded"
								href="#"
								>Services</a
							>
						</li>
						<li class="mb-1">
							<a
								class="block pl-16 py-5 font-semibold text-blue-800 hover:bg-blue-50 rounded"
								href="#"
								>Testimonials</a
							>
						</li>
					</ul>
				</div>
				<div class="mt-auto px-10">
					<div class="pt-6">
						<a class="block mb-2 py-4 text-center text-blue-800 font-semibold" href="#">Sign in</a
						><a
							class="block py-4 text-center text-blue-800 leading-normal uppercase border-2 border-blue-800 hover:bg-blue-50 font-semibold"
							href="#"
							>Sign Up</a
						>
					</div>
					<p class="mt-6 mb-4 text-sm text-center text-blue-400">
						<span>© 2021 All rights reserved © Wireframes Corporation 2021</span>
					</p>
				</div>
			</nav>
		</div>
	</section>
</div>
