<div>
	<section class="py-24 bg-blue-800">
		<div class="container mx-auto px-4">
			<div class="flex flex-wrap justify-between items-center -mx-2">
				<div class="w-full lg:w-2/6 px-2">
					<a class="inline-block mb-6 text-white text-lg font-semibold" href="#">
						<img
							class="h-7"
							src="https://shuffle.dev/bendis-assets/logos/bendis-light.svg"
							alt=""
							width="auto"
						/>
					</a>
					<p class="hidden lg:block text-sm text-blue-300">
						All rights reserved © Wireframes Corporation 2021
					</p>
				</div>
				<div class="w-full lg:w-4/6 px-2">
					<div class="flex flex-wrap items-center justify-end">
						<ul class="w-full lg:w-auto inline-flex flex-wrap mb-4 lg:mb-0 md:mr-6 lg:mr-16">
							<li class="mr-10 mb-2 md:mb-0">
								<a class="text-sm text-white hover:text-blue-100" href="#">Company</a>
							</li>
							<li class="mr-10 mb-2 md:mb-0">
								<a class="text-sm text-white hover:text-blue-100" href="#">Pages</a>
							</li>
							<li class="mr-10 mb-2 md:mb-0">
								<a class="text-sm text-white hover:text-blue-100" href="#">Legal</a>
							</li>
							<li class="mb-2 md:mb-0">
								<a class="text-sm text-white hover:text-blue-100" href="#"
									>Resources</a
								>
							</li>
						</ul>
						<a
							class="inline-block mr-auto lg:mr-0 py-5 px-8 text-sm text-blue-800 font-bold uppercase bg-yellow-500 hover:bg-yellow-400"
							href="#"
							>Action</a
						>
					</div>
					<p class="mt-6 lg:hidden text-sm text-blue-300">
						All rights reserved © Wireframes Corporation 2021
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
