<div>
	<section class="py-16">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap items-center -m-4">
				<div class="w-full md:w-1/2 lg:w-1/4 p-4">
					<div class="py-4">
						<img
							class="h-6 mx-auto"
							src="https://shuffle.dev/bendis-assets/logos/slack-color.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 p-4">
					<div class="py-4">
						<img
							class="h-6 mx-auto"
							src="https://shuffle.dev/bendis-assets/logos/dropbox-color.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 p-4">
					<div class="py-4">
						<img
							class="h-6 mx-auto"
							src="https://shuffle.dev/bendis-assets/logos/spotify-color.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 p-4">
					<div class="py-4">
						<img
							class="h-6 mx-auto"
							src="https://shuffle.dev/bendis-assets/logos/stripe-color.svg"
							alt=""
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
