<div> <section class="relative py-24 overflow-hidden">
    <div class="hidden lg:block absolute top-0 left-0 h-full w-1/2 bg-blue-50 clip-path-right-top"></div>
    <div class="relative container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-2/5 px-4 mb-20 lg:mb-0">
          <div class="max-w-md">
            <span class="text-blue-400 uppercase font-semibold tracking-widest">Lorem ipsum</span>
            <h2 class="mt-4 mb-6 text-4xl font-bold font-heading text-blue-800">Lorem ipsum dolor sit amet consectutar</h2>
            <p class="mb-8 text-xl text-gray-500">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
            <a class="inline-block px-8 py-5 text-sm uppercase text-blue-800 font-bold bg-yellow-500 hover:bg-yellow-400 transition duration-200" href="#">Try Demo</a>
          </div>
        </div>
        <div class="w-full lg:w-3/5 px-4">
          <div class="lg:ml-16 flex flex-wrap -mx-5">
            <div class="w-full lg:w-1/2 px-5 mb-8">
              <span class="flex justify-center items-center mb-4 w-20 h-12 clip-path-both bg-yellow-500 text-2xl text-blue-800 font-bold">1</span>
              <p class="text-base text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
            </div>
            <div class="w-full lg:w-1/2 px-5 mb-8">
              <span class="flex justify-center items-center mb-4 w-20 h-12 clip-path-both bg-yellow-500 text-2xl text-blue-800 font-bold">2</span>
              <p class="text-base text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
            </div>
            <div class="w-full lg:w-1/2 px-5 mb-8 lg:mb-0">
              <span class="flex justify-center items-center mb-4 w-20 h-12 clip-path-both bg-yellow-500 text-2xl text-blue-800 font-bold">3</span>
              <p class="text-base text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
            </div>
            <div class="w-full lg:w-1/2 px-5">
              <span class="flex justify-center items-center mb-4 w-20 h-12 clip-path-both bg-yellow-500 text-2xl text-blue-800 font-bold">4</span>
              <p class="text-base text-gray-500">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>