<div> <section class="py-24">
    <div class="container px-4 mx-auto">
      <div class="max-w-2xl mx-auto mb-10 text-center">
        <span class="text-blue-400 uppercase tracking-widest">Lorem ipsum</span>
        <h2 class="mt-5 mb-5 max-w-xl mx-auto text-center text-3xl text-blue-800 font-bold font-heading">Lorem ipsum dolor sit amet consectutar</h2>
        <p class="text-lg text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
      </div>
      <div class="flex flex-wrap items-center -m-4">
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-16 bg-blue-50">
            <img class="h-6 mx-auto" src="bendis-assets/logos/slack-color.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-16 bg-blue-50">
            <img class="h-6 mx-auto" src="bendis-assets/logos/dropbox-color.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-16 bg-blue-50">
            <img class="h-6 mx-auto" src="bendis-assets/logos/spotify-color.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-16 bg-blue-50">
            <img class="h-6 mx-auto" src="bendis-assets/logos/amazon-color.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-16 bg-blue-50">
            <img class="h-6 mx-auto" src="bendis-assets/logos/netflix-color.svg" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/3 lg:w-1/6 p-4">
          <div class="py-16 bg-blue-50">
            <img class="h-6 mx-auto" src="bendis-assets/logos/stripe-color.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section></div>