<div> <section class="py-24 bg-blue-50">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-1/2 px-4 pb-12 lg:pb-0">
          <div class="max-w-md">
            <h2 class="mb-8 text-4xl font-bold font-heading text-blue-800">Lorem ipsum</h2>
            <div class="flex items-start mb-8">
              <div class="mr-4">
                <svg class="text-blue-500 h-6 w-6" viewbox="0 0 26 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.8075 15.5254L23.3675 0.965393L26 3.59789L8.8075 20.8229L0 12.0479L2.665 9.38289L8.8075 15.5254Z"></path>
                </svg>
              </div>
              <div>
                <h3 class="mb-2 text-lg font-semibold font-heading text-blue-800">Quick problem-solving contact</h3>
                <p class="text-base text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
              </div>
            </div>
            <div class="flex items-start mb-8">
              <div class="mr-4">
                <svg class="text-blue-500 h-6 w-6" viewbox="0 0 26 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.8075 15.5254L23.3675 0.965393L26 3.59789L8.8075 20.8229L0 12.0479L2.665 9.38289L8.8075 15.5254Z"></path>
                </svg>
              </div>
              <div>
                <h3 class="mb-2 text-lg font-semibold font-heading text-blue-800">Making changes simple and easy</h3>
                <p class="text-base text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
              </div>
            </div>
            <div class="flex items-start">
              <div class="mr-4">
                <svg class="text-blue-500 h-6 w-6" viewbox="0 0 26 21" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.8075 15.5254L23.3675 0.965393L26 3.59789L8.8075 20.8229L0 12.0479L2.665 9.38289L8.8075 15.5254Z"></path>
                </svg>
              </div>
              <div>
                <h3 class="mb-2 text-lg font-semibold font-heading text-blue-800">Exchangeable at any time</h3>
                <p class="text-base text-gray-500 leading-loose">Etiam pellentesque non nibh non pulvinar. Mauris posuere, tellus sit amet tempus vestibulum.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <img class="w-full -112 object-cover lg:clip-path-left-top" src="https://images.unsplash.com/photo-1536851101967-55988a52f455?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1036&q=80" alt="">
        </div>
      </div>
    </div>
  </section></div>