<div>
	<section class="py-24">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap items-center -mx-4">
				<div class="w-full lg:w-1/2 px-4 mb-12 md:mb-16 lg:mb-0">
					<div class="max-w-md">
						<h2 class="mb-5 text-3xl font-bold font-heading text-blue-800">
							Lorem ipsum dolor sit amet consectutar
						</h2>
						<p class="text-lg text-gray-500">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa
							nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
						</p>
					</div>
				</div>
				<div class="w-full lg:w-1/2 px-4">
					<div class="flex flex-wrap -m-4">
						<div class="w-1/2 md:w-1/3 p-4">
							<div class="bg-blue-50 py-12">
								<img
									class="h-6 mx-auto"
									src="https://shuffle.dev/bendis-assets/logos/slack-color.svg"
									alt=""
								/>
							</div>
						</div>
						<div class="w-1/2 md:w-1/3 p-4">
							<div class="bg-blue-50 py-12">
								<img
									class="h-6 mx-auto"
									src="https://shuffle.dev/bendis-assets/logos/dropbox-color.svg"
									alt=""
								/>
							</div>
						</div>
						<div class="w-1/2 md:w-1/3 p-4">
							<div class="bg-blue-50 py-12">
								<img
									class="h-6 mx-auto"
									src="https://shuffle.dev/bendis-assets/logos/spotify-color.svg"
									alt=""
								/>
							</div>
						</div>
						<div class="w-1/2 md:w-1/3 p-4">
							<div class="bg-blue-50 py-12">
								<img
									class="h-6 mx-auto"
									src="https://shuffle.dev/bendis-assets/logos/amazon-color.svg"
									alt=""
								/>
							</div>
						</div>
						<div class="w-1/2 md:w-1/3 p-4">
							<div class="bg-blue-50 py-12">
								<img
									class="h-6 mx-auto"
									src="https://shuffle.dev/bendis-assets/logos/netflix-color.svg"
									alt=""
								/>
							</div>
						</div>
						<div class="w-1/2 md:w-1/3 p-4">
							<div class="bg-blue-50 py-12">
								<img
									class="h-6 mx-auto"
									src="https://shuffle.dev/bendis-assets/logos/stripe-color.svg"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
