<div> <section class="relative py-24 bg-blue-50">
    <div class="container px-4 mx-auto">
      <div class="relative flex flex-wrap items-center -mx-4">
        <div class="relative w-full lg:w-1/2 px-4 mb-12 lg:mb-0">
          <div class="relative lg:pl-10 max-w-lg">
            <h2 class="mb-8 text-4xl font-bold text-blue-800">Take quick action that increases your brand's regular profit.</h2>
            <p class="text-lg text-gray-500">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <img class="clip-path-left-top" src="https://images.unsplash.com/photo-1536851101967-55988a52f455?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1036&q=80" alt="">
        </div>
      </div>
    </div>
  </section></div>