<div> <section class="py-24 bg-black overflow-hidden">
    <div class="container mx-auto px-4">
      <div class="mb-32 max-w-xl mx-auto text-center">
        <span class="text-lg font-semibold text-blue-400">Lorem ipsum</span>
        <h2 class="mt-6 text-2xl text-white uppercase font-heading">Take quick action that increases your brand's regular profit.</h2>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="relative w-full md:w-1/2 lg:w-1/4 px-4 mb-24 lg:mb-0">
          <div class="w-64 mx-auto">
            <img class="absolute h-64 w-64 top-0 left-0 sm:ml-24 md:-ml-6 -mt-28" src="boldui-assets/elements/ellipse.svg" alt="">
            <h3 class="mb-6 text-5xl text-yellow-500 font-heading">60%</h3>
            <div class="max-w-xs">
              <h4 class="mb-4 text-lg text-white font-heading">Security in saving</h4>
              <p class="text-lg text-gray-500">Take care to develop resources continually and integrity them with previous projects.</p>
            </div>
          </div>
        </div>
        <div class="relative w-full md:w-1/2 lg:w-1/4 px-4 mb-24 lg:mb-0">
          <div class="w-64 mx-auto">
            <img class="absolute h-64 w-64 top-0 left-0 sm:ml-24 md:-ml-6 -mt-28" src="boldui-assets/elements/ellipse.svg" alt="">
            <h3 class="mb-6 text-5xl text-yellow-500 font-heading">21%</h3>
            <div class="max-w-xs">
              <h4 class="mb-4 text-lg text-white font-heading">No errors</h4>
              <p class="text-lg text-gray-500">Take care to develop resources continually and integrity them with previous projects.</p>
            </div>
          </div>
        </div>
        <div class="relative w-full md:w-1/2 lg:w-1/4 px-4 mb-24 md:mb-0">
          <div class="w-64 mx-auto">
            <img class="absolute h-64 w-64 top-0 left-0 sm:ml-24 md:-ml-6 -mt-28" src="boldui-assets/elements/ellipse.svg" alt="">
            <h3 class="mb-6 text-5xl text-yellow-500 font-heading">52%</h3>
            <div class="max-w-xs">
              <h4 class="mb-4 text-lg text-white font-heading">Change of access</h4>
              <p class="text-lg text-gray-500">Take care to develop resources continually and integrity them with previous projects.</p>
            </div>
          </div>
        </div>
        <div class="relative w-full md:w-1/2 lg:w-1/4 px-4">
          <div class="w-64 mx-auto">
            <img class="absolute h-64 w-64 top-0 left-0 sm:ml-24 md:-ml-6 -mt-28" src="boldui-assets/elements/ellipse.svg" alt="">
            <h3 class="mb-6 text-5xl text-yellow-500 font-heading">73%</h3>
            <div class="max-w-xs">
              <h4 class="mb-4 text-lg text-white font-heading">Weekly email</h4>
              <p class="text-lg text-gray-500">Take care to develop resources continually and integrity them with previous projects.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>