<div>
	<section class="relative py-12 md:py-24 lg:py-32 bg-body overflow-hidden">
		<div
			class="absolute top-0 right-0 mr-40 -mt-20 w-160 h-128 bg-gradient-to-t from-blue-500 to-darkBlue-900 rounded-full filter blur-4xl"
		></div>
		<div
			class="absolute top-0 right-0 mt-64 mr-128 w-96 h-96 bg-gradient-to-t from-purple-600 to-darkBlue-900 rounded-full filter blur-4xl"
		></div>
		<div class="relative container mx-auto px-4">
			<div class="max-w-xl lg:max-w-none mx-auto">
				<div class="mb-20">
					<h2
						class="font-heading text-4xl xs:text-5xl sm:text-6xl md:text-7xl font-medium text-white tracking-tight mb-6"
					>
						How it works
					</h2>
					<p class="text-xl text-gray-400">Mi turpis turpis in justo pellentesque id nibh praesent.</p>
				</div>
				<div class="relative flex flex-wrap -mx-4">
					<div class="w-full lg:w-1/2 px-4 mb-16 lg:mb-0">
						<div class="max-w-sm pr-4 mb-8">
							<h3 class="font-heading text-4xl xl:text-5xl font-semibold text-gray-700">
								01
							</h3>
							<div class="my-6 h-1 w-full bg-white bg-opacity-20"></div>
							<p class="text-xl text-gray-100 tracking-tight">
								From answering questions to providing recommendations, our AI
								assistant will engage your visitors effortlessly.
							</p>
						</div>
						<div class="max-w-sm pr-4 mb-8">
							<h3 class="font-heading text-4xl xl:text-5xl font-semibold text-gray-700">
								02
							</h3>
							<div class="my-6 h-1 w-full bg-white bg-opacity-20"></div>
							<p class="text-xl text-gray-100 tracking-tight">
								By understanding your visitors' needs, our chat assistant creates a
								unique experience
							</p>
						</div>
						<div class="max-w-sm pr-4">
							<h3 class="font-heading text-4xl xl:text-5xl font-semibold text-gray-700">
								03
							</h3>
							<div class="my-6 h-1 w-full bg-white bg-opacity-20"></div>
							<p class="text-xl text-gray-100 tracking-tight">
								Say goodbye to static web pages and hello to an interactive,
								conversational platform
							</p>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-4">
						<div
							class="relative flex max-w-xl mx-auto lg:mr-0 pt-16 sm:pt-24 pl-16 sm:pl-24 items-end justify-end rounded-3xl overflow-hidden"
						>
							<img
								class="absolute top-0 left-0 w-full h-full"
								src="https://shuffle.dev/casper-assets/how-it-works/bg-gradient-lg.png"
								alt=""
							/>
							<img
								class="relative w-full h-full rounded-tl-3xl object-cover"
								src="https://shuffle.dev/casper-assets/how-it-works/box-fabric-lg.png"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
