<div>
	<section class="relative py-12 md:py-24 bg-body overflow-hidden">
		<div class="relative container mx-auto px-4">
			<div
				class="absolute top-0 right-0 -mt-96 w-186 h-186 bg-gradient-to-t from-purple-600 via-darkBlue-900 to-transparent rounded-full filter blur-4xl"
			></div>
			<img
				class="hidden md:block absolute top-0 left-0 z-10 animate-spinStar"
				src="https://shuffle.dev/casper-assets/content/blink-star.png"
				alt=""
			/>
			<div class="relative max-w-4xl mx-auto mb-12">
				<div class="text-center mb-12">
					<span class="block text-sm font-medium text-sky-900 mb-4">BLOG CATEGORY</span>
					<h2 class="font-heading text-4xl xs:text-5xl font-medium text-white tracking-tight">
						Mi quisque ultrices hendrerit nec aliquet integer mollis faucibus
					</h2>
				</div>
				<div class="sm:flex items-center justify-between">
					<div class="flex items-center mb-10 sm:mb-0">
						<img class="mr-5" src="https://shuffle.dev/casper-assets/content/avatar.png" alt="" />
						<div>
							<span class="block text-lg text-white font-medium">Rakabuming Suhu</span>
							<span class="text-gray-600">Editor</span>
						</div>
					</div>
					<div class="flex items-center">
						<span class="mr-5 font-medium text-white tracking-tight">Share</span>
						<a
							class="flex items-center justify-center w-12 h-12 mr-3 rounded-full bg-sky-900 hover:bg-violet-600 transition duration-150"
							href="#"
						>
							<svg
								width="21"
								height="20"
								viewbox="0 0 21 20"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M19.6668 2.49999C18.8688 3.06289 17.9853 3.49341 17.0502 3.77499C16.5483 3.19791 15.8813 2.7889 15.1394 2.60326C14.3974 2.41762 13.6164 2.46432 12.9019 2.73703C12.1874 3.00975 11.5739 3.49532 11.1443 4.12808C10.7148 4.76085 10.4899 5.51027 10.5002 6.27499V7.10832C9.03569 7.14629 7.58456 6.8215 6.276 6.16286C4.96745 5.50422 3.84209 4.53218 3.00016 3.33332C3.00016 3.33332 -0.333171 10.8333 7.16683 14.1667C5.4506 15.3316 3.40613 15.9158 1.3335 15.8333C8.8335 20 18.0002 15.8333 18.0002 6.24999C17.9994 6.01787 17.9771 5.78632 17.9335 5.55832C18.784 4.71957 19.3842 3.66058 19.6668 2.49999Z"
									stroke="white"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
							</svg>
						</a>
						<a
							class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500 hover:bg-violet-600 transition duration-150"
							href="#"
						>
							<svg
								width="21"
								height="20"
								viewbox="0 0 21 20"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M15.5002 1.66666H13.0002C11.8951 1.66666 10.8353 2.10564 10.0539 2.88704C9.27248 3.66845 8.8335 4.72825 8.8335 5.83332V8.33332H6.3335V11.6667H8.8335V18.3333H12.1668V11.6667H14.6668L15.5002 8.33332H12.1668V5.83332C12.1668 5.61231 12.2546 5.40035 12.4109 5.24407C12.5672 5.08779 12.7791 4.99999 13.0002 4.99999H15.5002V1.66666Z"
									stroke="white"
									stroke-width="1.5"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<img
				class="block w-full h-112 object-cover rounded-3xl mb-12"
				src="https://shuffle.dev/casper-assets/content/image-lg.png"
				alt=""
			/>
			<div class="max-w-4xl mx-auto">
				<h3 class="text-2xl text-gray-50 font-medium mb-8">Heading goes here</h3>
				<p class="text-lg tracking-tight text-gray-200 mb-4">
					Pellentesque ipsum nulla in eget interdum a. Neque pellentesque pulvinar mauris pulvinar diam.
					Turpis aliquet pellentesque velit vitae nisi sed morbi ultrices sed. Egestas interdum elit integer
					nec pharetra eget blandit dolor purus. A sed nisi congue morbi fermentum blandit. Turpis pretium
					dignissim risus ultrices purus et amet netus nibh.
				</p>
				<p class="text-lg tracking-tight text-gray-200">
					Vestibulum est ante in congue a fusce nunc. At tristique donec nisi viverra vulputate blandit orci
					at lectus. Morbi cras urna congue ornare. Mi magna vestibulum tortor id nec tortor non. Enim orci
					lorem egestas sed morbi dui mauris etiam nulla. Euismod cursus viverra ut ac eu sit quam amet
					tempor. Id in suspendisse nam sit vitae ullamcorper mollis et ut.
				</p>
			</div>
		</div>
	</section>
</div>
