<div> <section>
    <div class="container px-4 mx-auto">
      <div class="max-w-6xl mx-auto mb-16">
        <div class="py-12 px-6 md:p-20 bg-black">
          <div class="flex flex-wrap -mx-4 items-center">
            <div class="w-full lg:w-1/3 px-4 mb-8 lg:mb-0">
              <a class="inline-block" href="#">
                <img src="pstls-assets/logos/pstls-logo-xl.svg" alt="" width="207">
              </a>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-8 lg:mb-0">
              <p class="text-white">A short message that will bring your customers into the world of your imagination. And will allow them to become more familiar with your brand.</p>
            </div>
            <div class="w-full lg:w-1/3 px-4 lg:text-right"><a class="inline-block px-14 py-3 text-center text-black font-bold bg-indigo-200 hover:bg-indigo-300 transition duration-200" href="#">Buy Now</a></div>
          </div>
        </div>
        <div class="flex flex-wrap -mx-4 pt-12 -mb-10">
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10">
            <h5 class="text-xl font-bold mb-5">Product</h5>
            <ul>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Hello</a></li>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Story</a></li>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Pricing</a></li>
              <li><a class="inline-block hover:text-gray-900" href="#">Applications</a></li>
            </ul>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10">
            <h5 class="text-xl font-bold mb-5">Resources</h5>
            <ul>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">New account</a></li>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Log in</a></li>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Testimonials</a></li>
              <li><a class="inline-block hover:text-gray-900" href="#">Contact</a></li>
            </ul>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10">
            <h5 class="text-xl font-bold mb-5">Product</h5>
            <ul>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Hello</a></li>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Story</a></li>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Pricing</a></li>
              <li><a class="inline-block hover:text-gray-900" href="#">Applications</a></li>
            </ul>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10">
            <h5 class="text-xl font-bold mb-5">Resources</h5>
            <ul>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">New account</a></li>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Log in</a></li>
              <li class="mb-2"><a class="inline-block hover:text-gray-900" href="#">Testimonials</a></li>
              <li><a class="inline-block hover:text-gray-900" href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-100 py-16 text-center">
      <div class="container px-4 mx-auto">
        <p class="text-sm text-gray-500">© Pstls. 2022 All right reserved.</p>
      </div>
    </div>
  </section></div>