<div><section class="bg-black">
    <div class="container px-4 mx-auto">
      <div class="pt-24 pb-16">
        <div class="flex flex-wrap -mx-4 justify-between">
          <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10 lg:mb-0">
            <a class="inline-block mb-6" href="#">
              <img src="pstls-assets/logos/pstls-logo-normal-white.svg" alt="" width="87">
            </a>
            <p class="leading-8 mb-6 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="flex items-center">
              <a class="inline-block mr-4" href="#">
                <img src="pstls-assets/logos/twitter.svg" alt="">
              </a>
              <a class="inline-block mr-4" href="#">
                <img src="pstls-assets/logos/google.svg" alt="">
              </a>
              <a class="inline-block" href="#">
                <img src="pstls-assets/logos/facebook.svg" alt="">
              </a>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-auto px-4 mb-10 lg:mb-0">
            <h5 class="text-xl font-bold mb-5 text-white">Product</h5>
            <ul>
              <li class="mb-2"><a class="inline-block text-white hover:text-gray-200" href="#">Hello</a></li>
              <li class="mb-2"><a class="inline-block text-white hover:text-gray-200" href="#">Story</a></li>
              <li class="mb-2"><a class="inline-block text-white hover:text-gray-200" href="#">Pricing</a></li>
              <li><a class="inline-block text-white hover:text-gray-200" href="#">Applications</a></li>
            </ul>
          </div>
          <div class="w-full md:w-1/2 lg:w-auto px-4 mb-10 lg:mb-0">
            <h5 class="text-xl font-bold mb-5 text-white">Resources</h5>
            <ul>
              <li class="mb-2"><a class="inline-block text-white hover:text-gray-200" href="#">New account</a></li>
              <li class="mb-2"><a class="inline-block text-white hover:text-gray-200" href="#">Log in</a></li>
              <li class="mb-2"><a class="inline-block text-white">Testimonials</a></li>
              <li><a class="inline-block text-white hover:text-gray-200" href="#">Contact</a></li>
            </ul>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 px-4">
            <h5 class="text-xl font-bold mb-5 text-white">Subscribe</h5>
            <div class="flex items-center pl-3 pr-2 py-2 bg-white">
              <input class="xl:w-4/6 px-2 inline-block bg-transparent text-base outline-none" type="email" placeholder="Email Address">
              <a class="ml-auto inline-block px-3 py-2 bg-black hover:bg-gray-900 text-white font-bold transition duration-200" href="#">Send</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-gray-900">
      <div class="container px-4 mx-auto">
        <div class="py-16 text-center">
          <p class="text-gray-300">© Pstls. 2022 All right reserved.</p>
        </div>
      </div>
    </div>
  </section> </div>