<div>
	<section class="relative py-12 md:py-24 bg-body overflow-hidden">
		<div class="relative container mx-auto px-4">
			<div class="relative max-w-lg lg:max-w-8xl mx-auto">
				<div
					class="absolute top-0 left-0 -ml-64 -mt-80 w-186 h-186 bg-gradient-to-t from-purple-600 via-darkBlue-900 to-transparent rounded-full filter blur-4xl"
				></div>
				<div
					class="absolute bottom-0 right-0 w-186 h-186 bg-gradient-to-t from-violet-700 via-darkBlue-900 to-transparent rounded-full filter blur-4xl"
				></div>
				<div class="relative">
					<div class="max-w-2xl mx-auto mb-18 text-center">
						<span class="block text-lg text-gray-500 tracking-tight mb-6">Type Caption Here</span>
						<h2
							class="font-heading text-4xl xs:text-5xl sm:text-6xl md:text-7xl font-medium text-white tracking-tight"
						>
							Blog & Articles
						</h2>
					</div>
					<div class="flex flex-wrap -mx-4">
						<div class="w-full lg:w-1/2 px-4 mb-16 lg:mb-0">
							<a class="block" href="#">
								<img
									class="block mb-5 w-full"
									src="https://shuffle.dev/casper-assets/blog/blog-5-article1.png"
									alt=""
								/>
								<div class="max-w-lg">
									<span
										class="block text-base tracking-tight text-gray-200 opacity-70 mb-5"
										>Jul 20, 2022</span
									>
									<h3 class="text-3xl font-medium text-white mb-5">
										Consectures Dummy Content Velit officia consequat
										duis enim velit
									</h3>
									<p class="text-lg tracking-tight text-gray-100 opacity-60">
										Amet minim mollit non deserunt ullamco est sit
										aliqua dolor do amet sint. Velit officia consequat
										duis enim velit mollit xercitation.
									</p>
								</div>
							</a>
						</div>
						<div class="w-full lg:w-1/2 px-4">
							<a class="flex flex-wrap items-center -mx-4 mb-8" href="#">
								<div class="w-full sm:w-1/3 px-4 mb-6 sm:mb-0">
									<img
										class="block h-40 object-cover rounded-lg"
										src="https://shuffle.dev/casper-assets/blog/blog-5-article2.png"
										alt=""
									/>
								</div>
								<div class="w-full sm:w-2/3 px-4">
									<div class="max-w-xs">
										<span
											class="block text-base tracking-tight text-gray-200 opacity-70 mb-2"
											>Jul 20, 2022</span
										>
										<h3
											class="text-xl font-medium text-white tracking-tight leading-relaxed"
										>
											Consectures Content Velitpato officia
											consequat duis enim velit mollit
										</h3>
									</div>
								</div>
							</a>
							<a class="flex flex-wrap items-center -mx-4 mb-8" href="#">
								<div class="w-full sm:w-1/3 px-4 mb-6 sm:mb-0">
									<img
										class="block h-40 object-cover rounded-lg"
										src="https://shuffle.dev/casper-assets/blog/blog-5-article3.png"
										alt=""
									/>
								</div>
								<div class="w-full sm:w-2/3 px-4">
									<div class="max-w-xs">
										<span
											class="block text-base tracking-tight text-gray-200 opacity-70 mb-2"
											>Jul 20, 2022</span
										>
										<h3
											class="text-xl font-medium text-white tracking-tight leading-relaxed"
										>
											Consectures Content Velitpato officia
											consequat duis enim velit mollit
										</h3>
									</div>
								</div>
							</a>
							<a class="flex flex-wrap items-center -mx-4" href="#">
								<div class="w-full sm:w-1/3 px-4 mb-6 sm:mb-0">
									<img
										class="block h-40 object-cover rounded-lg"
										src="https://shuffle.dev/casper-assets/blog/blog-5-article4.png"
										alt=""
									/>
								</div>
								<div class="w-full sm:w-2/3 px-4">
									<div class="max-w-xs">
										<span
											class="block text-base tracking-tight text-gray-200 opacity-70 mb-2"
											>Jul 20, 2022</span
										>
										<h3
											class="text-xl font-medium text-white tracking-tight leading-relaxed"
										>
											Consectures Content Velitpato officia
											consequat duis enim velit mollit
										</h3>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
