<div> <section class="py-24">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4 items-center">
        <div class="w-full lg:w-1/2 px-4 mb-24 lg:mb-0">
          <div class="relative">
            <img class="absolute top-0 left-0 mt-8 ml-8" src="pstls-assets/images/features/shadow-photo.png" alt="">
            <img class="block w-full relative" src="pstls-assets/images/features/features-8-room.png" alt="">
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="max-w-md mx-auto">
            <h2 class="text-4xl lg:text-5xl font-heading mb-9">Free Philippine Real Estate Ads Forums And Classifieds</h2>
            <p class="leading-8 mb-14">Dream interpretation has many forms; it can be done be done for the sake of fun, hobby or can be taken up as a serious career.</p>
            <div>
              <div class="flex items-center mb-8">
                <img class="block mr-5" src="pstls-assets/icons/features-6-check-circle.svg" alt="">
                <p>Video Games Playing With Imagination</p>
              </div>
              <div class="flex items-center mb-8">
                <img class="block mr-5" src="pstls-assets/icons/features-6-check-circle.svg" alt="">
                <p>Headset No Longer Wired For Sound</p>
              </div>
              <div class="flex items-center">
                <img class="block mr-5" src="pstls-assets/icons/features-6-check-circle.svg" alt="">
                <p>Sony Laptops Are Still Part Of The Sony Family</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>