<div> <section class="relative py-12 sm:pt-24 bg-body overflow-hidden">
    <img class="hidden sm:block absolute top-0 left-0 w-32 lg:w-auto mt-24 lg:mt-16 xl:mt-10 ml-12" src="casper-assets/footer/gun-bubble.png" alt="">
    <div class="relative container mx-auto px-4">
      <div class="absolute top-0 right-0 -mt-96 -mr-52 w-186 h-186 bg-gradient-to-t from-violet-700 via-darkBlue-900 to-transparent rounded-full filter blur-4xl"></div>
      <div class="relative">
        <div class="text-center mb-20">
          <a class="inline-block mb-20" href="#">
            <img class="block" src="casper-assets/footer/logo-c-only.svg" alt="">
          </a>
          <ul class="md:flex justify-center -mx-4 xl:-mx-8 -mb-4">
            <li class="px-4 xl:px-8 mb-4"><a class="inline-block text-lg tracking-tight text-white hover:text-violet-600" href="#">Product</a></li>
            <li class="px-4 xl:px-8 mb-4"><a class="inline-block text-lg tracking-tight text-white hover:text-violet-600" href="#">Features</a></li>
            <li class="px-4 xl:px-8 mb-4"><a class="inline-block text-lg tracking-tight text-white hover:text-violet-600" href="#">Pricing</a></li>
            <li class="px-4 xl:px-8 mb-4"><a class="inline-block text-lg tracking-tight text-white hover:text-violet-600" href="#">Resources</a></li>
            <li class="px-4 xl:px-8 mb-4"><a class="inline-block text-lg tracking-tight text-white hover:text-violet-600" href="#">Careers</a></li>
            <li class="px-4 xl:px-8 mb-4"><a class="inline-block text-lg tracking-tight text-white hover:text-violet-600" href="#">Help</a></li>
            <li class="px-4 xl:px-8 mb-4"><a class="inline-block text-lg tracking-tight text-white hover:text-violet-600" href="#">Privacy</a></li>
          </ul>
        </div>
        <div class="pt-10 border-t border-gray-800">
          <div class="md:flex items-center justify-between">
            <div class="mb-6 md:mb-0">
              <span class="text-gray-600 tracking-tight">© Casper. All rights reserved</span>
            </div>
            <div><a class="inline-block mr-10 text-white hover:underline tracking-tight" href="#">Terms & Conditions</a><a class="inline-block text-white hover:underline tracking-tight" href="#">Privacy Policy</a></div>
          </div>
        </div>
      </div>
    </div>
  </section></div>