<div>
	<section class="relative py-12 md:py-24 bg-body overflow-hidden">
		<div class="relative container mx-auto px-4">
			<img
				class="hidden md:block absolute top-0 right-0 -mt-12 z-10"
				src="https://shuffle.dev/casper-assets/services/robot-skew.png"
				alt=""
			/>
			<div class="relative z-20 max-w-md lg:max-w-4xl mx-auto lg:mx-0 mb-16">
				<h2
					class="font-heading text-4xl xs:text-5xl sm:text-6xl lg:text-7xl font-medium text-white tracking-tight mb-6"
				>
					Our Services
				</h2>
				<p class="max-w-xl text-xl text-gray-500 tracking-tight">
					Mi turpis turpis in justo pellentesque id nibh praesent.
				</p>
			</div>
			<div class="relative max-w-md lg:max-w-none mx-auto">
				<div class="flex flex-wrap -mx-4">
					<div class="w-full lg:w-1/2 px-4 mb-18 lg:mb-0">
						<div class="relative inline-block max-w-md xl:max-w-none">
							<button
								class="group absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 block z-10"
							>
								<div
									class="relative flex h-20 w-20 overflow-hidden items-center justify-center rounded-full"
								>
									<div
										class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-40 group-hover:bg-opacity-50 backdrop-filter backdrop-blur-sm rounded-full transition duration-75"
									></div>
									<svg
										class="relative w-6 h-6 text-white"
										viewbox="-3 0 28 28"
										xmlns="http://www.w3.org/2000/svg"
										fill="currentColor"
									>
										<g
											transform="translate(-419.000000, -571.000000)"
										>
											<path
												fill="currentColor"
												d="M440.415,583.554 L421.418,571.311 C420.291,570.704 419,570.767 419,572.946 L419,597.054 C419,599.046 420.385,599.36 421.418,598.689 L440.415,586.446 C441.197,585.647 441.197,584.353 440.415,583.554"
											></path>
										</g>
									</svg>
								</div>
							</button>
							<img
								class="relative block rounded-3xl"
								src="https://shuffle.dev/casper-assets/services/video.png"
								alt=""
							/>
						</div>
					</div>
					<div class="relative w-full lg:w-1/2 px-4">
						<div
							class="absolute top-0 right-0 -mt-96 w-186 h-186 bg-gradient-to-t from-violet-700 via-darkBlue-900 rounded-full filter blur-4xl"
						></div>
						<div class="relative max-w-lg ml-auto">
							<div class="mb-18">
								<h4 class="text-4xl font-medium text-white">
									Personalized Experiences
								</h4>
								<div class="h-1 my-6 bg-white bg-opacity-10 rounded-full"></div>
								<div class="md:flex items-start">
									<img
										class="flex-shrink-0 block w-18 h-18"
										src="https://shuffle.dev/casper-assets/services/circle-icon1.png"
										alt=""
									/>
									<div class="mt-6 md:mt-0 md:ml-6 max-w-sm">
										<p class="text-xl text-white leading-relaxed">
											From answering questions to providing
											recommendations, our AI assistant will
											engage your visitors effortlessly.
										</p>
									</div>
								</div>
							</div>
							<div>
								<h4 class="text-4xl font-medium text-white">
									Analytics and Insights
								</h4>
								<div class="h-1 my-6 bg-white bg-opacity-10 rounded-full"></div>
								<div class="md:flex items-start">
									<img
										class="flex-shrink-0 block w-18 h-18"
										src="https://shuffle.dev/casper-assets/services/circle-icon3.png"
										alt=""
									/>
									<div class="mt-6 md:mt-0 md:ml-6 max-w-sm">
										<p class="text-xl text-white leading-relaxed">
											By understanding your visitors' needs,
											our chat assistant creates a unique
											experience
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
