<div><section class="py-24">
    <div class="container px-4 mx-auto">
      <div class="max-w-xl mx-auto mb-10 text-center">
        <h2 class="text-5xl font-heading mb-6">Features List</h2>
        <p class="leading-8">This UI Kit uses attractive colors and modern typography to make you look good, no matter what business you’re in.</p>
      </div>
      <div class="flex flex-wrap -mx-4 -mb-10">
        <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10">
          <div class="max-w-xs mx-auto text-center">
            <img class="block mx-auto mb-8" src="pstls-assets/icons/rounded-document-clean.svg" alt="">
            <h5 class="text-xl font-heading mb-4">Layer styles</h5>
            <p class="leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10">
          <div class="max-w-xs mx-auto text-center">
            <img class="block mx-auto mb-8" src="pstls-assets/icons/rounded-filters.svg" alt="">
            <h5 class="text-xl font-heading mb-4">Change of access</h5>
            <p class="leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10">
          <div class="max-w-xs mx-auto text-center">
            <img class="block mx-auto mb-8" src="pstls-assets/icons/rounded-users.svg" alt="">
            <h5 class="text-xl font-heading mb-4">List of regular users</h5>
            <p class="leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-10">
          <div class="max-w-xs mx-auto text-center">
            <img class="block mx-auto mb-8" src="pstls-assets/icons/rounded-check-circle.svg" alt="">
            <h5 class="text-xl font-heading mb-4">No errors</h5>
            <p class="leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
          </div>
        </div>
      </div>
    </div>
  </section> </div>