<div><section class="py-24">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4 items-center">
        <div class="w-full lg:w-1/2 px-4 mb-10 lg:mb-0">
          <div class="max-w-md">
            <h2 class="text-4xl lg:text-5xl font-heading mb-9">Free Philippine Real Estate Ads Forums And Classifieds</h2>
            <p class="leading-8 mb-14">Dream interpretation has many forms; it can be done be done for the sake of fun, hobby or can be taken up as a serious career.</p>
            <div>
              <div class="flex items-center mb-8">
                <img class="block mr-5" src="pstls-assets/icons/features-6-check-circle.svg" alt="">
                <p>Video Games Playing With Imagination</p>
              </div>
              <div class="flex items-center mb-8">
                <img class="block mr-5" src="pstls-assets/icons/features-6-check-circle.svg" alt="">
                <p>Headset No Longer Wired For Sound</p>
              </div>
              <div class="flex items-center">
                <img class="block mr-5" src="pstls-assets/icons/features-6-check-circle.svg" alt="">
                <p>Sony Laptops Are Still Part Of The Sony Family</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0 md:mt-14 lg:mt-20">
              <img class="w-full h-96 mb-8" src="pstls-assets/images/features/features-6-room.png" alt="">
              <div class="w-full h-96 bg-red-100"></div>
            </div>
            <div class="w-full md:w-1/2 px-4">
              <div class="w-full h-96 bg-indigo-100 mb-8"></div>
              <img class="w-full h-96" src="pstls-assets/images/features/features-6-chair.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>