<div> <section>
    <div style="background-image: url('pstls-assets/images/how-it-works/shadows-colors2.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
      <div class="container px-4 mx-auto">
        <div class="max-w-2xl mx-auto py-24 text-center">
          <h1 class="text-5xl lg:text-6xl font-heading mb-6">Build and launch without problems</h1>
          <p class="leading-8">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
        </div>
      </div>
    </div>
    <div class="pt-16 pb-24 bg-white">
      <div class="container px-4 mx-auto">
        <div class="flex flex-wrap -mx-4 relative">
          <div class="w-full sm:w-1/2 xl:w-3/12 mb-14 xl:mb-0 relative">
            <div class="text-center max-w-xs md:px-6 mx-auto">
              <div class="relative inline-flex items-center justify-center w-16 h-16 bg-indigo-100 rounded-full">
                <h5 class="text-xl font-bold text-indigo-300 font-heading">1</h5>
              </div>
              <h2 class="mt-5 mb-4 text-3xl font-heading">Register account</h2>
              <p class="text-gray-500 leading-8">It’s over, maecenas tincidunt malesuada dolor sit amet malesuada.</p>
            </div>
            <img class="hidden xl:block w-40 absolute right-0 top-0 mt-8 -mr-20" src="pstls-assets/images/how-it-works/how-it-works-3-line.png" alt="">
          </div>
          <div class="w-full sm:w-1/2 xl:w-3/12 mb-14 xl:mb-0 relative">
            <div class="text-center max-w-xs md:px-6 mx-auto">
              <div class="relative inline-flex items-center justify-center w-16 h-16 bg-pink-100 rounded-full">
                <h5 class="text-xl font-bold text-pink-300 font-heading">2</h5>
              </div>
              <h2 class="mt-5 mb-4 text-3xl font-heading">Customize tools</h2>
              <p class="text-gray-500 leading-8">The brown me quam, sagittis porttitor lorem vel, commodo fringilla nisl.</p>
            </div>
            <img class="hidden xl:block w-40 absolute right-0 top-0 mt-8 -mr-20" src="pstls-assets/images/how-it-works/how-it-works-3-line.png" alt="">
          </div>
          <div class="w-full sm:w-1/2 xl:w-3/12 mb-14 xl:mb-0 relative">
            <div class="text-center max-w-xs md:px-6 mx-auto">
              <div class="relative inline-flex items-center justify-center w-16 h-16 bg-blue-100 rounded-full">
                <h5 class="text-xl font-bold text-blue-300 font-heading">3</h5>
              </div>
              <h2 class="mt-5 mb-4 text-3xl font-heading">Work with team</h2>
              <p class="text-gray-500 leading-8">The time, this accumsan augue, posuere posuere elit lorem. Consectutar at elis.</p>
            </div>
            <img class="hidden xl:block w-40 absolute right-0 top-0 mt-8 -mr-20" src="pstls-assets/images/how-it-works/how-it-works-3-line.png" alt="">
          </div>
          <div class="w-full sm:w-1/2 xl:w-3/12 mb-14 xl:mb-0">
            <div class="text-center max-w-xs md:px-6 mx-auto">
              <div class="relative inline-flex items-center justify-center w-16 h-16 bg-lime-100 rounded-full">
                <h5 class="text-xl font-bold text-lime-400 font-heading">4</h5>
              </div>
              <h2 class="mt-5 mb-4 text-3xl font-heading">Register account</h2>
              <p class="text-gray-500 leading-8">It’s over, maecenas tincidunt malesuada dolor sit amet malesuada.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>