<div> <section class="py-24 relative">
    <div class="absolute top-0 left-0" style="background-image: url('pstls-assets/images/how-it-works/colors-right.png'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4 items-center">
        <div class="w-full lg:w-1/2 px-4 mb-14 lg:mb-0">
          <h1 class="max-w-md mx-auto lg:mx-0 text-5xl lg:text-6xl font-heading">Build and launch without problems</h1>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="max-w-2xl mx-auto py-12 px-8 md:p-12 bg-black">
            <div class="md:flex mb-14">
              <div class="mb-6 md:mb-0 mr-6 xl:mr-10">
                <div class="w-14 h-14 bg-indigo-300 transform rotate-45 flex items-center justify-center">
                  <h2 class="text-2xl font-bold transform -rotate-45">1</h2>
                </div>
              </div>
              <div>
                <h2 class="text-3xl font-heading text-white mb-4">Register account</h2>
                <p class="text-lg text-white">It’s over, maecenas tincidunt malesuada dolor sit amet malesuada.</p>
              </div>
            </div>
            <div class="md:flex mb-14">
              <div class="mb-6 md:mb-0 mr-6 xl:mr-10">
                <div class="w-14 h-14 bg-orange-300 transform rotate-45 flex items-center justify-center">
                  <h2 class="text-2xl font-bold transform -rotate-45">2</h2>
                </div>
              </div>
              <div>
                <h2 class="text-3xl font-heading text-white mb-4">Customize tools</h2>
                <p class="text-lg text-white">The brown me quam, sagittis porttitor lorem vel, commodo fringilla nisl.</p>
              </div>
            </div>
            <div class="md:flex">
              <div class="mb-6 md:mb-0 mr-6 xl:mr-10">
                <div class="w-14 h-14 bg-red-300 transform rotate-45 flex items-center justify-center">
                  <h2 class="text-2xl font-bold transform -rotate-45">3</h2>
                </div>
              </div>
              <div>
                <h2 class="text-3xl font-heading text-white mb-4">Work with your team</h2>
                <p class="text-lg text-white">The time, this accumsan augue, posuere posuere elit lorem.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>