<div> <section class="py-24 bg-black relative">
    <img class="absolute top-0 left-0" src="pstls-assets/images/pricing/shadows2.png" alt="">
    <div class="container px-4 mx-auto relative">
      <div class="text-center max-w-2xl px-5 mx-auto mb-24">
        <h1 class="text-4xl md:text-5xl lg:text-6xl font-heading mb-6 text-white">Choose a plan</h1>
        <p class="leading-8 text-white">If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.</p>
      </div>
      <div class="flex flex-wrap -mx-4 items-center">
        <div class="hidden lg:block w-full lg:w-1/3 px-4 mb-16 lg:mb-0">
          <ul class="pt-24">
            <li class="mb-6">
              <h5 class="text-xl font-heading text-white">Cloud storage</h5>
            </li>
            <li class="mb-6">
              <h5 class="text-xl font-heading text-white">Users</h5>
            </li>
            <li class="mb-6">
              <h5 class="text-xl font-heading text-white">Teams</h5>
            </li>
            <li class="mb-6">
              <h5 class="text-xl font-heading text-white">Commercial rights</h5>
            </li>
            <li>
              <h5 class="text-xl font-heading text-white">Projects</h5>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-12 md:mb-0">
          <div class="py-12 max-w-sm mx-auto bg-black">
            <div class="mb-14 px-12 flex flex-col items-center">
              <h2 class="text-3xl mb-4 text-white font-heading">Standard</h2>
              <h1 class="text-5xl text-gray-50 font-heading">$19.90</h1>
            </div>
            <ul class="mb-12">
              <li class="flex justify-center py-3 bg-gray-900">
                <h5 class="text-xl font-heading text-white">1 TB</h5>
              </li>
              <li class="flex justify-center py-3">
                <h5 class="text-xl font-heading text-white">5 Team Members</h5>
              </li>
              <li class="flex justify-center py-3 bg-gray-900">
                <h5 class="text-xl font-heading text-white">No</h5>
              </li>
              <li class="flex justify-center py-3">
                <h5 class="text-xl font-heading text-white">Yes</h5>
              </li>
              <li class="flex justify-center py-3 bg-gray-900">
                <h5 class="text-xl font-heading text-white">10 Projects</h5>
              </li>
            </ul>
            <div class="px-8"><a class="block w-full px-4 py-3 text-center text-black font-bold bg-gray-100 hover:bg-gray-200" href="#">Buy Now</a></div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-4">
          <div class="py-12 max-w-sm mx-auto bg-black">
            <div class="mb-14 px-12 flex flex-col items-center">
              <h2 class="text-3xl mb-4 text-white font-heading">Premium</h2>
              <h1 class="text-5xl text-orange-300 font-heading">$49.90</h1>
            </div>
            <ul class="mb-12">
              <li class="flex justify-center py-3 bg-gray-900">
                <h5 class="text-xl font-heading text-white">3 TB</h5>
              </li>
              <li class="flex justify-center py-3">
                <h5 class="text-xl font-heading text-white">10 Team Members</h5>
              </li>
              <li class="flex justify-center py-3 bg-gray-900">
                <h5 class="text-xl font-heading text-white">Yes</h5>
              </li>
              <li class="flex justify-center py-3">
                <h5 class="text-xl font-heading text-white">Yes</h5>
              </li>
              <li class="flex justify-center py-3 bg-gray-900">
                <h5 class="text-xl font-heading text-white">25+ Projects</h5>
              </li>
            </ul>
            <div class="px-8"><a class="block w-full px-4 py-3 text-center text-black font-bold bg-orange-300 hover:bg-orange-200" href="#">Buy Now</a></div>
          </div>
        </div>
      </div>
    </div>
  </section></div>