<div> <section class="py-24" style="background-image: url('pstls-assets/images/features/features-5-shadow.png'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-10 lg:mb-0">
          <div class="max-w-md lg:mx-auto">
            <h2 class="text-4xl lg:text-5xl font-heading">Make your site better with Pstls.</h2>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="flex items-center max-w-md mb-10">
            <img class="block mr-4" src="pstls-assets/icons/rounded-document-clean.svg" alt="">
            <p class="leading-8">Take care to develop resources continually and integrity them with previous projects.</p>
          </div>
          <div class="flex items-center max-w-md mb-10">
            <img class="block mr-4" src="pstls-assets/icons/rounded-filters.svg" alt="">
            <p class="leading-8">Adapt Inform to your brand using the style guide</p>
          </div>
          <div class="flex items-center max-w-md">
            <img class="block mr-4" src="pstls-assets/icons/rounded-users.svg" alt="">
            <p class="leading-8">Power your business with multiple CMS and Shuffle integrations</p>
          </div>
        </div>
      </div>
    </div>
  </section></div>