<div>
	<section>
		<nav class="px-4 md:px-10 lg:px-32 py-7 bg-body">
			<div class="container mx-auto px-4">
				<div class="relative flex items-center justify-between">
					<a class="inline-block" href="#">
						<img
							class="h-10"
							src="https://shuffle.dev/casper-assets/logos/casper-logo-white.svg"
							alt=""
						/>
					</a>
					<div class="flex items-center justify-end">
						<div class="hidden lg:block mr-10">
							<a
								class="inline-flex py-2 px-4 mr-4 items-center justify-center text-sm font-medium uppercase text-white hover:text-violet-500"
								href="#"
								>SIGN IN</a
							><a
								class="inline-flex h-11 py-2 px-4 items-center justify-center text-sm font-medium uppercase text-black hover:text-white bg-violet-500 hover:bg-violet-600 transition duration-200 rounded-full"
								href="#"
								>SIGN UP</a
							>
						</div>
						<button class="navbar-burger text-white hover:text-violet-500">
							<svg
								width="32"
								height="32"
								viewbox="0 0 32 32"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M3 16H29"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
								<path
									d="M3 8H29"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
								<path
									d="M20 24L29 24"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
							</svg>
						</button>
					</div>
				</div>
			</div>
		</nav>
		<div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-md z-50">
			<div class="navbar-backdrop fixed inset-0 bg-violet-900 opacity-20"></div>
			<nav class="relative flex flex-col py-7 px-10 w-full h-full bg-white overflow-y-auto">
				<div class="flex mb-auto items-center">
					<a class="inline-block mr-auto" href="#">
						<img class="h-10" src="https://shuffle.dev/casper-assets/logos/casper-logo.svg" alt="" />
					</a>
					<a class="navbar-close" href="#">
						<svg
							width="24"
							height="24"
							viewbox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M6 18L18 6M6 6L18 18"
								stroke="#111827"
								stroke-width="2"
								stroke-linecap="round"
								stroke-linejoin="round"
							></path>
						</svg>
					</a>
				</div>
				<div class="py-12 mb-auto">
					<ul class="flex-col">
						<li class="mb-6">
							<a class="inline-block text-base text-black font-medium uppercase" href="#"
								>FEATURED</a
							>
						</li>
						<li class="mb-6">
							<a class="inline-block text-base text-black font-medium uppercase" href="#"
								>SOLUTIONS</a
							>
						</li>
						<li class="mb-6">
							<a class="inline-block text-base text-black font-medium uppercase" href="#"
								>PRODUCTS</a
							>
						</li>
						<li>
							<a class="inline-block text-base text-black font-medium uppercase" href="#"
								>ARTICLES</a
							>
						</li>
					</ul>
				</div>
				<div>
					<a
						class="flex py-2 px-4 mb-4 items-center justify-center text-sm font-medium uppercase text-violet-900 hover:text-violet-500"
						href="#"
						>SIGN IN</a
					><a
						class="flex h-11 py-2 px-4 items-center justify-center text-sm font-medium uppercase text-black hover:text-white bg-violet-500 hover:bg-violet-600 transition duration-200 rounded-full"
						href="#"
						>SIGN UP</a
					>
				</div>
			</nav>
		</div>
	</section>
</div>
