<div><section class="pb-24 pt-48 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex justify-center">
        <div class="bg-black pb-24 pt-16 ml-auto relative">
          <div class="xl:absolute left-0 -mt-40 xl:-ml-52">
            <img class="block mx-auto max-w-sm" src="pstls-assets/images/features/features-women.png" alt="">
          </div>
          <div class="md:max-w-lg hidden xl:block px-64 py-80 bg-indigo-100 xl:absolute top-0 right-0 xl:-mr-52 -mr-48" style="z-index: -1;"></div>
          <div class="max-w-3xl xl:max-w-5xl mx-auto xl:ml-auto xl:-mr-20 mt-12 xl:mt-0 px-10 xl:px-32">
            <div class="flex xl:justify-end">
              <div class="w-full md:w-8/12 xl:w-10/12">
                <h2 class="max-w-xl text-4xl text-white font-heading">Lorem ipsum dolor sit amet conscetutar domor at elis</h2>
              </div>
            </div>
            <div class="flex flex-wrap -mx-4 mt-12 -mb-10 justify-end">
              <div class="w-full md:w-1/2 xl:w-5/12 px-4 xl:px-10 mb-10">
                <img src="pstls-assets/icons/document-clean.svg" alt="">
                <h5 class="mt-8 mb-6 text-xl text-white font-heading">Layer styles</h5>
                <p class="leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
              </div>
              <div class="w-full md:w-1/2 xl:w-5/12 px-4 xl:px-10 mb-10">
                <img src="pstls-assets/icons/check-circle.svg" alt="">
                <h5 class="mt-8 mb-6 text-xl text-white font-heading">No errors</h5>
                <p class="leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
              </div>
              <div class="w-full md:w-1/2 xl:w-5/12 px-4 xl:px-10 mb-10">
                <img src="pstls-assets/icons/filters-1.svg" alt="">
                <h5 class="mt-8 mb-6 text-xl text-white font-heading">Change of access</h5>
                <p class="leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
              </div>
              <div class="w-full md:w-1/2 xl:w-5/12 px-4 xl:px-10 mb-10">
                <img src="pstls-assets/icons/users.svg" alt="">
                <h5 class="mt-8 mb-6 text-xl text-white font-heading">List of regular access</h5>
                <p class="leading-8 text-gray-400">Take care to develop resources continually and integrity them with previous projects.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>