<div><section class="py-24">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4 mb-10 justify-between">
        <div class="w-full md:w-1/5 px-4 mb-6 md:mb-0">
          <a class="inline-block" href="#">
            <img src="pstls-assets/logos/pstls-logo.svg" alt="" width="87">
          </a>
        </div>
        <div class="w-full md:w-3/5 px-4 mb-6 md:mb-0">
          <ul class="md:flex items-center justify-center">
            <li class="mb-6 md:mb-0 md:mr-12"><a class="inline-block font-bold text-sm hover:text-gray-900" href="#">Hello</a></li>
            <li class="mb-6 md:mb-0 md:mr-12"><a class="inline-block font-bold text-sm hover:text-gray-900" href="#">Story</a></li>
            <li class="mb-6 md:mb-0 md:mr-12"><a class="inline-block font-bold text-sm hover:text-gray-900" href="#">About us</a></li>
            <li><a class="inline-block font-bold text-sm hover:text-gray-900" href="#">Services</a></li>
          </ul>
        </div>
        <div class="w-full md:w-1/5 px-4">
          <div class="flex md:justify-end">
            <a class="inline-block mr-4" href="#">
              <img src="pstls-assets/logos/twitter.svg" alt="">
            </a>
            <a class="inline-block mr-4" href="#">
              <img src="pstls-assets/logos/google.svg" alt="">
            </a>
            <a class="inline-block" href="#">
              <img src="pstls-assets/logos/facebook.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <p class="text-sm text-gray-500 text-center">© Pstls. 2022 All right reserved.</p>
    </div>
  </section> </div>