<div>
	<section class="relative overflow-hidden py-20 bg-rhino-900">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap items-center">
				<div class="w-full lg:w-1/2 p-4">
					<h1 class="text-white font-heading text-3xl lg:text-5xl font-semibold">
						The biggest brands in the world cooperate with us
					</h1>
				</div>
				<div class="w-full lg:w-1/2 p-4">
					<div class="flex flex-wrap">
						<div class="w-full md:w-1/2 lg:w-1/3">
							<img
								class="mx-auto"
								src="https://shuffle.dev/coleos-assets/logos/logo-oracle-light.png"
								alt=""
							/>
						</div>
						<div class="w-full md:w-1/2 lg:w-1/3">
							<img
								class="mx-auto"
								src="https://shuffle.dev/coleos-assets/logos/logo-google-light.png"
								alt=""
							/>
						</div>
						<div class="w-full md:w-1/2 lg:w-1/3">
							<img
								class="mx-auto"
								src="https://shuffle.dev/coleos-assets/logos/logo-meta-light.png"
								alt=""
							/>
						</div>
						<div class="w-full md:w-1/2 lg:w-1/3">
							<img
								class="mx-auto"
								src="https://shuffle.dev/coleos-assets/logos/logo-amazon-light.png"
								alt=""
							/>
						</div>
						<div class="w-full md:w-1/2 lg:w-1/3">
							<img
								class="mx-auto"
								src="https://shuffle.dev/coleos-assets/logos/logo-alphabet-light.png"
								alt=""
							/>
						</div>
						<div class="w-full md:w-1/2 lg:w-1/3">
							<img
								class="mx-auto"
								src="https://shuffle.dev/coleos-assets/logos/logo-amd-light.png"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
