<div>
	<section class="py-12 md:py-24 lg:py-32">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap -mx-4 mb-14 justify-between">
				<div class="w-full md:w-1/2 px-4 mb-12 md:mb-0">
					<h2 class="text-4xl font-heading font-semibold text-rhino-600 tracking-xs">Our products</h2>
				</div>
				<div class="w-full md:w-1/2 px-4 md:text-right">
					<a
						class="inline-flex h-12 py-2 px-4 items-center justify-center text-sm font-medium text-purple-500 hover:text-white bg-white border border-purple-500 rounded-sm hover:bg-purple-500 transition duration-200"
						href="#"
						>Show more</a
					>
				</div>
			</div>
			<div class="flex flex-wrap -mx-4">
				<div class="w-full xl:w-1/3 px-4 mb-8 xl:mb-0">
					<a
						class="relative flex flex-col items-start h-128 xl:h-full py-6 px-6 bg-coolGray-100 rounded-xl border-2 border-transparent hover:border-purple-500 transition duration-150"
						href="#"
					>
						<span
							class="relative z-10 inline-block py-1 px-3 text-2xs text-white font-bold bg-rhino-600 uppercase rounded-full"
							>Limited</span
						>
						<img
							class="absolute top-0 left-1/2 mt-5 transform -translate-x-1/2 h-128 object-contain"
							src="https://shuffle.dev/coleos-assets/product-blocks/product-circle-2.png"
							alt=""
						/>
						<div class="relative z-10 w-full mt-auto">
							<span class="block text-base text-rhino-500 mb-1">Blue High School Hoodie</span>
							<span class="block text-base text-rhino-300">$ 199.00</span>
						</div>
					</a>
				</div>
				<div class="w-full xl:w-2/3 px-4">
					<div class="flex flex-wrap -mx-4">
						<div class="w-full sm:w-1/2 px-4 mb-8">
							<a
								class="relative flex flex-col items-start h-72 py-6 px-6 bg-coolGray-100 rounded-xl border-2 border-transparent hover:border-purple-500 transition duration-150"
								href="#"
							>
								<span
									class="relative z-10 inline-block py-1 px-3 text-2xs text-rhino-700 font-bold bg-white uppercase rounded-full"
									>Sale</span
								>
								<img
									class="absolute top-0 left-1/2 mt-16 transform -translate-x-1/2"
									src="https://shuffle.dev/coleos-assets/product-blocks/product-no-bg2.png"
									alt=""
								/>
								<div class="relative z-10 w-full px-8 mt-auto text-center">
									<span class="block text-base text-rhino-500 mb-1"
										>Summer Slim Shorts</span
									>
									<span class="block text-base text-rhino-300">$ 79.00</span>
								</div>
							</a>
						</div>
						<div class="w-full sm:w-1/2 px-4 mb-8">
							<a
								class="relative flex flex-col items-start h-72 py-6 px-6 bg-coolGray-100 rounded-xl border-2 border-transparent hover:border-purple-500 transition duration-150"
								href="#"
							>
								<img
									class="absolute top-0 left-1/2 mt-4 transform -translate-x-1/2"
									src="https://shuffle.dev/coleos-assets/product-blocks/product-no-bg3.png"
									alt=""
								/>
								<div class="relative z-10 w-full px-8 mt-auto text-center">
									<span class="block text-base text-rhino-500 mb-1"
										>White Label Cap</span
									>
									<span class="block text-base text-rhino-300">$ 199.00</span>
								</div>
							</a>
						</div>
						<div class="w-full px-4">
							<div class="relative rounded-xl bg-yellow-300 overflow-hidden">
								<div class="relative z-10 px-6 py-20 sm:py-6">
									<h3 class="text-4xl font-heading font-semibold mb-14">
										<span class="block">Brand new</span>
										<span class="block">2023</span>
										<span class="block">collection</span>
									</h3>
									<a
										class="inline-flex h-12 py-2 px-4 items-center justify-center text-sm font-medium text-white hover:text-purple-500 bg-purple-500 hover:bg-white rounded-sm transition duration-200"
										href="#"
										>Go to collection</a
									>
								</div>
								<img
									class="absolute top-0 right-0 m-2"
									src="https://shuffle.dev/coleos-assets/product-blocks/arrow.png"
									alt=""
								/>
								<img
									class="hidden sm:block absolute top-0 h-full right-0 mr-8 lg:mr-32"
									src="https://shuffle.dev/coleos-assets/product-blocks/man-bg-center.png"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
