<div><section>
    <div class="flex flex-wrap">
      <div class="w-full lg:w-9/12 xl:w-2/3 relative bg-rhino-900 pt-24 pb-64 lg:py-40 px-4 lg:px-20 xl:px-40 h-full flex items-center">
        <img class="absolute bottom-0 left-0 w-full h-full mix-blend-color" src="coleos-assets/sign-in/bg-gradient3.png" alt="">
        <div class="relative max-w-md mx-auto lg:mx-0">
          <img class="absolute top-0 left-0 -mt-10 lg:-mt-24 ml-40 sm:-ml-24 lg:-ml-16" src="coleos-assets/sign-in/pink-star.png" alt="">
          <p class="text-purple-200 text-xs uppercase font-bold tracking-widest text-opacity-40">Check this out</p>
          <h1 class="text-6xl sm:text-7xl lg:text-8xl font-semibold mb-10 font-heading max-w-md" style="background: linear-gradient(270deg, #F5ACBA 63.82%, #FAF8C0 100%); -webkit-background-clip: text; background-clip: text; color: transparent;">
            <span>2023</span>
            <span class="block">Reel</span>
          </h1>
          <p class="mb-10 text-purple-400 text-opacity-40 max-w-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.</p>
          <div class="flex">
            <a class="px-4 py-4 rounded-sm bg-white flex items-center justify-center gap-2 text-purple-500 text-sm font-medium hover:text-white hover:bg-purple-500 transition duration-200" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none">
                <path d="M17.6915 11.1588C18.3038 11.5525 18.3038 12.4475 17.6915 12.8412L6.54076 20.0095C5.87525 20.4373 5 19.9595 5 19.1683L5 4.83167C5 4.0405 5.87525 3.56266 6.54076 3.99049L17.6915 11.1588Z" fill="currentColor"></path>
              </svg>
              <span>Play video</span>
            </a>
          </div>
        </div>
      </div>
      <div class="relative w-full lg:w-3/12 xl:w-1/3 px-4 bg-white">
        <img class="absolute bottom-0 left-0 w-full h-full mix-blend-color xl:hidden" src="coleos-assets/sign-in/bg-gradient3.png" alt="">
        <div class="w-full h-full py-12 lg:py-0 max-w-lg lg:max-w-none mx-auto -mt-40 lg:-mt-0 lg:mx-0 lg:min-w-max flex items-center z-50">
          <div class="transform lg:-ml-64 xl:-ml-0 xl:-translate-x-1/2 lg:max-w-md bg-purple-100 rounded-lg py-12 px-6 lg:px-8">
            <form action="">
              <p class="uppercase text-rhino-300 text-xs font-bold tracking-widest mb-1 text-center">SIGN IN</p>
              <h1 class="font-heading font-semibold text-4xl text-rhino-700 text-center mb-8">Join our community</h1>
              <input class="py-3 px-4 border border-coolGray-200 rounded-sm text-coolGray-400 bg-white mb-4 w-full outline-none focus:ring-1 ring-indigo-400" type="text" placeholder="Email Address">
              <input class="py-3 px-4 border border-coolGray-200 rounded-sm text-coolGray-400 bg-white mb-8 w-full outline-none focus:ring-1 ring-indigo-400" type="password" placeholder="Password">
              <a class="rounded-sm py-3 px-4 bg-purple-500 shadow-md text-white font-medium text-sm w-full mb-4 block text-center hover:bg-purple-600 transition duration-200" href="#">Get Started</a><a class="block text-center text-rhino-300 hover:text-rhino-400 text-sm mb-6" href="#">Forgot password?</a>
              <a class="mb-4 w-full rounded-sm bg-white shadow-md py-3 px-6 flex items-center justify-center gap-4 text-coolGray-700 hover:bg-purple-500 hover:text-white transition duration-200" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewbox="0 0 25 24" fill="none">
                  <circle cx="12.5" cy="12" r="12" fill="#DDDCFE"></circle>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.044 18V12.5266H15.107L15.4165 10.3929H13.044V9.03088C13.044 8.41332 13.2358 7.99246 14.2318 7.99246L15.5 7.99199V6.08354C15.2807 6.05817 14.5278 6 13.6516 6C11.8219 6 10.5693 6.99418 10.5693 8.81956V10.3929H8.5V12.5266H10.5693V18H13.044Z" fill="#416BE6"></path>
                </svg>
                <span class="text-sm font-medium">Sign In with Facebook</span>
              </a>
              <a class="w-full rounded-sm bg-white shadow-md py-3 px-6 flex items-center justify-center gap-4 text-coolGray-700 hover:bg-purple-500 hover:text-white transition duration-200" href="#">
                <img src="coleos-assets/logos/google-logo.svg" alt="">
                <span class="text-sm font-medium">Sign In with Google</span>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section> </div>