<div> <section class="relative bg-white overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="py-12">
        <div class="flex">
          <a class="relative h-10 w-28 group" href="#">
            <div class="absolute top-0 left-0 w-full h-full text-purple-100 group-hover:text-rhino-700 transition duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" width="118" height="40" viewbox="0 0 118 40" fill="none">
                <path d="M0 8C0 3.58172 3.58172 0 8 0H101L118 20L101 40H8C3.58172 40 0 36.4183 0 32V8Z" fill="currentColor"></path>
              </svg>
            </div>
            <span class="absolute text-rhino-500 text-sm transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:text-white transition duration-200">Homepage</span>
          </a>
          <a class="relative h-10 w-28 transform -translate-x-2 group" href="#">
            <div class="absolute top-0 left-0 w-full h-full text-purple-100 group-hover:text-rhino-700 transition duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" width="129" height="40" viewbox="0 0 129 40" fill="none">
                <path d="M0 0H112L129 20L112 40H0L17 20L0 0Z" fill="currentColor"></path>
              </svg>
            </div>
            <span class="absolute text-rhino-500 text-sm transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:text-white transition duration-200">Catalogue</span>
          </a>
          <a class="relative h-10 w-28 transform -translate-x-6 group" href="#">
            <div class="absolute top-0 left-0 w-full h-full text-rhino-700 group-hover:text-rhino-700 transition duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" width="104" height="40" viewbox="0 0 104 40" fill="none">
                <path d="M104 4C104 1.79086 102.209 0 100 0H0L17 20L0 40H100C102.209 40 104 38.2091 104 36V4Z" fill="currentColor"></path>
              </svg>
            </div>
            <span class="absolute text-white text-sm transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:text-white transition duration-200">Product</span>
          </a>
        </div>
      </div>
    </div>
  </section></div>