<div> <section>
    <div class="px-4 flex gap-12 flex-col lg:flex-row w-full">
      <div class="w-full xl:w-1/2">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full md:w-1/2 p-4">
            <img class="rounded-xl object-cover w-full" src="coleos-assets/product-details/product4.png" alt="">
          </div>
          <div class="w-full md:w-1/2 p-4">
            <img class="rounded-xl object-cover w-full" src="coleos-assets/product-details/product5.png" alt="">
          </div>
          <div class="w-full md:w-1/2 p-4">
            <img class="rounded-xl object-cover w-full" src="coleos-assets/product-details/product.png" alt="">
          </div>
          <div class="w-full md:w-1/2 p-4">
            <img class="rounded-xl object-cover w-full" src="coleos-assets/product-details/product3.png" alt="">
          </div>
        </div>
      </div>
      <div class="w-full xl:w-1/2 pt-12">
        <div class="max-w-xl mx-auto">
          <div class="inline-block mb-4 bg-orange-500 rounded-xl px-4 py-1 text-center uppercase text-white text-xs font-bold tracking-widest">In stock</div>
          <h1 class="mb-4 font-heading text-4xl text-rhino-700 font-semibold">Nike Dark SuperSpeed™ sneakers</h1>
          <p class="mb-6 text-rhino-400 text-sm font-medium">Pariatur ex aliqua elit ut enim consequat amet non do ut. Ad aute deserunt fugiat qui Lorem in quis velit labore voluptate.</p>
          <div class="mb-8">
            <p class="uppercase text-xs font-bold text-rhino-500 mb-3">SIZE</p>
            <div class="flex flex-wrap gap-2">
              <div class="border py-3 px-8 rounded-sm border-coolGray-200 text-center text-sm text-coolGray-700 cursor-pointer hover:border-purple-500 hover:text-purple-700 transition duration-200">XS</div>
              <div class="border py-3 px-8 rounded-sm border-coolGray-200 text-center text-sm text-coolGray-700 cursor-pointer hover:border-purple-500 hover:text-purple-700 transition duration-200">S</div>
              <div class="border py-3 px-8 rounded-sm border-purple-500 text-center text-sm text-purple-700 cursor-pointer">M</div>
              <div class="border py-3 px-8 rounded-sm border-coolGray-200 text-center text-sm text-coolGray-700 cursor-pointer hover:border-purple-500 hover:text-purple-700 transition duration-200">L</div>
              <div class="border py-3 px-8 rounded-sm border-coolGray-200 text-center text-sm text-coolGray-700 cursor-pointer hover:border-purple-500 hover:text-purple-700 transition duration-200">XL</div>
              <div class="border py-3 px-8 rounded-sm border-coolGray-200 text-center text-sm text-coolGray-700 cursor-pointer hover:border-purple-500 hover:text-purple-700 transition duration-200">XXL</div>
            </div>
          </div>
          <div class="mb-6">
            <div class="py-3 border-b border-t border-coolGray-200 flex items-center flex-wrap justify-between gap-4">
              <p class="uppercase text-coolGray-700 font-bold text-xs tracking-widest">Choose color</p>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewbox="0 0 24 25" fill="none">
                  <path d="M12.2725 16.1666C12.1769 16.1667 12.0822 16.1479 11.9939 16.1113C11.9055 16.0747 11.8253 16.021 11.7578 15.9533L6.21332 10.4092C6.07681 10.2727 6.00012 10.0876 6.00012 9.89454C6.00012 9.70149 6.07681 9.51635 6.21332 9.37984C6.34983 9.24333 6.53497 9.16665 6.72802 9.16665C6.92107 9.16665 7.10621 9.24334 7.24271 9.37984L12.2725 14.4092L17.3023 9.37982C17.4388 9.24332 17.6239 9.16663 17.817 9.16663C18.01 9.16663 18.1952 9.24331 18.3317 9.37982C18.4682 9.51632 18.5449 9.70147 18.5449 9.89452C18.5449 10.0876 18.4682 10.2727 18.3317 10.4092L12.7872 15.9534C12.7197 16.0211 12.6394 16.0748 12.5511 16.1114C12.4628 16.148 12.3681 16.1667 12.2725 16.1666Z" fill="#A0A5B8"></path>
                </svg>
              </a>
            </div>
            <div class="py-3 border-b border-coolGray-200 flex items-center flex-wrap justify-between gap-4">
              <p class="uppercase text-coolGray-700 font-bold text-xs tracking-widest">options</p>
              <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewbox="0 0 24 25" fill="none">
                  <path d="M12.2725 16.1666C12.1769 16.1667 12.0822 16.1479 11.9939 16.1113C11.9055 16.0747 11.8253 16.021 11.7578 15.9533L6.21332 10.4092C6.07681 10.2727 6.00012 10.0876 6.00012 9.89454C6.00012 9.70149 6.07681 9.51635 6.21332 9.37984C6.34983 9.24333 6.53497 9.16665 6.72802 9.16665C6.92107 9.16665 7.10621 9.24334 7.24271 9.37984L12.2725 14.4092L17.3023 9.37982C17.4388 9.24332 17.6239 9.16663 17.817 9.16663C18.01 9.16663 18.1952 9.24331 18.3317 9.37982C18.4682 9.51632 18.5449 9.70147 18.5449 9.89452C18.5449 10.0876 18.4682 10.2727 18.3317 10.4092L12.7872 15.9534C12.7197 16.0211 12.6394 16.0748 12.5511 16.1114C12.4628 16.148 12.3681 16.1667 12.2725 16.1666Z" fill="#A0A5B8"></path>
                </svg>
              </a>
            </div>
          </div>
          <h2 class="text-rhino-700 text-4xl font-semibold font-heading mb-6">$109,79</h2>
          <a class="inline-block w-full px-3 py-4 rounded-sm text-center text-white text-sm font-medium bg-purple-500 hover:bg-purple-600 transition duration-200" href="#">Add to cart</a>
        </div>
      </div>
    </div>
    <div class="py-12">
      <div class="container px-4 mx-auto">
        <div class="w-full xl:w-1/2">
          <div class="max-w-lg xl:max-w-xl">
            <p class="text-gray-500 text-sm mb-6">Loremm Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <div class="mb-6">
              <h2 class="text-rhino-700 text-xl font-semibold mb-2">Perfectly Done</h2>
              <p class="text-gray-500 text-sm mb-6">Loremm Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="mb-6">
              <h2 class="text-rhino-700 text-xl font-semibold mb-2">Fresh Design</h2>
              <p class="text-gray-500 text-sm mb-6">Loremm Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div>
              <h2 class="text-rhino-700 text-xl font-semibold mb-2">Battery Life</h2>
              <p class="text-gray-500 text-sm mb-6">Loremm Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>