<div>
	<section class="relative overflow-hidden py-12">
		<div class="container mx-auto px-4">
			<div class="flex flex-wrap">
				<div class="w-full lg:w-1/2">
					<div class="flex flex-col justify-between h-full">
						<div class="flex flex-wrap">
							<div class="w-full lg:w-1/2 px-4 pb-4 lg:pb-0">
								<div class="relative">
									<img
										class="rounded-xl object-cover w-full"
										src="https://shuffle.dev/coleos-assets/banners/image7.png"
										alt=""
									/>
									<div class="absolute bottom-6 left-6">
										<h2
											class="font-heading text-3xl font-semibold text-center text-white"
										>
											A touch of luxury
										</h2>
									</div>
								</div>
							</div>
							<div class="w-full lg:w-1/2 px-4">
								<div class="relative">
									<img
										class="rounded-xl object-cover w-full"
										src="https://shuffle.dev/coleos-assets/banners/image6-small.png"
										alt=""
									/>
									<div
										class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
									>
										<h2
											class="font-heading text-3xl font-semibold text-center text-white"
										>
											A touch of luxury
										</h2>
									</div>
								</div>
							</div>
						</div>
						<div class="w-full px-4 pt-4">
							<div class="relative">
								<img
									class="rounded-xl w-full object-cover"
									src="https://shuffle.dev/coleos-assets/banners/image5-large.png"
									alt=""
								/>
								<div
									class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
								>
									<h2
										class="font-heading text-3xl font-semibold text-center text-white"
									>
										Casual and relax
									</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full lg:w-1/2 px-4 pt-4 lg:pt-0">
					<div class="relative">
						<img
							class="rounded-xl w-full h-full object-cover"
							src="https://shuffle.dev/coleos-assets/banners/image4-large.png"
							alt=""
						/>
						<div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
							<h2 class="font-heading text-3xl font-semibold text-center text-white">
								Pink Attack!
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
