<div>
	<section class="py-12">
		<div class="container px-4 mx-auto">
			<p class="text-rhino-300 text-center text-xs font-bold tracking-widest uppercase">Recent orders</p>
			<h1 class="font-heading text-rhino-700 text-center text-4xl font-semibold mb-12">Order History</h1>
			<div class="bg-white rounded-xl border border-coolGray-200">
				<div class="p-6 border-b border-gray-100">
					<div class="flex items-center justify-between flex-wrap gap-4 mb-4">
						<h2 class="font-heading text-2xl text-rhino-800 font-semibold">
							ID number: A645-002/2023
						</h2>
						<div class="flex flex-wrap gap-2">
							<a
								class="rounded-sm py-1 px-4 border border-gray-200 shadow-md text-rhino-600 font-medium text-sm hover:bg-purple-500 hover:text-white transition duration-200"
								href="#"
								>Return</a
							><a
								class="rounded-sm py-1 px-4 border border-gray-200 shadow-md text-rhino-600 font-medium text-sm hover:bg-purple-500 hover:text-white transition duration-200"
								href="#"
								>Complaint</a
							><a
								class="rounded-sm py-1 px-4 bg-purple-500 shadow-md text-white font-medium text-sm hover:bg-purple-600 transition duration-200"
								href="#"
								>View invoice</a
							>
						</div>
					</div>
					<div class="flex gap-12 flex-wrap">
						<div>
							<p class="text-rhino-400 text-sm">Value</p>
							<p class="text-rhino-700 text-sm">$1060.00</p>
						</div>
						<div>
							<p class="text-rhino-400 text-sm">Payment method</p>
							<p class="text-rhino-700 text-sm">Credit card</p>
						</div>
						<div>
							<p class="text-rhino-400 text-sm">Delivery time</p>
							<p class="text-rhino-700 text-sm">June 13, 2023</p>
						</div>
						<div>
							<p class="text-rhino-400 text-sm">Status</p>
							<p class="text-rhino-700 text-sm">Delivered</p>
						</div>
					</div>
				</div>
				<div class="overflow-x-auto">
					<div class="flex w-full">
						<div class="w-20">
							<div
								class="w-full py-4 px-6 h-12 border-b border-coolGray-200 flex items-center"
							>
								<p class="text-rhino-800 text-sm whitespace-nowrap">Nr</p>
							</div>
							<div
								class="w-full py-4 px-6 h-32 border-b border-coolGray-200 flex items-center"
							>
								<p class="text-rhino-800 text-sm">1</p>
							</div>
							<div class="w-full py-4 px-6 h-32 flex items-center">
								<p class="text-rhino-800 text-sm">2</p>
							</div>
						</div>
						<div class="flex w-full">
							<div class="w-96">
								<div
									class="w-full py-4 px-6 h-12 border-b border-coolGray-200 flex items-center"
								>
									<p class="text-rhino-800 text-sm whitespace-nowrap">
										Product name
									</p>
								</div>
								<div
									class="w-full py-4 px-6 h-32 border-b border-coolGray-200 flex items-center"
								>
									<div class="flex items-center gap-5">
										<div
											class="bg-gray-100 rounded-lg w-20 h-20 flex items-center justify-center"
										>
											<img
												src="https://shuffle.dev/coleos-assets/order-history/product1.png"
												alt=""
											/>
										</div>
										<p
											class="text-rhino-800 text-sm whitespace-nowrap"
										>
											Main Name for Product
										</p>
									</div>
								</div>
								<div class="w-full py-4 px-6 h-32 flex items-center">
									<div class="flex items-center gap-5">
										<div
											class="bg-gray-100 rounded-lg w-20 h-20 flex items-center justify-center"
										>
											<img
												src="https://shuffle.dev/coleos-assets/order-history/product2.png"
												alt=""
											/>
										</div>
										<p
											class="text-rhino-800 text-sm whitespace-nowrap"
										>
											Main Name for Product
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flex w-full">
							<div class="w-40">
								<div
									class="w-full py-4 px-6 h-12 border-b border-coolGray-200 flex items-center"
								>
									<p class="text-rhino-800 text-sm whitespace-nowrap">
										Price
									</p>
								</div>
								<div
									class="w-full py-4 px-6 h-32 border-b border-coolGray-200 flex items-center"
								>
									<p class="text-rhino-300 text-sm">$530.00</p>
								</div>
								<div class="w-full py-4 px-6 h-32 flex items-center">
									<p class="text-rhino-300 text-sm">$530.00</p>
								</div>
							</div>
						</div>
						<div class="flex w-full">
							<div class="w-40">
								<div
									class="w-full py-4 px-6 h-12 border-b border-coolGray-200 flex items-center justify-center"
								>
									<p
										class="text-rhino-800 text-sm whitespace-nowrap text-center"
									>
										Quantity
									</p>
								</div>
								<div
									class="w-full py-4 px-6 h-32 border-b border-coolGray-200 flex items-center justify-center"
								>
									<p class="text-rhino-300 text-sm text-center">1</p>
								</div>
								<div class="w-full py-4 px-6 h-32 flex items-center justify-center">
									<p class="text-rhino-300 text-sm text-center">1</p>
								</div>
							</div>
						</div>
						<div class="flex w-full">
							<div class="w-80">
								<div
									class="w-full py-4 px-6 h-12 border-b border-coolGray-200 flex items-center"
								>
									<p class="text-rhino-800 text-sm whitespace-nowrap">
										Delivery
									</p>
								</div>
								<div
									class="w-full py-4 px-6 h-32 border-b border-coolGray-200 flex items-center"
								>
									<p class="text-rhino-800 text-sm whitespace-nowrap">
										Product in stock fast shipping
									</p>
								</div>
								<div class="w-full py-4 px-6 h-32 flex items-center">
									<p class="text-rhino-800 text-sm whitespace-nowrap">
										Product in stock fast shipping
									</p>
								</div>
							</div>
						</div>
						<div class="flex w-full">
							<div class="w-40">
								<div
									class="w-full py-4 px-6 h-12 border-b border-coolGray-200 flex items-center"
								>
									<p
										class="text-rhino-800 text-sm whitespace-nowrap text-right"
									>
										Value
									</p>
								</div>
								<div
									class="w-full py-4 px-6 h-32 border-b border-coolGray-200 flex items-center"
								>
									<p class="text-rhino-300 text-sm">$530.00</p>
								</div>
								<div class="w-full py-4 px-6 h-32 flex items-center">
									<p class="text-rhino-300 text-sm">$530.00</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p-6">
					<div class="p-8 bg-gray-100 rounded-md">
						<div class="flex flex-wrap gap-12">
							<div>
								<p class="text-rhino-700 mb-2 text-sm">Delivery address</p>
								<ul class="text-sm text-rhino-400">
									<li>Morgan S Hembree</li>
									<li>4767 Woodland Terrace</li>
									<li>California, CA 95821</li>
								</ul>
							</div>
							<div>
								<p class="text-rhino-700 mb-2 text-sm">Shipping information</p>
								<ul class="text-sm text-rhino-400">
									<li>morgan@shuffleux.com</li>
									<li>916-971-2145</li>
								</ul>
							</div>
							<div>
								<p class="text-rhino-700 mb-2 text-sm">Payment information</p>
								<ul class="text-sm text-rhino-400">
									<li>Ending with 4242</li>
									<li>Expires 02 / 28</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
