<div>
	<section class="relative overflow-hidden py-20">
		<div class="container px-4 mx-auto">
			<p class="text-rhino-300 text-xs font-bold text-center mb-6 uppercase tracking-widest">Check this out</p>
			<h1 class="text-rhino-700 font-heading text-3xl lg:text-5xl font-semibold mb-6 text-center max-w-2xl mx-auto">
				The biggest brands in the world cooperate with us
			</h1>
			<p class="text-center text-rhino-300 text-lg mb-12 max-w-2xl mx-auto">
				Our portfolio includes cooperation with brands from various fields, including both - startups and the biggest
				players
			</p>
			<div class="bg-coolGray-100 rounded-xl">
				<div class="flex flex-wrap">
					<div class="w-full md:w-1/2 lg:w-1/6">
						<img
							class="mx-auto"
							src="https://shuffle.dev/coleos-assets/logos/logo-oracle.png"
							alt=""
						/>
					</div>
					<div class="w-full md:w-1/2 lg:w-1/6">
						<img
							class="mx-auto"
							src="https://shuffle.dev/coleos-assets/logos/logo-google-full.png"
							alt=""
						/>
					</div>
					<div class="w-full md:w-1/2 lg:w-1/6">
						<img class="mx-auto" src="https://shuffle.dev/coleos-assets/logos/logo-meta.png" alt="" />
					</div>
					<div class="w-full md:w-1/2 lg:w-1/6">
						<img
							class="mx-auto"
							src="https://shuffle.dev/coleos-assets/logos/logo-amazon.png"
							alt=""
						/>
					</div>
					<div class="w-full md:w-1/2 lg:w-1/6">
						<img
							class="mx-auto"
							src="https://shuffle.dev/coleos-assets/logos/logo-alphabet.png"
							alt=""
						/>
					</div>
					<div class="w-full md:w-1/2 lg:w-1/6">
						<img class="mx-auto" src="https://shuffle.dev/coleos-assets/logos/logo-amd.png" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
