<div> <section class="py-12 md:py-24 lg:py-32">
    <div class="container px-4 mx-auto">
      <h2 class="text-4xl text-ceter font-heading font-semibold text-rhino-600 tracking-xs mb-14">New arrivals</h2>
      <div class="flex flex-wrap -mx-4 -mb-8">
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
          <a class="block group max-w-sm md:max-w-none mx-auto" href="#">
            <div class="relative flex items-end justify-end h-96 mb-4 bg-coolGray-100 rounded-xl border-2 border-transparent group-hover:border-purple-500 transition duration-150 overflow-hidden">
              <div class="absolute top-0 left-0 m-6">
                <span class="inline-block py-1 px-3 mr-2 text-2xs text-white font-bold bg-orange-500 uppercase rounded-full">New</span>
                <span class="inline-block py-1 px-3 text-2xs text-rhino-700 font-bold bg-white uppercase rounded-full">Sale</span>
              </div>
              <img class="block" src="coleos-assets/product-blocks/no-bg-medium1.png" alt="">
            </div>
            <div class="text-center">
              <span class="block text-xl text-rhino-500 font-semibold mb-1">White Label Cap</span>
              <span class="block text-base text-rhino-300">$ 199.00</span>
            </div>
          </a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
          <a class="block group max-w-sm md:max-w-none mx-auto" href="#">
            <div class="relative flex items-center justify-center h-96 mb-4 bg-coolGray-100 rounded-xl border-2 border-transparent group-hover:border-purple-500 transition duration-150 overflow-hidden">
              <div class="absolute top-0 left-0 m-6">
                <span class="inline-block py-1 px-3 mr-2 text-2xs text-white font-bold bg-orange-500 uppercase rounded-full">Hot stuff</span>
              </div>
              <img class="block" src="coleos-assets/product-blocks/no-bg-product13.png" alt="">
            </div>
            <div class="text-center">
              <span class="block text-xl text-rhino-500 font-semibold mb-1">Summer Slim Shorts</span>
              <span class="block text-base text-rhino-300">$ 79.00</span>
            </div>
          </a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
          <a class="block group max-w-sm md:max-w-none mx-auto" href="#">
            <div class="relative flex justify-center h-96 mb-4 bg-coolGray-100 rounded-xl border-2 border-transparent group-hover:border-purple-500 transition duration-150 overflow-hidden">
              <img class="block h-full" src="coleos-assets/product-blocks/no-bg-product-14.png" alt="">
            </div>
            <div class="text-center">
              <span class="block text-xl text-rhino-500 font-semibold mb-1">Natural leather shop bag...</span>
              <span class="block text-base text-rhino-300">$ 79.00</span>
            </div>
          </a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
          <a class="block group max-w-sm md:max-w-none mx-auto" href="#">
            <div class="relative flex items-center justify-center h-96 mb-4 bg-coolGray-100 rounded-xl border-2 border-transparent group-hover:border-purple-500 transition duration-150 overflow-hidden">
              <div class="absolute top-0 left-0 m-6">
                <span class="inline-block py-1 px-3 mr-2 text-2xs text-white font-bold bg-rhino-600 uppercase rounded-full">Trending</span>
              </div>
              <img class="block" src="coleos-assets/product-blocks/no-bg-product-11.png" alt="">
            </div>
            <div class="text-center">
              <span class="block text-xl text-rhino-500 font-semibold mb-1">Simple Adidas white sneakers</span>
              <span class="block text-base text-rhino-300">$ 209.00</span>
            </div>
          </a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
          <a class="block group max-w-sm md:max-w-none mx-auto" href="#">
            <div class="relative flex items-center justify-center h-96 mb-4 bg-coolGray-100 rounded-xl border-2 border-transparent group-hover:border-purple-500 transition duration-150 overflow-hidden">
              <div class="absolute top-0 left-0 m-6">
                <span class="inline-block py-1 px-3 mr-2 text-2xs text-white font-bold bg-rhino-600 uppercase rounded-full">Trending</span>
              </div>
              <img class="block" src="coleos-assets/product-blocks/product-no-bg1.png" alt="">
            </div>
            <div class="text-center">
              <span class="block text-xl text-rhino-500 font-semibold mb-1">Nike Dark SuperSpeed</span>
              <span class="block text-base text-rhino-300">$ 199.00</span>
            </div>
          </a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
          <a class="block group max-w-sm md:max-w-none mx-auto" href="#">
            <div class="relative flex items-center justify-center h-96 mb-4 bg-coolGray-100 rounded-xl border-2 border-transparent group-hover:border-purple-500 transition duration-150 overflow-hidden">
              <img class="block" src="coleos-assets/product-blocks/product-no-bg-15.png" alt="">
            </div>
            <div class="text-center">
              <span class="block text-xl text-rhino-500 font-semibold mb-1">Simple backpack</span>
              <span class="block text-base text-rhino-300">$ 79.00</span>
            </div>
          </a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
          <a class="block group max-w-sm md:max-w-none mx-auto" href="#">
            <div class="relative flex items-center justify-center h-96 mb-4 bg-coolGray-100 rounded-xl border-2 border-transparent group-hover:border-purple-500 transition duration-150 overflow-hidden">
              <img class="block" src="coleos-assets/product-blocks/product-no-bg-16.png" alt="">
            </div>
            <div class="text-center">
              <span class="block text-xl text-rhino-500 font-semibold mb-1">White label cap</span>
              <span class="block text-base text-rhino-300">$ 79.00</span>
            </div>
          </a>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 px-4 mb-8">
          <a class="block group max-w-sm md:max-w-none mx-auto" href="#">
            <div class="relative flex items-center justify-center h-96 mb-4 bg-coolGray-100 rounded-xl border-2 border-transparent group-hover:border-purple-500 transition duration-150 overflow-hidden">
              <div class="absolute top-0 left-0 m-6">
                <span class="inline-block py-1 px-3 mr-2 text-2xs text-white font-bold bg-orange-500 uppercase rounded-full">Trending</span>
              </div>
              <img class="block" src="coleos-assets/product-blocks/no-bg-medium3.png" alt="">
            </div>
            <div class="text-center">
              <span class="block text-xl text-rhino-500 font-semibold mb-1">Simple Adidas white sneakers</span>
              <span class="block text-base text-rhino-300">$ 209.00</span>
            </div>
          </a>
        </div>
      </div>
      <div class="text-center mt-12"><a class="inline-flex h-12 py-2 px-4 items-center justify-center text-sm font-medium text-purple-500 hover:text-white bg-white border border-purple-500 rounded-sm hover:bg-purple-500 transition duration-200" href="#">Show more</a></div>
    </div>
  </section></div>