<div><section class="relative bg-white overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="py-12">
        <div class="flex">
          <a class="relative h-10 w-32 group" href="#">
            <div class="absolute top-0 left-0 w-full h-full text-purple-100 group-hover:text-rhino-700 transition duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" width="126" height="40" viewbox="0 0 126 40" fill="none">
                <path d="M0 20C0 8.95431 8.95431 0 20 0H109L126 20L109 40H20C8.9543 40 0 31.0457 0 20Z" fill="currentColor"></path>
              </svg>
            </div>
            <span class="absolute text-rhino-500 text-sm transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:text-white transition duration-200">Homepage</span>
          </a>
          <a class="relative h-10 w-32 transform -translate-x-4 group" href="#">
            <div class="absolute top-0 left-0 w-full h-full text-purple-100 group-hover:text-rhino-700 transition duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" width="129" height="40" viewbox="0 0 129 40" fill="none">
                <path d="M0 0H112L129 20L112 40H0L17 20L0 0Z" fill="currentColor"></path>
              </svg>
            </div>
            <span class="absolute text-rhino-500 text-sm transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:text-white transition duration-200">Catalogue</span>
          </a>
          <a class="relative h-10 w-32 transform -translate-x-8 group" href="#">
            <div class="absolute top-0 left-0 w-full h-full text-rhino-700 group-hover:text-rhino-700 transition duration-200">
              <svg xmlns="http://www.w3.org/2000/svg" width="112" height="40" viewbox="0 0 112 40" fill="none">
                <path d="M112 20C112 8.95431 103.046 0 92 0H0L17 20L0 40H92C103.046 40 112 31.0457 112 20Z" fill="currentColor"></path>
              </svg>
            </div>
            <span class="absolute text-white text-sm transform top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:text-white transition duration-200">Product</span>
          </a>
        </div>
      </div>
    </div>
  </section> </div>