<div> <section class="relative bg-purple-100 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="py-5">
        <div class="flex flex-wrap items-center gap-2">
          <a class="text-rhino-500 text-sm hover:text-rhino-500 transition duration-200" href="#">Homepage</a>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"><circle cx="12" cy="12" r="2" fill="#A0A5B8"></circle></svg>
          </div>
          <a class="text-rhino-500 text-sm hover:text-rhino-500 transition duration-200" href="#">Catalogue</a>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none"><circle cx="12" cy="12" r="2" fill="#A0A5B8"></circle></svg>
          </div>
          <a class="text-rhino-300 text-sm hover:text-rhino-500 transition duration-200" href="#">Product</a>
        </div>
      </div>
    </div>
  </section></div>