<div><section class="bg-coolGray-50 py-4">
    <div class="container px-4 mx-auto">
      <div class="relative py-11 md:py-36 px-14 mx-auto bg-coolGray-900 rounded-md overflow-hidden">
        <img class="absolute z-10 left-4 top-4" src="flex-ui-assets/elements/dashboard/banners/dots-purple.svg" alt="">
        <img class="absolute z-10 right-4 bottom-4" src="flex-ui-assets/elements/dashboard/banners/dots-red.svg" alt="">
        <img class="absolute h-64 top-0 -right-16 object-cover" src="flex-ui-assets/elements/dashboard/banners/wave.svg" alt="">
        <img class="absolute h-64 -bottom-20 -left-16 object-cover" src="flex-ui-assets/elements/dashboard/banners/wave.svg" alt="">
        <div class="relative z-10 text-center">
          <h2 class="mb-6 text-2xl font-bold text-white tracking-tighter">Ideal banner asset for your dashboard project</h2>
          <p class="mb-6 font-semibold text-coolGray-300">Go global with our UI Resources and solutions</p>
          <button class="block mx-auto px-4 py-3 font-medium text-base text-white bg-green-500 hover:bg-green-600 rounded-md">Get Started</button>
        </div>
      </div>
    </div>
  </section> </div>