<div>
	<section class="py-24 bg-white" style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;">
		<div class="container px-4 mx-auto">
			<div class="text-center">
				<span
					class="inline-block py-px px-2 mb-4 text-xs leading-5 text-green-500 bg-green-100 font-medium rounded-full shadow-sm"
					>Application</span
				>
				<h3
					class="mb-10 mx-auto text-3xl md:text-4xl leading-tight text-coolGray-900 font-bold tracking-tighter max-w-5xl"
				>
					Great work starts with your app
				</h3>
				<div class="relative mb-10 mx-auto max-w-max">
					<img
						class="absolute top-1/2 transform -translate-y-1/2 w-1/2 md:w-auto text-yellow-400"
						src="https://shuffle.dev/flex-ui-assets/elements/circle1-yellow.svg"
						alt=""
					/>
					<img
						class="absolute top-1/2 right-0 transform -translate-y-1/2 w-1/4 md:w-auto text-blue-500"
						src="https://shuffle.dev/flex-ui-assets/elements/dots1-blue.svg"
						alt=""
					/>
					<img
						class="absolute p-7 -mt-1 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-10/12 z-20"
						src="https://shuffle.dev/flex-ui-assets/elements/dashboard.png"
						alt=""
					/>
					<img
						class="relative z-10"
						src="https://shuffle.dev/flex-ui-assets/elements/applications/macbook.png"
						alt=""
					/>
				</div>
				<p class="mb-6 mx-auto text-lg md:text-xl text-coolGray-500 font-medium max-w-4xl">
					Our philosophy is simple — hire a team of diverse, passionate people and foster a culture that
					empowers you to do you best work.
				</p>
				<div class="flex flex-wrap justify-center">
					<div class="w-full md:w-auto py-1 md:py-0 md:mr-6">
						<a
							class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-green-50 font-medium text-center bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-green-500 rounded-md shadow-sm"
							href="#"
							>Learn More</a
						>
					</div>
					<div class="w-full md:w-auto py-1 md:py-0">
						<a
							class="inline-block py-5 px-7 w-full text-base md:text-lg leading-4 text-coolGray-800 font-medium text-center bg-white hover:bg-coolGray-100 focus:ring-2 focus:ring-coolGray-200 focus:ring-opacity-50 border border-coolGray-200 rounded-md shadow-sm"
							href="#"
							>About Us</a
						>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
