<div><section class="py-24 md:pt-36 bg-white overflow-hidden" style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-16 md:mb-0">
          <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-green-500 bg-green-100 font-medium rounded-full shadow-sm">Application</span>
          <h3 class="mb-4 text-4xl md:text-5xl leading-tight text-coolGray-900 font-bold tracking-tighter">Get our Free Mobile App</h3>
          <p class="mb-6 text-lg md:text-xl text-coolGray-500 font-medium">With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage every aspect of your business in one secure platform.</p>
          <div class="flex flex-wrap">
            <div class="w-full md:w-auto mb-3 md:mb-0 md:mr-4">
              <img src="flex-ui-assets/elements/app-store-dark.svg" alt="">
            </div>
            <div class="w-full md:w-auto">
              <img src="flex-ui-assets/elements/google-play-dark.svg" alt="">
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 px-4">
          <div class="relative flex flex-row items-center mx-auto md:mr-0 max-w-max">
            <div class="relative max-w-max overflow-hidden">
              <img class="relative z-20 h-80 md:h-auto object-cover" src="flex-ui-assets/elements/applications/iphone-light1.png" alt="">
              <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-30 p-7 md:p-0 -mt-3 md:-mt-4 -ml-1 h-80 md:h-auto object-cover" src="flex-ui-assets/elements/applications/smartphone-ui.png">
            </div>
            <div class="relative z-10 hidden 2xl:block max-w-max 2xl:-ml-24">
              <img class="relative z-10 object-cover" src="flex-ui-assets/elements/applications/iphone-light2.png" alt="">
              <img class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-20 -mt-4 -ml-1 object-cover" src="flex-ui-assets/elements/applications/smartphone-ui2.png">
            </div>
            <img class="absolute -left-5 -top-5 w-28 md:w-auto text-yellow-400" src="flex-ui-assets/elements/circle2-yellow.svg" alt="">
            <img class="absolute -right-7 bottom-12 w-28 md:w-auto text-blue-500" src="flex-ui-assets/elements/dots1-blue.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section> </div>