<div> <section class="py-20 xl:pt-24 xl:pb-32 bg-white" style="background-image: url('flex-ui-assets/elements/pattern-white.svg'); background-position: center;">
    <div class="container px-4 mx-auto">
      <div class="text-center">
        <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-green-500 bg-green-100 font-medium uppercase rounded-9xl">Numbers</span>
        <h3 class="mb-4 text-4xl md:text-5xl text-coolGray-900 font-bold tracking-tighter">We believe in the power of data</h3>
        <p class="mb-16 xl:mb-24 mx-auto text-lg md:text-xl text-coolGray-500 font-medium max-w-4xl">Flex is the only business platform that lets you run your business on one platform, seamlessly across all digital channels.</p>
        <div class="flex flex-wrap justify-center -mx-4">
          <div class="w-full md:w-1/3 lg:w-1/4 px-4 mb-8 lg:mb-0">
            <h2 class="mb-2 text-4xl md:text-5xl text-coolGray-900 font-bold tracking-tighter">235.000</h2>
            <p class="text-lg md:text-xl text-coolGray-500 font-medium">Projects completed</p>
          </div>
          <div class="w-full md:w-1/3 lg:w-1/4 px-4 mb-8 lg:mb-0">
            <h2 class="mb-2 text-4xl md:text-5xl text-coolGray-900 font-bold tracking-tighter">$10m</h2>
            <p class="text-lg md:text-xl text-coolGray-500 font-medium">APR</p>
          </div>
          <div class="w-full md:w-1/3 lg:w-1/4 px-4 mb-8 lg:mb-0">
            <h2 class="mb-2 text-4xl md:text-5xl text-coolGray-900 font-bold tracking-tighter">+50.000</h2>
            <p class="text-lg md:text-xl text-coolGray-500 font-medium">Hours Saved Annually</p>
          </div>
          <div class="w-full md:w-1/3 lg:w-1/4 px-4">
            <h2 class="mb-2 text-4xl md:text-5xl text-coolGray-900 font-bold tracking-tighter">3.500</h2>
            <p class="text-lg md:text-xl text-coolGray-500 font-medium">Unique Users</p>
          </div>
        </div>
      </div>
    </div>
  </section></div>