<div>
	<section class="bg-coolGray-50 py-4">
		<div class="container px-4 mx-auto">
			<div class="relative py-10 px-14 mx-auto bg-coolGray-900 rounded-md overflow-hidden">
				<img
					class="absolute z-10 left-4 top-4"
					src="https://shuffle.dev/flex-ui-assets/elements/dashboard/banners/dots-purple.svg"
					alt=""
				/>
				<img
					class="absolute z-10 right-4 bottom-4"
					src="https://shuffle.dev/flex-ui-assets/elements/dashboard/banners/dots-red.svg"
					alt=""
				/>
				<img
					class="absolute h-64 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 object-cover"
					src="https://shuffle.dev/flex-ui-assets/elements/dashboard/banners/wave-shadow.svg"
					alt=""
				/>
				<div class="relative z-10 text-center">
					<h2 class="mb-6 text-4xl font-bold text-white tracking-tighter">
						Ideal banner asset for your dashboard project
					</h2>
					<button
						class="block mx-auto px-4 py-3 font-medium text-base text-white bg-green-500 hover:bg-green-600 rounded-md"
					>
						Get Started
					</button>
				</div>
			</div>
		</div>
	</section>
</div>
