<div>
	<section class="py-20">
		<div class="container px-4 mx-auto">
			<div class="pt-20 pb-24 px-8 md:px-16 bg-blue-600 rounded">
				<div class="flex flex-wrap -mx-8">
					<div class="w-full lg:w-1/2 px-8 flex">
						<div class="my-auto">
							<h2 class="text-3xl lg:text-4xl font-semibold text-white">
								Lorem ipsum dolor sit amet consectetur domor
							</h2>
							<p class="mt-2 mb-6 text-blueGray-50 leading-loose">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus
								eget justo et iaculis.
							</p>
							<a
								class="inline-block py-4 px-8 text-xs border bg-white text-blue-600 font-semibold leading-none hover:bg-blue-600 hover:border-white hover:text-white rounded transition duration-300"
								href="#"
								>Get Started</a
							>
						</div>
					</div>
					<div class="w-full lg:w-1/2 px-8 mt-12 lg:mt-0">
						<div class="relative max-w-sm sm:max-w-md mx-auto">
							<div
								class="absolute bg-blue-600"
								style="top: 22.8%; left: 3%; width: 25.2%; height: 72%;"
							>
								<img
									class="object-cover w-full h-full"
									src="https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
									alt=""
								/>
							</div>
							<div
								class="absolute bg-blue-600"
								style="top: 3.8%; left: 37%; width: 25.2%; height: 72%;"
							>
								<img
									class="object-cover w-full h-full"
									src="https://images.unsplash.com/photo-1581090464777-f3220bbe1b8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=350&q=80"
									alt=""
								/>
							</div>
							<div
								class="absolute bg-blue-600"
								style="top: 12.8%; left: 70%; width: 25.2%; height: 72%;"
							>
								<img
									class="object-cover w-full h-full"
									src="https://images.unsplash.com/photo-1535223289827-42f1e9919769?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80"
									alt=""
								/>
							</div>
							<img
								class="relative mx-auto"
								src="https://shuffle.dev/metis-assets/elements/three-iphones.png"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
