<div>
	<section class="py-20 bg-blueGray-50">
		<div class="container px-4 mx-auto">
			<table class="w-full bg-white rounded shadow">
				<thead>
					<tr class="text-left text-xs">
						<th class="pl-6 py-4 font-normal">Project</th>
						<th class="px-4 py-4 font-normal">Budget</th>
						<th class="px-4 py-4 font-normal">Status</th>
						<th class="px-4 py-4 font-normal">Users</th>
						<th class="px-4 py-4 font-normal">Completion</th>
					</tr>
				</thead>
				<tbody>
					<tr class="border-t border-blueGray-100">
						<td class="flex px-6 py-4 text-xs">
							<img class="w-8" src="https://shuffle.dev/metis-assets/logos/react.svg" />
							<div class="pl-4">
								<p class="font-semibold">React</p>
								<a class="text-blueGray-400" href="#">www.reactjs.org</a>
							</div>
						</td>
						<td class="px-4 py-2 text-xs font-semibold">5000$</td>
						<td class="px-4 py-2 text-xs">
							<span
								class="inline-block py-1 px-3 text-xs text-blue-600 bg-blue-100 font-semibold uppercase rounded-full"
								>Pending</span
							>
						</td>
						<td class="px-4 py-2">
							<div class="flex">
								<img
									class="w-6 h-6 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&auto=format&fit=crop&w=128&q=60"
								/>
							</div>
						</td>
						<td>
							<div class="flex pl-4 items-center">
								<p class="text-xs font-semibold">50%</p>
								<div class="ml-2 w-24 h-1 rounded-xl bg-blueGray-200">
									<div class="w-12 h-1 rounded-xl bg-blue-500"></div>
								</div>
							</div>
						</td>
					</tr>
					<tr class="border-t border-blueGray-100">
						<td class="flex px-6 py-4 text-xs">
							<img class="w-8" src="https://shuffle.dev/metis-assets/logos/react.svg" />
							<div class="pl-4">
								<p class="font-semibold">React</p>
								<a class="text-blueGray-400" href="#">www.reactjs.org</a>
							</div>
						</td>
						<td class="px-4 py-2 text-xs font-semibold">5000$</td>
						<td class="px-4 py-2 text-xs">
							<span
								class="inline-block py-1 px-3 text-xs text-green-600 bg-green-100 font-semibold uppercase rounded-full"
								>Success</span
							>
						</td>
						<td class="px-4 py-2">
							<div class="flex">
								<img
									class="w-6 h-6 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&auto=format&fit=crop&w=128&q=60"
								/>
							</div>
						</td>
						<td>
							<div class="flex pl-4 items-center">
								<p class="text-xs font-semibold">100%</p>
								<div class="ml-2 block w-24 h-1 rounded-xl bg-green-400"></div>
							</div>
						</td>
					</tr>
					<tr class="border-t border-blueGray-100">
						<td class="flex px-6 py-4 text-xs">
							<img class="w-8" src="https://shuffle.dev/metis-assets/logos/react.svg" />
							<div class="pl-4">
								<p class="font-semibold">React</p>
								<a class="text-blueGray-400" href="#">www.reactjs.org</a>
							</div>
						</td>
						<td class="px-4 py-2 text-xs font-semibold">5000$</td>
						<td class="px-4 py-2 text-xs">
							<span
								class="inline-block py-1 px-3 text-xs text-blue-600 bg-blue-100 font-semibold uppercase rounded-full"
								>Pending</span
							>
						</td>
						<td class="px-4 py-2">
							<div class="flex">
								<img
									class="w-6 h-6 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&auto=format&fit=crop&w=128&q=60"
								/>
							</div>
						</td>
						<td>
							<div class="flex pl-4 items-center">
								<p class="text-xs font-semibold">50%</p>
								<div class="ml-2 block w-24 h-1 rounded-xl bg-blueGray-200">
									<div class="block w-12 h-1 rounded-xl bg-blue-500"></div>
								</div>
							</div>
						</td>
					</tr>
					<tr class="border-t border-blueGray-100">
						<td class="flex px-6 py-4 text-xs">
							<img class="w-8" src="https://shuffle.dev/metis-assets/logos/react.svg" />
							<div class="pl-4">
								<p class="font-semibold">React</p>
								<a class="text-blueGray-400" href="#">www.reactjs.org</a>
							</div>
						</td>
						<td class="px-4 py-2 text-xs font-semibold">5000$</td>
						<td class="px-4 py-2 text-xs">
							<span
								class="inline-block py-1 px-3 text-xs text-blue-600 bg-blue-100 font-semibold uppercase rounded-full"
								>Pending</span
							>
						</td>
						<td class="px-4 py-2">
							<div class="flex">
								<img
									class="w-6 h-6 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&auto=format&fit=crop&w=128&q=60"
								/>
							</div>
						</td>
						<td>
							<div class="flex pl-4 items-center">
								<p class="text-xs font-semibold">50%</p>
								<div class="ml-2 block w-24 h-1 rounded-xl bg-blueGray-200">
									<div class="block w-12 h-1 rounded-xl bg-blue-500"></div>
								</div>
							</div>
						</td>
					</tr>
					<tr class="border-t border-blueGray-100">
						<td class="flex px-6 py-4 text-xs">
							<img class="w-8" src="https://shuffle.dev/metis-assets/logos/react.svg" />
							<div class="pl-4">
								<p class="font-semibold">React</p>
								<a class="text-blueGray-400" href="#">www.reactjs.org</a>
							</div>
						</td>
						<td class="px-4 py-2 text-xs font-semibold">5000$</td>
						<td class="px-4 py-2 text-xs">
							<span
								class="inline-block py-1 px-3 text-xs text-blue-600 bg-blue-100 font-semibold uppercase rounded-full"
								>Pending</span
							>
						</td>
						<td class="px-4 py-2">
							<div class="flex">
								<img
									class="w-6 h-6 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&auto=format&fit=crop&w=128&q=60"
								/>
							</div>
						</td>
						<td>
							<div class="flex pl-4 items-center">
								<p class="text-xs font-semibold">50%</p>
								<div class="ml-2 block w-24 h-1 rounded-xl bg-blueGray-200">
									<div class="block w-12 h-1 rounded-xl bg-blue-500"></div>
								</div>
							</div>
						</td>
					</tr>
					<tr class="border-t border-blueGray-100">
						<td class="flex px-6 py-4 text-xs">
							<img class="w-8" src="https://shuffle.dev/metis-assets/logos/react.svg" />
							<div class="pl-4">
								<p class="font-semibold">React</p>
								<a class="text-blueGray-400" href="#">www.reactjs.org</a>
							</div>
						</td>
						<td class="px-4 py-2 text-xs font-semibold">5000$</td>
						<td class="px-4 py-2 text-xs">
							<span
								class="inline-block py-1 px-3 text-xs text-blue-600 bg-blue-100 font-semibold uppercase rounded-full"
								>Pending</span
							>
						</td>
						<td class="px-4 py-2">
							<div class="flex">
								<img
									class="w-6 h-6 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&auto=format&fit=crop&w=128&q=60"
								/>
							</div>
						</td>
						<td>
							<div class="flex pl-4 items-center">
								<p class="text-xs font-semibold">50%</p>
								<div class="ml-2 block w-24 h-1 rounded-xl bg-blueGray-200">
									<div class="block w-12 h-1 rounded-xl bg-blue-500"></div>
								</div>
							</div>
						</td>
					</tr>
					<tr class="border-t border-blueGray-100">
						<td class="flex px-6 py-4 text-xs">
							<img class="w-8" src="https://shuffle.dev/metis-assets/logos/react.svg" />
							<div class="pl-4">
								<p class="font-semibold">React</p>
								<a class="text-blueGray-400" href="#">www.reactjs.org</a>
							</div>
						</td>
						<td class="px-4 py-2 text-xs font-semibold">5000$</td>
						<td class="px-4 py-2 text-xs">
							<span
								class="inline-block py-1 px-2 text-blue-600 bg-blue-100 font-semibold uppercase rounded-full"
								>Pending</span
							>
						</td>
						<td class="px-4 py-2">
							<div class="flex">
								<img
									class="w-6 h-6 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1499996860823-5214fcc65f8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=128&q=60"
								/>
								<img
									class="w-6 h-6 -ml-2 border border-white rounded-full object-top object-cover"
									src="https://images.unsplash.com/photo-1456327102063-fb5054efe647?ixlib=rb-1.2.1&auto=format&fit=crop&w=128&q=60"
								/>
							</div>
						</td>
						<td>
							<div class="flex pl-4 items-center">
								<p class="text-xs font-semibold">50%</p>
								<div class="ml-2 block w-24 h-1 rounded-xl bg-blueGray-200">
									<div class="block w-12 h-1 rounded-xl bg-blue-500"></div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</div>
