<div> <section class="pt-20 pb-12 md:pb-8">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-3">
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Easy to customize</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Outstanding look</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Flexible software</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Key Elements</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Easy to customize</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Outstanding look</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Flexible software</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Ouststanding look</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/3 px-3 mb-8 md:mb-12">
          <div class="flex items-start">
            <div class="mr-6 p-3 bg-blue-600 rounded-full text-white">
              <svg class="w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z"></path>
              </svg>
            </div>
            <div class="mt-4">
              <h3 class="mb-3 text-xl font-semibold font-heading">Key Elements</h3>
              <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>