<div><section class="pt-20 pb-20 lg:pb-12">
    <div class="flex flex-wrap">
      <div class="relative w-full lg:w-1/2 px-4 lg:h-128">
        <div class="relative lg:absolute left-0 top-0 lg:max-w-6xl mx-auto lg:-ml-64">
          <img class="lg:h-128" src="metis-assets/elements/macbook.png" alt="">
          <div class="absolute" style="top: 5.8%; left: 14.6%; width: 72.8%; height: 76.8%;">
            <img class="object-cover w-full h-full" src="metis-assets/placeholders/metis-dashboard-square.png" alt="">
          </div>
        </div>
      </div>
      <div class="flex w-full lg:w-1/2 lg:max-w-lg lg:h-128 px-4 lg:pl-16">
        <div class="my-auto mx-auto pt-8 lg:pt-0 max-w-2xl lg:max-w-lg">
          <h2 class="text-3xl md:text-4xl mb-4 font-bold font-heading">
            <span>Make your</span>
            <span class="text-blue-600">life easier</span>
            <span>for marketing sales and customer support</span>
          </h2>
          <p class="text-blueGray-400 leading-loose mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
          <a class="inline-block py-4 px-8 text-xs text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="#">Learn more</a>
        </div>
      </div>
    </div>
  </section> </div>