<div>
	<section class="py-12 md:pt-20 md:pb-12">
		<div class="container px-4 mx-auto">
			<div class="max-w-lg mx-auto mb-8 text-center">
				<span class="inline-block text-xs py-1 px-3 text-blue-700 font-semibold bg-blue-100 rounded-xl"
					>Lorem Ipsum</span
				>
				<h2 class="my-3 text-3xl md:text-4xl text-blueGray-900 font-bold font-heading">
					Lorem ipsum dolor sit amet consectutar domor
				</h2>
				<p class="text-blueGray-400">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.
				</p>
			</div>
			<div class="text-center mb-12">
				<button class="inline-block rounded-full h-2 w-2 mr-2 bg-blueGray-200"></button>
				<button class="inline-block rounded-full h-2 w-2 mr-2 bg-blueGray-200"></button>
				<button class="inline-block rounded-full h-2 w-2 mr-2 bg-blue-600"></button>
				<button class="inline-block rounded-full h-2 w-2 bg-blueGray-200"></button>
			</div>
			<div class="relative max-w-6xl mx-auto">
				<img src="https://shuffle.dev/metis-assets/elements/macbook.png" alt="" />
				<div class="absolute" style="top: 5.8%; left: 14.6%; width: 72.8%; height: 76.7%;">
					<img
						class="object-cover w-full h-full"
						src="https://shuffle.dev/metis-assets/placeholders/metis-dashboard-square.png"
						alt=""
					/>
				</div>
			</div>
		</div>
	</section>
</div>
