<div> <section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="flex flex-col md:flex-row justify-around">
        <div class="max-w-md md:mr-10 mb-10 md:mb-0">
          <span class="inline-block py-1 px-3 text-xs font-semibold bg-blue-100 text-blue-600 rounded-xl">Our Team</span>
          <h2 class="text-3xl md:text-4xl mt-2 mb-4 font-bold font-heading">Lorem ipsum dolor sit amet consectetur adipisicing</h2>
          <p class="text-blueGray-400 leading-loose">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis quisquam cum aliquam rem.</p>
        </div>
        <div class="flex flex-wrap">
          <div class="w-1/2 p-5">
            <img class="h-20 w-20 rounded-full object-cover object-top" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <p class="mt-6 mb-2 text-xl">Anne Bailey</p>
            <p class="text-sm text-blueGray-400">CEO</p>
          </div>
          <div class="w-1/2 p-5">
            <img class="h-20 w-20 rounded-full object-cover object-top" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <p class="mt-6 mb-2 text-xl">Julie Brown</p>
            <p class="text-blueGray-400">Head of Development</p>
          </div>
          <div class="w-1/2 p-5">
            <img class="h-20 w-20 rounded-full object-cover object-top" src="https://images.unsplash.com/photo-1556474835-b0f3ac40d4d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <p class="mt-6 mb-2 text-xl">Tom Jones</p>
            <p class="text-blueGray-400">Head of Operations</p>
          </div>
          <div class="w-1/2 p-5">
            <img class="h-20 w-20 rounded-full object-cover object-top" src="https://images.unsplash.com/photo-1569124589354-615739ae007b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <p class="mt-6 mb-2 text-xl">Anne Smith</p>
            <p class="text-blueGray-400">Director, Product Development</p>
          </div>
          <div class="w-1/2 p-5">
            <img class="h-20 w-20 rounded-full object-cover object-top" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <p class="mt-6 mb-2 text-xl">Julie Brown</p>
            <p class="text-blueGray-400">Head of Development</p>
          </div>
          <div class="w-1/2 p-5">
            <img class="h-20 w-20 rounded-full object-cover object-top" src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <p class="mt-6 mb-2 text-xl">Ian Bailey</p>
            <p class="text-blueGray-400">Director, Product Development</p>
          </div>
        </div>
      </div>
    </div>
  </section></div>