<div> <section class="py-20 bg-gray-100">
    <div class="container mx-auto px-4">
      <h2 class="mb-10 text-center text-sm font-bold font-heading text-gray-400">TRUSTED BY BRANDS ALL OVER THE WORLD</h2>
      <div class="flex flex-wrap items-center">
        <div class="w-full md:w-1/12 px-4 mb-10 md:mb-0">
          <a class="hidden md:flex mx-auto flex-shrink-0 items-center justify-center w-12 h-12 bg-orange-300 hover:bg-orange-400 rounded-md" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.02344 5.99748L7.14844 10.1225L5.97043 11.3008L0.66742 5.99748L5.97043 0.694179L7.14844 1.87248L3.02344 5.99748Z" fill="white"></path>
            </svg>
          </a>
          <div class="md:hidden flex justify-center">
            <a class="mr-6 flex items-center justify-center w-12 h-12 bg-orange-300 hover:bg-orange-400 rounded-md" href="#">
              <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.02344 5.99748L7.14844 10.1225L5.97043 11.3008L0.66742 5.99748L5.97043 0.694179L7.14844 1.87248L3.02344 5.99748Z" fill="white"></path>
              </svg>
            </a>
            <a class="flex items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
              <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4.97656 6.00252L0.851562 1.87752L2.02957 0.699219L7.33258 6.00252L2.02957 11.3058L0.851562 10.1275L4.97656 6.00252Z" fill="white"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="w-full md:w-10/12 px-4 -mb-6">
          <div class="flex flex-wrap -mx-4">
            <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/6 px-4 mb-6">
              <div class="flex mx-auto h-40 w-40 px-2 items-center justify-center rounded-full bg-white">
                <img class="mx-auto h-8" src="yofte-assets/brands/exxon.svg" alt="">
              </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/6 px-4 mb-6">
              <div class="flex mx-auto h-40 w-40 px-2 items-center justify-center rounded-full bg-white">
                <img class="mx-auto h-8" src="yofte-assets/brands/ea-sports.svg" alt="">
              </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/6 px-4 mb-6">
              <div class="flex mx-auto h-40 w-40 px-2 items-center justify-center rounded-full bg-white">
                <img class="mx-auto h-8" src="yofte-assets/brands/eurosport.svg" alt="">
              </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/6 px-4 mb-6">
              <div class="flex mx-auto h-40 w-40 px-2 items-center justify-center rounded-full bg-white">
                <img class="mx-auto h-8" src="yofte-assets/brands/nike.svg" alt="">
              </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/6 px-4 mb-6">
              <div class="flex mx-auto h-40 w-40 px-2 items-center justify-center rounded-full bg-white">
                <img class="mx-auto h-8" src="yofte-assets/brands/aol.svg" alt="">
              </div>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/3 xl:w-1/6 px-4 mb-6">
              <div class="flex mx-auto h-40 w-40 px-2 items-center justify-center rounded-full bg-white">
                <img class="mx-auto h-8" src="yofte-assets/brands/north-face.svg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="hidden md:block md:w-1/12 px-4">
          <a class="flex-shrink-0 flex mx-auto items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.97656 6.00252L0.851562 1.87752L2.02957 0.699219L7.33258 6.00252L2.02957 11.3058L0.851562 10.1275L4.97656 6.00252Z" fill="white"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section></div>