<div><section class="py-20 bg-gray-900 bg-opacity-20 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="mb-20 md:max-w-4xl text-center mx-auto">
        <span class="inline-block mb-4 text-sm text-green-400 font-medium tracking-tighter">Nightsable Card</span>
        <h2 class="text-7xl lg:text-8xl text-white tracking-7xl lg:tracking-8xl">Built for teams large and small</h2>
      </div>
      <div class="md:max-w-7xl mx-auto">
        <div class="flex flex-wrap -m-3">
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/rbs-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/nine-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/drift-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/seek-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/deloitte-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/wise-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/intel-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/lenovo-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/sonder-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
          <div class="p-3 w-full md:w-1/2 lg:w-1/5">
            <div class="relative flex items-center justify-center border border-gray-900 overflow-hidden rounded-3xl" style="height: 246px;">
              <img class="relative" src="nightsable-assets/images/logo-clouds/sendle-white.png" alt="">
              <img class="absolute bottom-0 right-0" src="nightsable-assets/images/logo-clouds/shadow.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>