<div> <section class="py-20 overflow-x-hidden">
    <div class="container mx-auto px-4">
      <h2 class="mb-8 text-4xl md:text-5xl font-bold font-heading">Discover our products</h2>
      <p class="mb-16 lg:mb-24 text-gray-500 text-lg">Fusce pharetra lectus felis, eget temp.</p>
      <div class="flex -mx-3 mb-20">
        <div class="flex-shrink-0 h-full w-full md:w-1/2 lg:w-1/4 px-3">
          <div class="p-6 bg-gray-50">
            <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">-10%</span>
            <a class="block px-6 mt-8 mb-2" href="#">
              <img class="mb-5 mx-auto h-56 w-full object-contain" src="yofte-assets/images/tennisball.png" alt="">
              <h3 class="mb-2 text-xl font-bold font-heading">Tennis ball (2)</h3>
              <p class="text-lg font-bold font-heading text-blue-500">
                <span>$14.30</span>
                <span class="text-xs text-gray-500 font-semibold font-heading line-through">$15.90</span>
              </p>
            </a>
            <a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 border rounded-lg hover:border-gray-500" href="#">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
            </a>
          </div>
        </div>
        <div class="flex-shrink-0 h-full w-full md:w-1/2 lg:w-1/4 px-3">
          <div class="p-6 bg-gray-50">
            <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">-15%</span>
            <a class="block px-6 mt-8 mb-2" href="#">
              <img class="mb-5 mx-auto h-56 w-full object-contain" src="yofte-assets/images/waterbottle.png" alt="">
              <h3 class="mb-2 text-xl font-bold font-heading">BRILE water filter</h3>
              <p class="text-lg font-bold font-heading text-blue-500">
                <span>$29.89</span>
                <span class="text-xs text-gray-500 font-semibold font-heading line-through">$33.69</span>
              </p>
            </a>
            <a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 border rounded-lg hover:border-gray-500" href="#">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
            </a>
          </div>
        </div>
        <div class="flex-shrink-0 h-full w-full md:w-1/2 lg:w-1/4 px-3">
          <div class="p-6 bg-gray-50">
            <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-blue-300 rounded-full text-blue-300 uppercase bg-white">New</span>
            <a class="block px-6 mt-8 mb-2" href="#">
              <img class="mb-5 mx-auto h-56 w-full object-contain" src="yofte-assets/images/backpack.png" alt="">
              <h3 class="mb-2 text-xl font-bold font-heading">Backpack travel</h3>
              <p class="text-lg font-bold font-heading text-blue-500">$29.89</p>
            </a>
            <a class="ml-auto mr-4 flex items-center justify-center w-12 h-12 border rounded-lg hover:border-gray-500" href="#">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
            </a>
          </div>
        </div>
        <div class="flex-shrink-0 h-full w-full md:w-1/2 lg:w-1/4 px-3">
          <div class="p-6 bg-gray-50">
            <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-blue-300 rounded-full text-blue-300 uppercase bg-white">New</span>
            <a class="block px-6 mt-8 mb-2" href="#">
              <img class="mb-5 mx-auto h-56 w-full object-contain" src="yofte-assets/images/skateboard.png" alt="">
              <h3 class="mb-2 text-xl font-bold font-heading">Kiteboard WH-004</h3>
              <p class="text-lg font-bold font-heading text-blue-500">$199.90</p>
            </a>
            <a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 border rounded-lg hover:border-gray-500" href="#">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
            </a>
          </div>
        </div>
        <div class="flex-shrink-0 h-full w-full md:w-1/2 lg:w-1/4 px-3">
          <div class="p-6 bg-gray-50">
            <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">-15%</span>
            <a class="block px-6 mt-8 mb-2" href="#">
              <img class="mb-5 mx-auto h-56 w-full object-contain" src="yofte-assets/images/waterbottle.png" alt="">
              <h3 class="mb-2 text-xl font-bold font-heading">BRILE water filter</h3>
              <p class="text-lg font-bold font-heading text-blue-500">
                <span>$29.89</span>
                <span class="text-xs text-gray-500 font-semibold font-heading line-through">$33.69</span>
              </p>
            </a>
            <a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 border rounded-lg hover:border-gray-500" href="#">
              <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="47" height="47" rx="5.5" stroke="#DBDDE1"></rect><rect x="23" y="18" width="2" height="12" fill="#161616"></rect><rect x="30" y="23" width="2" height="12" transform="rotate(90 30 23)" fill="#161616"></rect></svg>
            </a>
          </div>
        </div>
        <div class="flex-shrink-0 h-full w-full md:w-1/4 px-3">
          <div class="p-6 bg-gray-50">
            <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">-10%</span>
            <a class="block px-6 mt-8 mb-2" href="#">
              <img class="mb-5 mx-auto h-56 w-full object-contain" src="yofte-assets/images/cycle.png" alt="">
              <h3 class="mb-2 text-xl font-bold font-heading">Bicycle S20</h3>
              <p class="text-lg font-bold font-heading text-blue-500">
                <span>$14.30</span>
                <span class="text-xs text-gray-500 font-semibold font-heading line-through">$15.90</span>
              </p>
            </a>
            <a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 border rounded-lg hover:border-gray-500" href="#">
              <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="47" height="47" rx="5.5" stroke="#DBDDE1"></rect><rect x="23" y="18" width="2" height="12" fill="#161616"></rect><rect x="30" y="23" width="2" height="12" transform="rotate(90 30 23)" fill="#161616"></rect></svg>
            </a>
          </div>
        </div>
        <div class="flex-shrink-0 h-full w-full md:w-1/4 px-3">
          <div class="p-6 bg-gray-50">
            <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-blue-300 rounded-full text-blue-300 uppercase bg-white">New</span>
            <a class="block px-6 mt-8 mb-2" href="#">
              <img class="mb-5 mx-auto h-56 w-full object-contain" src="yofte-assets/images/basketball.png" alt="">
              <h3 class="mb-2 text-xl font-bold font-heading">Nike basketball ball</h3>
              <p class="text-lg font-bold font-heading text-blue-500">$29.89</p>
            </a>
            <a class="ml-auto mr-4 flex items-center justify-center w-12 h-12 border rounded-lg hover:border-gray-500" href="#">
              <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="47" height="47" rx="5.5" stroke="#DBDDE1"></rect><rect x="23" y="18" width="2" height="12" fill="#161616"></rect><rect x="30" y="23" width="2" height="12" transform="rotate(90 30 23)" fill="#161616"></rect></svg>
            </a>
          </div>
        </div>
        <div class="flex-shrink-0 h-full w-full md:w-1/4 px-3">
          <div class="p-6 bg-gray-50">
            <span class="px-2 py-1 text-xs font-bold font-heading border-2 border-red-500 rounded-full text-red-500 bg-white">-10%</span>
            <a class="block px-6 mt-8 mb-2" href="#">
              <img class="mb-5 mx-auto h-56 w-full object-contain" src="yofte-assets/images/cycle.png" alt="">
              <h3 class="mb-2 text-xl font-bold font-heading">Bicycle S20</h3>
              <p class="text-lg font-bold font-heading text-blue-500">
                <span>$14.30</span>
                <span class="text-xs text-gray-500 font-semibold font-heading line-through">$15.90</span>
              </p>
            </a>
            <a class="ml-auto mr-2 flex items-center justify-center w-12 h-12 border rounded-lg hover:border-gray-500" href="#">
              <svg width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="47" height="47" rx="5.5" stroke="#DBDDE1"></rect><rect x="23" y="18" width="2" height="12" fill="#161616"></rect><rect x="30" y="23" width="2" height="12" transform="rotate(90 30 23)" fill="#161616"></rect></svg>
            </a>
          </div>
        </div>
      </div>
      <div class="flex mb-24 items-center justify-between">
        <div class="relative mr-4 bg-gray-100 h-1 w-1/2 md:w-4/5">
          <div class="absolute top-0 bottom-0 left-0 bg-blue-300 w-1/4"></div>
        </div>
        <div class="ml-auto w-1/4 flex items-center justify-end">
          <a class="mr-5 flex-shrink-0 flex items-center justify-center w-12 h-12 bg-orange-300 hover:bg-orange-400 rounded-md" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.02344 5.99748L7.14844 10.1225L5.97043 11.3008L0.66742 5.99748L5.97043 0.694179L7.14844 1.87248L3.02344 5.99748Z" fill="white"></path>
            </svg>
          </a>
          <a class="flex-shrink-0 flex items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.97656 6.00252L0.851562 1.87752L2.02957 0.699219L7.33258 6.00252L2.02957 11.3058L0.851562 10.1275L4.97656 6.00252Z" fill="white"></path>
            </svg>
          </a>
        </div>
      </div>
      <div><a class="inline-block bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-6 px-8 rounded-md uppercase" href="#">All products</a></div>
    </div>
  </section></div>