<div><section class="py-20">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full px-4">
          <ul class="flex flex-wrap mb-8 items-center">
            <li class="mr-5">
              <a class="inline-block mr-5 text-xs font-bold font-heading uppercase text-gray-300" href="#">HOME</a>
              <span class="inline-block">
                <svg width="6" height="11" viewbox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.131073 0.755835C-0.0436907 0.581885 -0.0436907 0.302414 0.131073 0.129744C0.305837 -0.0429273 0.588197 -0.0435662 0.76296 0.129744L5.86893 5.18707C6.04369 5.35975 6.04369 5.63922 5.86893 5.81317L0.762959 10.8705C0.588196 11.0432 0.305836 11.0432 0.131072 10.8705C-0.0436916 10.6972 -0.0436916 10.4171 0.131072 10.2444L4.78774 5.4998L0.131073 0.755835Z" fill="#151515"></path>
                </svg>
              </span>
            </li>
            <li class="mr-5">
              <a class="inline-block mr-5 text-xs font-bold font-heading uppercase text-gray-300" href="#">WATER FILTERS</a>
              <span class="inline-block">
                <svg width="6" height="11" viewbox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.131073 0.755835C-0.0436907 0.581885 -0.0436907 0.302414 0.131073 0.129744C0.305837 -0.0429273 0.588197 -0.0435662 0.76296 0.129744L5.86893 5.18707C6.04369 5.35975 6.04369 5.63922 5.86893 5.81317L0.762959 10.8705C0.588196 11.0432 0.305836 11.0432 0.131072 10.8705C-0.0436916 10.6972 -0.0436916 10.4171 0.131072 10.2444L4.78774 5.4998L0.131073 0.755835Z" fill="#151515"></path>
                </svg>
              </span>
            </li>
            <li><a class="inline-block text-xs font-bold font-heading uppercase text-gray-300" href="#">BRILE WATER FILTER CARAFE</a></li>
          </ul>
        </div>
        <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
          <div class="relative h-128 mb-8">
            <a class="absolute top-1/2 left-0 ml-8 transform translate-1/2" href="#">
              <svg width="10" height="18" viewbox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 16.0185C9.268 16.2905 9.268 16.7275 9 16.9975C8.732 17.2675 8.299 17.2685 8.031 16.9975L0.201 9.0895C-0.067 8.8195 -0.067 8.3825 0.201 8.1105L8.031 0.2025C8.299 -0.0675 8.732 -0.0675 9 0.2025C9.268 0.4735 9.268 0.9115 9 1.1815L1.859 8.6005L9 16.0185Z" fill="#1F40FF"></path>
              </svg>
            </a>
            <img class="object-cover w-full h-full" src="yofte-assets/images/product-bottle.png" alt="">
            <a class="absolute top-1/2 right-0 mr-8 transform translate-1/2" href="#">
              <svg width="10" height="18" viewbox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.19922 1.1817C-0.0687795 0.909696 -0.0687794 0.472695 0.19922 0.202695C0.46722 -0.0673054 0.90022 -0.0683048 1.16822 0.202695L8.99822 8.11069C9.26622 8.3807 9.26622 8.81769 8.99822 9.08969L1.16822 16.9977C0.900219 17.2677 0.467218 17.2677 0.199219 16.9977C-0.0687809 16.7267 -0.0687808 16.2887 0.199219 16.0187L7.34022 8.5997L0.19922 1.1817Z" fill="#1F40FF"></path>
              </svg>
            </a>
          </div>
          <div class="hidden md:flex flex -mx-4 mb-8">
            <div class="w-1/2 px-4">
              <img class="w-full" src="yofte-assets/images/product-bottle2.png" alt="">
            </div>
            <div class="w-1/2 px-4">
              <img class="w-full" src="yofte-assets/images/product-bottle3.png" alt="">
            </div>
          </div>
          <div class="hidden md:block mb-12" style="height: 564px;">
            <img class="object-cover w-full h-full" src="yofte-assets/images/product-bottle.png" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/2 px-4">
          <div>
            <div class="mb-10 pb-10 border-b">
              <div class="flex items-center justify-between">
                <span class="text-gray-500">Brille</span>
                <div>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gold.svg" alt="">
                  </button>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gold.svg" alt="">
                  </button>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gold.svg" alt="">
                  </button>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gold.svg" alt="">
                  </button>
                  <button>
                    <img class="h-6" src="yofte-assets/elements/star-gray.svg" alt="">
                  </button>
                </div>
              </div>
              <h2 class="mt-2 mb-6 max-w-xl text-5xl md:text-6xl font-bold font-heading">BRILE water filter carafe</h2>
              <p class="inline-block mb-8 text-2xl font-bold font-heading text-blue-300">
                <span>$29.99</span>
                <span class="font-normal text-base text-gray-400 line-through">$33.69</span>
              </p>
              <p class="max-w-md text-gray-500">Maecenas commodo libero ut molestie dictum. Morbi placerat eros id porttitor sagittis.</p>
            </div>
            <div class="mb-12">
              <span class="block font-bold font-heading text-gray-400 uppercase">Size</span>
              <div class="flex flex-wrap -mx-2 -mb-2">
                <div class="w-1/3 sm:w-1/4 p-2"><a class="block py-4 text-center font-bold font-heading text-gray-600 border hover:border-gray-500 rounded-md" href="#">XS</a></div>
                <div class="w-1/3 sm:w-1/4 p-2"><a class="block py-4 text-center font-bold font-heading text-gray-600 border hover:border-gray-500 rounded-md" href="#">S</a></div>
                <div class="w-1/3 sm:w-1/4 p-2">
                  <a class="relative block py-4 text-center font-bold font-heading border text-blue-300 rounded-md" href="#">
                    M
                    <span class="absolute bottom-0 left-0 block w-full h-px bg-blue-300"></span>
                  </a>
                </div>
                <div class="w-1/3 sm:w-1/4 p-2"><a class="block py-4 text-center font-bold font-heading text-gray-600 border hover:border-gray-500 rounded-md" href="#">L</a></div>
                <div class="w-1/3 sm:w-1/4 p-2"><a class="block py-4 text-center font-bold font-heading text-gray-600 border hover:border-gray-500 rounded-md" href="#">XL</a></div>
                <div class="w-1/3 sm:w-1/4 p-2"><a class="block py-4 text-center font-bold font-heading text-gray-600 border hover:border-gray-500 rounded-md" href="#">XXL</a></div>
                <div class="w-1/3 sm:w-1/4 p-2"><a class="block py-4 text-center font-bold font-heading text-gray-600 border hover:border-gray-500 rounded-md" href="#">3XL</a></div>
                <div class="w-1/3 sm:w-1/4 p-2"><a class="block py-4 text-center font-bold font-heading text-gray-600 border hover:border-gray-500 rounded-md" href="#">4XL</a></div>
              </div>
            </div>
            <span class="block mb-4 font-bold font-heading text-gray-400 uppercase">QTY</span>
            <div class="flex -mx-2 flex-wrap mb-14 items-center">
              <div class="w-full lg:w-1/5 px-2 mb-4 lg:mb-0">
                <div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md">
                  <button class="py-2 hover:text-gray-700">
                    <svg width="12" height="2" viewbox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
                  </button>
                  <input class="w-12 m-0 px-2 py-5 text-center md:text-right border-0 focus:ring-transparent focus:outline-none rounded-md" type="number" placeholder="1">
                  <button class="py-2 hover:text-gray-700">
                    <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
                  </button>
                </div>
              </div>
              <div class="w-full lg:w-2/5 px-2 mb-4 lg:mb-0"><a class="block bg-orange-300 hover:bg-orange-400 text-center text-white font-bold font-heading py-5 px-8 rounded-md uppercase transition duration-200" href="#">Add to cart</a></div>
              <div class="w-full lg:w-2/5 px-2">
                <a class="flex-shrink-0 flex w-full flex-wrap items-center justify-center w-16 h-16 rounded-md border hover:border-gray-500" href="#">
                  <svg class="-mt-1 mr-2" width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.4993 26.2061L4.70067 16.9253C3.9281 16.1443 3.41815 15.1374 3.24307 14.0471C3.06798 12.9568 3.23664 11.8385 3.72514 10.8505V10.8505C4.09415 10.1046 4.63318 9.45803 5.29779 8.96406C5.96241 8.47008 6.73359 8.14284 7.54782 8.00931C8.36204 7.87578 9.19599 7.93978 9.98095 8.19603C10.7659 8.45228 11.4794 8.89345 12.0627 9.48319L13.4993 10.9358L14.9359 9.48319C15.5192 8.89345 16.2327 8.45228 17.0177 8.19603C17.8026 7.93978 18.6366 7.87578 19.4508 8.00931C20.265 8.14284 21.0362 8.47008 21.7008 8.96406C22.3654 9.45803 22.9045 10.1046 23.2735 10.8505V10.8505C23.762 11.8385 23.9306 12.9568 23.7556 14.0471C23.5805 15.1374 23.0705 16.1443 22.298 16.9253L13.4993 26.2061Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span class="font-bold font-heading uppercase">Wishlist</span>
                </a>
              </div>
            </div>
            <div class="flex flex-wrap items-center justify-between py-6 border-b">
              <h4 class="text-xl font-bold font-heading">Description</h4>
              <a class="inline-flex items-center justify-center w-12 h-12 border hover:border-gray-500 rounded-md" href="#">
                <svg width="12" height="2" viewbox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="#161616"></rect></svg>
              </a>
              <div class="w-full mt-8">
                <p class="max-w-xl text-gray-500">I had interdum at ante porta, eleifend feugiat nunc. In semper euismod mi a accums lorem sad. Morbi at auctor nibh. Aliquam tincidunt placerat mollis. Lorem euismod dignissim, felis tortor ollis eros, non ultricies turpis.</p>
              </div>
            </div>
            <div class="flex items-center justify-between py-6 border-b">
              <h4 class="text-xl font-bold font-heading">Customer reviews</h4>
              <a class="inline-flex items-center justify-center w-12 h-12 border hover:border-gray-500 rounded-md" href="#">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
              </a>
            </div>
            <div class="flex items-center justify-between py-6 border-b">
              <h4 class="text-xl font-bold font-heading">Shipping & returns</h4>
              <a class="inline-flex items-center justify-center w-12 h-12 border hover:border-gray-500 rounded-md" href="#">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>