<div> <section class="py-24 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="mb-20 md:max-w-2xl text-center mx-auto">
        <span class="inline-block mb-4 text-sm text-green-400 font-medium tracking-tighter">Nightsable Card</span>
        <h2 class="mb-8 text-7xl lg:text-8xl text-white tracking-7xl lg:tracking-8xl">Compare our plans</h2>
        <p class="text-gray-300 max-w-sm mx-auto">Nightsable is a strategic branding agency focused on brand creation, rebrands, and brand</p>
      </div>
      <div class="flex flex-wrap -m-4 mb-10">
        <div class="w-full md:w-1/2 p-4">
          <div class="px-8 pt-10 pb-14 h-full bg-gradient-radial-light border-2 border-gray-900 border-opacity-30 overflow-hidden rounded-5xl">
            <div class="flex flex-wrap items-center -m-2">
              <div class="w-full md:w-1/2 p-2">
                <p class="mb-4 text-xl text-white font-medium">Annual</p>
                <p class="mb-7 text-gray-300">During this phase the design is developed to meet the required technical standards to</p>
                <p class="min-w-max text-5xl text-white font-medium">
                  <span>$9.9</span>
                  <span class="ml-3.5 text-base font-medium text-gray-300">/ month</span>
                </p>
              </div>
              <div class="w-full md:w-1/2 p-2">
                <div class="max-w-max md:ml-auto">
                  <input type="radio" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 p-4">
          <div class="px-8 pt-10 pb-14 h-full bg-gradient-radial-dark border-2 border-gray-900 border-opacity-30 overflow-hidden rounded-5xl">
            <div class="flex flex-wrap items-center -m-2">
              <div class="w-full md:w-1/2 p-2">
                <p class="mb-4 text-xl text-white font-medium">Monthly</p>
                <p class="mb-7 text-gray-300">During this phase the design is developed to meet the required technical standards to</p>
                <p class="min-w-max text-5xl text-white font-medium">
                  <span>$9.9</span>
                  <span class="ml-3.5 text-base font-medium text-gray-300">/ month</span>
                </p>
              </div>
              <div class="w-full md:w-1/2 p-2">
                <div class="max-w-max md:ml-auto">
                  <input type="radio" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap justify-center text-center max-w-md mx-auto -m-3">
        <div class="w-full p-3"><a class="inline-block mx-auto px-14 py-4 text-center font-medium tracking-2xl border-2 border-green-400 bg-green-400 hover:bg-green-500 text-black focus:ring-4 focus:ring-green-500 focus:ring-opacity-40 rounded-full transition duration-300" href="#">Start now</a></div>
        <div class="w-full p-3">
          <p class="text-sm text-gray-300">Annual During this phase the design is developed to meet the required technical standards to $9.99/ month</p>
        </div>
      </div>
    </div>
  </section></div>