<div> <section class="py-20 bg-gray-100 overflow-x-hidden">
    <div class="container px-4 mx-auto relative">
      <div class="absolute inset-0 bg-blue-200 my-8 -ml-4 -mr-4"></div>
      <div class="relative bg-blue-300 overflow-hidden">
        <img class="absolute top-0 left-0 xl:-ml-40 w-full h-full" src="yofte-assets/elements/cta-lines.svg" alt="">
        <div class="relative flex flex-wrap items-center">
          <div class="w-full md:w-4/6 p-10 lg:pl-40">
            <span class="text-xl md:text-2xl text-white">New Products</span>
            <h2 class="mt-4 mb-14 text-4xl md:text-5xl font-bold font-heading text-white">Check our new collection</h2>
            <a class="inline-block bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-4 px-8 rounded-md uppercase transition duration-200" href="#">More</a>
          </div>
          <img class="relative ml-auto w-full md:w-2/6 h-96 object-cover" src="https://images.unsplash.com/photo-1554244933-d876deb6b2ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" alt="">
        </div>
      </div>
    </div>
  </section></div>