<div> <section class="relative py-24 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="mb-20 md:max-w-xl text-center mx-auto">
        <span class="inline-block mb-4 text-sm text-green-400 font-medium tracking-tighter">Nightsable Card</span>
        <h2 class="text-7xl lg:text-8xl text-white tracking-tighter-xl">Features</h2>
      </div>
      <div class="relative mb-10 py-20 px-16 bg-gradient-radial-dark overflow-hidden border border-gray-900 border-opacity-30 rounded-5xl">
        <div class="max-w-6xl mx-auto">
          <div class="relative z-10 flex flex-wrap items-center -m-8">
            <div class="w-full md:w-1/2 p-8">
              <div class="max-w-md mx-auto text-center">
                <h2 class="mb-6 text-7xl text-white tracking-tighter-xl">Making credit history</h2>
                <p class="text-white text-opacity-60">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum i</p>
              </div>
            </div>
            <div class="w-full md:w-1/2 p-8">
              <img class="mx-auto md:mr-0" src="nightsable-assets/images/features/dashboard.png" alt="">
            </div>
          </div>
        </div>
        <img class="absolute bottom-0 left-0" src="nightsable-assets/images/features/bg-gray.png" alt="">
      </div>
      <div class="flex flex-wrap -m-5">
        <div class="w-full md:w-1/2 p-5">
          <div class="relative px-16 pt-14 pb-16 h-full bg-gradient-radial-dark overflow-hidden border border-gray-900 border-opacity-30 rounded-5xl">
            <img class="mb-14" src="nightsable-assets/images/features/cards.png" alt="">
            <div class="relative z-10 max-w-sm text-center mx-auto">
              <h2 class="mb-6 text-7xl text-white tracking-tighter">Making credit history</h2>
              <p class="text-white text-opacity-60">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum i</p>
            </div>
            <img class="absolute bottom-0 right-0" src="nightsable-assets/images/features/bg-gray-2.png" alt="">
          </div>
        </div>
        <div class="w-full md:w-1/2 p-5">
          <div class="relative px-16 pt-14 pb-16 h-full bg-gradient-radial-dark overflow-hidden border border-gray-900 border-opacity-30 rounded-5xl">
            <div class="mb-14 max-w-sm mx-auto">
              <div class="flex flex-wrap justify-center">
                <div class="w-auto p-2">
                  <div class="flex items-center justify-center w-24 h-24 bg-gradient-radial-dark border border-gray-900 border-opacity-30 rounded-5xl">
                    <img src="nightsable-assets/logos/brands/figma.svg" alt="">
                  </div>
                </div>
                <div class="w-auto p-2">
                  <div class="flex items-center justify-center w-24 h-24 bg-gradient-radial-dark border border-gray-900 border-opacity-30 rounded-5xl">
                    <img src="nightsable-assets/logos/brands/notion.svg" alt="">
                  </div>
                </div>
                <div class="w-auto p-2">
                  <div class="flex items-center justify-center w-24 h-24 bg-gradient-radial-dark border border-gray-900 border-opacity-30 rounded-5xl">
                    <img src="nightsable-assets/logos/brands/slack.svg" alt="">
                  </div>
                </div>
                <div class="w-auto p-2">
                  <div class="flex items-center justify-center w-24 h-24 bg-gradient-radial-dark border border-gray-900 border-opacity-30 rounded-5xl">
                    <img src="nightsable-assets/logos/brands/spotify.svg" alt="">
                  </div>
                </div>
                <div class="w-auto p-2">
                  <div class="flex items-center justify-center w-24 h-24 bg-gradient-radial-dark border border-gray-900 border-opacity-30 rounded-5xl">
                    <img src="nightsable-assets/logos/brands/twitter.svg" alt="">
                  </div>
                </div>
                <div class="w-auto p-2">
                  <div class="flex items-center justify-center w-24 h-24 bg-gradient-radial-dark border border-gray-900 border-opacity-30 rounded-5xl">
                    <img src="nightsable-assets/logos/brands/desktop.svg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="relative z-10 max-w-sm text-center mx-auto">
              <h2 class="mb-6 text-7xl text-white tracking-tighter">Making credit history</h2>
              <p class="text-white text-opacity-60">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum i</p>
            </div>
            <img class="absolute bottom-0 right-0" src="nightsable-assets/images/features/bg-gray-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section></div>