<div> <section class="relative py-20 md:py-32 bg-blue-800 overflow-x-hidden">
    <img class="absolute h-24 md:h-auto top-0 left-0 right-0" src="yofte-assets/elements/line-top.svg" alt="">
    <div class="relative container px-4 mx-auto mb-20 lg:mb-40">
      <div class="flex flex-wrap items-center">
        <h2 class="mb-10 lg:mb-0 w-full lg:w-auto text-5xl text-white font-bold font-heading">What Customers Say</h2>
        <div class="flex w-full lg:w-auto lg:ml-auto">
          <a class="mr-5 flex items-center justify-center w-12 h-12 bg-orange-300 hover:bg-orange-400 rounded-md" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.02344 5.99748L7.14844 10.1225L5.97043 11.3008L0.66742 5.99748L5.97043 0.694179L7.14844 1.87248L3.02344 5.99748Z" fill="white"></path>
            </svg>
          </a>
          <a class="flex items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.97656 6.00252L0.851562 1.87752L2.02957 0.699219L7.33258 6.00252L2.02957 11.3058L0.851562 10.1275L4.97656 6.00252Z" fill="white"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap justify-center">
      <div class="hidden lg:block opacity-50 flex-shrink-0 w-full max-w-md px-3">
        <div class="px-8 py-16 border border-white">
          <div class="relative px-4 mx-auto">
            <img class="absolute top-0 left-0" src="yofte-assets/elements/quote.svg" alt="">
            <img class="absolute top-0 right-0" src="yofte-assets/elements/quote.svg" alt="">
            <div class="px-4 md:px-10">
              <h3 class="mb-8 text-xl font-bold font-heading text-white">Thanks, feugiat tellus a sad tincidunt ultrices. Phasellus non libero tempus odio vestibulum ultricies.</h3>
              <div class="flex flex-wrap items-center">
                <img class="w-16 h-16 mb-4 md:mb-0 mr-6 rounded-full" src="yofte-assets/images/placeholder-portrait.png" alt="">
                <p class="mb-6 md:mb-0 text-gray-300">Alice Kenowski, NYC</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-shrink-0 w-full lg:max-w-md px-3 lg:mt-20 mb-6 lg:mb-0">
        <div class="px-8 py-16 border border-white">
          <div class="relative px-4 mx-auto">
            <img class="absolute top-0 left-0" src="yofte-assets/elements/quote.svg" alt="">
            <img class="absolute top-0 right-0" src="yofte-assets/elements/quote.svg" alt="">
            <div class="px-4 md:px-10">
              <h3 class="mb-8 text-xl font-bold font-heading text-white">Tonight I had interdum at ante porta, eleifend feugiat nunc. In semper euismod me a accumsan. Thanks! 👏💥</h3>
              <div class="flex flex-wrap items-center">
                <img class="w-16 h-16 mb-4 md:mb-0 mr-6 rounded-full" src="yofte-assets/images/placeholder-portrait.png" alt="">
                <p class="mb-6 md:mb-0 text-gray-300">TIA O’Halleran, NYC</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-shrink-0 w-full lg:max-w-md px-3 mb-6 lg:mb-0">
        <div class="px-8 py-16 border border-white">
          <div class="relative px-4 mx-auto">
            <img class="absolute top-0 left-0" src="yofte-assets/elements/quote.svg" alt="">
            <img class="absolute top-0 right-0" src="yofte-assets/elements/quote.svg" alt="">
            <div class="px-4 md:px-10">
              <h3 class="mb-8 text-xl font-bold font-heading text-white">Thanks, feugiat tellus a sad tincidunt ultrices. Phasellus non libero tempus odio vestibulum ultricies.</h3>
              <div class="flex flex-wrap items-center">
                <img class="w-16 h-16 mb-4 md:mb-0 mr-6 rounded-full" src="yofte-assets/images/placeholder-young.png" alt="">
                <p class="mb-6 md:mb-0 text-gray-300">Alice Kenowski, NYC</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-shrink-0 w-full lg:max-w-md px-3 lg:mt-20 mb-6 lg:mb-0">
        <div class="px-8 py-16 border border-white">
          <div class="relative px-4 mx-auto">
            <img class="absolute top-0 left-0" src="yofte-assets/elements/quote.svg" alt="">
            <img class="absolute top-0 right-0" src="yofte-assets/elements/quote.svg" alt="">
            <div class="px-4 md:px-10">
              <h3 class="mb-8 text-xl font-bold font-heading text-white">This time ut augue ut magna rutrum ultricies nec nec leo. Proin tempor, mauris sad senne lorem.</h3>
              <div class="flex flex-wrap items-center">
                <img class="w-16 h-16 mb-4 md:mb-0 mr-6 rounded-full" src="yofte-assets/images/placeholder-anna.png" alt="">
                <p class="mb-6 md:mb-0 text-gray-300">Lea Diamse, NYC</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden lg:block opacity-50 flex-shrink-0 w-full max-w-md px-3">
        <div class="px-8 py-16 border border-white">
          <div class="relative px-4 mx-auto">
            <img class="hidden md:block absolute top-0 left-0" src="yofte-assets/elements/quote.svg" alt="">
            <img class="hidden md:block absolute top-0 right-0" src="yofte-assets/elements/quote.svg" alt="">
            <div class="px-4 md:px-10">
              <h3 class="mb-8 text-xl font-bold font-heading text-white">Thanks, feugiat tellus a sad tincidunt ultrices. Phasellus non libero tempus odio vestibulum ultricies.</h3>
              <div class="flex flex-wrap items-center">
                <img class="w-16 h-16 mr-6 rounded-full" src="yofte-assets/images/placeholder-portrait.png" alt="">
                <p class="mb-6 md:mb-0 text-gray-300">TIA O’Halleran, NYC</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>