<div> <section class="py-20 bg-gray-100 overflow-x-hidden">
    <div class="container mx-auto px-4">
      <h2 class="mb-16 text-4xl font-bold font-heading">FAQs</h2>
      <div class="flex -mx-8 mb-20">
        <div class="flex-shrink-0 w-full max-w-xl px-8">
          <div class="pt-12 pb-16 pr-8 md:pr-20 bg-white">
            <div class="pl-8 md:pl-16 lg:pl-28 border-l-2 border-blue-300">
              <h3 class="mb-5 text-xl font-bold font-heading">Sed eget accumsan ipsum. Praesent dignissim?</h3>
              <p class="text-gray-500">Aliquam tincidunt placerat mollis. Lorem euismod dignissim, felis tortor ollis eros, non ultricies turpis.</p>
            </div>
          </div>
        </div>
        <div class="hidden md:block flex-shrink-0 max-w-xl px-8">
          <div class="pt-12 pb-16 pr-8 md:pr-20 bg-white">
            <div class="pl-8 md:pl-16 lg:pl-28 border-l-2 border-blue-300">
              <h3 class="mb-5 text-xl font-bold font-heading">A eget euismod dignissim, felis tortor mollis eros, non ultricies turpis eget leo?</h3>
              <p class="text-gray-500">Curabitur non tortor quis mauris vestibulum imperdiet pellentesque et est. Suspendisse ullamcorper, ex ac vehicula. Lorem, ipsum dolor.</p>
            </div>
          </div>
        </div>
        <div class="hidden lg:block flex-shrink-0 max-w-xl px-8">
          <div class="pt-12 pb-16 pr-8 md:pr-20 bg-white">
            <div class="pl-8 md:pl-16 lg:pl-28 border-l-2 border-blue-300">
              <h3 class="mb-5 text-xl font-bold font-heading">Sed eget accumsan ipsum. Praesent dignissim?</h3>
              <p class="text-gray-500">Aliquam tincidunt placerat mollis. Lorem euismod dignissim, felis tortor ollis eros, non ultricies turpis.</p>
            </div>
          </div>
        </div>
        <div class="hidden lg:block flex-shrink-0 max-w-xl px-8">
          <div class="pt-12 pb-16 pr-20 bg-white">
            <div class="pl-8 md:pl-16 lg:pl-28 border-l-2 border-blue-300">
              <h3 class="mb-5 text-xl font-bold font-heading">A eget euismod dignissim, felis tortor mollis eros, non ultricies turpis eget leo?</h3>
              <p class="text-gray-500">Curabitur non tortor quis mauris vestibulum imperdiet pellentesque et est. Suspendisse ullamcorper, ex ac vehicula.</p>
            </div>
          </div>
        </div>
        <div class="hidden lg:block flex-shrink-0 max-w-xl px-8">
          <div class="pt-12 pb-16 pr-20 bg-white">
            <div class="pl-8 md:pl-16 lg:pl-28 border-l-2 border-blue-300">
              <h3 class="mb-5 text-xl font-bold font-heading">Sed eget accumsan ipsum. Praesent dignissim?</h3>
              <p class="text-gray-500">Aliquam tincidunt placerat mollis. Lorem euismod dignissim, felis tortor ollis eros, non ultricies turpis.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-between">
        <div class="relative mr-4 bg-gray-200 h-1 w-1/2 md:w-4/5">
          <div class="absolute top-0 bottom-0 left-0 bg-blue-300 w-1/4"></div>
        </div>
        <div class="ml-auto w-1/4 flex items-center justify-end">
          <a class="mr-5 flex-shrink-0 flex items-center justify-center w-12 h-12 bg-orange-300 hover:bg-orange-400 rounded-md" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.02344 5.99748L7.14844 10.1225L5.97043 11.3008L0.66742 5.99748L5.97043 0.694179L7.14844 1.87248L3.02344 5.99748Z" fill="white"></path>
            </svg>
          </a>
          <a class="flex-shrink-0 flex items-center justify-center w-12 h-12 bg-blue-300 hover:bg-blue-400 rounded-md" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.97656 6.00252L0.851562 1.87752L2.02957 0.699219L7.33258 6.00252L2.02957 11.3058L0.851562 10.1275L4.97656 6.00252Z" fill="white"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section></div>