<div><section class="py-24 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="mb-16 md:max-w-2xl text-center mx-auto">
        <span class="inline-block mb-4 text-sm text-green-400 font-medium tracking-tighter">Nightsable Card</span>
        <h2 class="text-7xl lg:text-8xl text-white tracking-7xl lg:tracking-8xl">FAQ</h2>
      </div>
      <div class="max-w-4xl mx-auto">
        <div class="flex flex-wrap -m-1.5">
          <div class="w-full p-1.5">
            <a class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
              <div class="flex flex-wrap items-center -m-2">
                <div class="flex-1 p-2">
                  <h3 class="text-2xl text-white tracking-2xl">What are the limits for money transfers from the United States?</h3>
                </div>
                <div class="w-auto p-2">
                  <svg width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full p-1.5">
            <a class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
              <div class="flex flex-wrap items-center -m-2">
                <div class="flex-1 p-2">
                  <h3 class="text-2xl text-white tracking-2xl">Is it safe to send money with Revolut?</h3>
                </div>
                <div class="w-auto p-2">
                  <svg width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full p-1.5">
            <a class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
              <div class="flex flex-wrap items-center -m-2">
                <div class="flex-1 p-2">
                  <h3 class="text-2xl text-white tracking-2xl">How can I make an international transfer from the United States?</h3>
                </div>
                <div class="w-auto p-2">
                  <svg width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full p-1.5">
            <a class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
              <div class="flex flex-wrap items-center -m-2">
                <div class="flex-1 p-2">
                  <h3 class="text-2xl text-white tracking-2xl">How long does it take to send money abroad from the United States?</h3>
                </div>
                <div class="w-auto p-2">
                  <svg width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="w-full p-1.5">
            <a class="block px-12 py-8 bg-gradient-radial-dark rounded-5xl" href="#">
              <div class="flex flex-wrap items-center -m-2">
                <div class="flex-1 p-2">
                  <h3 class="text-2xl text-white tracking-2xl">Where can I transfer money to from the United States?</h3>
                </div>
                <div class="w-auto p-2">
                  <svg width="21" height="21" viewbox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.56969 7.79634L9.27469 13.5013C9.94844 14.1751 11.0509 14.1751 11.7247 13.5013L17.4297 7.79634" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> </div>