<div> <section class="py-20 bg-gray-100">
    <div class="container mx-auto px-4">
      <div class="p-8 lg:p-20 bg-white">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-1/3 px-4 mb-10 lg:mb-0">
            <div class="flex mb-12 items-center">
              <span class="flex-shrink-0 inline-flex mr-8 items-center justify-center w-12 h-12 rounded-full bg-blue-300 text-white">1</span>
              <h3 class="text-2xl font-bold font-heading">Shipping address</h3>
            </div>
            <form action="">
              <div class="mb-10">
                <label class="font-bold font-heading text-gray-600" for="">Email address</label>
                <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="email">
              </div>
              <div class="mb-12">
                <p class="mb-5 text-sm text-gray-500">You can create an account after checkout</p>
                <div class="py-4 px-6 rounded-full bg-blue-50">
                  <label class="flex items-center" for="">
                    <input type="checkbox">
                    <span class="ml-2 text-sm">Register/Choose a password</span>
                  </label>
                </div>
              </div>
              <div class="mb-10">
                <label class="font-bold font-heading text-gray-600" for="">First name</label>
                <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
              </div>
              <div class="mb-10">
                <label class="font-bold font-heading text-gray-600" for="">Last name</label>
                <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
              </div>
              <div class="mb-10">
                <label class="font-bold font-heading text-gray-600" for="">Street address</label>
                <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
              </div>
              <div class="mb-10">
                <label class="font-bold font-heading text-gray-600" for="">Street address 2</label>
                <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
              </div>
              <div class="mb-10">
                <label class="font-bold font-heading text-gray-600" for="">Country</label>
                <select class="block w-full mt-4 py-4 px-8 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" name="" id="">
                  <option value="1"></option>
                  <option value="2">United States</option>
                  <option value="3">Spain</option>
                  <option value="4">Poland</option>
                </select>
              </div>
              <div class="mb-10">
                <div class="flex flex-wrap -mx-4">
                  <div class="w-full md:w-3/5 px-4 mb-10 md:mb-0">
                    <label class="font-bold font-heading text-gray-600" for="">State</label>
                    <select class="block w-full mt-4 py-4 px-8 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" name="" id="">
                      <option value="1"></option>
                      <option value="2">United States</option>
                      <option value="3">Spain</option>
                      <option value="4">Poland</option>
                    </select>
                  </div>
                  <div class="w-full md:w-2/5 px-4">
                    <label class="font-bold font-heading text-gray-600" for="">Zip Code</label>
                    <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
                  </div>
                  <div class="w-full px-4 mt-8">
                    <label class="flex items-center" for="">
                      <input type="checkbox">
                      <span class="ml-2 text-sm">I have a diffrent billing address</span>
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="w-full lg:w-1/3 px-4 mb-10 lg:mb-0">
            <div class="flex mb-12 items-center">
              <span class="flex-shrink-0 inline-flex mr-8 items-center justify-center w-12 h-12 rounded-full bg-purple-300 text-white">2</span>
              <h3 class="text-2xl font-bold font-heading">Shipping methods</h3>
            </div>
            <div class="mb-12 pb-10 border-b">
              <p class="mb-3 font-bold font-heading text-gray-600">Flat Rate</p>
              <div class="mb-6">
                <label class="flex items-center" for="">
                  <input class="mr-5" type="checkbox">
                  <span>Fixed $0.00</span>
                </label>
              </div>
              <p class="mb-3 font-bold font-heading text-gray-600">Flat Rate</p>
              <div>
                <label class="flex items-center" for="">
                  <input class="mr-5" type="checkbox">
                  <span>Fixed $0.00</span>
                </label>
              </div>
            </div>
            <div class="flex mb-12 items-center">
              <span class="flex-shrink-0 inline-flex mr-8 items-center justify-center w-12 h-12 rounded-full bg-orange-300 text-white">3</span>
              <h3 class="text-2xl font-bold font-heading">Payment methods</h3>
            </div>
            <div class="mb-12">
              <label class="flex items-center mb-6" for="">
                <input class="mr-5" type="radio" name="paymentType" value="" checked="">
                <span class="text-sm">Credit card</span>
              </label>
              <label class="flex items-center" for="">
                <input class="mr-5" type="radio" name="paymentType" value="">
                <span class="text-sm">Cash on Delivery</span>
              </label>
            </div>
            <div class="mb-8 px-8 py-10 bg-gray-100">
              <div class="mb-8">
                <label class="font-bold font-heading text-gray-600" for="">Name on card</label>
                <input class="block w-full mt-4 mb-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
                <p class="text-sm text-gray-500">Full name as displayed on card</p>
              </div>
              <div class="mb-8">
                <label class="font-bold font-heading text-gray-600" for="">Credit card number</label>
                <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
              </div>
              <div class="mb-8">
                <label class="font-bold font-heading text-gray-600" for="">Expiration</label>
                <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
              </div>
              <div>
                <label class="font-bold font-heading text-gray-600" for="">CVV</label>
                <input class="block w-full mt-4 py-4 px-4 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text">
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/3 px-4">
            <div class="flex mb-12 items-center">
              <span class="flex-shrink-0 inline-flex mr-8 items-center justify-center w-12 h-12 rounded-full bg-pink-300 text-white">4</span>
              <h3 class="text-2xl font-bold font-heading">Order summary</h3>
            </div>
            <div class="mb-12 p-6 lg:p-12 bg-blue-300">
              <div class="mb-6 pb-8 border-b border-blue-100">
                <div class="flex">
                  <img class="w-20 h-24 object-cover" src="yofte-assets/images/waterbottle.png" alt="">
                  <div class="pl-6">
                    <h3 class="mb-3 text-xl font-bold font-heading text-white">BRILE water filter carafe</h3>
                    <p class="text-lg font-bold font-heading text-white">$29.89</p>
                  </div>
                </div>
              </div>
              <div class="flex mb-2 justify-between items-center">
                <span class="text-blue-50">Order subtotal</span>
                <span class="text-xl font-bold font-heading text-white">$89.67</span>
              </div>
              <div class="flex mb-2 justify-between items-center">
                <span class="text-blue-50">Shipping</span>
                <span class="text-xl font-bold font-heading text-white">$11.00</span>
              </div>
              <div class="flex mb-5 justify-between items-center">
                <span class="text-blue-50">Tax</span>
                <span class="text-xl font-bold font-heading text-white">$0</span>
              </div>
              <div class="flex justify-between items-center">
                <span class="text-xl font-bold font-heading text-white">Total</span>
                <span class="text-xl font-bold font-heading text-white">$100.67</span>
              </div>
            </div>
            <div class="mb-10">
              <span class="inline-block mb-4 font-medium">Apply discount code:</span>
              <div class="flex mb-12 flex-wrap lg:flex-nowrap items-center">
                <input class="mb-4 md:mb-0 mr-4 px-4 py-4 placeholder-gray-800 font-bold font-heading border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text" placeholder="SUMMER30X">
                <a class="inline-block mb-4 md:mb-0 px-6 py-4 text-white font-bold font-heading uppercase bg-gray-800 hover:bg-gray-700 rounded-md" href="#">Apply</a>
              </div>
            </div>
            <div>
              <span class="block mb-4 font-medium">Order comment:</span>
              <textarea class="mb-12 w-full resize-none border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" name="" id="" cols="30" rows="10"></textarea><a class="block w-full py-4 bg-orange-300 hover:bg-orange-400 text-center text-white font-bold font-heading uppercase rounded-md transition duration-200" href="#">Go to Checkout</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>