<div> <section class="py-20 bg-gray-100 overflow-x-hidden">
    <div class="relative container px-4 mx-auto">
      <div class="relative max-w-4xl mx-auto">
        <div class="absolute inset-0 bg-blue-200 my-24 -ml-4 -mr-4"></div>
        <div class="relative py-16 md:pt-32 md:pb-20 px-4 sm:px-8 bg-white">
          <div class="max-w-lg mx-auto text-center">
            <a class="inline-block mb-14 text-3xl font-bold font-heading" href="#">
              <img class="h-9" src="yofte-assets/logos/yofte-logo.svg" alt="" width="auto">
            </a>
            <h3 class="mb-8 text-4xl md:text-5xl font-bold font-heading">Signing up with social is super quick</h3>
            <p class="mb-10 font-semibold font-heading">Please, do not hesitate</p>
            <form action="">
              <input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="text" placeholder="steven@example.dev">
              <input class="w-full mb-4 px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="password" placeholder="Password">
              <input class="w-full mb-10 px-12 py-6 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" type="password" placeholder="Repeat password">
              <label class="flex" for="">
                <input class="mr-4 mt-1" type="checkbox">
                <span class="text-sm">By singning up, you agree to our Terms, Data Policy and Cookies.</span>
              </label>
              <button class="mt-12 md:mt-16 bg-blue-800 hover:bg-blue-900 text-white font-bold font-heading py-5 px-8 rounded-md uppercase">JOIN yofte</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section></div>