<div>
	<section class="py-26 bg-white">
		<div class="container px-4 mx-auto">
			<div class="text-center mb-14">
				<span class="text-lg font-extrabold text-indigo-500">Section label</span>
				<h1 class="text-3xl md:text-4xl font-extrabold font-heading mt-4 mb-6">
					Flexible pricing plan for your startup
				</h1>
				<div class="flex items-center justify-center">
					<span class="sm:text-xl font-extrabold">Billed Monthly</span>
					<div
						class="inline-flex w-16 h-10 mx-4 px-px items-center bg-white border-3 border-indigo-900 rounded-full shadow"
					>
						<button class="w-7 h-7 border-3 border-indigo-900 bg-green-200 rounded-full"></button>
						<button class="w-7 h-7 rounded-full focus:outline-none"></button>
					</div>
					<span class="sm:text-xl font-extrabold">Billed Annually</span>
				</div>
			</div>
			<div class="flex flex-wrap -mx-4">
				<div class="w-full lg:w-1/2 px-4 mb-12 lg:mb-0">
					<div class="flex flex-col h-full bg-white border-3 border-indigo-900 rounded-2xl shadow-md">
						<div
							class="flex flex-wrap justify-between items-center px-6 lg:px-12 py-12 border-b-3 border-indigo-900"
						>
							<div class="mb-4 w-full sm:w-1/2 sm:mb-0">
								<h2 class="text-2xl font-extrabold">Basic plan</h2>
								<p class="text-lg font-extrabold leading-7">For bigger teams</p>
							</div>
							<div class="flex w-full sm:w-auto items-start">
								<span class="pr-1 text-lg font-extrabold">$</span>
								<span class="text-4xl md:text-5xl font-extrabold">89</span>
								<span class="pl-1 text-lg font-extrabold self-end">/mo</span>
							</div>
						</div>
						<div class="mb-auto py-12 px-6 lg:px-12">
							<div class="flex mb-4 items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold">Access to all features</span>
							</div>
							<div class="flex mb-4 items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold"
									>Assisted onboarding support</span
								>
							</div>
							<div class="flex mb-4 items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold">CPM Overage: Unlimited</span>
							</div>
							<div class="flex items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold">Program reviews 1x a month</span>
							</div>
						</div>
						<div class="py-10 px-6 lg:px-12 border-t-3 border-indigo-900">
							<a
								class="inline-block w-full py-4 px-6 text-center leading-6 text-lg text-white font-extrabold bg-indigo-800 hover:bg-indigo-900 border-3 border-indigo-900 shadow rounded transition duration-200"
								href="#"
								>Get Started</a
							>
						</div>
					</div>
				</div>
				<div class="w-full lg:w-1/2 px-4">
					<div class="flex flex-col h-full bg-white border-3 border-indigo-900 rounded-2xl shadow-md">
						<div
							class="flex flex-wrap justify-between items-center px-6 lg:px-12 py-12 border-b-3 border-indigo-900"
						>
							<div class="mb-4 w-full sm:w-1/2 sm:mb-0">
								<h2 class="text-2xl font-extrabold">Basic plan</h2>
								<p class="text-lg font-extrabold leading-7">For bigger teams</p>
							</div>
							<div class="flex w-full sm:w-auto items-start">
								<span class="pr-1 text-lg font-extrabold">$</span>
								<span class="text-4xl md:text-5xl font-extrabold">189</span>
								<span class="pl-1 text-lg font-extrabold self-end">/mo</span>
							</div>
						</div>
						<div class="mb-auto py-12 px-6 lg:px-12">
							<div class="flex mb-4 items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold">Access to all features</span>
							</div>
							<div class="flex mb-4 items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold"
									>Assisted onboarding support</span
								>
							</div>
							<div class="flex mb-4 items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold">CPM Overage: Unlimited</span>
							</div>
							<div class="flex mb-4 items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold">Access to all features</span>
							</div>
							<div class="flex mb-4 items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold">CPM Overage: Unlimited</span>
							</div>
							<div class="flex items-center">
								<img
									class="block w-6 h-6 mr-2 object-contain"
									src="https://shuffle.dev/nigodo-assets/circle-icon-green.svg"
									alt=""
								/>
								<span class="text-lg font-extrabold">Program reviews 1x a month</span>
							</div>
						</div>
						<div class="py-10 px-6 lg:px-12 border-t-3 border-indigo-900">
							<a
								class="inline-block w-full py-4 px-6 text-center leading-6 text-lg text-white font-extrabold bg-indigo-800 hover:bg-indigo-900 border-3 border-indigo-900 shadow rounded transition duration-200"
								href="#"
								>Get Started</a
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
