<div> <section class="py-26 bg-white">
    <div class="container px-4 mx-auto">
      <div class="max-w-lg mx-auto">
        <div class="text-center mb-8">
          <a class="inline-block mx-auto mb-6" href="#">
            <img src="nigodo-assets/logo-icon-nigodo.svg" alt="">
          </a>
          <h2 class="text-3xl md:text-4xl font-extrabold mb-2">Join our community</h2>
          <p class="text-lg font-extrabold leading-7 text-indigo-500">Start your journey with our product</p>
        </div>
        <form action="">
          <div class="mb-6">
            <label class="block mb-2 font-extrabold" for="">Name</label>
            <input class="inline-block w-full p-4 leading-6 text-lg font-extrabold placeholder-indigo-900 bg-white shadow border-2 border-indigo-900 rounded" type="text" placeholder="David">
          </div>
          <div class="mb-6">
            <label class="block mb-2 font-extrabold" for="">Email</label>
            <input class="inline-block w-full p-4 leading-6 text-lg font-extrabold placeholder-indigo-900 bg-white shadow border-2 border-indigo-900 rounded" type="email" placeholder="hello@shuffle.dev">
          </div>
          <div class="mb-6">
            <label class="block mb-2 font-extrabold" for="">Password</label>
            <input class="inline-block w-full p-4 leading-6 text-lg font-extrabold placeholder-indigo-900 bg-white shadow border-2 border-indigo-900 rounded" type="password" placeholder="**********">
          </div>
          <button class="inline-block w-full py-4 px-6 mb-6 text-center text-lg leading-6 text-white font-extrabold bg-indigo-800 hover:bg-indigo-900 border-3 border-indigo-900 shadow rounded transition duration-200">Sign Up</button>
          <a class="flex items-center justify-center mb-6 py-4 px-6 hover:text-white leading-6 text-lg font-extrabold bg-white hover:bg-indigo-800 border-3 border-indigo-900 shadow rounded transition duration-200" href="#">
            <img class="w-6 h-6 mr-3" src="nigodo-assets/sign-up/icon-google.svg" alt="">
            <span>Sign in with Apple</span>
          </a>
          <p class="text-center font-extrabold">Don’t have an account? <a class="text-indigo-500 hover:underline" href="#">Sign In</a></p>
        </form>
      </div>
    </div>
  </section></div>