<div> <section class="py-26 bg-white">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4 mb-16 items-center">
        <div class="w-full lg:w-1/2 px-4 mb-20 lg:mb-0">
          <span class="text-lg font-extrabold text-indigo-500">How it works</span>
          <h1 class="max-w-xl text-3xl md:text-4xl font-extrabold font-heading mt-2 mb-4">Gain more insight into how people use your</h1>
          <p class="text-xl font-extrabold">With our integrated CRM, project management, collaboration and invoicing capabilities, you can manage your business in one secure platform.</p>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="relative">
            <img class="block w-full h-80 object-cover border-3 border-indigo-900 rounded-2xl shadow-lg" src="nigodo-assets/img/photo-board.jpg" alt="">
            <a class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 inline-flex items-center justify-center w-20 h-20 bg-indigo-900 hover:bg-indigo-800 rounded-full" href="#">
              <svg width="22" height="24" viewbox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.6666 8L6.86665 0.666667C6.19998 0.266667 5.39998 0 4.59998 0C2.06665 0 0.0666504 2 0.0666504 4.53333V19.4667C0.0666504 22 2.06665 24 4.59998 24C5.39998 24 6.19998 23.7333 6.86665 23.3333L19.8 15.8667C20.4667 15.4667 21 14.9333 21.4 14.2667C22.6 12.1333 21.9333 9.33333 19.6666 8Z" fill="#F7F9FB"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap -mx-4 -mb-10">
        <div class="w-full sm:w-1/2 md:w-1/3 px-4 mb-10">
          <div class="max-w-xs">
            <div class="inline-flex items-center justify-center w-18 h-18 mb-6 bg-white rounded-full border-3 border-indigo-900 text-indigo-900 shadow-md">
              <span class="text-3xl font-extrabold leading-8">1</span>
            </div>
            <h3 class="text-2xl font-extrabold mb-5">Custom analytics</h3>
            <p class="font-bold leading-6">Get a complete sales dashboard in the cloud.</p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 px-4 mb-10">
          <div class="max-w-xs">
            <div class="inline-flex items-center justify-center w-18 h-18 mb-6 bg-white rounded-full border-3 border-indigo-900 text-indigo-900 shadow-md">
              <span class="text-3xl font-extrabold leading-8">2</span>
            </div>
            <h3 class="text-2xl font-extrabold mb-5">Team Management</h3>
            <p class="font-bold leading-6">Our calendar lets you know what is happening with customer</p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 px-4 mb-10">
          <div class="max-w-xs">
            <div class="inline-flex items-center justify-center w-18 h-18 mb-6 bg-white rounded-full border-3 border-indigo-900 text-indigo-900 shadow-md">
              <span class="text-3xl font-extrabold leading-8">3</span>
            </div>
            <h3 class="text-2xl font-extrabold mb-5">Easy setup</h3>
            <p class="font-bold leading-6">End to End Business Platform, Sales Management, Marketing</p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 px-4 mb-10">
          <div class="max-w-xs">
            <div class="inline-flex items-center justify-center w-18 h-18 mb-6 bg-white rounded-full border-3 border-indigo-900 text-indigo-900 shadow-md">
              <span class="text-3xl font-extrabold leading-8">4</span>
            </div>
            <h3 class="text-2xl font-extrabold mb-5">Build your website</h3>
            <p class="font-bold leading-6">A tool that lets you build a dream website even if you know nothing</p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 px-4 mb-10">
          <div class="max-w-xs">
            <div class="inline-flex items-center justify-center w-18 h-18 mb-6 bg-white rounded-full border-3 border-indigo-900 text-indigo-900 shadow-md">
              <span class="text-3xl font-extrabold leading-8">5</span>
            </div>
            <h3 class="text-2xl font-extrabold mb-5">Easy setup</h3>
            <p class="font-bold leading-6">A tool that lets you build a dream website even if you know nothing</p>
          </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 px-4 mb-10">
          <div class="max-w-xs">
            <div class="inline-flex items-center justify-center w-18 h-18 mb-6 bg-white rounded-full border-3 border-indigo-900 text-indigo-900 shadow-md">
              <span class="text-3xl font-extrabold leading-8">6</span>
            </div>
            <h3 class="text-2xl font-extrabold mb-5">Connect multiple apps</h3>
            <p class="font-bold leading-6">A tool that lets you build a dream website even if you know nothing</p>
          </div>
        </div>
      </div>
    </div>
  </section></div>