<div>
	<section class="py-26 bg-white">
		<div class="container px-4 mx-auto">
			<h2 class="text-center text-xl font-extrabold mb-6">Trusted by the top companies in this industry</h2>
			<div class="flex flex-wrap bg-white border-3 border-indigo-900 rounded-2xl shadow-md">
				<div class="w-1/2 lg:w-1/3 xl:w-1/6 border-b-3 border-indigo-900 xl:border-0">
					<div class="flex items-center justify-center h-44 p-6 xl:border-r-3 border-indigo-900">
						<img
							class="block mx-auto h-8"
							src="https://shuffle.dev/nigodo-assets/logo-clouds/microsoft.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="w-1/2 lg:w-1/3 xl:w-1/6 border-b-3 border-indigo-900 xl:border-0">
					<div class="flex items-center justify-center h-44 p-6 xl:border-r-3 border-indigo-900">
						<img
							class="block mx-auto h-8"
							src="https://shuffle.dev/nigodo-assets/logo-clouds/google.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="w-1/2 lg:w-1/3 xl:w-1/6 border-b-3 border-indigo-900 xl:border-0">
					<div class="flex items-center justify-center h-44 p-6 xl:border-r-3 border-indigo-900">
						<img
							class="block mx-auto h-8"
							src="https://shuffle.dev/nigodo-assets/logo-clouds/spotify.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="w-1/2 lg:w-1/3 xl:w-1/6 border-b-3 border-indigo-900 lg:border-0">
					<div class="flex items-center justify-center h-44 p-6 xl:border-r-3 border-indigo-900">
						<img
							class="block mx-auto h-8"
							src="https://shuffle.dev/nigodo-assets/logo-clouds/slack.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="w-1/2 lg:w-1/3 xl:w-1/6">
					<div class="flex items-center justify-center h-44 p-6 xl:border-r-3 border-indigo-900">
						<img
							class="block mx-auto h-9"
							src="https://shuffle.dev/nigodo-assets/logo-clouds/sass.svg"
							alt=""
						/>
					</div>
				</div>
				<div class="w-1/2 lg:w-1/3 xl:w-1/6">
					<div class="flex items-center justify-center h-44 p-6">
						<img
							class="block mx-auto h-8"
							src="https://shuffle.dev/nigodo-assets/logo-clouds/hubspot.svg"
							alt=""
						/>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
