<div>
	<section class="relative md:pt-44 md:pb-52 bg-gray-900 overflow-hidden">
		<div class="hidden md:block absolute top-0 right-0 w-1/2 max-w-4xl h-full">
			<div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-full px-10 max-w-md">
				<img
					class="block"
					src="https://shuffle.dev/suncealand-assets/images/frame-phone-without-backgroudn.png"
					alt=""
				/>
			</div>
			<img class="w-full h-full object-cover" src="https://shuffle.dev/suncealand-assets/images/view-mountain-mist.png" />
		</div>
		<div class="relative container px-4 mx-auto py-32 md:py-0">
			<div class="max-w-sm md:max-w-md xl:max-w-xl mx-auto md:mx-0">
				<div class="inline-flex px-5 py-2 items-center mb-8 bg-white rounded-full">
					<span class="block w-2 h-2 mr-2 rounded-full bg-blue-500"></span>
					<span class="uppercase text-sm font-medium tracking-tight">DOWNLOAD APP</span>
				</div>
				<h1 class="text-5xl xs:text-7xl font-heading font-semibold text-white mb-18">Don’t wait again.</h1>
				<a class="group relative inline-block h-16 w-full sm:w-52 bg-white rounded" href="#">
					<div
						class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300"
					>
						<div
							class="flex h-full w-full items-center justify-center bg-gray-900 border-2 border-white rounded"
						>
							<span class="text-base font-semibold text-white uppercase">Download</span>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="md:hidden relative h-118 xs:h-166">
			<div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-full px-10 max-w-xs xs:max-w-sm">
				<img
					class="block"
					src="https://shuffle.dev/suncealand-assets/images/frame-phone-without-backgroudn.png"
					alt=""
				/>
			</div>
			<img class="w-full h-full object-cover" src="https://shuffle.dev/suncealand-assets/images/view-mountain-mist.png" />
		</div>
	</section>
</div>
