<div> <section>
    <div class="container px-4 pt-14 pb-20 mx-auto">
      <div class="-mb-2"><a class="inline-block mb-2 mr-32" href="#">#Quisque euismod</a><a class="inline-block mb-2" href="#">#Nunc iaculis quis risus at tristique</a></div>
      <div class="pt-24 md:pt-40 max-w-3xl">
        <h1 class="text-5xl sm:text-7xl font-heading font-semibold mb-16">
          <span>Meet the team: Junior UX Designer</span>
          <div class="inline-block relative">
            <span class="relative z-10">Lauren</span>
            <div class="absolute bottom-0 left-0 -mb-px w-full h-4 bg-blue-500"></div>
          </div>
          <div class="inline-block relative">
            <span class="relative z-10">Collins</span>
            <div class="absolute bottom-0 left-0 -mb-px w-full h-4 bg-blue-500"></div>
          </div>
        </h1>
        <div class="flex items-center">
          <img class="w-16 h-16" src="suncealand-assets/images/avatar-girl-banner.png" alt="">
          <div class="ml-6">
            <h4 class="text-lg font-semibold">Helen Mctominay</h4>
            <span class="text-2xs">11 December 2019</span>
          </div>
        </div>
      </div>
    </div>
    <div>
      <img class="h-150 w-full object-cover" src="suncealand-assets/images/photographer-view-large-horizontal.png" alt="">
      <div class="py-10 bg-purple-50">
        <div class="container px-4 mx-auto">
          <div class="-mb-4">
            <a class="group mb-4 mr-14 inline-flex items-center" href="#">
              <span class="flex-shrink-0 transform group-hover:translate-x-3 transition duration-500 ease-linear">
                <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="32" height="32" rx="16" fill="#04082F"></rect>
                  <path d="M14.9987 10L13.9375 11.0612L18.1263 15.25L18.9363 16L18.1263 16.75L13.9375 20.9387L14.9987 22L20.9988 16L14.9987 10Z" fill="white"></path>
                </svg>
              </span>
              <span class="ml-6 text-lg font-medium underline">Top 5 tips for getting started in Suncealand</span>
            </a>
            <a class="group mb-4 inline-flex items-center" href="#">
              <span class="flex-shrink-0 transform group-hover:translate-x-3 transition duration-500 ease-linear">
                <svg width="32" height="32" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="32" height="32" rx="16" fill="#04082F"></rect>
                  <path d="M14.9987 10L13.9375 11.0612L18.1263 15.25L18.9363 16L18.1263 16.75L13.9375 20.9387L14.9987 22L20.9988 16L14.9987 10Z" fill="white"></path>
                </svg>
              </span>
              <span class="ml-6 text-lg font-medium underline">6 imperatives for the future</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container px-4 py-20 mx-auto">
      <div class="max-w-2xl mx-auto">
        <h3 class="text-3xl font-medium mb-8">Intro: In mattis, nunc eu scelerisque mollis</h3>
        <p class="text-lg mb-16">Donec non consectetur nibh. Nunc eu orci ut mi varius tempor nec lobortis turpis. Vestibulum nec dui maximus, hendrerit orci a, finibus lectus. Cras laoreet magna sapien. Nulla lacus enim, vestibulum at lobortis quis, pharetra eu metus. Donec non consectetur nibh. Nunc and orci ut mi varius tempor nec lobortis turpis.</p>
        <h3 class="text-3xl font-medium mb-8">Dignissim neque et cursus suscipit</h3>
        <p class="text-lg mb-8">Maecenas vel ligula in ligula sagittis elementum nec et arcu. Nulla in ultrices diam. Sed at facilisis nisl. Nulla lacinia in nibh a dictum.</p>
        <p class="text-lg">Cras mollis ac nisi et luctus. Etiam a dui sit amet neque lacinia dictum vitae ac nisl. Nullam sit amet porttitor nunc, eu commodo neque. Nunc quis nibh turpis. Pellentesque ullamcorper venenatis egestas. Praesent id arcu massa. Aenean vehicula tellus suscipit justo viverra, ac pellentesque dui dictum. In hac habitasse platea dictumst.</p>
      </div>
    </div>
  </section></div>