<div><section class="py-20 md:py-40">
    <div class="container px-4 mx-auto">
      <div class="max-w-2xl mx-auto mb-24 text-center">
        <div class="inline-flex items-center px-5 py-2 bg-white rounded-full mb-8">
          <span class="block w-2 h-2 mr-2 rounded-full bg-indigo-500"></span>
          <span class="uppercase text-sm font-medium tracking-tight">HOW IT WORKS</span>
        </div>
        <h1 class="text-6xl sm:text-7xl font-heading font-semibold mb-14">How does it work?</h1>
        <p class="text-2xl mb-18">We'll help you distribute your podcast to Spotify, Apple and Google Podcasts.</p>
      </div>
      <div class="max-w-xs mx-auto md:max-w-none">
        <div class="flex flex-wrap justify-between items-center -mx-4">
          <div class="w-full lg:w-1/3 px-4 mb-10 lg:mb-0">
            <div class="max-w-xs mx-auto mb-10">
              <span class="block mb-6 text-5xl font-heading text-yellowGray-700">01</span>
              <h4 class="text-3xl font-heading font-semibold">The house by the pond cras ornare</h4>
            </div>
            <div class="max-w-xs mx-auto">
              <span class="block mb-6 text-5xl font-heading text-yellowGray-700">02</span>
              <h4 class="text-3xl font-heading font-semibold">A emper dolor id tellus semper tempus ante</h4>
            </div>
          </div>
          <div class="w-full lg:w-1/3 px-4 mb-10 lg:mb-0">
            <img class="mx-auto" src="suncealand-assets/images/avatar-girl-circle.png" alt="">
          </div>
          <div class="w-full lg:w-1/3 px-4">
            <div class="max-w-xs mx-auto mb-10">
              <span class="block mb-6 text-5xl font-heading text-yellowGray-700">03</span>
              <h4 class="text-3xl font-heading font-semibold">And nunc lorem sad iaculis quis risus</h4>
            </div>
            <div class="max-w-xs mx-auto">
              <span class="block mb-6 text-5xl font-heading text-yellowGray-700">04</span>
              <h4 class="text-3xl font-heading font-semibold">The house by the pond cras ornare</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>