<div> <section class="py-20 md:py-40 bg-yellowGray-500 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full xl:w-1/2 px-4 order-last xl:order-first">
          <div class="xs:flex items-start max-w-2xl mx-auto">
            <div class="mr-6">
              <div class="flex mb-8 items-end">
                <div class="flex mr-8 items-center justify-center w-40 h-14 text-center bg-white rounded-3xl">
                  <span class="text-2xl font-medium leading-none">Hello!👋</span>
                </div>
                <div>
                  <img src="suncealand-assets/images/photo-man-purple-bg.png" alt="">
                </div>
              </div>
              <div class="ml-auto w-52 px-8 pt-10 pb-8 rounded-3xl bg-gray-800">
                <img class="block mb-10" src="suncealand-assets/logos/chat-logo.svg" alt="">
                <h5 class="text-2xl font-medium text-white">Chat</h5>
                <span class="text-gray-300">Livechat w/ Tony</span>
              </div>
            </div>
            <div class="w-52 mt-10 px-8 pt-10 pb-8 rounded-3xl bg-gray-800">
              <img class="block mb-10" src="suncealand-assets/logos/slack-logo.svg" alt="">
              <h5 class="text-2xl font-medium text-white">Slack</h5>
              <span class="text-gray-300">Contact on Slack</span>
            </div>
          </div>
        </div>
        <div class="w-full xl:w-1/2 px-4 mb-24 xl:mb-0">
          <div class="max-w-lg mx-auto">
            <div class="inline-flex items-center px-5 py-2 bg-white rounded-full mb-10">
              <span class="block w-2 h-2 mr-2 rounded-full bg-indigo-500"></span>
              <span class="uppercase text-sm font-medium tracking-tighter">CONTACT</span>
            </div>
            <h1 class="max-w-md text-5xl xs:text-7xl xl:text-8xl font-heading font-semibold mb-10">Contact us</h1>
            <p class="text-2xl mb-14">Questions, feedback. We’re here for it all.</p>
            <div class="-mb-4">
              <a class="inline-flex mb-4 mr-8 items-center" href="#">
                <img class="mr-4" src="suncealand-assets/logos/messanger-logo.svg" alt="">
                <span>suncea_land</span>
              </a>
              <a class="inline-flex mb-4 items-center" href="#">
                <img class="mr-4" src="suncealand-assets/logos/snapchat-logo.svg" alt="">
                <span>suncea_land</span>
              </a>
            </div>
            <a class="group relative inline-block h-16 mt-16 w-full sm:w-44 bg-blueGray-900 rounded" href="#">
              <div class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300">
                <div class="flex h-full w-full items-center justify-center bg-blue-500 border-2 border-blueGray-900 rounded">
                  <span class="text-base font-semibold uppercase">Contact</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section></div>