<div> <section class="py-24 md:pt-32 md:pb-64">
    <div class="container px-4 mx-auto">
      <div class="text-center">
        <span class="block font-heading text-11xl sm:text-12xl text-blue-500 font-semibold mb-8">404.</span>
        <h3 class="font-heading text-6xl md:text-8xl font-semibold mb-14">We lost that page</h3>
        <p class="text-2xl mb-24">The page you’re looking for doesn’t exist or has been moved.</p>
        <div>
          <div class="flex flex-wrap items-center justify-center -mb-4">
            <a class="group relative inline-block h-16 sm:mr-6 mb-4 w-full sm:w-60 bg-blueGray-900 rounded" href="#">
              <div class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300">
                <div class="flex h-full w-full items-center justify-center bg-blue-500 border-2 border-blueGray-900 rounded">
                  <span class="text-base font-semibold uppercase">Back to home</span>
                </div>
              </div>
            </a>
            <a class="group relative inline-block h-16 mb-4 w-full sm:w-52 bg-blueGray-900 rounded" href="#">
              <div class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300">
                <div class="flex h-full w-full items-center justify-center bg-yellow-500 border-2 border-blueGray-900 rounded">
                  <span class="text-base font-semibold uppercase">Download</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section></div>