<div><section class="py-24 lg:py-40 bg-black">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full xl:w-1/3 px-4 mb-12 xl:mb-0">
          <div class="max-w-sm mx-auto">
            <div class="flex flex-wrap">
              <div class="w-full sm:w-2/5 mb-6 sm:mb-0">
                <span class="text-10xl font-heading text-yellow-100">8</span>
              </div>
              <div class="w-full sm:w-3/5 sm:pl-12 sm:border-l border-gray-800">
                <p class="text-lg text-gray-200">Nulla sed lorem dapibus, sodales purus eu, vehicula augue.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full xl:w-1/3 px-4 mb-12 xl:mb-0">
          <div class="max-w-sm mx-auto">
            <div class="flex flex-wrap">
              <div class="w-full sm:w-2/5 mb-6 sm:mb-0">
                <span class="text-10xl font-heading text-yellow-100">26</span>
              </div>
              <div class="w-full sm:w-3/5 sm:pl-12 sm:border-l border-gray-800">
                <p class="text-lg text-gray-200">Nulla placerat ipsum libero, in elementum is lorem ipsum dolor</p>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full xl:w-1/3 px-4">
          <div class="max-w-sm mx-auto">
            <div class="flex flex-wrap">
              <div class="w-full sm:w-2/5 mb-6 sm:mb-0">
                <div>
                  <span class="text-10xl font-heading text-yellow-100">1</span>
                  <span class="text-5xl font-heading text-yellow-100">%</span>
                </div>
              </div>
              <div class="w-full sm:w-3/5 sm:pl-12 sm:border-l border-gray-800">
                <p class="text-lg text-gray-200">Fusce semper dolor id tellus semper tempus ante nec imperdiet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>