<div> <section class="relative pt-10 pb-40 bg-purple-50 overflow-hidden">
    <img class="absolute top-0 right-0 w-1/4 sm:w-2/5 lg:w-135 h-full object-cover" src="suncealand-assets/background/building-right-column.png" alt="">
    <div class="relative container px-4 mx-auto">
      <div class="flex flex-wrap items-end -mx-4">
        <div class="w-full lg:w-1/2 px-4 pb-24">
          <div class="max-w-xl">
            <div class="-mb-2"><a class="inline-block mb-2 mr-32" href="#">#Quisque euismod</a><a class="inline-block mb-2" href="#">#Nunc iaculis quis risus at tristique</a></div>
            <div class="max-w-md xl:max-w-2xl mt-24 md:mt-40">
              <div class="inline-flex px-5 py-2 items-center mb-12 bg-white rounded-full">
                <span class="block w-2 h-2 mr-2 rounded-full bg-blue-500"></span>
                <span class="uppercase text-sm font-medium tracking-tight">Our Team</span>
              </div>
              <h1 class="text-6xl sm:text-7xl md:text-9xl font-heading font-semibold mb-16">Meet the team</h1>
              <p class="max-w-sm text-2xl font-blueGray-900 mb-24">Meet our creative team. We're changing whole game.</p>
              <div class="mb-20">
                <div class="flex flex-wrap mb-8 pb-6 items-end border-b border-gray-900 border-opacity-10">
                  <h4 class="text-3xl font-medium leading-none mr-6 mb-2">Lill Caoimhin</h4>
                  <span class="inline-block text-xs leading-5 mb-2">Co-Founder</span>
                </div>
                <div class="flex flex-wrap mb-8 pb-6 items-end border-b border-gray-900 border-opacity-10">
                  <h4 class="text-3xl font-medium leading-none mr-6 mb-2">Meave Hannah Anders</h4>
                  <span class="inline-block text-xs leading-5 mb-2">Co-Founder</span>
                </div>
                <div class="flex flex-wrap pb-6 items-end border-b border-gray-900 border-opacity-10">
                  <h4 class="text-3xl font-medium leading-none mr-6 mb-2">Calvin Ramsay</h4>
                  <span class="inline-block text-xs leading-5 mb-2">Graphic Designer</span>
                </div>
              </div>
              <a class="group relative inline-block h-16 w-full sm:w-40 bg-blueGray-900 rounded" href="#">
                <div class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300">
                  <div class="flex h-full w-full items-center justify-center bg-blue-500 border-2 border-blueGray-900 rounded">
                    <span class="text-base font-semibold text-blueGRayborder-blueGray-900 uppercase">SEE ALL</span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="flex -mx-4 sm:-mx-6 flex-wrap sm:flex-nowrap items-end xl:max-w-xl">
            <div class="w-2/5 px-4 sm:px-6">
              <img class="animate-bouncingSlow w-full" src="suncealand-assets/images/woman-work-office.png" alt="" style="animation-delay: 2s !important;">
            </div>
            <div class="w-3/5 px-4 sm:px-6">
              <img class="lg:animate-bouncingSlow w-full" src="suncealand-assets/images/team-couple-photo.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>