<div class="fixed bottom-0 right-0 z-50 p-8">
    <div class="inline-block pt-6 pb-8 px-8 md:px-14 bg-white rounded-3xl">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full xl:w-3/5 px-4 mb-6 xl:mb-0">
          <h4 class="font-heading text-2xl font-semibold mb-2">Cookies</h4>
          <p class="max-w-sm text-xs">By clicking accept, you agree to the storing of cookies on your device to enhance site navigation. Cookies...</p>
        </div>
        <div class="w-full xl:w-2/5 px-4">
          <div class="flex flex-wrap items-center -mb-4">
            <a class="inline-flex transform hover:scale-105 sm:mr-3 mb-4 w-full sm:w-auto py-2.5 px-5 items-center justify-center text-base font-semibold text-black border border-black rounded-md transition duration-300" href="#">
              <svg width="15" height="12" viewbox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="12.625" y="0.852905" width="2" height="12.5251" rx="1" transform="rotate(45 12.625 0.852905)" fill="black"></rect><rect y="5.98315" width="2" height="7.303" rx="1" transform="rotate(-45 0 5.98315)" fill="black"></rect></svg>
              <span class="ml-2.5">Accept</span>
            </a>
            <a class="inline-flex transform hover:scale-105 mb-4 w-full sm:w-auto py-2.5 px-5 items-center justify-center text-base font-semibold text-black border border-black rounded-md transition duration-300" href="#">More</a>
          </div>
        </div>
      </div>
    </div>
  </div><div> </div>