<div>
	<section class="py-20 md:py-40">
		<div class="px-4 lg:pl-12 mb-20">
			<h1 class="font-heading text-6xl sm:text-7xl font-semibold mb-8">Team members</h1>
			<p class="text-xl">Manage your team members.</p>
		</div>
		<div class="px-4">
			<div>
				<div class="-mb-1 pt-6 pb-8 px-8 md:px-12 border border-b-0 border-gray-50 rounded-t-2xl">
					<div>
						<div class="flex flex-wrap -mx-3 items-center">
							<div class="w-full xl:w-auto px-3 mb-4 xl:mb-0">
								<span class="text-3xl font-heading font-semibold">Sort by</span>
							</div>
							<div class="w-full sm:w-1/2 xl:w-auto px-3 mb-2 sm:mb-0">
								<div class="relative border border-gray-50 rounded-md">
									<select
										class="relative w-full xl:w-67 pl-6 pr-12 pt-4 pb-3 text-xs font-semibold bg-transparent outline-none appearance-none cursor-pointer"
										name=""
										id=""
									>
										<option value="">New users</option>
										<option value="">Progress</option>
										<option value="">Date</option>
									</select>
									<span
										class="absolute top-1/2 right-0 transform -translate-y-1/2 mr-6"
									>
										<svg
											width="11"
											height="7"
											viewbox="0 0 11 7"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M10.6641 1.30503L9.72073 0.361694L5.9974 4.08503L5.33073 4.80505L4.66406 4.08503L0.94073 0.361694L-0.00260357 1.30503L5.33073 6.63836L10.6641 1.30503Z"
												fill="#04082F"
											></path>
										</svg>
									</span>
								</div>
							</div>
							<div class="w-full sm:w-1/2 xl:w-auto px-3 relative">
								<div class="relative border border-gray-50 rounded-md">
									<select
										class="relative w-full xl:w-67 pl-6 pr-12 pt-4 pb-3 text-xs font-semibold bg-transparent outline-none appearance-none cursor-pointer"
										name=""
										id=""
									>
										<option value="">Years</option>
										<option value="">Months</option>
										<option value="">Time</option>
									</select>
									<span
										class="absolute top-1/2 right-0 transform -translate-y-1/2 mr-6"
									>
										<svg
											width="11"
											height="7"
											viewbox="0 0 11 7"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M10.6641 1.30503L9.72073 0.361694L5.9974 4.08503L5.33073 4.80505L4.66406 4.08503L0.94073 0.361694L-0.00260357 1.30503L5.33073 6.63836L10.6641 1.30503Z"
												fill="#04082F"
											></path>
										</svg>
									</span>
								</div>
							</div>
							<div class="w-full xl:w-auto lg:ml-auto mt-8 xl:mt-0 px-3">
								<a
									class="group inline-flex items-center font-base text-indigo-500 font-semibold"
									href="#"
								>
									<span class="mr-2">More Filters</span>
									<div class="relative transition duration-500 animate-pulse">
										<svg
											width="7"
											height="12"
											viewbox="0 0 7 12"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<path
												d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
												fill="currentColor"
											></path>
										</svg>
										<div
											class="absolute top-0 right-0 -mr-2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
										>
											<svg
												width="7"
												height="12"
												viewbox="0 0 7 12"
												fill="none"
												xmlns="http://www.w3.org/2000/svg"
											>
												<path
													d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
													fill="currentColor"
												></path>
											</svg>
										</div>
										<div
											class="absolute top-0 right-0 -mr-4 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
										>
											<svg
												width="7"
												height="12"
												viewbox="0 0 7 12"
												fill="none"
												xmlns="http://www.w3.org/2000/svg"
											>
												<path
													d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
													fill="currentColor"
												></path>
											</svg>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full overflow-x-auto border-l border-r border-gray-50">
					<table class="w-full min-w-max">
						<thead>
							<tr>
								<th class="p-0">
									<div
										class="h-16 pl-12 pr-6 flex items-center bg-yellowGray-50 border border-r-0 border-gray-50 rounded-tl-xl"
									>
										<input type="checkbox" value="" id="" />
										<label
											class="ml-4 text-lg text-gray-900 font-semibold"
											for=""
											>Name</label
										>
									</div>
								</th>
								<th class="p-0">
									<div
										class="h-16 pl-12 flex items-center bg-yellowGray-50 border-t border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>Total</span
										>
									</div>
								</th>
								<th class="p-0">
									<div
										class="h-16 pl-12 flex items-center bg-yellowGray-50 border-t border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>Progress</span
										>
									</div>
								</th>
								<th class="p-0">
									<div
										class="h-16 pl-12 flex items-center bg-yellowGray-50 border-t border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>Date added</span
										>
									</div>
								</th>
								<th class="p-0">
									<div
										class="h-16 pl-12 flex items-center bg-yellowGray-50 border-t border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>Premium</span
										>
									</div>
								</th>
								<th class="p-0">
									<div
										class="h-16 pl-12 flex items-center bg-yellowGray-50 border-t border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>Country</span
										>
									</div>
								</th>
								<th class="p-0">
									<div
										class="h-16 flex items-center justify-center bg-yellowGray-50 border border-l-0 border-gray-50 rounded-tr-xl"
									></div>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="p-0">
									<div class="flex h-20 items-center w-full pl-12 bg-white">
										<input type="checkbox" value="" id="" />
										<div class="flex ml-4 items-center">
											<img
												class="h-9 w-9"
												src="https://shuffle.dev/suncealand-assets/images/avatar-girl.png"
												alt=""
											/>
											<div class="ml-4">
												<h4
													class="text-base text-gray-900 font-semibold leading-none"
												>
													Elena Manolera
													Strizer
												</h4>
												<span
													class="text-xs text-gray-900 font-normal"
													>elenas@email.com</span
												>
											</div>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div class="flex h-20 pl-12 items-center bg-white">
										<span class="text-xs text-gray-900 font-normal"
											>3,578.00</span
										>
									</div>
								</td>
								<td class="p-0">
									<div class="flex h-20 pl-12 items-center bg-white">
										<div class="h-1 w-24 bg-gray-900">
											<div
												class="h-full w-4/6 bg-blue-500"
											></div>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div class="flex h-20 pl-12 items-center bg-white">
										<span class="text-xs text-gray-900 font-normal"
											>14 Sep, 2022</span
										>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center justify-center w-full bg-white"
									>
										<svg
											width="32"
											height="32"
											viewbox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect
												width="32"
												height="32"
												rx="16"
												fill="#7781EE"
											></rect>
											<rect
												x="22.9531"
												y="9.63599"
												width="2"
												height="16"
												rx="1"
												transform="rotate(45 22.9531 9.63599)"
												fill="white"
											></rect>
											<rect
												x="7.625"
												y="17.0431"
												width="2"
												height="7.57417"
												rx="1"
												transform="rotate(-45 7.625 17.0431)"
												fill="white"
											></rect>
										</svg>
									</div>
								</td>
								<td class="p-0">
									<div class="flex h-20 pl-12 items-center bg-white">
										<span class="text-xs text-gray-900 font-normal"
											>England</span
										>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 px-12 items-center justify-center bg-white"
									>
										<a
											class="group inline-flex items-center font-base text-indigo-500 font-semibold"
											href="#"
										>
											<span class="mr-2">More</span>
											<div
												class="relative transition duration-500 animate-pulse"
											>
												<svg
													width="7"
													height="12"
													viewbox="0 0 7 12"
													fill="none"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
														fill="currentColor"
													></path>
												</svg>
												<div
													class="absolute top-0 right-0 -mr-2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
												>
													<svg
														width="7"
														height="12"
														viewbox="0 0 7 12"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
												<div
													class="absolute top-0 right-0 -mr-4 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
												>
													<svg
														width="7"
														height="12"
														viewbox="0 0 7 12"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
											</div>
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="p-0">
									<div
										class="flex h-20 items-center w-full pl-12 bg-blue-300"
									>
										<input type="checkbox" value="" id="" />
										<div class="flex ml-4 items-center">
											<img
												class="h-9 w-9"
												src="https://shuffle.dev/suncealand-assets/images/avatar-man-table1.png"
												alt=""
											/>
											<div class="ml-4">
												<h4
													class="text-base text-gray-900 font-semibold leading-none"
												>
													Stewart Jones
												</h4>
												<span
													class="text-xs text-gray-900 font-normal"
													>sjones@email.com</span
												>
											</div>
										</div>
									</div>
									<div class="flex items-center h-30 pl-18 bg-blue-300">
										<div
											class="inline-block mr-3 py-4 px-6 bg-blue-50 border border-gray-50 rounded-2xl"
										>
											<div class="flex items-end">
												<span
													class="text-2xl text-gray-900 font-semibold"
													>27.875</span
												>
												<div
													class="flex ml-2 pb-1 text-green-600"
												>
													<span
														class="mr-1 text-base font-semibold"
														>+7.78</span
													>
													<svg
														width="8"
														height="18"
														viewbox="0 0 8 18"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M4.35355 0.646446C4.15829 0.451185 3.84171 0.451185 3.64645 0.646446L0.464467 3.82843C0.269205 4.02369 0.269204 4.34027 0.464467 4.53553C0.659729 4.7308 0.976311 4.7308 1.17157 4.53553L4 1.70711L6.82843 4.53553C7.02369 4.7308 7.34027 4.7308 7.53553 4.53553C7.7308 4.34027 7.7308 4.02369 7.53553 3.82843L4.35355 0.646446ZM4.5 18L4.5 1L3.5 1L3.5 18L4.5 18Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
											</div>
											<span
												class="text-2xs text-gray-300 font-medium"
												>Compared to 25500 last
												month</span
											>
										</div>
										<div
											class="inline-block py-4 px-6 bg-blue-50 border border-gray-50 rounded-2xl"
										>
											<div class="flex items-end">
												<span
													class="text-2xl text-gray-900 font-semibold"
													>6.997</span
												>
												<div
													class="flex ml-2 pb-1 text-green-600"
												>
													<span
														class="mr-1 text-base font-semibold"
														>+7.78</span
													>
													<svg
														width="8"
														height="18"
														viewbox="0 0 8 18"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M4.35355 0.646446C4.15829 0.451185 3.84171 0.451185 3.64645 0.646446L0.464467 3.82843C0.269205 4.02369 0.269204 4.34027 0.464467 4.53553C0.659729 4.7308 0.976311 4.7308 1.17157 4.53553L4 1.70711L6.82843 4.53553C7.02369 4.7308 7.34027 4.7308 7.53553 4.53553C7.7308 4.34027 7.7308 4.02369 7.53553 3.82843L4.35355 0.646446ZM4.5 18L4.5 1L3.5 1L3.5 18L4.5 18Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
											</div>
											<span
												class="text-2xs text-gray-300 font-medium"
												>This week</span
											>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div class="flex h-20 items-center pl-12 bg-blue-300">
										<span class="text-xs text-gray-900 font-normal"
											>2,233.00</span
										>
									</div>
									<div class="flex items-end h-30 pl-12 pb-10 bg-blue-300">
										<div>
											<h3
												class="text-sm font-medium text-gray-900 mb-2"
											>
												ALL DAYS
											</h3>
											<img
												class="block"
												src="https://shuffle.dev/suncealand-assets/images/small-circle-table.svg"
												alt=""
											/>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div class="pl-12 bg-blue-300">
										<div class="flex h-20 items-center">
											<div class="h-1 w-24 bg-gray-900">
												<div
													class="h-full w-2/6 bg-green-500"
												></div>
											</div>
										</div>
										<div class="h-30">
											<div></div>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div class="flex h-20 items-center pl-12 bg-blue-300">
										<span class="text-xs text-gray-900 font-normal"
											>14 Sep, 2022</span
										>
									</div>
									<div
										class="flex items-end h-30 pl-12 pr-6 pb-7 bg-blue-300"
									>
										<div>
											<h3
												class="text-sm font-medium text-gray-900 mb-1"
											>
												LAST DRAFTS
											</h3>
											<span
												class="text-xs text-gray-900 font-normal"
												>Donec non 24 september
												con</span
											>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center justify-center w-full bg-blue-300"
									>
										<svg
											width="32"
											height="32"
											viewbox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect
												width="32"
												height="32"
												rx="16"
												fill="#7781EE"
											></rect>
											<rect
												x="22.9531"
												y="9.63599"
												width="2"
												height="16"
												rx="1"
												transform="rotate(45 22.9531 9.63599)"
												fill="white"
											></rect>
											<rect
												x="7.625"
												y="17.0431"
												width="2"
												height="7.57417"
												rx="1"
												transform="rotate(-45 7.625 17.0431)"
												fill="white"
											></rect>
										</svg>
									</div>
									<div class="h-30 bg-blue-300">
										<div></div>
									</div>
								</td>
								<td class="p-0">
									<div class="flex h-20 items-center pl-12 bg-blue-300">
										<span class="text-xs text-gray-900 font-normal"
											>Wales</span
										>
									</div>
									<div class="h-30 bg-blue-300">
										<div></div>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 px-12 items-center justify-center bg-blue-300"
									>
										<a
											class="group inline-flex items-center font-base text-indigo-500 font-semibold"
											href="#"
										>
											<span class="mr-2">More</span>
											<div
												class="relative transition duration-500 animate-pulse"
											>
												<svg
													width="7"
													height="12"
													viewbox="0 0 7 12"
													fill="none"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
														fill="currentColor"
													></path>
												</svg>
												<div
													class="absolute top-0 right-0 -mr-2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
												>
													<svg
														width="7"
														height="12"
														viewbox="0 0 7 12"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
												<div
													class="absolute top-0 right-0 -mr-4 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
												>
													<svg
														width="7"
														height="12"
														viewbox="0 0 7 12"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
											</div>
										</a>
									</div>
									<div class="h-30 bg-blue-300">
										<div></div>
									</div>
								</td>
							</tr>
							<tr>
								<td class="p-0">
									<div
										class="flex h-20 items-center w-full pl-12 bg-white border-b border-gray-50"
									>
										<input type="checkbox" value="" id="" />
										<div class="flex ml-4 items-center">
											<img
												class="h-9 w-9"
												src="https://shuffle.dev/suncealand-assets/images/avatar-man-table2.png"
												alt=""
											/>
											<div class="ml-4">
												<h4
													class="text-base text-gray-900 font-semibold leading-none"
												>
													Jun Xakha
												</h4>
												<span
													class="text-xs text-gray-900 font-normal"
													>jun@email.com</span
												>
											</div>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center bg-white border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>3,578.00</span
										>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center bg-white border-b border-gray-50"
									>
										<div class="h-1 w-24 bg-gray-900">
											<div
												class="h-full w-5/6 bg-blue-500"
											></div>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center bg-white border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>14 Sep, 2022</span
										>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center justify-center w-full bg-white border-b border-gray-50"
									>
										<svg
											width="32"
											height="32"
											viewbox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect
												width="32"
												height="32"
												rx="16"
												fill="#7781EE"
											></rect>
											<rect
												x="22.9531"
												y="9.63599"
												width="2"
												height="16"
												rx="1"
												transform="rotate(45 22.9531 9.63599)"
												fill="white"
											></rect>
											<rect
												x="7.625"
												y="17.0431"
												width="2"
												height="7.57417"
												rx="1"
												transform="rotate(-45 7.625 17.0431)"
												fill="white"
											></rect>
										</svg>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center bg-white border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>England</span
										>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 px-12 items-center justify-center bg-white border-b border-gray-50"
									>
										<a
											class="group inline-flex items-center font-base text-indigo-500 font-semibold"
											href="#"
										>
											<span class="mr-2">More</span>
											<div
												class="relative transition duration-500 animate-pulse"
											>
												<svg
													width="7"
													height="12"
													viewbox="0 0 7 12"
													fill="none"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
														fill="currentColor"
													></path>
												</svg>
												<div
													class="absolute top-0 right-0 -mr-2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
												>
													<svg
														width="7"
														height="12"
														viewbox="0 0 7 12"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
												<div
													class="absolute top-0 right-0 -mr-4 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
												>
													<svg
														width="7"
														height="12"
														viewbox="0 0 7 12"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
											</div>
										</a>
									</div>
								</td>
							</tr>
							<tr>
								<td class="p-0">
									<div
										class="flex h-20 items-center w-full pl-12 bg-white border-b border-gray-50"
									>
										<input type="checkbox" value="" id="" />
										<div class="flex ml-4 items-center">
											<img
												class="h-9 w-9"
												src="https://shuffle.dev/suncealand-assets/images/avatar-girl.png"
												alt=""
											/>
											<div class="ml-4">
												<h4
													class="text-base text-gray-900 font-semibold leading-none"
												>
													Elena Manolera
													Strizer
												</h4>
												<span
													class="text-xs text-gray-900 font-normal"
													>elenas@email.com</span
												>
											</div>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center bg-white border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>3,578.00</span
										>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center bg-white border-b border-gray-50"
									>
										<div class="h-1 w-24 bg-gray-900">
											<div
												class="h-full w-4/6 bg-blue-500"
											></div>
										</div>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center bg-white border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>14 Sep, 2022</span
										>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center justify-center w-full bg-white border-b border-gray-50"
									>
										<svg
											width="32"
											height="32"
											viewbox="0 0 32 32"
											fill="none"
											xmlns="http://www.w3.org/2000/svg"
										>
											<rect
												width="32"
												height="32"
												rx="16"
												fill="#7781EE"
											></rect>
											<rect
												x="22.9531"
												y="9.63599"
												width="2"
												height="16"
												rx="1"
												transform="rotate(45 22.9531 9.63599)"
												fill="white"
											></rect>
											<rect
												x="7.625"
												y="17.0431"
												width="2"
												height="7.57417"
												rx="1"
												transform="rotate(-45 7.625 17.0431)"
												fill="white"
											></rect>
										</svg>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 pl-12 items-center bg-white border-b border-gray-50"
									>
										<span class="text-xs text-gray-900 font-normal"
											>England</span
										>
									</div>
								</td>
								<td class="p-0">
									<div
										class="flex h-20 px-12 items-center justify-center bg-white border-b border-gray-50"
									>
										<a
											class="group inline-flex items-center font-base text-indigo-500 font-semibold"
											href="#"
										>
											<span class="mr-2">More</span>
											<div
												class="relative transition duration-500 animate-pulse"
											>
												<svg
													width="7"
													height="12"
													viewbox="0 0 7 12"
													fill="none"
													xmlns="http://www.w3.org/2000/svg"
												>
													<path
														d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
														fill="currentColor"
													></path>
												</svg>
												<div
													class="absolute top-0 right-0 -mr-2 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
												>
													<svg
														width="7"
														height="12"
														viewbox="0 0 7 12"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
												<div
													class="absolute top-0 right-0 -mr-4 opacity-0 group-hover:opacity-100 transition-opacity duration-500"
												>
													<svg
														width="7"
														height="12"
														viewbox="0 0 7 12"
														fill="none"
														xmlns="http://www.w3.org/2000/svg"
													>
														<path
															d="M1.00193 0.666626L0.0585938 1.60996L3.78193 5.33329L4.50195 5.99996L3.78193 6.66663L0.0585938 10.39L1.00193 11.3333L6.33526 5.99996L1.00193 0.666626Z"
															fill="currentColor"
														></path>
													</svg>
												</div>
											</div>
										</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="pt-10 px-4 pb-14 text-center border border-t-0 border-gray-50 rounded-b-2xl">
					<a class="group relative inline-block h-16 w-full sm:w-88 bg-blueGray-900 rounded" href="#">
						<div
							class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300"
						>
							<div
								class="flex h-full w-full items-center justify-center bg-white border-2 border-blueGray-900 rounded"
							>
								<span class="text-base font-semibold uppercase">See more</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</div>
