<div>
	<section class="pt-20 md:pt-30 bg-purple-50 overflow-hidden">
		<div class="relative container px-4 mx-auto">
			<img
				class="hidden lg:block animate-bouncingSlow absolute bottom-0 right-0 -mb-6 xl:mr-20 h-full"
				src="https://shuffle.dev/suncealand-assets/background/black-red-lines.svg"
				alt=""
			/>
			<div class="relative flex flex-wrap -mx-4 lg:pt-24 items-start">
				<div class="w-full lg:w-2/5 px-4 mb-32 lg:mb-0">
					<div class="max-w-md xl:max-w-lg mx-auto lg:mx-0">
						<div class="inline-flex px-5 py-2 items-center mb-8 bg-white rounded-full">
							<span class="block w-2 h-2 mr-2 rounded-full bg-blue-500"></span>
							<span class="uppercase text-sm font-medium tracking-tight">Content</span>
						</div>
						<h1 class="text-5xl sm:text-7xl xl:text-8xl font-heading font-semibold mb-12">
							What you need, when you need it
						</h1>
						<p class="text-2xl mb-12">Record your audio and upload it now.</p>
						<ul class="mb-18">
							<li class="flex mb-4 items-center">
								<svg
									width="32"
									height="32"
									viewbox="0 0 32 32"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<rect width="32" height="32" rx="16" fill="#7781EE"></rect>
									<rect
										x="22.9492"
										y="9.63605"
										width="2"
										height="16"
										rx="1"
										transform="rotate(45 22.9492 9.63605)"
										fill="white"
									></rect>
									<rect
										x="7.62891"
										y="17.0431"
										width="2"
										height="7.57417"
										rx="1"
										transform="rotate(-45 7.62891 17.0431)"
										fill="white"
									></rect>
								</svg>
								<span class="ml-8 text-lg">Quisque euismod</span>
							</li>
							<li class="flex items-center">
								<svg
									width="32"
									height="32"
									viewbox="0 0 32 32"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<rect width="32" height="32" rx="16" fill="#7781EE"></rect>
									<rect
										x="22.9492"
										y="9.63605"
										width="2"
										height="16"
										rx="1"
										transform="rotate(45 22.9492 9.63605)"
										fill="white"
									></rect>
									<rect
										x="7.62891"
										y="17.0431"
										width="2"
										height="7.57417"
										rx="1"
										transform="rotate(-45 7.62891 17.0431)"
										fill="white"
									></rect>
								</svg>
								<span class="ml-8 text-lg">Nunc iaculis quis risus at tristique</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="w-full lg:w-3/5 px-4">
					<div>
						<div class="relative z-10 pb-20 lg:pb-52">
							<img
								class="block mx-auto w-full max-w-lg"
								src="https://shuffle.dev/suncealand-assets/images/frame-apps-avatar.png"
								alt=""
							/>
							<img
								class="absolute top-0 right-0 sm:-mr-20 mt-64"
								src="https://shuffle.dev/suncealand-assets/images/join-box.png"
								alt=""
							/>
						</div>
						<div class="relative animate-bouncingSlow">
							<img
								class="lg:hidden absolute bottom-0 left-1/2 -mb-32 sm:-mb-6 transform -translate-x-1/2"
								src="https://shuffle.dev/suncealand-assets/background/black-red-lines.svg"
								alt=""
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
