<div>
	<section class="pt-20 pb-32 md:pt-24 md:pb-40 bg-black overflow-hidden">
		<div class="container px-4 mx-auto">
			<div class="max-w-7xl">
				<div class="inline-flex items-center px-5 py-2 bg-white rounded-full mb-12">
					<span class="block w-2 h-2 mr-2 rounded-full bg-blue-500"></span>
					<span class="uppercase text-sm font-medium tracking-tight">CUSTOMER REVIEWS</span>
				</div>
				<p class="font-heading text-3xl sm:text-4xl md:text-5xl text-white font-medium mb-16">
					“Tried a lot, find the best Tried a lot. Choose this one. A real nice tools and app. It comes with a
					few free plug-ins that will be more than enough for beginners. For more advansed users, you'll need
					to get a few more plug-ins for an extra cost on 3rd party websites, but suncealand makes it quite
					easy to set them up.”
				</p>
				<div class="inline-block py-3 px-10 mb-5 bg-gray-800 rounded-4xl">
					<div class="flex items-center justify-center">
						<a class="group relative inline-flex items-center h-18 mr-4 sm:mr-8" href="#">
							<span
								class="text-gray-800 opacity-0 group-hover:opacity-100 absolute bottom-full left-1/2 -translate-x-1/2 transition duration-300 transform scale-50 group-hover:scale-100"
							>
								<svg
									width="46"
									height="31"
									viewbox="0 0 46 31"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M19.9258 1.69293C21.5251 -0.228204 24.4749 -0.228203 26.0742 1.69293L44.3866 23.6909C46.5557 26.2965 44.7027 30.25 41.3124 30.25L4.68763 30.25C1.29725 30.25 -0.555695 26.2965 1.61343 23.6908L19.9258 1.69293Z"
										fill="currentColor"
									></path>
								</svg>
							</span>
							<img
								class="w-12 h-12 rounded-full object-cover transform group-hover:scale-125 transition duration-300"
								src="https://shuffle.dev/suncealand-assets/images/avatar-review-man.png"
								alt=""
							/>
						</a>
						<a class="relative inline-block mr-4 sm:mr-8" href="#">
							<span
								class="text-gray-800 absolute bottom-full left-1/2 transform -translate-x-1/2"
							>
								<svg
									width="46"
									height="31"
									viewbox="0 0 46 31"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M19.9258 1.69293C21.5251 -0.228204 24.4749 -0.228203 26.0742 1.69293L44.3866 23.6909C46.5557 26.2965 44.7027 30.25 41.3124 30.25L4.68763 30.25C1.29725 30.25 -0.555695 26.2965 1.61343 23.6908L19.9258 1.69293Z"
										fill="currentColor"
									></path>
								</svg>
							</span>
							<img
								class="w-18 h-18 rounded-full object-cover"
								src="https://shuffle.dev/suncealand-assets/images/avatar-circle-column-reviews1.png"
								alt=""
							/>
							<div
								class="min-w-max text-center absolute top-full left-1/2 mt-8 transform -translate-x-1/2"
							>
								<h4 class="text-xl font-medium text-white">Glen Harres</h4>
								<span class="text-white">Spotify</span>
							</div>
						</a>
						<a class="group relative inline-flex items-center h-18 mr-4 sm:mr-8" href="#">
							<span
								class="text-gray-800 opacity-0 group-hover:opacity-100 absolute bottom-full left-1/2 -translate-x-1/2 transition duration-300 transform scale-50 group-hover:scale-100"
							>
								<svg
									width="46"
									height="31"
									viewbox="0 0 46 31"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M19.9258 1.69293C21.5251 -0.228204 24.4749 -0.228203 26.0742 1.69293L44.3866 23.6909C46.5557 26.2965 44.7027 30.25 41.3124 30.25L4.68763 30.25C1.29725 30.25 -0.555695 26.2965 1.61343 23.6908L19.9258 1.69293Z"
										fill="currentColor"
									></path>
								</svg>
							</span>
							<img
								class="w-12 h-12 rounded-full object-cover transform group-hover:scale-125 transition duration-300"
								src="https://shuffle.dev/suncealand-assets/images/avatar-circle-column-reviews3.png"
								alt=""
							/>
						</a>
						<a class="group relative inline-flex items-center h-18" href="#">
							<span
								class="text-gray-800 opacity-0 group-hover:opacity-100 absolute bottom-full left-1/2 -translate-x-1/2 transition duration-300 transform scale-50 group-hover:scale-100"
							>
								<svg
									width="46"
									height="31"
									viewbox="0 0 46 31"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M19.9258 1.69293C21.5251 -0.228204 24.4749 -0.228203 26.0742 1.69293L44.3866 23.6909C46.5557 26.2965 44.7027 30.25 41.3124 30.25L4.68763 30.25C1.29725 30.25 -0.555695 26.2965 1.61343 23.6908L19.9258 1.69293Z"
										fill="currentColor"
									></path>
								</svg>
							</span>
							<img
								class="w-12 h-12 rounded-full object-cover transform group-hover:scale-125 transition duration-300"
								src="https://shuffle.dev/suncealand-assets/images/avatar-circle-column-reviews2.png"
								alt=""
							/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
