<div> <section class="relative pt-14 pb-96 lg:pb-32 overflow-hidden">
    <img class="hidden md:block absolute bottom-0 right-0 z-10 max-w-lg xl:max-w-none" src="suncealand-assets/images/dashboard-app-right.png" alt="">
    <div class="pt-12 pb-24 md:pt-24 lg:py-52 relative">
      <img class="absolute top-0 left-0 w-full h-full object-cover lg:object-fill" src="suncealand-assets/background/background-circles-light-lines.svg" alt="">
      <div class="container px-4 mx-auto relative">
        <div class="max-w-md lg:max-w-lg">
          <h2 class="font-heading text-7xl sm:text-10xl 2xl:text-11xl font-semibold mb-24">We’re here for you</h2>
          <a class="group relative inline-block h-16 w-full sm:w-48 bg-blueGray-900 rounded" href="#">
            <div class="absolute top-0 left-0 transform -translate-y-1 -translate-x-1 w-full h-full group-hover:translate-y-0 group-hover:translate-x-0 transition duration-300">
              <div class="flex h-full w-full items-center justify-center bg-blue-500 border-2 border-blueGray-900 rounded">
                <span class="text-base font-semibold uppercase">Get started</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="absolute bottom-0 right-0 md:hidden -mb-80 sm:-mb-64">
        <img class="max-w-xs md:max-w-lg" src="suncealand-assets/images/dashboard-app-right.png" alt="">
      </div>
    </div>
  </section></div>