<div>
	<section class="relative py-24 xl:py-44 bg-darkBlueGray-500 overflow-hidden">
		<img class="absolute top-0 right-0" src="https://shuffle.dev/uinel-assets/elements/ecommerce-newsletter/line-dots.svg" alt="" />
		<div class="relative container px-4 mx-auto">
			<div class="flex flex-wrap -mx-4">
				<div class="w-full xl:w-1/3 px-4 mb-24 xl:mb-0">
					<span
						class="inline-block py-3 px-7 mb-10 text-lg font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 bg-purple-900 bg-opacity-30 rounded-6xl"
						>Newsletter</span
					>
					<h2 class="text-8xl sm:text-10xl md:text-12xl font-heading font-medium text-white leading-tight">
						Stay with us
					</h2>
				</div>
				<div class="relative w-full xl:w-2/3 px-4">
					<img
						class="absolute bottom-0 left-0 w-full h-80 md:h-64 xl:h-80 rounded-3xl"
						src="https://shuffle.dev/uinel-assets/images/ecommerce-newsletter/background-colors.png"
						alt=""
					/>
					<div class="relative py-16 xl:pt-20 xl:pb-36 px-6 md:px-20 mb-2 bg-white rounded-3xl">
						<img
							class="absolute bottom-0 right-0 h-16 -mb-8 mr-24 md:mr-80"
							src="https://shuffle.dev/uinel-assets/elements/ecommerce-newsletter/av1.png"
							alt=""
						/>
						<img
							class="absolute top-0 right-0 h-16 -mt-8 mr-12 md:mr-64"
							src="https://shuffle.dev/uinel-assets/elements/ecommerce-newsletter/av2.png"
							alt=""
						/>
						<div class="relative z-10">
							<div class="mb-10">
								<h2 class="mb-2 text-4xl font-heading font-medium leading-10">
									Join the our community
								</h2>
								<p class="text-darkBlueGray-400">
									Fusce sodales vitae lorem vitae now tempus.
								</p>
							</div>
							<div class="flex flex-wrap items-center">
								<div class="w-full md:w-12 mb-4 md:mb-0 mr-4 lg:mr-10">
									<img
										class="w-12"
										src="https://shuffle.dev/uinel-assets/elements/ecommerce-newsletter/user.png"
										alt=""
									/>
								</div>
								<div
									class="flex items-center lg:flex-grow w-full md:w-auto py-4 px-8 mb-4 md:mb-0 md:mr-6 leading-7 border-2 border-blue-500 rounded-xl focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
								>
									<span
										class="hidden md:block text-lg text-gray-300 font-medium"
										>@</span
									>
									<input
										class="md:pl-6 text-lg outline-none bg-transparent"
										type="email"
										placeholder="Drop Email address"
									/>
								</div>
								<button
									class="inline-block w-full md:w-auto h-full py-4 px-10 leading-8 font-heading font-medium tracking-tighter text-xl text-white bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
								>
									Let’s go!
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
