<div> <section>
    <div class="pb-12 pt-24 2xl:pt-40 bg-blueGray-100 rounded-b-10xl">
      <div class="container px-4 mx-auto">
        <div class="text-center">
          <h2 class="text-9xl md:text-10xl xl:text-11xl font-medium font-heading mb-12 leading-tight">Have a question?</h2>
          <p class="mb-20 text-lg text-darkBlueGray-400">Sed porttitor turpis sit amet malesuada porta lobortis.</p>
          <div class="flex items-center flex-wrap">
            <div class="w-full lg:w-1/3 mb-8 lg:mb-0 pb-4 lg:pb-0 md:px-8 xl:px-16 border-b lg:border-b-0 lg:border-r border-gray-200 border-opacity-50">
              <div class="flex items-center">
                <img class="mr-6 h-14" src="uinel-assets/images/contacts/icon1.svg" alt="">
                <a class="text-xl lg:text-3xl font-medium" href="#">+ 44 1447881709</a>
              </div>
            </div>
            <div class="w-full lg:w-1/3 mb-8 lg:mb-0 pb-4 lg:pb-0 md:px-8 xl:px-16 border-b lg:border-b-0 lg:border-r border-gray-200 border-opacity-50">
              <div class="flex items-center">
                <img class="mr-6 h-14" src="uinel-assets/images/contacts/icon3.svg" alt="">
                <a class="text-xl lg:text-3xl font-medium" href="#">help@uinel</a>
              </div>
            </div>
            <div class="w-full lg:w-1/3 pb-8 lg:pb-0 md:px-8 xl:px-16">
              <div class="flex items-center">
                <img class="mr-6 h-14" src="uinel-assets/images/contacts/icon2.svg" alt="">
                <a class="text-xl lg:text-3xl font-medium" href="#">uinelchat</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mx-auto px-6 pt-20 pb-24">
      <div class="flex flex-wrap items-center justify-center">
        <a class="inline-block py-5 px-10 mb-6 md:mb-0 md:mr-12 w-full md:w-auto text-xl leading-6 text-white font-medium tracking-tighter text-center font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="button">Book now</a>
        <a class="inline-flex items-center pb-2 font-bold tracking-tight text-xl leading-6 text-green-600 hover:text-green-700 border-b border-green-600 hover:border-green-700" href="#">
          <span class="mr-3">More information</span>
          <svg width="16" height="13" viewbox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.8 1L15 7H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M11 12L15 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
      </div>
    </div>
  </section></div>