<div>
	<div>
		<section class="p-4 md:p-8 font-medium bg-blueGray-100">
			<div class="relative pt-24 pb-8 lg:pb-24 2xl:pt-52 2xl:pb-60 bg-white rounded-t-10xl z-10">
				<div class="container px-4 mx-auto">
					<div class="grid lg:grid-cols-2 items-center gap-20">
						<div>
							<img
								class="mb-20"
								src="https://shuffle.dev/uinel-assets/elements/portfolio/portfolio1-write-icon.svg"
								alt=""
							/>
							<span
								class="block mb-9 font-heading text-sm uppercase tracking-widest text-gray-300"
								>Portfolio</span
							>
							<div class="relative flex items-center max-w-max mb-14 xl:mb-16">
								<h2
									class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight"
								>
									SchoolTrip
								</h2>
								<div
									class="absolute bottom-20 right-16 md:-right-24 md:bottom-2 xl:bottom-12"
								>
									<h3
										class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-heading text-6xl z-10"
									>
										APP
									</h3>
									<img
										src="https://shuffle.dev/uinel-assets/elements/portfolio/elipse1.svg"
										alt=""
									/>
									<img
										class="absolute top-0 left-0"
										src="https://shuffle.dev/uinel-assets/elements/portfolio/elipse2.svg"
										alt=""
									/>
								</div>
							</div>
							<h3 class="mb-10 text-5xl xl:text-8xl leading-tighter lg:max-w-lg">
								A spatial system is a set of rules for how you measure and size your
								UI elements.
							</h3>
							<p class="mb-14 xl:mb-16 font-normal text-lg leading-6 text-gray-700">
								The nulla commodo, commodo eros a, tristique lectus.
							</p>
							<a
								class="inline-flex items-center pb-1 text-green-600 hover:text-green-700 border-b border-green-600 hover:border-green-700"
								href="#"
							>
								<span class="font-bold tracking-tight text-xl">Discover weekly</span>
								<svg
									class="ml-4"
									width="16"
									height="13"
									viewbox="0 0 16 13"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M10.8 1L15 7H1"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
									></path>
									<path
										d="M11 12L15 7"
										stroke="currentColor"
										stroke-width="2"
										stroke-linecap="round"
										stroke-linejoin="round"
									></path>
								</svg>
							</a>
						</div>
						<img src="https://shuffle.dev/uinel-assets/images/portfolio/widget.png" alt="" />
					</div>
				</div>
			</div>
		</section>
		<div class="-mt-16 h-24 bg-yellow-500"></div>
	</div>
</div>
