<div><section class="font-medium bg-blueGray-100 py-24 2xl:py-44">
    <div class="container px-4 mx-auto">
      <div class="bg-white max-w-5xl mx-auto rounded-3xl pt-20 pb-20 md:pb-28 px-6">
        <span class="uppercase tracking-widest text-xs leading-4 mb-9 block text-center text-gray-300">Newsletter</span>
        <h2 class="font-heading text-9xl xl:text-10xl leading-tight mb-14 xl:mb-16 text-center">Subscribe</h2>
        <div class="md:flex md:items-center md:justify-center mb-12">
          <input class="bg-blueGray-50 md:mr-6 mb-3 md:mb-0 rounded-2xl h-16 text-lg text-darkBlueGray-400 md:max-w-md lg:max-w-xl w-full px-12 border border-blue-500 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 placeholder-darkBlueGray-400" placeholder="Drop your email" type="text">
          <a class="block py-5 px-10 w-full md:w-auto text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Let's go</a>
        </div>
        <p class="text-center text-xs leading-6 text-darkBlueGray-400 font-heading font-normal">I haretra 100% neque non me, finibus hart lorem i hate bibendum molestie.</p>
      </div>
    </div>
  </section> </div>