<div>
	<section class="py-24 xl:py-44">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap -mx-4">
				<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-16 lg:mb-0">
					<div class="px-12 text-center">
						<img
							class="mb-16 h-16 block mx-auto"
							src="https://shuffle.dev/uinel-assets/elements/ecommerce-features/icon1.svg"
							alt=""
						/>
						<div class="max-w-xs px-6 lg:px-0 mx-auto">
							<h3 class="mb-2 text-lg font-heading font-medium">Superpower</h3>
							<p>Donec laoreet sem sollicitudin, mattis mi in, tristique ex.</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-16 lg:mb-0">
					<div class="px-12 text-center">
						<img
							class="mb-16 h-16 block mx-auto"
							src="https://shuffle.dev/uinel-assets/elements/ecommerce-features/icon2.svg"
							alt=""
						/>
						<div class="max-w-xs px-6 lg:px-0 mx-auto">
							<h3 class="mb-2 text-lg font-heading font-medium">Superfast 5G</h3>
							<p>Donec laoreet sem sollicitudin, mattis mi in, tristique ex.</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-16 md:mb-0">
					<div class="px-12 text-center">
						<img
							class="mb-16 h-16 block mx-auto"
							src="https://shuffle.dev/uinel-assets/elements/ecommerce-features/icon3.svg"
							alt=""
						/>
						<div class="max-w-xs px-6 lg:px-0 mx-auto">
							<h3 class="mb-2 text-lg font-heading font-medium">New design</h3>
							<p>Donec laoreet sem sollicitudin, mattis mi in, tristique ex.</p>
						</div>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 px-4">
					<div class="px-12 text-center">
						<img
							class="mb-16 h-16 block mx-auto"
							src="https://shuffle.dev/uinel-assets/elements/ecommerce-features/icon4.svg"
							alt=""
						/>
						<div class="max-w-xs px-6 lg:px-0 mx-auto">
							<h3 class="mb-2 text-lg font-heading font-medium">4K Camera</h3>
							<p>Donec laoreet sem sollicitudin, mattis mi in, tristique ex.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
