<div>
	<section class="relative pt-24 2xl:pt-28 font-heading font-medium text-white bg-indigo-700 rounded-t-10xl overflow-hidden">
		<div class="relative container px-4 mx-auto z-10">
			<div class="md:grid md:grid-cols-2 lg:items-center gap-8">
				<div class="mb-20 md:mb-0 text-center md:text-left">
					<h2 class="mb-14 xl:mb-16 text-9xl md:text-10xl xl:text-11xl font-heading leading-tight">
						Join over 1 mln designers
					</h2>
					<p class="mb-14 xl:mb-16 font-sans font-normal text-base leading-6">
						A short message that will bring your customers into the world.
					</p>
					<a
						class="inline-block py-5 px-10 text-body text-xl leading-6 font-medium tracking-tighter font-heading bg-white hover:bg-gray-50 focus:ring-2 focus:ring-white focus:ring-opacity-50 rounded-xl"
						href="#"
						>Join now</a
					>
				</div>
				<img class="md:mr-0 mx-auto" src="https://shuffle.dev/uinel-assets/images/call-to-action/man.jpeg" alt="" />
			</div>
		</div>
		<img
			class="absolute top-0 left-1/2 transform -translate-x-1/2 px-6"
			src="https://shuffle.dev/uinel-assets/elements/call-to-action/elipse-bg-blue2.svg"
			alt=""
		/>
	</section>
</div>
