<div>
	<div class="fixed right-0 bottom-5 px-5 w-full">
		<div class="relative flex flex-wrap p-10 xl:px-24 xl:pb-20 xl:pt-16 w-full bg-white rounded-3xl">
			<a class="absolute right-7 top-7" href="#">
				<svg width="14" height="13" viewbox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<line x1="13.495" y1="0.494975" x2="1.49498" y2="12.495" stroke="#326BFF" stroke-width="1.4"></line>
					<line
						x1="12.505"
						y1="12.495"
						x2="0.505026"
						y2="0.494976"
						stroke="#326BFF"
						stroke-width="1.4"
					></line>
				</svg>
			</a>
			<div class="mb-6 w-full sm:w-3/12 lg:w-2/12">
				<img src="https://shuffle.dev/uinel-assets/elements/ecommerce-cookies/logo-uinel-gray2.png" alt="" />
			</div>
			<div class="relative z-10 mb-10 lg:mb-0 w-full sm:w-9/12 lg:w-5/12 xl:w-6/12">
				<h2 class="mb-6 xl:mb-9 text-3xl md:text-8xl font-heading font-medium">Accept or manage</h2>
				<div class="flex flex-wrap -mx-2">
					<div class="w-full sm:w-1/2 lg:w-1/2 xl:w-1/3 px-2 mb-6 xl:mb-0">
						<p class="text-gray-300">
							By clicking “Accept”, you agree to the storing of cookies on your device to
							enhance (...)
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/2 xl:w-1/3 px-2 mb-6 xl:mb-0">
						<p class="text-gray-300">
							Mauris tempus, risus id condimentum pretium, lectus nisl auctor risus, eget
							eleifend leo sapien
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-full xl:w-1/3 px-2">
						<p class="text-gray-300">
							Praesent vel posuere mauris. Proin varius, turpis quis volutpat facilisis, leo
							magna pulvinar nunc
						</p>
					</div>
					<div class="w-full px-2 mt-6">
						<a
							class="flex items-center pb-1 text-xl text-body hover:text-darkBlueGray-400 font-bold tracking-tight max-w-max border-b border-darkBlueGray-400 hover:border-darkBlueGray-400"
							href="#"
						>
							<span class="mr-5">Learn more</span>
							<svg
								width="14"
								height="17"
								viewbox="0 0 14 17"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M12.5 11.3L6.5 15.5L6.5 1.5"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
								<path
									d="M1.5 11.5L6.5 15.5"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="relative z-10 flex flex-wrap items-center justify-end w-full lg:w-5/12 xl:w-4/12">
				<div class="w-full mb-3 sm:mb-0 sm:mr-6 sm:max-w-max">
					<a
						class="block py-5 px-10 w-full text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
						href="#"
						>Accept</a
					>
				</div>
				<div class="w-full sm:max-w-max">
					<a
						class="block py-5 px-10 w-full text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-darkBlueGray-500 hover:bg-darkBlueGray-600 focus:ring-2 focus:ring-darkBlueGray-500 focus:ring-opacity-50 rounded-xl"
						href="#"
						>Manage</a
					>
				</div>
			</div>
			<img
				class="absolute right-12 top-1/2 transform -translate-y-1/2"
				src="https://shuffle.dev/uinel-assets/elements/ecommerce-cookies/bg3.svg"
				alt=""
			/>
		</div>
	</div>
</div>
