<div><section class="font-normal bg-blueGray-100 py-24 2xl:py-44">
    <div class="container px-4 mx-auto">
      <div class="mb-28">
        <span class="font-medium uppercase tracking-widest text-xs text-gray-300 leading-4 mb-9 block">More data</span>
        <h2 class="font-heading font-medium text-9xl md:text-10xl xl:text-11xl leading-tight">Workable</h2>
      </div>
      <div class="overflow-x-auto">
        <div class="inline-block min-w-full rounded-5xl overflow-hidden border border-gray-100">
          <table class="table-auto w-full">
            <thead class="text-white">
              <tr>
                <th class="h-20 bg-indigo-700 pl-16 px-12 text-lg font-semibold uppercase">
                  <div class="flex itmes-center min-w-max">
                    <div>
                      <input class="mr-9 border-none form-checkbox h-5 w-5 border border-gray-300" type="checkbox">
                    </div>
                    <p>Our plans and pricing</p>
                  </div>
                </th>
                <th class="h-20 bg-indigo-700 px-12 text-lg font-semibold uppercase">
                  <p class="min-w-max">Feature 1</p>
                </th>
                <th class="h-20 bg-indigo-700 px-12 text-lg font-semibold uppercase">
                  <p class="min-w-max">Feature 2</p>
                </th>
                <th class="h-20 bg-indigo-700 px-12 text-lg font-semibold uppercase">
                  <p class="min-w-max">Feature 3</p>
                </th>
                <th class="h-20 bg-indigo-700 px-12 text-lg font-semibold uppercase">
                  <p class="min-w-max">Feature 4</p>
                </th>
                <th class="h-20 bg-indigo-700 pr-16 px-12 text-lg font-semibold uppercase">
                  <p class="min-w-max">Feature 5</p>
                </th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr>
                <td class="text-lg h-40 px-16">
                  <div class="flex items-start">
                    <div>
                      <input class="mr-9 form-checkbox h-5 w-5 border border-gray-300" type="checkbox">
                    </div>
                    <div class="w-96">
                      <h3 class="font-medium leading-6 mb-4">Number of Team Members</h3>
                      <p class="text-base font-sans text-darkBlueGray-400 font-normal leading-6">Proin nec nibh vel odio dapibus molestie eu id ipsum. Fusce sodales vitae lorem vitae tempus.</p>
                    </div>
                  </div>
                </td>
                <td class="relative">
                  <div class="relative max-w-max mx-auto">
                    <img src="uinel-assets/elements/tables/circle1.svg" alt="">
                    <div class="absolute text-3xl text-white left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">3</div>
                  </div>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center h-40">
                  <div class="bg-green-200 text-green-700 text-sm font-bold rounded-full px-3 py-1 flex items-center max-w-max mx-auto">
                    <div class="mr-1">
                      <img src="uinel-assets/elements/tables/arrow-up-green.svg" alt="">
                    </div>
                    <p>9%</p>
                  </div>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center text-lg text-darkBlueGray-400 h-40">
                  <span>200+</span>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center text-lg text-darkBlueGray-400 h-40">
                  <span>Unlimited</span>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="text-center text-lg text-darkBlueGray-400 h-40">
                  <span>Unlimited</span>
                </td>
              </tr>
              <tr>
                <td class="text-lg h-40 px-16">
                  <div class="flex items-start">
                    <div>
                      <input class="mr-9 form-checkbox h-5 w-5 border border-gray-300" type="checkbox">
                    </div>
                    <div class="w-96">
                      <h3 class="font-medium leading-6 mb-4">Users</h3>
                      <p class="text-base font-sans text-darkBlueGray-400 font-normal leading-6">Sed feugiat, velit ac pharetra dignissim, enim eros sollicitudin purus.</p>
                    </div>
                  </div>
                </td>
                <td class="relative">
                  <div class="relative max-w-max mx-auto">
                    <img src="uinel-assets/elements/tables/circle2.svg" alt="">
                    <div class="absolute text-3xl text-white left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">3</div>
                  </div>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center h-40">
                  <div class="bg-green-200 text-green-700 text-sm font-bold rounded-full px-3 py-1 flex items-center max-w-max mx-auto">
                    <div class="mr-1">
                      <img src="uinel-assets/elements/tables/arrow-up-green.svg" alt="">
                    </div>
                    <p>9%</p>
                  </div>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center text-lg text-darkBlueGray-400 h-40">
                  <span>200+</span>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center text-lg text-darkBlueGray-400 h-40">
                  <div class="grid grid-cols-4 max-w-max gap-x-2 mx-auto">
                    <div class="bg-green-500 rounded-full w-3 h-3"></div>
                    <div class="bg-green-500 rounded-full w-3 h-3"></div>
                    <div class="bg-green-500 rounded-full w-3 h-3"></div>
                    <div class="bg-green-500 rounded-full w-3 h-3"></div>
                  </div>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="text-center text-lg text-darkBlueGray-400 h-40">
                  <span>Unlimited</span>
                </td>
              </tr>
              <tr>
                <td class="text-lg h-40 px-16">
                  <div class="flex items-start">
                    <div>
                      <input class="mr-9 form-checkbox h-5 w-5 border border-gray-300" type="checkbox">
                    </div>
                    <div class="w-96">
                      <h3 class="font-medium leading-6 mb-4">Number of Team Members</h3>
                      <p class="text-base font-sans text-darkBlueGray-400 font-normal leading-6">Proin nec nibh vel odio dapibus molestie eu id ipsum. Fusce sodales vitae lorem vitae tempus.</p>
                    </div>
                  </div>
                </td>
                <td class="relative">
                  <div class="relative max-w-max mx-auto">
                    <img src="uinel-assets/elements/tables/circle3.svg" alt="">
                    <div class="absolute text-3xl text-white left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">3</div>
                  </div>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center h-40">
                  <div class="bg-green-200 text-green-700 text-sm font-bold rounded-full px-3 py-1 flex items-center max-w-max mx-auto">
                    <div class="mr-1">
                      <img src="uinel-assets/elements/tables/arrow-up-green.svg" alt="">
                    </div>
                    <p>9%</p>
                  </div>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center text-lg text-darkBlueGray-400 h-40">
                  <span>200+</span>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="relative text-center text-lg text-darkBlueGray-400 h-40">
                  <span>Unlimited</span>
                  <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/tables/dotted-line-top.svg" alt="">
                </td>
                <td class="text-center text-lg text-darkBlueGray-400 h-40">
                  <span>Unlimited</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section> </div>