<div><section class="py-8 bg-blueGray-50 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4 xl:-mx-7">
        <div class="w-full md:w-1/2 xl:w-1/4 px-4 xl:px-7 mb-8 xl:mb-0">
          <div class="pt-10 pb-14 px-8 bg-white rounded-3xl">
            <img class="mb-6" src="uinel-assets/elements/dashboard-stats-tiles/icon-small4.svg" alt="">
            <span class="text-6xl font-heading font-medium">248.53</span>
            <h3 class="mt-4 text-sm text-darkBlueGray-300 font-heading font-medium">Responces</h3>
          </div>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 px-4 xl:px-7 mb-8 xl:mb-0">
          <div class="pt-10 pb-14 px-8 bg-white rounded-3xl">
            <img class="mb-6" src="uinel-assets/elements/dashboard-stats-tiles/icon-small3.svg" alt="">
            <span class="text-6xl font-heading font-medium">1148.53</span>
            <h3 class="mt-4 text-sm text-darkBlueGray-300 font-heading font-medium">Projects</h3>
          </div>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 px-4 xl:px-7 mb-8 xl:mb-0">
          <div class="pt-10 pb-14 px-8 bg-white rounded-3xl">
            <img class="mb-6" src="uinel-assets/elements/dashboard-stats-tiles/icon-small2.svg" alt="">
            <span class="text-6xl font-heading font-medium">310</span>
            <h3 class="mt-4 text-sm text-darkBlueGray-300 font-heading font-medium">Reports</h3>
          </div>
        </div>
        <div class="w-full md:w-1/2 xl:w-1/4 px-4 xl:px-7">
          <div class="pt-10 pb-14 px-8 bg-white rounded-3xl">
            <img class="mb-6" src="uinel-assets/elements/dashboard-stats-tiles/icon-small1.svg" alt="">
            <span class="text-6xl font-heading font-medium">1513</span>
            <h3 class="mt-4 text-sm text-darkBlueGray-300 font-heading font-medium">Users</h3>
          </div>
        </div>
      </div>
    </div>
  </section> </div>