<div>
	<section class="pb-24 xl:pb-0 bg-darkBlueGray-500">
		<div class="py-8 mx-10 mb-20 xl:mb-44 bg-white"></div>
		<div class="container px-4 mx-auto">
			<div class="relative xl:pb-52 text-center overflow-hidden">
				<img
					class="absolute top-0 bottom-0 left-1/2 mt-16 transform -translate-x-1/2 object-contain"
					src="https://shuffle.dev/uinel-assets/images/sign-up/half-circle.svg"
					alt=""
				/>
				<div class="relative">
					<span
						class="inline-block py-3 px-7 mb-10 text-lg font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 bg-purple-900 bg-opacity-30 rounded-6xl"
						>Newsletter</span
					>
					<div class="mb-14 xl:mb-28">
						<h2
							class="text-9xl md:text-10xl xl:text-11xl text-white leading-tight font-heading font-medium"
						>
							Subscribe to newsletter
						</h2>
					</div>
					<div class="flex flex-wrap mb-10 items-center justify-center">
						<input
							class="w-full md:max-w-md py-4 px-12 mb-4 md:mb-0 md:mr-6 text-lg leading-7 border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
							type="email"
							placeholder="Your Email"
						/>
						<a
							class="inline-block w-full md:w-auto py-4 px-10 text-xl leading-8 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
							href="#"
							>Join now</a
						>
					</div>
					<label for="">
						<input style="appearance: none;" type="checkbox" />
						<p class="text-gray-200">
							By singning up, you agree to our Terms, Data Policy and Cookies.
						</p>
					</label>
				</div>
			</div>
		</div>
	</section>
</div>
