<div> <section class="relative bg-blueGray-100 pt-24 2xl:pt-44 md:pb-24 lg:pb-64 overflow-hidden">
    <img class="hidden md:block absolute bottom-0 right-0 w-1/2 md:w-full" src="uinel-assets/images/applications/frame.png" alt="">
    <div class="relative container px-4 mx-auto">
      <div class="w-full md:w-1/2">
        <img class="block mb-16" src="uinel-assets/images/applications/icon.svg" alt="">
        <span class="text-sm text-gray-300 uppercase">Download application</span>
        <h2 class="mt-8 mb-16 text-9xl md:text-10xl xl:text-11xl font-heading font-medium leading-tight">
          <span>Download</span>
          <span class="relative">
            <span class="relative z-10">app</span>
            <img class="absolute top-1/2 left-0 xl:-left-5 transform -translate-y-1/2 xl:mt-2 xl:max-w-max" src="uinel-assets/images/applications/line-circle.svg" alt="">
          </span>
          <span>wherever you are.</span>
        </h2>
        <a class="inline-block py-5 px-10 w-full md:w-auto text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Download now</a>
        <img class="md:hidden" src="uinel-assets/images/applications/frame2.png" alt="">
      </div>
    </div>
  </section></div>