<div>
	<section class="relative font-sans bg-white pt-20 lg:pb-20 xl:pb-0 overflow-hidden">
		<img
			class="absolute bottom-0 md:top-0 right-0 h-96 md:h-full z-10 w-2/4 md:w-1/6 lg:w-auto"
			src="https://shuffle.dev/uinel-assets/images/http-codes/frame.png"
			alt=""
		/>
		<img class="absolute bottom-0" src="https://shuffle.dev/uinel-assets/images/http-codes/elipse-line.svg" alt="" />
		<div class="relative container mx-auto px-4 z-10">
			<div class="flex items-center flex-wrap -mx-4">
				<div class="w-full md:w-2/3 lg:w-1/2 px-4 mb-20 lg:mb-0">
					<span
						class="inline-block py-3 px-7 mb-10 text-xl font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 rounded-6xl"
						href="#"
						>Wooooooops!</span
					>
					<h2
						class="font-medium text-9xl md:text-10xl xl:text-11xl font-heading mb-10 leading-tight max-w-xl"
					>
						We can’t find that page
					</h2>
					<p class="text-base leading-6 text-gray-400 mb-16 xl:mb-40">Or something has gone wrong.</p>
					<a
						class="inline-block py-5 px-10 text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
						href="#"
						>Back home</a
					>
				</div>
				<div class="w-full lg:w-1/2 px-4">
					<img src="https://shuffle.dev/uinel-assets/images/http-codes/placeholder1.png" alt="" />
				</div>
			</div>
		</div>
	</section>
</div>
