<div>
	<section>
		<div class="px-6 lg:px-12">
			<nav class="flex justify-between">
				<div class="flex w-full items-center py-6">
					<a href="#">
						<img
							class="h-12"
							src="https://shuffle.dev/uinel-assets/logos/ecommerce/uistore-gray-black.svg"
							alt=""
						/>
					</a>
					<ul class="hidden xl:flex px-4 ml-20 2xl:ml-40 mr-auto">
						<li class="mr-16">
							<a class="font-medium hover:text-darkBlueGray-400" href="#">Stories</a>
						</li>
						<li class="relative mr-16">
							<a class="flex items-center font-medium hover:text-darkBlueGray-400" href="#">
								<span class="mr-4">Products</span>
								<svg
									width="8"
									height="5"
									viewbox="0 0 8 5"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z"
										fill="currentColor"
									></path>
								</svg>
							</a>
							<div
								class="product-menu hidden absolute top-0 left-0 mt-24 -ml-64 pl-24 pr-16 pt-16 pb-24 bg-white rounded-lg z-50"
							>
								<div
									class="absolute top-0 left-0 ml-72 w-7 h-7 bg-white transform rotate-45 -translate-y-1/2"
								></div>
								<div class="flex flex-wrap min-w-max -mx-4 lg:-mx-10">
									<div class="w-full md:w-1/2 lg:w-1/4 px-4 lg:px-10">
										<div>
											<h3
												class="mb-4 text-xl font-heading font-medium"
											>
												Smartphone
											</h3>
											<ul class="w-full">
												<li class="mb-4">
													<a
														class="text-gray-400 hover:text-gray-500"
														href="#"
														>View
														all</a
													>
												</li>
												<li class="mb-4">
													<a
														class="text-gray-400 hover:text-gray-500"
														href="#"
														>Premium
														Phones</a
													>
												</li>
												<li class="mb-4">
													<a
														class="text-gray-400 hover:text-gray-500"
														href="#"
														>Basic</a
													>
												</li>
												<li>
													<a
														class="text-gray-400 hover:text-gray-500"
														href="#"
														>Sale</a
													>
												</li>
											</ul>
										</div>
										<div
											class="w-40 mt-5 mb-7 border-b border-gray-100"
										></div>
										<div class="w-full">
											<h3
												class="mb-4 text-xl font-heading font-medium"
											>
												Tablet
											</h3>
											<ul class="w-full">
												<li class="mb-4">
													<a
														class="text-gray-400 hover:text-gray-500"
														href="#"
														>View
														all</a
													>
												</li>
												<li class="mb-4">
													<a
														class="text-gray-400 hover:text-gray-500"
														href="#"
														>Premium
														Tablets</a
													>
												</li>
												<li class="mb-4">
													<a
														class="text-gray-400 hover:text-gray-500"
														href="#"
														>For
														Designers</a
													>
												</li>
												<li>
													<a
														class="text-gray-400 hover:text-gray-500"
														href="#"
														>Sale</a
													>
												</li>
											</ul>
										</div>
										<div
											class="w-40 mt-5 border-b border-gray-100"
										></div>
									</div>
									<div class="w-full md:w-1/2 lg:w-1/4 px-4 lg:px-10">
										<h3 class="mb-4 text-xl font-heading font-medium">
											Brand
										</h3>
										<ul>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Apple iPhone</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Blackberry</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Google</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Huawei</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Nokia</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Oppo</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Samsung</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Sony</a
												>
											</li>
											<li>
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Xiaomi</a
												>
											</li>
										</ul>
										<div
											class="w-40 mt-5 mb-7 border-b border-gray-100"
										></div>
										<h3 class="mb-4 text-xl font-heading font-medium">
											System
										</h3>
										<ul>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>iOS</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Android</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>View all</a
												>
											</li>
										</ul>
										<div
											class="w-40 mt-5 border-b border-gray-100"
										></div>
									</div>
									<div class="w-full md:w-1/2 lg:w-1/4 px-4 lg:px-10">
										<h3 class="mb-4 text-xl font-heading font-medium">
											Accesories
										</h3>
										<ul>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>View all</a
												>
											</li>
											<li>
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Watches</a
												>
											</li>
										</ul>
										<div
											class="w-40 mt-5 mb-7 border-b border-gray-100"
										></div>
										<h3 class="mb-4 text-xl font-heading font-medium">
											Computers
										</h3>
										<ul>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Apple iMac</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Memory</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>PC</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Graphic Cards</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Monitors</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Hard Disk
													Drivers</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Cables</a
												>
											</li>
											<li class="mb-4">
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Keyboards</a
												>
											</li>
											<li>
												<a
													class="text-gray-400 hover:text-gray-500"
													href="#"
													>Printers</a
												>
											</li>
										</ul>
										<div
											class="w-40 mt-5 border-b border-gray-100"
										></div>
									</div>
									<div class="w-full md:w-1/2 lg:w-1/4 px-4 lg:px-10">
										<div
											class="relative flex items-end h-96 w-full rounded-lg bg-cover bg-no-repeat"
											style="background-image: url('uinel-assets/images/ecommerce-navigations/placehodler-right-banner.png');"
										>
											<div
												class="mx-2 mb-5 px-2 py-4 bg-white rounded-lg"
											>
												<h4
													class="text-xl font-heading font-medium leading-tight"
												>
													Connected home
												</h4>
											</div>
										</div>
										<div
											class="w-40 my-8 border-b border-gray-100"
										></div>
										<a
											class="block py-5 px-2 font-heading font-medium tracking-tighter text-xl text-white text-center bg-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 hover:bg-blue-600 rounded-xl"
											href="#"
											>New brands</a
										>
									</div>
								</div>
							</div>
						</li>
						<li><a class="font-medium hover:text-darkBlueGray-400" href="#">Outlet</a></li>
					</ul>
					<div class="relative hidden xl:block">
						<img
							class="absolute top-1/2 transform -translate-y-2/4 pl-6 mt-px"
							src="https://shuffle.dev/uinel-assets/elements/navigations/search-gray-icon.svg"
							alt=""
						/>
						<input
							class="rounded-4xl py-3 pl-12 pr-5 text-gray-300 font-heading font-medium text-base bg-blue-50 border-2 border-blueGray-100 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 outline-none"
							style="width: 145px;"
						/>
					</div>
					<div class="hidden xl:block flex-shrink-0 w-px h-12 bg-gray-100 ml-12 mr-12"></div>
					<div class="hidden xl:flex items-center">
						<a class="inline-block mr-10 text-gray-400 hover:text-gray-500" href="#">
							<svg
								width="23"
								height="21"
								viewbox="0 0 23 21"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M11.4998 20.2059L2.70115 10.925C1.92859 10.1441 1.41864 9.13717 1.24355 8.04689C1.06847 6.95661 1.23713 5.83827 1.72563 4.8503V4.8503C2.09464 4.10439 2.63366 3.45781 3.29828 2.96383C3.9629 2.46985 4.73408 2.14261 5.5483 2.00908C6.36252 1.87555 7.19647 1.93955 7.98144 2.1958C8.7664 2.45205 9.47991 2.89322 10.0632 3.48296L11.4998 4.93554L12.9364 3.48296C13.5197 2.89322 14.2332 2.45205 15.0182 2.1958C15.8031 1.93955 16.6371 1.87555 17.4513 2.00908C18.2655 2.14261 19.0367 2.46985 19.7013 2.96383C20.3659 3.45781 20.905 4.10439 21.274 4.8503V4.8503C21.7625 5.83827 21.9311 6.95661 21.756 8.04689C21.581 9.13717 21.071 10.1441 20.2984 10.925L11.4998 20.2059Z"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
							</svg>
						</a>
						<a class="relative inline-block text-gray-400 hover:text-gray-500" href="#">
							<div
								class="absolute bottom-0 right-0 flex items-center justify-center -mb-4 -mr-4 w-6 h-6 text-sm text-white bg-blue-500 rounded-full"
							>
								3
							</div>
							<svg
								width="21"
								height="23"
								viewbox="0 0 21 23"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M18.1159 8.72414H2.50427C1.99709 8.72414 1.58594 9.12657 1.58594 9.62299V21.308C1.58594 21.8045 1.99709 22.2069 2.50427 22.2069H18.1159C18.6231 22.2069 19.0342 21.8045 19.0342 21.308V9.62299C19.0342 9.12657 18.6231 8.72414 18.1159 8.72414Z"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
								<path
									d="M6.34473 6.34483V4.9569C6.34473 3.85259 6.76252 2.79352 7.5062 2.01265C8.24988 1.23179 9.25852 0.793106 10.3102 0.793106C11.362 0.793106 12.3706 1.23179 13.1143 2.01265C13.858 2.79352 14.2758 3.85259 14.2758 4.9569V6.34483"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
								></path>
							</svg>
						</a>
						<div class="flex-shrink-0 w-px h-12 bg-gray-100 ml-9 mr-10"></div>
						<a class="flex items-center text-darkBlueGray-400 hover:text-darkBlueGray-500" href="#">
							<span class="font-medium">Sona</span>
							<img
								class="ml-5"
								src="https://shuffle.dev/uinel-assets/elements/navigations/avatar-online.png"
								alt=""
							/>
							<svg
								class="ml-4"
								width="8"
								height="5"
								viewbox="0 0 8 5"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</div>
				</div>
				<button class="navbar-burger self-center xl:hidden">
					<svg width="25" height="16" viewbox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect width="25" height="2" fill="currentColor"></rect>
						<rect y="14" width="25" height="2" fill="currentColor"></rect>
					</svg>
				</button>
			</nav>
			<div class="navbar-menu hidden fixed top-0 left-0 bottom-0 w-5/6 max-w-md z-50">
				<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80"></div>
				<nav
					class="relative flex flex-col py-20 px-12 md:pl-18 md:pr-16 h-full w-full bg-darkBlueGray-700 overflow-y-auto"
				>
					<button class="navbar-close absolute top-5 p-6 right-5">
						<svg
							width="14"
							height="13"
							viewbox="0 0 14 13"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<line
								x1="13.495"
								y1="0.494975"
								x2="1.49498"
								y2="12.495"
								stroke="#326BFF"
								stroke-width="1.4"
							></line>
							<line
								x1="12.505"
								y1="12.495"
								x2="0.505026"
								y2="0.494976"
								stroke="#326BFF"
								stroke-width="1.4"
							></line>
						</svg>
					</button>
					<span class="mb-6 text-xs text-darkBlueGray-300 font-medium uppercase tracking-wider"
						>Discover Uistore</span
					>
					<ul class="mb-20">
						<li class="mb-2 md:mb-0">
							<a
								class="text-2xl md:text-9xl text-white hover:text-darkBlueGray-100 font-medium font-heading"
								href="#"
								>Products</a
							>
						</li>
						<li class="mb-2 md:mb-0">
							<a
								class="text-2xl md:text-9xl text-white hover:text-darkBlueGray-100 font-medium font-heading"
								href="#"
								>New in</a
							>
						</li>
						<li class="mb-2 md:mb-0">
							<a
								class="text-2xl md:text-9xl text-white hover:text-darkBlueGray-100 font-medium font-heading"
								href="#"
								>Sale</a
							>
						</li>
						<li class="mb-2 md:mb-0">
							<a
								class="text-2xl md:text-9xl text-white hover:text-darkBlueGray-100 font-medium font-heading"
								href="#"
								>Stories</a
							>
						</li>
						<li>
							<a
								class="text-2xl md:text-9xl text-white hover:text-darkBlueGray-100 font-medium font-heading"
								href="#"
								>Contact</a
							>
						</li>
					</ul>
					<ul class="mb-12 flex-1">
						<li class="mb-5">
							<a class="text-xl text-blue-500 hover:text-blue-400 font-heading" href="#"
								>Facebook</a
							>
						</li>
						<li class="mb-5">
							<a class="text-xl text-blue-500 hover:text-blue-400 font-heading" href="#"
								>Instagram</a
							>
						</li>
						<li>
							<a class="text-xl text-blue-500 hover:text-blue-400 font-heading" href="#"
								>Twitter</a
							>
						</li>
					</ul>
					<a
						class="block w-full py-4 px-10 text-lg text-white font-heading font-medium tracking-tighter text-center bg-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 hover:bg-blue-600 rounded-xl"
						href="#"
						>Sign in</a
					>
				</nav>
			</div>
		</div>
		<div class="relative bg-blueGray-100 pb-16 rounded-b-10xl overflow-hidden">
			<img
				class="hidden md:block absolute top-0 right-0 w-2/3 -mr-32"
				src="https://shuffle.dev/uinel-assets/images/ecommerce-headers/placeholder-elements.png"
				alt=""
			/>
			<div class="container px-4 mx-auto">
				<div class="relative flex flex-wrap -mx-4 py-16 md:py-24 lg:py-32">
					<div class="w-full md:w-auto max-w-max px-4">
						<span
							class="inline-block px-5 py-3 mb-9 font-medium tracking-wide text-lg text-blue-500 bg-white bg-opacity-40 border border-blue-500 rounded-full"
							>Autumn now</span
						>
						<h1
							class="max-w-xl mb-6 font-heading font-medium text-9xl md:text-10xl xl:text-13xl leading-tight"
						>
							Your tablet.
						</h1>
						<p class="mb-14 font-heading font-medium text-xl">Up to 23% off everything.</p>
						<a
							class="inline-block py-4 px-10 mb-16 md:mb-28 lg:mb-40 leading-8 font-heading font-medium tracking-tighter text-xl text-white text-center bg-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 hover:bg-blue-600 rounded-xl"
							href="#"
							>Shop now</a
						>
						<img
							class="md:hidden"
							src="https://shuffle.dev/uinel-assets/images/ecommerce-headers/placeholder-elements.png"
							alt=""
						/>
						<div class="flex flex-wrap justify-center md:items-end">
							<button
								class="self-center inline-block px-2 md:mr-16 order-last md:order-first hover:text-darkBlueGray-400"
							>
								<svg
									width="8"
									height="12"
									viewbox="0 0 8 12"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M7.21015 10.4594C7.59661 10.8128 7.59661 11.3841 7.21015 11.7349C6.82369 12.0871 6.19929 12.0897 5.81282 11.7349L0.289847 6.63794C-0.0966174 6.28579 -0.0966173 5.71584 0.289847 5.36108L5.81282 0.264109C6.19785 -0.0880364 6.82369 -0.0880364 7.21015 0.264109C7.59662 0.617558 7.59662 1.18882 7.21015 1.53966L2.68073 6.00147L7.21015 10.4594Z"
										fill="currentColor"
									></path>
								</svg>
							</button>
							<a
								class="inline-block w-full md:w-32 h-28 md:h-30 mb-4 md:mb-0 md:mr-4"
								href="#"
							>
								<img
									class="w-auto mx-auto lg:w-full h-full object-cover rounded-xl"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-headers/small-photo1.png"
									alt=""
								/>
							</a>
							<a
								class="inline-block w-full md:w-32 h-28 md:h-16 mb-4 md:mb-0 md:mr-4"
								href="#"
							>
								<img
									class="w-auto mx-auto lg:w-full h-full object-cover rounded-xl"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-headers/small-photo2.png"
									alt=""
								/>
							</a>
							<a class="inline-block w-full md:w-32 h-28 md:h-16 mb-10 md:mb-0" href="#">
								<img
									class="w-auto mx-auto lg:w-full h-full object-cover rounded-xl"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-headers/small-photo3.png"
									alt=""
								/>
							</a>
							<button
								class="self-center inline-block px-2 md:ml-16 order-last hover:text-darkBlueGray-400"
							>
								<svg
									width="8"
									height="12"
									viewbox="0 0 8 12"
									fill="none"
									xmlns="http://www.w3.org/2000/svg"
								>
									<path
										d="M0.289849 1.54064C-0.0966146 1.18719 -0.0966145 0.615928 0.28985 0.265087C0.676314 -0.087058 1.30071 -0.0896662 1.68718 0.265087L7.21015 5.36206C7.59662 5.71421 7.59662 6.28416 7.21015 6.63892L1.68718 11.7359C1.30215 12.088 0.676312 12.088 0.289848 11.7359C-0.0966159 11.3824 -0.0966159 10.8112 0.289848 10.4603L4.81927 5.99853L0.289849 1.54064Z"
										fill="currentColor"
									></path>
								</svg>
							</button>
						</div>
					</div>
				</div>
				<div class="h-1 max-w-md mx-auto mb-28">
					<div class="h-1/2 bg-gray-200 w-full">
						<div class="w-1/3 h-full bg-purple-500"></div>
					</div>
				</div>
				<div class="relative flex flex-wrap justify-between">
					<div class="w-full md:w-auto mb-6 md:mb-0">
						<a class="inline-block mr-12 font-medium hover:underline" href="#">Facebook</a
						><a class="inline-block font-medium hover:underline" href="#">Instagram</a>
					</div>
					<div class="w-full md:w-auto">
						<a class="inline-flex items-center font-medium hover:underline" href="#">
							<span class="mr-4">Chat/Contact</span>
							<svg
								class="hover:text-darkBlueGray-400"
								width="8"
								height="5"
								viewbox="0 0 8 5"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
