<div> <section class="py-24 2xl:pt-52 font-medium bg-blueGray-100 overflow-hidden">
    <div class="container px-4 mx-auto">
      <span class="block mb-9 uppercase tracking-widest text-center text-xs leading-4 text-gray-300">Discover out blog</span>
      <h2 class="mb-20 xl:mb-32 text-9xl md:text-10xl xl:text-11xl text-center leading-tight">Latest blog</h2>
      <div class="lg:relative lg:grid lg:grid-cols-12 lg:top-96 lg:-mt-96">
        <div class="lg:col-start-1 lg:col-end-6 mb-8 lg:mb-0">
          <div class="relative mx-auto mb-8 lg:mb-20 max-w-max">
            <img src="uinel-assets/images/blog/blog4-learning.png" alt="">
            <div class="absolute left-1/2 transform -translate-x-1/2 bottom-12 w-full px-2">
              <div class="py-12 px-6 md:px-14 bg-white rounded-5xl shadow-md">
                <div class="flex items-center mb-4">
                  <a class="inline-block font-heading text-lg leading-5 text-purple-500 hover:text-purple-600" href="#">New in Uinel</a>
                  <div class="mx-4 w-px h-6 bg-gray-50"></div>
                  <p class="relative top-px uppercase tracking-widest text-xs text-gray-300">2 june</p>
                </div>
                <a class="inline-block hover:underline" href="#">
                  <h3 class="font-heading leading-normal text-3xl xl:text-7xl">Get inspired from the all designers</h3>
                </a>
              </div>
            </div>
            <div class="h-48 bg-gray-50 rounded-b-9xl"></div>
          </div>
          <div class="relative mx-auto mb-8 lg:mb-20 max-w-max">
            <img src="uinel-assets/images/blog/blog4-meeting.png" alt="">
            <div class="absolute left-1/2 transform -translate-x-1/2 bottom-12 w-full px-2">
              <div class="py-12 px-6 md:px-14 bg-white rounded-5xl shadow-md">
                <div class="flex items-center mb-4">
                  <a class="inline-block font-heading text-lg leading-5 text-purple-500 hover:text-purple-600" href="#">New in Uinel</a>
                  <div class="mx-4 w-px h-6 bg-gray-50"></div>
                  <p class="relative top-px uppercase tracking-widest text-xs text-gray-300">2 june</p>
                </div>
                <a class="inline-block hover:underline" href="#">
                  <h3 class="font-heading leading-normal text-3xl xl:text-7xl">Get inspired from the all designers</h3>
                </a>
              </div>
            </div>
            <div class="h-48 bg-gray-50 rounded-b-9xl"></div>
          </div>
        </div>
        <div class="lg:col-start-6 lg:col-end-8 lg:relative">
          <img class="absolute left-1/2 transform -translate-x-1/2 hidden lg:block ml-px z-10" src="uinel-assets/elements/blog/circle.svg" alt="">
          <img class="absolute left-1/2 top-52 transform -translate-x-1/2 hidden lg:block ml-px z-10" src="uinel-assets/elements/blog/circle.svg" alt="">
          <img class="absolute left-1/2 bottom-96 mb-48 transform -translate-x-1/2 hidden lg:block ml-px z-10" src="uinel-assets/elements/blog/circle.svg" alt="">
          <div class="lg:absolute lg:left-1/2 lg:transform lg:-transform-x-1/2 hidden lg:block h-full w-1 bg-blue-400"></div>
        </div>
        <div class="lg:col-start-8 lg:col-end-13 lg:mt-52">
          <div class="relative mx-auto max-w-max">
            <img src="uinel-assets/images/blog/blog4-meeting.png" alt="">
            <div class="absolute left-1/2 transform -translate-x-1/2 bottom-12 px-2 w-full">
              <div class="py-12 px-6 md:px-14 bg-white rounded-5xl shadow-md">
                <div class="flex items-center mb-4">
                  <a class="inline-block font-heading text-lg leading-5 text-purple-500 hover:text-purple-600" href="#">Community</a>
                  <div class="mx-4 w-px h-6 bg-gray-50"></div>
                  <p class="relative top-px uppercase tracking-widest text-xs text-gray-300">2 june</p>
                </div>
                <a class="inline-block hover:underline" href="#">
                  <h3 class="font-heading leading-normal text-3xl xl:text-7xl">Get inspired from the all designers</h3>
                </a>
              </div>
            </div>
            <div class="h-48 bg-gray-50 rounded-b-9xl"></div>
          </div>
        </div>
      </div>
    </div>
  </section></div>