<div>
	<section class="bg-white py-24 2xl:py-44 overflow-hidden">
		<div class="container px-4 mx-auto">
			<span class="text-sm text-gray-300 uppercase">What people say</span>
			<h2 class="mt-8 mb-24 text-8xl md:text-10xl xl:text-11xl font-heading font-medium">Testimonials</h2>
			<div class="relative flex flex-wrap -mx-4 mb-20 lg:mb-32">
				<div
					class="hidden md:block absolute top-0 left-0 ml-40 mt-10 py-6 w-72 lg:w-60 border-t-2 border-r-2 border-blue-500 rounded-tr-xl z-10"
				></div>
				<div
					class="hidden lg:block absolute top-0 left-1/2 ml-40 mt-10 py-6 w-60 border-t-2 border-r-2 border-blue-500 rounded-tr-xl z-10"
				></div>
				<div
					class="hidden md:block lg:hidden absolute top-1/2 left-0 ml-40 mt-20 py-6 w-72 border-t-2 border-r-2 border-blue-500 rounded-tr-xl z-10"
				></div>
				<div class="relative w-full md:w-1/2 lg:w-1/4 px-4 mb-20 md:mb-0 bg-white">
					<img
						class="h-32 w-32 mb-12 rounded-full"
						src="https://shuffle.dev/uinel-assets/images/team/photo1.png"
						alt=""
					/>
					<h3 class="mb-2 text-3xl font-medium">Ainsley Stones</h3>
					<p class="mb-8 text-xl font-heading">Co-Founder</p>
					<p class="text-base text-gray-400 leading-relaxed">
						Morbi sit amet massa et ex volutpat vestibulum dolor. In hac habitasse dictumst.
					</p>
				</div>
				<div class="relative w-full md:w-1/2 lg:w-1/4 px-4 mb-20 lg:mb-0 md:mt-32 bg-white">
					<img
						class="h-32 w-32 mb-12 rounded-full"
						src="https://shuffle.dev/uinel-assets/images/team/photo2.png"
						alt=""
					/>
					<h3 class="mb-2 text-3xl font-medium">Faustina H. Fawn</h3>
					<p class="mb-8 text-lg">CEO</p>
					<p class="text-base text-gray-400 leading-relaxed">
						Morbi sit amet massa et ex volutpat vestibulum dolor. In hac habitasse dictumst.
					</p>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 px-4 mb-20 md:mb-0 bg-white">
					<img
						class="h-32 w-32 mb-12 rounded-full"
						src="https://shuffle.dev/uinel-assets/images/team/photo3.png"
						alt=""
					/>
					<h3 class="mb-2 text-3xl font-medium">Jasmine Joy</h3>
					<p class="mb-8 text-xl font-heading">Manager</p>
					<p class="text-base text-gray-400 leading-relaxed">
						Integer sollicitudin erat magna. Donec elementum a neque a commodo. Integer pretium libero
						ut luctus.
					</p>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 px-4 md:mt-32 bg-white">
					<img
						class="h-32 w-32 mb-12 rounded-full"
						src="https://shuffle.dev/uinel-assets/images/team/photo4.png"
						alt=""
					/>
					<h3 class="mb-2 text-3xl font-medium">Reta Havertz</h3>
					<p class="mb-8 text-xl font-heading">Social Media Specialist</p>
					<p class="text-base text-gray-400 leading-relaxed">
						Sem mauris volutpat dolor, et vulputate justo lacus sed sem. Aenean faucibus fringilla
						rhoncus.
					</p>
				</div>
			</div>
			<div class="text-center">
				<button
					class="inline-block py-5 px-10 w-full md:w-auto text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
					type="button"
				>
					See all
				</button>
			</div>
		</div>
	</section>
</div>
