<div>
	<section class="relative py-24 2xl:pt-44 2xl:pb-52 bg-white overflow-hidden">
		<div class="container px-4 mx-auto">
			<div class="mb-20 lg:mb-0 w-full lg:w-1/2">
				<div class="pb-14 xl:pb-20 mb-14 xl:mb-28 border-b border-gray-100">
					<h2 class="font-heading font-medium text-9xl md:text-10xl xl:text-11xl leading-tight">
						Your best website starts here
					</h2>
				</div>
				<span class="block mb-12 font-medium uppercase tracking-widest text-xs text-gray-300 leading-4"
					>Discover special tools</span
				>
				<h3 class="mb-14 font-heading font-medium text-5xl xl:text-8xl leading-snug max-w-2xl">
					A spatial system is a set of rules for how you measure and size your UI elements.
				</h3>
				<p class="mb-14 xl:mb-36 text-lg leading-10 text-darkBlueGray-400 max-w-md">
					Proin nec nibh vel odio dapibus molestie eu id ipsum. Fusce sodales vitae lorem vitae tempus. Etiam
					nisi ligula, placerat at congue et, vehicula quis ex.
				</p>
				<div class="flex items-center">
					<div class="flex items-center justify-center mr-9 w-20 h-20 bg-white rounded-5xl shadow-sm">
						<img src="https://shuffle.dev/uinel-assets/elements/content/avatar-content2.png" alt="" />
					</div>
					<div class="text-left">
						<h3 class="font-heading font-medium text-xl leading-loose">Timothy Bowen</h3>
						<span class="font-bold uppercase tracking-wider text-xs leading-4 text-gray-300"
							>February 21, 9 am</span
						>
					</div>
				</div>
			</div>
			<div class="relative lg:absolute top-0 right-0 lg:mt-12 w-full lg:w-1/2">
				<img class="ml-auto" src="https://shuffle.dev/uinel-assets/images/content/widget5.png" alt="" />
			</div>
		</div>
	</section>
</div>
