<div>
	<section class="font-medium bg-yellow-500 py-24 2xl:pt-64 2xl:pb-48">
		<div class="container px-4 mx-auto">
			<span class="block mb-9 uppercase tracking-widest text-xs leading-4">The Most popular</span>
			<h2 class="mb-20 xl:mb-24 font-heading text-9xl md:text-10xl xl:text-11xl leading-tight">FAQ’s</h2>
			<div class="relative flex justify-between md:hidden mb-16">
				<div class="relative w-12 h-12 bg-white z-10 rounded-full">
					<span
						class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-2xl"
						>1</span
					>
				</div>
				<div class="relative w-12 h-12 bg-white z-10 rounded-full">
					<span
						class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-2xl"
						>2</span
					>
				</div>
				<div class="relative w-12 h-12 bg-white z-10 rounded-full">
					<span
						class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-bold text-2xl"
						>3</span
					>
				</div>
				<div class="absolute top-1/2 bg-black w-full" style="height:2px;"></div>
			</div>
			<div class="flex mx-auto max-w-max">
				<div class="relative md:top-12 md:flex md:flex-col mr-12 hidden">
					<div class="relative mb-44 lg:mb-32 w-12 h-12 bg-white z-10 rounded-full">
						<span
							class="absolute font-bold text-2xl left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
							>1</span
						>
					</div>
					<div class="relative w-12 h-12 mb-20 lg:mb-11 bg-white z-10 rounded-full">
						<span
							class="absolute font-bold text-2xl left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
							>2</span
						>
					</div>
					<div class="relative w-12 h-12 bg-white z-10 rounded-full">
						<span
							class="absolute font-bold text-2xl left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
							>3</span
						>
					</div>
					<div
						class="absolute top-4 left-1/2 transform -transform-x-1/2 h-96 lg:h-72 bg-black"
						style="width:2px;"
					></div>
				</div>
				<div class="max-w-max">
					<a
						class="flex justify-between items-start px-8 md:px-14 py-9 mb-12 bg-white max-w-max rounded-3xl"
						href="#"
					>
						<div>
							<h2 class="mb-5 font-heading text-3xl md:text-5xl xl:text-8xl leading-tighter">
								How should i develop my workflow over time?
							</h2>
							<p class="text-lg font-normal leading-6">
								The nulla commodo, commodo eros a, tristique lectus.
							</p>
						</div>
						<img
							class="relative top-7 ml-10"
							src="https://shuffle.dev/uinel-assets/elements/faqs/arrow-down-black.svg"
							alt=""
						/>
					</a>
					<a class="flex justify-between items-start px-8 md:px-14 mb-9 md:mb-16 xl:mb-9 max-w-max" href="#">
						<div>
							<h2 class="font-heading text-3xl md:text-5xl xl:text-8xl leading-tighter">
								How often should the app be updated?
							</h2>
							<p class="hidden text-lg font-normal leading-6">
								The nulla commodo, commodo eros a, tristique lectus.
							</p>
						</div>
						<img
							class="relative top-7 ml-10"
							src="https://shuffle.dev/uinel-assets/elements/faqs/arrow-down-black.svg"
							alt=""
						/>
					</a>
					<a class="flex justify-between items-start mb-28 px-8 md:px-14 max-w-max" href="#">
						<div>
							<h2 class="font-heading text-3xl md:text-5xl xl:text-8xl leading-tighter">
								Can i pay by credit card?
							</h2>
							<p class="hidden text-lg font-normal leading-6">
								The nulla commodo, commodo eros a, tristique lectus.
							</p>
						</div>
						<img
							class="relative top-7 ml-10"
							src="https://shuffle.dev/uinel-assets/elements/faqs/arrow-down-black.svg"
							alt=""
						/>
					</a>
					<div class="flex justify-center">
						<a
							class="inline-block py-5 px-10 text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
							href="#"
							>Show more</a
						>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
