<div> <section class="relative bg-white pt-24 md:pb-24 overflow-hidden">
    <div class="hidden md:block absolute top-0 right-0 w-1/2 h-full bg-blueGray-100 rounded-b-10xl"></div>
    <div class="relative container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-20 md:mb-0">
          <span class="text-xs text-gray-300 font-medium uppercase tracking-widest">Our application</span>
          <h2 class="mt-8 mb-8 text-9xl md:text-10xl xl:text-11xl font-heading font-medium leading-tight">Download app</h2>
          <p class="mb-14 text-xl text-darkBlueGray-400">Sed porttitor turpis sit amet malesuada porta lorem ut posuere.</p>
          <a class="inline-block py-5 px-10 w-full md:w-auto text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Download</a>
        </div>
        <div class="relative w-full md:w-1/2 p-20 md:py-0 md:px-4">
          <div class="md:hidden absolute bottom-0 left-0 h-full w-full bg-blueGray-100 rounded-b-10xl"></div>
          <img class="relative z-10" src="uinel-assets/images/applications/phone-full-2.png" alt="">
        </div>
      </div>
    </div>
    <img class="hidden md:block absolute top-0 right-0 h-full -mr-32" src="uinel-assets/images/applications/line-right.svg" alt="">
  </section></div>