<div>
	<section class="relative font-sans bg-darkBlueGray-500 py-24 2xl:pt-64 2xl:pb-72 overflow-hidden">
		<img
			class="hidden lg:block absolute bottom-0 right-0 -mb-6"
			src="https://shuffle.dev/uinel-assets/images/http-codes/half-elipse-yellow.svg"
			alt=""
		/>
		<img
			class="hidden lg:block absolute top-0 left-0"
			src="https://shuffle.dev/uinel-assets/images/http-codes/half-ellipse-purple2.png"
			alt=""
		/>
		<div class="relative container mx-auto px-4 z-10">
			<div class="relative max-w-2xl mx-auto text-center">
				<span
					class="inline-block py-3 px-7 mb-10 text-xl font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 rounded-6xl"
					href="#"
					>Wooooooops!</span
				>
				<h2 class="font-medium font-heading text-white text-9xl md:text-10xl xl:text-11xl mb-12 leading-tight">
					We can’t find that page
				</h2>
				<p class="text-base text-gray-300 mb-20 leading-6">or something has gone wrong</p>
				<div class="relative z-10">
					<a
						class="inline-block py-5 px-10 text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
						href="#"
						>Back home</a
					>
				</div>
			</div>
		</div>
		<img
			class="absolute left-0 sm:left-10 xl:left-16 bottom-0 w-full"
			src="https://shuffle.dev/uinel-assets/images/http-codes/widget.png"
			alt=""
		/>
	</section>
</div>
