<div>
	<section class="py-8 bg-blueGray-50">
		<div class="container px-4 mx-auto">
			<img
				class="px-8 mx-auto w-full h-1 object-cover"
				src="https://shuffle.dev/uinel-assets/elements/dashboard-content/linear-top.svg"
				alt=""
			/>
			<div class="flex flex-wrap items-center py-5 px-8 mb-12 justify-between bg-white rounded-3xl">
				<h3 class="text-xl md:text-4xl font-medium">Backlog</h3>
				<div class="flex items-center justify-center px-5 py-2 font-bold text-white bg-blue-500 rounded-9xl">3</div>
			</div>
		</div>
	</section>
</div>
