<div><section class="pb-24 xl:pb-0 bg-darkBlueGray-500">
    <div class="py-8 mx-10 mb-20 xl:mb-52 bg-white"></div>
    <div class="container px-4 mx-auto">
      <div class="relative xl:pb-52 text-center overflow-hidden">
        <img class="absolute top-0 bottom-0 left-1/2 mt-32 transform -translate-x-1/2 object-contain" src="uinel-assets/images/sign-up/half-circle.svg" alt="">
        <div class="relative">
          <span class="inline-block py-3 px-7 mb-10 text-lg font-medium font-heading leading-5 text-indigo-500 border border-indigo-500 rounded-6xl">Create account</span>
          <div class="max-w-2xl mx-auto mb-14 xl:mb-28">
            <h2 class="text-9xl md:text-10xl xl:text-11xl text-white leading-tight font-heading font-medium">Start creating a design</h2>
          </div>
          <div class="max-w-md lg:max-w-7xl mx-auto mb-20">
            <div class="flex flex-wrap justify-center -mx-2">
              <div class="w-full lg:w-3/12 px-2 mb-5 lg:mb-0">
                <input class="w-full py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="email" placeholder="Your Email">
              </div>
              <div class="w-full lg:w-3/12 px-2 mb-5 lg:mb-0">
                <input class="w-full py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Password">
              </div>
              <div class="w-full lg:w-3/12 px-2 mb-5 lg:mb-0">
                <input class="w-full py-5 px-12 text-xl border-2 border-blue-500 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" type="password" placeholder="Confirm password">
              </div>
              <div class="w-full lg:w-auto px-2"><a class="block py-5 px-10 h-full w-full xl:w-auto text-xl text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Register now</a></div>
            </div>
          </div>
          <div class="relative max-w-xl mx-auto">
            <div class="relative flex justify-center items-center">
              <a class="inline-block mr-4" href="#">
                <img src="uinel-assets/images/sign-up/check.svg" alt="">
              </a>
              <input style="appearance: none;" type="checkbox">
              <p class="text-gray-200">By singning up, you agree to our Terms, Data Policy and Cookies.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>