<div>
	<section class="bg-white py-24 2xl:pt-44 2xl:pb-48">
		<div class="container px-4 mx-auto">
			<span class="mb-9 block font-medium uppercase tracking-widest text-center text-xs leading-4 text-gray-300">Clouds</span>
			<h2 class="mb-16 font-heading font-medium text-center text-6xl leading-relaxed">
				Trusted by brands all over the world
			</h2>
			<div class="flex flex-wrap -mx-2">
				<div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/5 px-2 mb-6 xl:mb-0">
					<div class="flex items-center py-4 px-5 bg-darkBlueGray-500 rounded-9xl">
						<div class="flex items-center justify-center bg-white w-16 h-16 rounded-5xl shadow-sm">
							<img
								class="h-8"
								src="https://shuffle.dev/uinel-assets/brands/spotify.png"
								alt=""
							/>
						</div>
						<p class="ml-6 text-xl text-white font-heading font-medium">Spotify</p>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/5 px-2 mb-6 xl:mb-0">
					<div class="flex items-center py-4 px-5 lg:mt-16 bg-darkBlueGray-500 rounded-9xl">
						<div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
							<img
								class="h-8"
								src="https://shuffle.dev/uinel-assets/brands/slack.png"
								alt=""
							/>
						</div>
						<p class="ml-6 text-xl text-white font-heading font-medium">Slack</p>
					</div>
				</div>
				<div class="hidden xl:block xl:w-1/5 px-2 mb-6 xl:mb-0">
					<div class="flex items-center py-4 px-5 lg:mt-16 bg-darkBlueGray-500 rounded-9xl">
						<div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
							<img
								class="h-5"
								src="https://shuffle.dev/uinel-assets/brands/we-transfer.png"
								alt=""
							/>
						</div>
						<p class="ml-6 text-xl text-white font-heading font-medium">WeTransfer</p>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/5 px-2 mb-6 lg:mb-0">
					<div class="flex items-center py-4 px-5 lg:mt-16 bg-darkBlueGray-500 rounded-9xl">
						<div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
							<img
								class="h-8"
								src="https://shuffle.dev/uinel-assets/brands/miro.svg"
								alt=""
							/>
						</div>
						<p class="ml-6 text-xl text-white font-heading font-medium">Miro</p>
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/4 xl:w-1/5 px-2 mb-6 lg:mb-0">
					<div class="flex items-center py-4 px-5 bg-darkBlueGray-500 rounded-9xl">
						<div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
							<img
								class="h-8"
								src="https://shuffle.dev/uinel-assets/brands/dropbox.png"
								alt=""
							/>
						</div>
						<p class="ml-6 text-xl text-white font-heading font-medium">WeTransfer</p>
					</div>
				</div>
				<div class="xl:hidden w-full md:w-1/2 lg:w-1/4 px-2 mx-auto">
					<div class="flex items-center py-4 px-5 bg-darkBlueGray-500 rounded-9xl">
						<div class="flex items-center justify-center w-16 h-16 bg-white rounded-5xl shadow-sm">
							<img
								class="h-8"
								src="https://shuffle.dev/uinel-assets/brands/we-transfer.png"
								alt=""
							/>
						</div>
						<p class="ml-6 text-xl text-white font-heading font-medium">WeTransfer</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
