<div> <section class="font-medium bg-blueGray-100 rounded-b-10xl py-24 2xl:pt-52 2xl:pb-52">
    <div class="container px-4 mx-auto">
      <span class="uppercase tracking-widest text-xs leading-4 mb-9 block text-center text-gray-300">New-in</span>
      <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight mb-28 2xl:mb-32 text-center">Features</h2>
      <div class="mb-24 md:grid md:grid-cols-2 justify-center md:gap-16 md:gap-y-20">
        <div class="relative pt-20 pb-14 px-8 md:px-20 mb-20 md:mb-0 bg-white text-center md:text-left rounded-3xl">
          <img class="absolute -top-8 left-20 mb-6 mx-auto md:ml-0 w-18 h-18" src="uinel-assets/elements/features/helpdesk.svg" alt="">
          <h3 class="mb-4 font-heading text-7xl leading-tighter">Helpdesk</h3>
          <p class="font-normal leading-loose text-darkBlueGray-400">Donec laoreet sem sollicitudin, mattis in tristique ex.</p>
        </div>
        <div class="relative pt-20 pb-14 px-8 md:px-20 mb-20 md:mb-0 bg-white text-center md:text-left rounded-3xl">
          <img class="absolute -top-8 left-20 mb-6 mx-auto md:ml-0 w-18 h-18" src="uinel-assets/elements/features/devices.svg" alt="">
          <h3 class="mb-4 font-heading text-7xl leading-tighter">3+ devices</h3>
          <p class="font-normal leading-loose text-darkBlueGray-400">Donec laoreet sem sollicitudin, mattis in tristique ex.</p>
        </div>
        <div class="relative pt-20 pb-14 px-8 md:px-20 mb-20 md:mb-0 bg-white text-center md:text-left rounded-3xl">
          <img class="absolute -top-8 left-20 mb-6 mx-auto md:ml-0 w-18 h-18" src="uinel-assets/elements/features/plugin.svg" alt="">
          <h3 class="mb-4 font-heading text-7xl leading-tighter">Voice plugin</h3>
          <p class="font-normal leading-loose text-darkBlueGray-400">Donec laoreet sem sollicitudin, mattis in tristique ex.</p>
        </div>
        <div class="relative pt-20 pb-14 px-8 md:px-20 bg-white text-center md:text-left rounded-3xl">
          <img class="absolute -top-8 left-20 mb-6 mx-auto md:ml-0 w-18 h-18" src="uinel-assets/elements/features/messages.svg" alt="">
          <h3 class="mb-4 font-heading text-7xl leading-tighter">Direct Messages</h3>
          <p class="font-normal leading-loose text-darkBlueGray-400">Donec laoreet sem sollicitudin, mattis in tristique ex.</p>
        </div>
      </div>
      <button class="block py-5 px-10 mx-auto text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="button">All features</button>
    </div>
  </section></div>