<div> <section class="font-medium bg-white py-24 2xl:py-44">
    <div class="container px-4 mx-auto">
      <h2 class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight mb-10">Plans</h2>
      <p class="text-lg leading-6 font-normal text-darkBlueGray-400 mb-20 lg:mb-36">Sed porttitor turpis sit amet malesuada porta. Vivamus lobortis blandit lorem ut posuere.</p>
      <div class="md:grid md:grid-cols-2 xl:grid-cols-4 border border-gray-100 rounded-5xl overflow-hidden">
        <div class="py-16 px-6 md:px-10 flex flex-col justify-between md:border-b border-gray-100 xl:border-b-0">
          <div>
            <div class="flex justify-between items-center mb-8">
              <h3 class="mr-2 font-heading text-6xl md:text-7xl leading-10 tracking-tight">Beginner</h3>
              <div class="relative max-w-max">
                <img class="w-14 h-14" src="uinel-assets/elements/pricing/circle1.svg" alt="">
                <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-6xl">X</span>
              </div>
            </div>
            <div class="font-heading text-3xl flex items-center mb-14">
              <span class="text-base mr-2 -mb-1">$</span>
              <span>8.80</span>
            </div>
            <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
            <ul class="mb-14 xl:mb-36">
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>Complete tools</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>10GB cloud storage</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>5 team members</span>
              </li>
            </ul>
          </div>
          <a class="block py-3 px-10 md:mx-auto w-full md:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Get started</a>
        </div>
        <div class="bg-gray-50 py-16 px-6 md:px-10 flex flex-col justify-between md:border-b border-gray-100 xl:border-b-0">
          <div>
            <div class="flex justify-between items-center mb-8">
              <h3 class="font-heading text-6xl md:text-7xl leading-10 tracking-tight">Students</h3>
              <div class="relative max-w-max">
                <img class="w-14 h-14" src="uinel-assets/elements/pricing/circle2.svg" alt="">
                <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-6xl">I</span>
              </div>
            </div>
            <div class="mb-14 flex items-center justify-between">
              <div class="font-heading text-3xl flex items-center">
                <span class="text-base mr-2 -mb-1">$</span>
                <span>15.90</span>
              </div>
              <div class="bg-white rounded-8xl py-2 px-3 uppercase text-xs font-bold tracking-wider text-gray-300">20% off</div>
            </div>
            <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
            <ul class="mb-14 xl:mb-36">
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>Complete tools</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>10GB cloud storage</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>Unlimited anonymous board editors</span>
              </li>
            </ul>
          </div>
          <a class="block py-3 px-10 md:mx-auto w-full md:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Let's go</a>
        </div>
        <div class="py-16 px-6 md:px-10 flex flex-col justify-between">
          <div>
            <div class="flex justify-between items-center mb-8">
              <h3 class="font-heading text-6xl md:text-7xl leading-10 tracking-tight">Team</h3>
              <div class="relative max-w-max">
                <img class="w-14 h-14" src="uinel-assets/elements/pricing/circle3.svg" alt="">
                <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-6xl">Y</span>
              </div>
            </div>
            <div class="font-heading text-3xl flex items-center mb-14">
              <span class="text-base mr-2 -mb-1">$</span>
              <span>29.90</span>
            </div>
            <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
            <ul class="mb-14 xl:mb-36">
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>Complete tools</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>35 plugins for Designers</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>200GB cloud storage</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>100+ team members</span>
              </li>
            </ul>
          </div>
          <a class="block py-3 px-10 md:mx-auto w-full md:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Buy now</a>
        </div>
        <div class="bg-gray-50 py-16 px-6 md:px-10 flex flex-col justify-between">
          <div>
            <div class="flex justify-between items-center mb-8">
              <h3 class="font-heading text-6xl md:text-7xl leading-10 tracking-tight">Business</h3>
              <div class="relative max-w-max">
                <img class="w-14 h-14" src="uinel-assets/elements/pricing/circle4.svg" alt="">
                <span class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-3xl md:text-6xl">O</span>
              </div>
            </div>
            <div class="font-heading text-3xl flex items-center mb-14">
              <span class="text-base mr-2 -mb-1">$</span>
              <span>44.90</span>
            </div>
            <h3 class="font-heading text-base tracking-tighter leading-5 mb-6">What's included</h3>
            <ul class="mb-14 xl:mb-36">
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>Complete tools</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>35 plugins for Designers</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400 mb-3">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>500GB cloud storage</span>
              </li>
              <li class="flex items-start leading-6 font-normal text-darkBlueGray-400">
                <img class="relative top-1 pt-px mr-6" src="uinel-assets/elements/pricing/checked.svg" alt="">
                <span>200+ team members</span>
              </li>
            </ul>
          </div>
          <a class="block py-3 px-10 md:mx-auto w-full md:w-auto text-xl leading-7 text-white font-medium tracking-tighter font-heading text-center bg-purple-500 hover:bg-purple-600 focus:ring-2 focus:ring-purple-500 focus:ring-opacity-50 rounded-xl" href="#">Get started</a>
        </div>
      </div>
    </div>
  </section></div>