<div>
	<section class="pt-10 px-4 lg:px-16 pb-10 lg:pb-40">
		<div class="relative py-24 xl:pt-52 xl:pb-80">
			<img
				class="absolute top-0 left-0 w-full h-full rounded-9xl object-cover"
				src="https://shuffle.dev/uinel-assets/images/ecommerce-banners/background-banner-2.png"
				alt=""
			/>
			<div class="relative container px-4 mb-20 mx-auto">
				<div class="px-4 md:pl-20 lg:pl-40">
					<p class="mb-1 text-base md:text-xl font-heading font-medium">Brighter - stronger.</p>
					<h1 class="mb-8 text-9xl md:text-10xl lg:text-12xl font-heading font-medium">Series 9</h1>
					<p class="mb-14 md:mb-20 md:w-56">From $29.12/mo. for 24 mo. or $699 before trade‑in1.</p>
					<a
						class="inline-block py-4 px-10 text-xl leading-8 text-white font-heading font-medium tracking-tighter text-center bg-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 hover:bg-blue-600 rounded-xl"
						href="#"
						>Shop now</a
					>
				</div>
			</div>
			<div class="container px-4 mx-auto">
				<div
					class="sm:absolute sm:right-10 xl:right-28 xl:-bottom-40 sm:w-full sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl flex flex-wrap max-w-xs mx-auto"
				>
					<div class="p-3 w-full sm:w-1/2">
						<div
							class="relative flex flex-wrap justify-between items-center bg-white z-10 rounded-3xl overflow-hidden shadow-lg"
						>
							<div class="w-full md:w-1/2 p-6 xl:px-20 xl:pr-4">
								<h3 class="mb-3 font-heading text-3xl lg:text-7xl leading-tighter">
									Series 7.
								</h3>
								<div class="flex items-center gap-3">
									<a
										class="inline-block font-heading text-lg text-purple-500 hover:text-purple-600 leading-tighter"
										href="#"
										>Discover</a
									>
								</div>
							</div>
							<img
								class="w-full md:w-1/2 lg:w-auto h-32 md:h-auto lg:h-40 xl:h-52 object-cover"
								src="https://shuffle.dev/uinel-assets/images/ecommerce-banners/hero5-teacher.jpg"
								alt=""
							/>
						</div>
						<div class="relative -top-12 lg:-top-7 px-5">
							<div class="py-6 bg-gray-50 bg-opacity-70 rounded-3xl shadow-lg"></div>
						</div>
					</div>
					<div class="p-3 w-full sm:w-1/2">
						<div
							class="relative flex flex-wrap justify-between items-center bg-white z-10 rounded-3xl overflow-hidden shadow-lg"
						>
							<div class="w-full md:w-1/2 p-6 xl:px-20 xl:pr-4">
								<h3 class="mb-3 font-heading text-3xl lg:text-7xl leading-tighter">
									Series 7.
								</h3>
								<div class="flex items-center gap-3">
									<a
										class="inline-block font-heading text-lg text-purple-500 hover:text-purple-600 leading-tighter"
										href="#"
										>Discover</a
									>
								</div>
							</div>
							<img
								class="w-full md:w-1/2 lg:w-auto h-32 md:h-auto lg:h-40 xl:h-52 object-cover"
								src="https://shuffle.dev/uinel-assets/images/ecommerce-banners/phone-right-small.png"
								alt=""
							/>
						</div>
						<div class="relative -top-12 lg:-top-7 px-5">
							<div class="py-6 bg-gray-50 bg-opacity-70 rounded-3xl shadow-lg"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
