<div><section class="py-8 bg-blueGray-50">
    <div class="container px-4 mx-auto">
      <div class="relative p-10 md:py-20 xl:pt-28 xl:pb-72 xl:px-20 bg-blue-500 overflow-hidden rounded-3xl">
        <img class="absolute right-0 top-1/2 transform -translate-y-1/2" src="uinel-assets/images/dashboard-banners/header3.png" alt="">
        <div class="relative z-10 text-center">
          <h2 class="mb-8 text-6xl md:text-7xl text-white font-heading font-semibold">Generate Monthly reports</h2>
          <p class="mb-16 text-white font-heading font-medium">New tools is out now.</p>
          <div class="sm:mx-auto sm:max-w-max"><a class="block py-5 px-8 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-indigo-600 hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50 rounded-xl" href="#">Discover</a></div>
        </div>
      </div>
    </div>
  </section> </div>