<div> <section class="pt-12 pb-24">
    <div class="container px-4 mx-auto">
      <ul class="flex flex-wrap items-center mb-10 xl:mb-0">
        <li class="mr-6">
          <a class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-500" href="#">
            <span>Home</span>
            <svg class="ml-6" width="4" height="7" viewbox="0 0 4 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.150291 0.898704C-0.0500975 0.692525 -0.0500975 0.359292 0.150291 0.154634C0.35068 -0.0507836 0.674443 -0.0523053 0.874831 0.154634L3.7386 3.12787C3.93899 3.33329 3.93899 3.66576 3.7386 3.8727L0.874832 6.84594C0.675191 7.05135 0.35068 7.05135 0.150292 6.84594C-0.0500972 6.63976 -0.0500972 6.30652 0.150292 6.10187L2.49888 3.49914L0.150291 0.898704Z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
        <li class="mr-6">
          <a class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-500" href="#">
            <span>Store</span>
            <svg class="ml-6" width="4" height="7" viewbox="0 0 4 7" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.150291 0.898704C-0.0500975 0.692525 -0.0500975 0.359292 0.150291 0.154634C0.35068 -0.0507836 0.674443 -0.0523053 0.874831 0.154634L3.7386 3.12787C3.93899 3.33329 3.93899 3.66576 3.7386 3.8727L0.874832 6.84594C0.675191 7.05135 0.35068 7.05135 0.150292 6.84594C-0.0500972 6.63976 -0.0500972 6.30652 0.150292 6.10187L2.49888 3.49914L0.150291 0.898704Z" fill="currentColor"></path>
            </svg>
          </a>
        </li>
        <li><a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" href="#">Your cart</a></li>
      </ul>
      <div class="relative pb-9 text-center">
        <h2 class="text-9xl xl:text-10xl leading-normal font-heading font-medium text-center">Your cart</h2>
        <div class="absolute left-1/2 transform -translate-x-1/2 bottom-0 w-screen border-b border-black border-opacity-5"></div>
      </div>
      <div class="flex flex-wrap mb-14 xl:mb-24 text-center">
        <div class="w-full md:w-1/3"><a class="block py-10 border-b border-black border-opacity-10 text-lg font-heading font-medium" href="#">Your cart</a></div>
        <div class="w-full md:w-1/3"><a class="block py-10 border-b-2 border-blue-500 text-lg font-heading font-medium text-blue-500" href="#">Shipping & details</a></div>
        <div class="w-full md:w-1/3"><a class="block py-10 border-b border-black border-opacity-10 text-lg font-heading font-medium" href="#">Payment</a></div>
      </div>
      <div class="flex flex-wrap justify-end lg:justify-start -mx-4 pb-14 mb-14 xl:pb-28 xl:mb-24 border-b border-black border-opacity-10">
        <div class="w-full lg:w-8/12 xl:w-9/12 px-4 mb-10 lg:mb-0">
          <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-6">
              <div class="lg:max-w-sm">
                <div class="mb-8">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Your name:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
                <div class="mb-8">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Username:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
                <div class="mb-8">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Address 1:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
                <div>
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Address 2:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-4">
              <div class="lg:max-w-sm">
                <div class="mb-8">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Country:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
                <div class="mb-8">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">State:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
                <div class="mb-14 md:w-36">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Zip code:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
                <label class="relative flex mb-8 items-center">
                  <input class="relative ml-10 appearance-none" type="checkbox">
                  <button class="absolute top-1/2 left-0 transform -translate-y-1/2 h-6 w-6">
                    <svg width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <rect width="27" height="27" rx="8" fill="#28E172"></rect>
                      <path d="M11.4534 19L6 13.6758L6.72022 12.9726L11.4534 17.5937L21.2798 8L22 8.70316L11.4534 19Z" fill="white"></path>
                    </svg>
                  </button>
                  <span class="ml-2 text-sm text-darkBlueGray-400">Shipping address is the same as my billing address</span>
                </label>
                <label class="relative flex items-center">
                  <input class="relative ml-10 appearance-none" type="checkbox">
                  <button class="absolute top-1/2 left-0 transform -translate-y-1/2 h-6 w-6">
                    <svg width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="26" height="26" rx="7.5" stroke="#348BF6"></rect></svg>
                  </button>
                  <span class="ml-2 text-sm text-darkBlueGray-400">Save this information for next time</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-4/12 xl:w-3/12 px-4">
          <div class="pt-11 pb-11 bg-purple-500 rounded-3xl">
            <div class="border-b border-opacity-20">
              <div class="px-10 pb-7">
                <h3 class="mb-5 text-3xl text-white font-heading font-medium">Cart totals</h3>
                <p class="flex items-center justify-between leading-8 font-heading font-medium" href="#">
                  <span class="text-white text-opacity-70">Subtotal</span>
                  <span class="flex items-center text-xl text-white">
                    <span class="mr-3 text-base">$</span>
                    <span>710,70</span>
                  </span>
                </p>
                <p class="flex items-center justify-between leading-8 font-heading font-medium" href="#">
                  <span class="text-white text-opacity-70">Shipping</span>
                  <span class="flex items-center text-xl text-white">
                    <span class="mr-3 text-base">$</span>
                    <span>10,00</span>
                  </span>
                </p>
              </div>
            </div>
            <div class="px-10 pt-5 mb-7">
              <div class="pb-5 border-b border-opacity-30">
                <p class="flex items-center justify-between leading-8 font-heading font-medium" href="#">
                  <span class="text-white">Total</span>
                  <span class="flex items-center text-xl text-white">
                    <span class="mr-3 text-base">$</span>
                    <span>720,70</span>
                  </span>
                </p>
              </div>
            </div>
            <div class="px-10 mx-auto md:max-w-max"><a class="block py-5 px-10 w-full text-xl leading-6 font-medium tracking-tighter font-heading text-center bg-white hover:bg-gray-50 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Checkout</a></div>
          </div>
        </div>
      </div>
      <div class="mb-16">
        <label class="relative inline-flex mb-5 mr-16 items-center">
          <input class="relative ml-10 appearance-none" type="checkbox">
          <button class="absolute top-1/2 left-0 transform -translate-y-1/2 h-6 w-6">
            <svg width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="27" height="27" rx="8" fill="#28E172"></rect>
              <path d="M11.4534 19L6 13.6758L6.72022 12.9726L11.4534 17.5937L21.2798 8L22 8.70316L11.4534 19Z" fill="white"></path>
            </svg>
          </button>
          <span class="ml-2 text-sm text-darkBlueGray-400 leading-3">Credit card</span>
        </label>
        <label class="relative inline-flex mb-5 mr-16 items-center">
          <input class="relative ml-10 appearance-none" type="checkbox">
          <button class="absolute top-1/2 left-0 transform -translate-y-1/2 h-6 w-6">
            <svg width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="26" height="26" rx="7.5" stroke="#348BF6"></rect></svg>
          </button>
          <span class="ml-2 text-sm text-darkBlueGray-400 leading-3">Debit card</span>
        </label>
        <label class="relative inline-flex mb-5 items-center">
          <input class="relative ml-10 appearance-none" type="checkbox">
          <button class="absolute top-1/2 left-0 transform -translate-y-1/2 h-6 w-6">
            <svg width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="0.5" y="0.5" width="26" height="26" rx="7.5" stroke="#348BF6"></rect></svg>
          </button>
          <span class="ml-2 text-sm text-darkBlueGray-400 leading-3">PayPal</span>
        </label>
      </div>
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-8/12 xl:w-9/12 px-4 mb-14 lg:mb-0">
          <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
              <div class="lg:max-w-sm">
                <div class="mb-8">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Name on card:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
                <div>
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Credit card number:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
              </div>
            </div>
            <div class="w-full md:w-1/2 px-4">
              <div class="lg:max-w-sm">
                <div class="mb-8">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">Expiration:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
                <div class="md:w-36">
                  <label class="block mb-4 text-lg text-darkBlueGray-400">CVV:</label>
                  <input class="w-full px-5 py-3 text-lg leading-9 bg-blue-50 border-2 border-blue-400 outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-4/12 xl:w-3/12 px-4 lg:-mt-24">
          <h4 class="mb-4 text-3xl font-heading font-medium">Discount code</h4>
          <label class="block mb-3 text-lg text-darkBlueGray-400">Apply code:</label>
          <div class="relative mb-3 lg:mb-10">
            <input class="flex-grow outline-none px-5 pr-36 py-4 w-full leading-7 bg-white border-2 border-blue-500 rounded-3xl" type="text">
            <a class="absolute top-1/2 transform -translate-y-1/2 right-1 -translate-x-px w-auto xl:w-auto py-3 px-8 text-lg leading-7 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Apply</a>
          </div>
        </div>
      </div>
    </div>
  </section></div>