<div>
	<section class="py-8 bg-white">
		<div class="container px-4 mx-auto">
			<div class="flex flex-wrap -mx-4 md:-mx-6 lg:-mx-8">
				<div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 lg:px-8 mb-8 lg:mb-0">
					<div class="relative pt-4 bg-white rounded-2xl shadow-6xl">
						<span
							class="absolute right-8 top-8 py-1 px-3 text-xxs leading-5 text-red-500 font-bold uppercase bg-orange-200 rounded-2xl"
							>5 Tasks</span
						>
						<img
							class="w-full px-4 mb-8"
							src="https://shuffle.dev/uinel-assets/images/dashboard-content/pic1.png"
							alt=""
						/>
						<div class="flex flex-wrap items-center px-8 mb-8">
							<div
								class="flex items-center justify-center w-16 h-16 mr-8 bg-gray-50 rounded-5xl"
							>
								<img
									class="h-9"
									src="https://shuffle.dev/uinel-assets/brands/spotify.png"
									alt=""
								/>
							</div>
							<div>
								<h2 class="text-xl font-heading font-medium">Spotify</h2>
								<p class="text-sm text-darkBlueGray-400 font-heading leading-7">
									Upgrade. New tools
								</p>
							</div>
						</div>
						<div class="px-8 pb-11 border-b border-gray-100">
							<div class="flex flex-wrap justify-between items-center mb-3">
								<p class="text-sm font-heading font-medium trackingr-tighter">
									Final Date
								</p>
								<div
									class="inline-block px-6 py-1 leading-7 font-bold tracking-tight text-blue-500 bg-blue-50 rounded-9xl"
								>
									8 Dec 2021
								</div>
							</div>
							<div class="flex flex-wrap justify-between items-center mb-3">
								<p class="text-sm font-heading font-medium tracking-tighter">
									Budget
								</p>
								<div
									class="inline-block px-6 py-1 leading-7 font-bold tracking-tight text-blue-500 bg-indigo-100 rounded-9xl"
								>
									$7.000
								</div>
							</div>
							<div class="flex flex-wrap justify-between items-center">
								<p class="text-sm font-heading font-medium tracking-tighter">
									Last Change
								</p>
								<p class="text-darkBlueGray-400 font-heading">2 days ago</p>
							</div>
						</div>
						<div class="flex flex-wrap justify-between py-5 px-8">
							<div class="w-full md:w-1/2">
								<div class="flex flex-wrap items-center mb-6 md:mb-0">
									<img
										src="https://shuffle.dev/uinel-assets/images/dashboard-content/av1.png"
										alt=""
									/>
									<img
										class="-ml-4"
										src="https://shuffle.dev/uinel-assets/images/dashboard-content/av2.png"
										alt=""
									/>
									<div class="relative flex justify-center items-center">
										<span
											class="absolute left-1 text-sm font-heading font-semibold"
											>+3</span
										>
										<img
											class="relative"
											src="https://shuffle.dev/uinel-assets/elements/dashboard-content/dots.svg"
											alt=""
										/>
									</div>
								</div>
							</div>
							<div class="w-full md:max-w-max">
								<a
									class="block py-4 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
									href="#"
									>Details</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 lg:px-8 mb-8 lg:mb-0">
					<div class="relative pt-4 bg-white rounded-2xl shadow-6xl">
						<span
							class="absolute right-8 top-8 py-1 px-3 text-xxs leading-5 text-red-500 font-bold uppercase bg-orange-200 rounded-2xl"
							>5 Tasks</span
						>
						<img
							class="w-full px-4 mb-8"
							src="https://shuffle.dev/uinel-assets/images/dashboard-content/pic2.png"
							alt=""
						/>
						<div class="flex flex-wrap items-center px-8 mb-8">
							<div
								class="flex items-center justify-center w-16 h-16 mr-8 bg-gray-50 rounded-5xl"
							>
								<img
									class="h-9"
									src="https://shuffle.dev/uinel-assets/brands/slack.png"
									alt=""
								/>
							</div>
							<div>
								<h2 class="text-xl font-heading font-medium">Slack</h2>
								<p class="text-sm text-darkBlueGray-400 font-heading leading-7">
									Upgrade. New tools
								</p>
							</div>
						</div>
						<div class="px-8 pb-11 border-b border-gray-100">
							<div class="flex flex-wrap justify-between items-center mb-3">
								<p class="text-sm font-heading font-medium trackingr-tighter">
									Final Date
								</p>
								<div
									class="inline-block px-6 py-1 leading-7 font-bold tracking-tight text-blue-500 bg-blue-50 rounded-9xl"
								>
									8 Dec 2021
								</div>
							</div>
							<div class="flex flex-wrap justify-between items-center mb-3">
								<p class="text-sm font-heading font-medium tracking-tighter">
									Budget
								</p>
								<div
									class="inline-block px-6 py-1 leading-7 font-bold tracking-tight text-blue-500 bg-indigo-100 rounded-9xl"
								>
									$7.000
								</div>
							</div>
							<div class="flex flex-wrap justify-between items-center">
								<p class="text-sm font-heading font-medium tracking-tighter">
									Last Change
								</p>
								<p class="text-darkBlueGray-400 font-heading">2 days ago</p>
							</div>
						</div>
						<div class="flex flex-wrap justify-between py-5 px-8">
							<div class="w-full md:w-1/2">
								<div class="flex flex-wrap items-center mb-6 md:mb-0">
									<img
										src="https://shuffle.dev/uinel-assets/images/dashboard-content/av1.png"
										alt=""
									/>
									<img
										class="-ml-4"
										src="https://shuffle.dev/uinel-assets/images/dashboard-content/av2.png"
										alt=""
									/>
									<div class="relative flex justify-center items-center">
										<span
											class="absolute left-1 text-sm font-heading font-semibold"
											>+3</span
										>
										<img
											class="relative"
											src="https://shuffle.dev/uinel-assets/elements/dashboard-content/dots.svg"
											alt=""
										/>
									</div>
								</div>
							</div>
							<div class="w-full md:max-w-max">
								<a
									class="block py-4 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
									href="#"
									>Details</a
								>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 lg:px-8">
					<div class="relative pt-4 bg-white rounded-2xl shadow-6xl">
						<span
							class="absolute right-8 top-8 py-1 px-3 text-xxs leading-5 text-red-500 font-bold uppercase bg-orange-200 rounded-2xl"
							>5 Tasks</span
						>
						<img
							class="w-full px-4 mb-8"
							src="https://shuffle.dev/uinel-assets/images/dashboard-content/pic3.png"
							alt=""
						/>
						<div class="flex flex-wrap items-center px-8 mb-8">
							<div
								class="flex items-center justify-center w-16 h-16 mr-8 bg-gray-50 rounded-5xl"
							>
								<img
									class="h-9"
									src="https://shuffle.dev/uinel-assets/brands/miro.svg"
									alt=""
								/>
							</div>
							<div>
								<h2 class="text-xl font-heading font-medium">Miro</h2>
								<p class="text-sm text-darkBlueGray-400 font-heading leading-7">
									Upgrade. New tools
								</p>
							</div>
						</div>
						<div class="px-8 pb-11 border-b border-gray-100">
							<div class="flex flex-wrap justify-between items-center mb-3">
								<p class="text-sm font-heading font-medium trackingr-tighter">
									Final Date
								</p>
								<div
									class="inline-block px-6 py-1 leading-7 font-bold tracking-tight text-blue-500 bg-blue-50 rounded-9xl"
								>
									8 Dec 2021
								</div>
							</div>
							<div class="flex flex-wrap justify-between items-center mb-3">
								<p class="text-sm font-heading font-medium tracking-tighter">
									Budget
								</p>
								<div
									class="inline-block px-6 py-1 leading-7 font-bold tracking-tight text-blue-500 bg-indigo-100 rounded-9xl"
								>
									$7.000
								</div>
							</div>
							<div class="flex flex-wrap justify-between items-center">
								<p class="text-sm font-heading font-medium tracking-tighter">
									Last Change
								</p>
								<p class="text-darkBlueGray-400 font-heading">2 days ago</p>
							</div>
						</div>
						<div class="flex flex-wrap justify-between py-5 px-8">
							<div class="w-full md:w-1/2">
								<div class="flex flex-wrap items-center mb-6 md:mb-0">
									<img
										src="https://shuffle.dev/uinel-assets/images/dashboard-content/av1.png"
										alt=""
									/>
									<img
										class="-ml-4"
										src="https://shuffle.dev/uinel-assets/images/dashboard-content/av2.png"
										alt=""
									/>
									<div class="relative flex justify-center items-center">
										<span
											class="absolute left-1 text-sm font-heading font-semibold"
											>+3</span
										>
										<img
											class="relative"
											src="https://shuffle.dev/uinel-assets/elements/dashboard-content/dots.svg"
											alt=""
										/>
									</div>
								</div>
							</div>
							<div class="w-full md:max-w-max">
								<a
									class="block py-4 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
									href="#"
									>Details</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
