<div>
	<section class="py-8 bg-blueGray-50">
		<div class="container px-4 mx-auto">
			<div class="relative p-10 md:py-20 xl:px-20 bg-white overflow-hidden rounded-3xl">
				<img
					class="absolute -right-16 top-1/2 transform -translate-y-1/2"
					src="https://shuffle.dev/uinel-assets/images/dashboard-banners/header5.png"
					alt=""
				/>
				<div class="relative z-10">
					<h2 class="mb-4 text-6xl md:text-7xl font-heading font-semibold">Generate Monthly reports</h2>
					<p class="mb-9 text-gray-300 font-heading font-medium">New tools is out now.</p>
					<div class="sm:max-w-max">
						<a
							class="block py-5 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
							href="#"
							>Add new report</a
						>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
