<div>
	<div>
		<section class="p-8 pb-0 font-medium bg-blueGray-100">
			<div class="relative pt-24 2xl:pt-36 lg:pb-24 2xl:pb-44 bg-white z-10 overflow-hidden rounded-t-10xl">
				<div class="container lg:relative px-4 mx-auto">
					<div class="flex flex-wrap items-center justify-center mb-20 mx-auto">
						<a class="inline-block order-last md:order-first mr-4 md:mr-0" href="#">
							<img
								src="https://shuffle.dev/uinel-assets/elements/portfolio/arrow-left-black.svg"
								alt=""
							/>
						</a>
						<div class="w-full md:w-auto flex flex-wrap mx-20 mb-6 md:mb-0">
							<div class="w-full md:w-auto text-center">
								<h2
									class="font-heading text-9xl md:text-10xl xl:text-11xl leading-tight"
								>
									SchoolTrip
								</h2>
							</div>
							<div
								class="relative mx-auto mb-2 md:mb-0 md:ml-2 w-20 h-16 order-first md:order-last"
							>
								<h3
									class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 font-heading text-6xl z-10"
								>
									APP
								</h3>
								<img
									class="absolute top-0 left-0"
									src="https://shuffle.dev/uinel-assets/elements/portfolio/elipse1.svg"
									alt=""
								/>
								<img
									class="absolute top-0 left-0 mt-1 ml-1"
									src="https://shuffle.dev/uinel-assets/elements/portfolio/elipse2.svg"
									alt=""
								/>
							</div>
						</div>
						<a class="inline-block order-last" href="#">
							<img
								src="https://shuffle.dev/uinel-assets/elements/portfolio/arrow-right-black.svg"
								alt=""
							/>
						</a>
					</div>
					<div class="flex w-44 mx-auto mb-16 xl:mb-44 h-px bg-gray-100" style="height: 2px;">
						<a class="w-1/3 bg-indigo-500" href="#"></a><a class="w-1/2 bg-transparent" href="#"></a>
					</div>
					<div class="grid lg:grid-cols-2 lg:items-end gap-20">
						<div>
							<img
								class="mb-14 xl:mb-16"
								src="https://shuffle.dev/uinel-assets/elements/portfolio/portfolio1-write-icon.svg"
								alt=""
							/>
							<h3 class="mb-10 text-5xl xl:text-8xl leading-tighter lg:max-w-lg">
								A spatial system is a set of rules for how you measure and size your
								UI elements.
							</h3>
							<p class="mb-14 xl:mb-16 font-normal text-lg leading-6 text-darkBlueGray-400">
								Fusce sodales vitae lorem vitae tempus.
							</p>
							<a
								class="inline-block py-5 px-10 text-xl leading-6 text-white font-medium tracking-tighter font-heading bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
								href="#"
								>Learn more</a
							>
						</div>
						<img
							class="lg:hidden"
							src="https://shuffle.dev/uinel-assets/images/portfolio/widget2.png"
							alt=""
						/>
					</div>
				</div>
				<div class="hidden lg:block lg:absolute lg:right-0 2xl:-right-44 lg:bottom-0 lg:w-1/2 2xl:w-auto">
					<img src="https://shuffle.dev/uinel-assets/images/portfolio/widget2.png" alt="" />
				</div>
			</div>
		</section>
		<div class="-mt-16 h-24 bg-yellow-500"></div>
	</div>
</div>
