<div>
	<section class="py-24 2xl:pt-48 2xl:pb-40 font-medium bg-blueGray-100 rounded-b-10xl">
		<div class="container px-4 mx-auto">
			<div class="mb-20 xl:mb-28 text-center">
				<span class="block mb-9 font-medium uppercase tracking-widest text-xs leading-4 text-gray-300"
					>How it works</span
				>
				<h2 class="font-heading font-medium text-9xl md:text-10xl xl:text-11xl leading-tight">Statistics show</h2>
			</div>
			<div class="grid md:grid-cols-3 justify-center gap-16 lg:gap-8 max-w-8xl mx-auto">
				<div class="relative text-center">
					<div class="mx-auto p-3 2xl:p-9 mb-6 xl:mb-12 bg-white max-w-max rounded-full">
						<img src="https://shuffle.dev/uinel-assets/elements/stats/percent-46-blue.svg" alt="" />
					</div>
					<h3 class="mx-auto w-36 font-heading text-3xl xl:text-6xl leading-tighter">Years together</h3>
					<img
						class="absolute top-16 -right-40 xl:-right-48 hidden lg:block w-2/3 xl:w-auto"
						src="https://shuffle.dev/uinel-assets/elements/stats/line-bottom-right-blue.svg"
						alt=""
					/>
				</div>
				<div class="md:mt-32 text-center">
					<div class="p-3 2xl:p-9 mb-6 xl:mb-12 mx-auto bg-white max-w-max rounded-full">
						<img src="https://shuffle.dev/uinel-assets/elements/stats/percent-61-blue.svg" alt="" />
					</div>
					<h3 class="mx-auto w-44 xl:w-56 font-heading text-3xl xl:text-6xl leading-tighter">
						Feel free and take all
					</h3>
				</div>
				<div class="relative text-center">
					<div class="p-3 2xl:p-9 mb-6 xl:mb-12 mx-auto bg-white max-w-max rounded-full">
						<img src="https://shuffle.dev/uinel-assets/elements/stats/percent-2_5-blue.svg" alt="" />
					</div>
					<h3 class="mx-auto w-40 font-heading text-3xl xl:text-6xl leading-tighter text-center">
						Download app
					</h3>
					<img
						class="absolute top-16 -left-40 xl:-left-48 w-2/3 hidden lg:block xl:w-auto"
						src="https://shuffle.dev/uinel-assets/elements/stats/line-bottom-left-blue.svg"
						alt=""
					/>
				</div>
			</div>
		</div>
	</section>
</div>
