<div><section class="py-8 bg-white">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4 md:-mx-6 xl:-mx-8">
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 xl:px-8 mb-16">
          <div class="relative bg-gray-50 rounded-8xl">
            <img class="w-full mb-8" src="uinel-assets/images/dashboard-content/bg-linear.png" alt="">
            <div class="px-4 pb-12">
              <div class="relative -mt-24 px-4 md:px-9 pb-6 pt-16 mb-8 text-center bg-white rounded-5xl shadow-2xl">
                <img class="mx-auto absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="uinel-assets/images/dashboard-content/av1-circle-xl.png" alt="">
                <h2 class="text-xl font-heading font-medium leading-10">Ainsley Stones</h2>
                <p class="mb-10 text-darkBlueGray-400 font-heading">UX/UI Designer</p>
                <div class="flex flex-wrap justify-center mb-10">
                  <img class="mr-6" src="uinel-assets/elements/dashboard-content/plane.svg" alt="">
                  <p class="text-sm font-heading font-medium tracking-tighter">a.stones@e.mail</p>
                </div>
                <div class="flex flex-wrap -mx-1 mb-10">
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Design</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">UX/UI</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Motion</div>
                  </div>
                </div>
                <a class="block py-5 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">View profile</a>
              </div>
              <p class="mb-5 text-center text-darkBlueGray-400">Social media:</p>
              <div class="flex flex-wrap justify-center">
                <a class="inline-block p-3 mr-5 bg-indigo-600 hover:bg-indigo-700 rounded-full" href="#">
                  <img src="uinel-assets/brands/instagram.svg" alt="">
                </a>
                <a class="inline-block p-3 mr-5 bg-blue-500 hover:bg-blue-600 rounded-full" href="#">
                  <img src="uinel-assets/brands/facebook.svg" alt="">
                </a>
                <a class="inline-block p-3 bg-blue-400 hover:bg-blue-500 rounded-full" href="#">
                  <img src="uinel-assets/brands/twitter.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 xl:px-8 mb-16">
          <div class="relative bg-gray-50 rounded-8xl">
            <img class="w-full mb-8" src="uinel-assets/images/dashboard-content/bg-linear.png" alt="">
            <div class="px-4 pb-12">
              <div class="relative -mt-24 px-4 md:px-9 pb-6 pt-16 mb-8 text-center bg-white rounded-5xl shadow-2xl">
                <img class="mx-auto absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="uinel-assets/images/dashboard-content/av2-circle-xl.png" alt="">
                <h2 class="text-xl font-heading font-medium leading-10">Faustina H. Fawn</h2>
                <p class="mb-10 text-darkBlueGray-400 font-heading">UX/UI Designer</p>
                <div class="flex flex-wrap justify-center mb-10">
                  <img class="mr-6" src="uinel-assets/elements/dashboard-content/plane.svg" alt="">
                  <p class="text-sm font-heading font-medium tracking-tighter">a.stones@e.mail</p>
                </div>
                <div class="flex flex-wrap -mx-1 mb-10">
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Design</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">UX/UI</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Motion</div>
                  </div>
                </div>
                <a class="block py-5 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">View profile</a>
              </div>
              <p class="mb-5 text-center text-darkBlueGray-400">Social media:</p>
              <div class="flex flex-wrap justify-center">
                <a class="inline-block p-3 mr-5 bg-indigo-600 hover:bg-indigo-700 rounded-full" href="#">
                  <img src="uinel-assets/brands/instagram.svg" alt="">
                </a>
                <a class="inline-block p-3 mr-5 bg-blue-500 hover:bg-blue-600 rounded-full" href="#">
                  <img src="uinel-assets/brands/facebook.svg" alt="">
                </a>
                <a class="inline-block p-3 bg-blue-400 hover:bg-blue-500 rounded-full" href="#">
                  <img src="uinel-assets/brands/twitter.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 xl:px-8 mb-16">
          <div class="relative bg-gray-50 rounded-8xl">
            <img class="w-full mb-8" src="uinel-assets/images/dashboard-content/bg-linear.png" alt="">
            <div class="px-4 pb-12">
              <div class="relative -mt-24 px-4 md:px-9 pb-6 pt-16 mb-8 text-center bg-white rounded-5xl shadow-2xl">
                <img class="mx-auto absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="uinel-assets/images/dashboard-content/av3-circle-xl.png" alt="">
                <h2 class="text-xl font-heading font-medium leading-10">Jasmine Joy</h2>
                <p class="mb-10 text-darkBlueGray-400 font-heading">UX/UI Designer</p>
                <div class="flex flex-wrap justify-center mb-10">
                  <img class="mr-6" src="uinel-assets/elements/dashboard-content/plane.svg" alt="">
                  <p class="text-sm font-heading font-medium tracking-tighter">a.stones@e.mail</p>
                </div>
                <div class="flex flex-wrap -mx-1 mb-10">
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Design</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">UX/UI</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Motion</div>
                  </div>
                </div>
                <a class="block py-5 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">View profile</a>
              </div>
              <p class="mb-5 text-center text-darkBlueGray-400">Social media:</p>
              <div class="flex flex-wrap justify-center">
                <a class="inline-block p-3 mr-5 bg-indigo-600 hover:bg-indigo-700 rounded-full" href="#">
                  <img src="uinel-assets/brands/instagram.svg" alt="">
                </a>
                <a class="inline-block p-3 mr-5 bg-blue-500 hover:bg-blue-600 rounded-full" href="#">
                  <img src="uinel-assets/brands/facebook.svg" alt="">
                </a>
                <a class="inline-block p-3 bg-blue-400 hover:bg-blue-500 rounded-full" href="#">
                  <img src="uinel-assets/brands/twitter.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 xl:px-8 mb-16 lg:mb-0">
          <div class="relative bg-gray-50 rounded-8xl">
            <img class="w-full mb-8" src="uinel-assets/images/dashboard-content/bg-linear.png" alt="">
            <div class="px-4 pb-12">
              <div class="relative -mt-24 px-4 md:px-9 pb-6 pt-16 mb-8 text-center bg-white rounded-5xl shadow-2xl">
                <img class="mx-auto absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="uinel-assets/images/dashboard-content/av2-circle-xl.png" alt="">
                <h2 class="text-xl font-heading font-medium leading-10">Ainsley Stones</h2>
                <p class="mb-10 text-darkBlueGray-400 font-heading">UX/UI Designer</p>
                <div class="flex flex-wrap justify-center mb-10">
                  <img class="mr-6" src="uinel-assets/elements/dashboard-content/plane.svg" alt="">
                  <p class="text-sm font-heading font-medium tracking-tighter">a.stones@e.mail</p>
                </div>
                <div class="flex flex-wrap -mx-1 mb-10">
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Design</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">UX/UI</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Motion</div>
                  </div>
                </div>
                <a class="block py-5 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">View profile</a>
              </div>
              <p class="mb-5 text-center text-darkBlueGray-400">Social media:</p>
              <div class="flex flex-wrap justify-center">
                <a class="inline-block p-3 mr-5 bg-indigo-600 hover:bg-indigo-700 rounded-full" href="#">
                  <img src="uinel-assets/brands/instagram.svg" alt="">
                </a>
                <a class="inline-block p-3 mr-5 bg-blue-500 hover:bg-blue-600 rounded-full" href="#">
                  <img src="uinel-assets/brands/facebook.svg" alt="">
                </a>
                <a class="inline-block p-3 bg-blue-400 hover:bg-blue-500 rounded-full" href="#">
                  <img src="uinel-assets/brands/twitter.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 xl:px-8 mb-16 sm:mb-0">
          <div class="relative bg-gray-50 rounded-8xl">
            <img class="w-full mb-8" src="uinel-assets/images/dashboard-content/bg-linear.png" alt="">
            <div class="px-4 pb-12">
              <div class="relative -mt-24 px-4 md:px-9 pb-6 pt-16 mb-8 text-center bg-white rounded-5xl shadow-2xl">
                <img class="mx-auto absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="uinel-assets/images/dashboard-content/av1-circle-xl.png" alt="">
                <h2 class="text-xl font-heading font-medium leading-10">Ainsley Stones</h2>
                <p class="mb-10 text-darkBlueGray-400 font-heading">UX/UI Designer</p>
                <div class="flex flex-wrap justify-center mb-10">
                  <img class="mr-6" src="uinel-assets/elements/dashboard-content/plane.svg" alt="">
                  <p class="text-sm font-heading font-medium tracking-tighter">a.stones@e.mail</p>
                </div>
                <div class="flex flex-wrap -mx-1 mb-10">
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Design</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">UX/UI</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Motion</div>
                  </div>
                </div>
                <a class="block py-5 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">View profile</a>
              </div>
              <p class="mb-5 text-center text-darkBlueGray-400">Social media:</p>
              <div class="flex flex-wrap justify-center">
                <a class="inline-block p-3 mr-5 bg-indigo-600 hover:bg-indigo-700 rounded-full" href="#">
                  <img src="uinel-assets/brands/instagram.svg" alt="">
                </a>
                <a class="inline-block p-3 mr-5 bg-blue-500 hover:bg-blue-600 rounded-full" href="#">
                  <img src="uinel-assets/brands/facebook.svg" alt="">
                </a>
                <a class="inline-block p-3 bg-blue-400 hover:bg-blue-500 rounded-full" href="#">
                  <img src="uinel-assets/brands/twitter.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 xl:px-8">
          <div class="relative bg-gray-50 rounded-8xl">
            <img class="w-full mb-8" src="uinel-assets/images/dashboard-content/bg-linear.png" alt="">
            <div class="px-4 pb-12">
              <div class="relative -mt-24 px-4 md:px-9 pb-6 pt-16 mb-8 text-center bg-white rounded-5xl shadow-2xl">
                <img class="mx-auto absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2" src="uinel-assets/images/dashboard-content/av3-circle-xl.png" alt="">
                <h2 class="text-xl font-heading font-medium leading-10">Jasmine Joy</h2>
                <p class="mb-10 text-darkBlueGray-400 font-heading">UX/UI Designer</p>
                <div class="flex flex-wrap justify-center mb-10">
                  <img class="mr-6" src="uinel-assets/elements/dashboard-content/plane.svg" alt="">
                  <p class="text-sm font-heading font-medium tracking-tighter">a.stones@e.mail</p>
                </div>
                <div class="flex flex-wrap -mx-1 mb-10">
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Design</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">UX/UI</div>
                  </div>
                  <div class="w-full xl:w-1/3 p-1">
                    <div class="py-1 px-1 leading-7 text-blue-500 font-bold tracking-tight border border-gray-100 hover:border-gray-200 cursor-pointer rounded-full">Motion</div>
                  </div>
                </div>
                <a class="block py-5 px-7 w-full text-lg leading-3 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">View profile</a>
              </div>
              <p class="mb-5 text-center text-darkBlueGray-400">Social media:</p>
              <div class="flex flex-wrap justify-center">
                <a class="inline-block p-3 mr-5 bg-indigo-600 hover:bg-indigo-700 rounded-full" href="#">
                  <img src="uinel-assets/brands/instagram.svg" alt="">
                </a>
                <a class="inline-block p-3 mr-5 bg-blue-500 hover:bg-blue-600 rounded-full" href="#">
                  <img src="uinel-assets/brands/facebook.svg" alt="">
                </a>
                <a class="inline-block p-3 bg-blue-400 hover:bg-blue-500 rounded-full" href="#">
                  <img src="uinel-assets/brands/twitter.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> </div>