<div>
	<section class="relative overflow-hidden">
		<img
			class="absolute top-0 right-0 h-52 lg:h-auto lg:w-auto"
			src="https://shuffle.dev/uinel-assets/images/ecommerce-banners/color-circles.png"
			alt=""
		/>
		<img
			class="relative md:absolute top-0 right-0 h-full mt-8 w-full md:w-1/2 lg:w-7/12 xl:w-8/12"
			src="https://shuffle.dev/uinel-assets/images/ecommerce-banners/big-phone-placeholder.png"
			alt=""
		/>
		<div class="container px-4 mx-auto">
			<div class="pt-20 pb-24 lg:py-40 w-full md:w-1/2">
				<h1 class="mb-8 text-9xl md:text-10xl xl:text-12xl font-heading font-medium">Series 7</h1>
				<p class="mb-8 text-xl font-heading font-medium">New superpower.</p>
				<p class="mb-20 xl:mb-52 text-darkBlueGray-400 md:w-56">
					From $29.12/mo. for 24 mo. or $699 before trade‑in1.
				</p>
				<a
					class="inline-block py-4 px-10 text-xl leading-8 text-white font-heading font-medium tracking-tighter text-center bg-blue-500 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 hover:bg-blue-600 rounded-xl"
					href="#"
					>Shop now</a
				>
			</div>
		</div>
	</section>
</div>
