<div>
	<section>
		<div class="pt-12 pb-24 2xl:pb-44 bg-blueGray-100">
			<div class="container px-4 mx-auto">
				<ul class="flex flex-wrap items-center mb-10 xl:mb-0">
					<li class="mr-6">
						<a
							class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-500"
							href="#"
						>
							<span>Home</span>
							<svg
								class="ml-6"
								width="4"
								height="7"
								viewbox="0 0 4 7"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M0.150291 0.898704C-0.0500975 0.692525 -0.0500975 0.359292 0.150291 0.154634C0.35068 -0.0507836 0.674443 -0.0523053 0.874831 0.154634L3.7386 3.12787C3.93899 3.33329 3.93899 3.66576 3.7386 3.8727L0.874832 6.84594C0.675191 7.05135 0.35068 7.05135 0.150292 6.84594C-0.0500972 6.63976 -0.0500972 6.30652 0.150292 6.10187L2.49888 3.49914L0.150291 0.898704Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</li>
					<li class="mr-6">
						<a
							class="flex items-center text-sm font-medium text-gray-400 hover:text-gray-500"
							href="#"
						>
							<span>Store</span>
							<svg
								class="ml-6"
								width="4"
								height="7"
								viewbox="0 0 4 7"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M0.150291 0.898704C-0.0500975 0.692525 -0.0500975 0.359292 0.150291 0.154634C0.35068 -0.0507836 0.674443 -0.0523053 0.874831 0.154634L3.7386 3.12787C3.93899 3.33329 3.93899 3.66576 3.7386 3.8727L0.874832 6.84594C0.675191 7.05135 0.35068 7.05135 0.150292 6.84594C-0.0500972 6.63976 -0.0500972 6.30652 0.150292 6.10187L2.49888 3.49914L0.150291 0.898704Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</li>
					<li><a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" href="#">New in</a></li>
				</ul>
				<div class="pb-9 text-center border-b border-black border-opacity-5">
					<div class="relative">
						<h2
							class="mb-5 md:mb-0 text-9xl xl:text-10xl leading-normal font-heading font-medium text-center"
						>
							New in
						</h2>
						<span class="md:absolute md:right-0 md:bottom-3 text-sm text-gray-400 font-medium"
							>449 products found</span
						>
					</div>
				</div>
				<div class="mb-16 flex flex-wrap py-5 border-b border-black border-opacity-10">
					<div class="w-full sm:w-1/3 lg:w-1/5 py-2 sm:px-3">
						<a
							class="flex items-center py-5 px-8 xl:px-12 font-heading font-medium border border-gray-200 hover:border-gray-300 rounded-4xl"
							href="#"
						>
							<span>Category</span>
							<svg
								class="relative top-px ml-6"
								width="8"
								height="5"
								viewbox="0 0 8 5"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</div>
					<div class="w-full sm:w-1/3 lg:w-1/5 py-2 sm:px-3">
						<a
							class="flex items-center py-5 px-8 xl:px-12 font-heading font-medium border border-gray-200 hover:border-gray-300 rounded-4xl"
							href="#"
						>
							<span>Size</span>
							<svg
								class="relative top-px ml-6"
								width="8"
								height="5"
								viewbox="0 0 8 5"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</div>
					<div class="w-full sm:w-1/3 lg:w-1/5 py-2 sm:px-3">
						<a
							class="flex items-center py-5 px-8 xl:px-12 font-heading font-medium border border-gray-200 hover:border-gray-300 rounded-4xl"
							href="#"
						>
							<span>Colors</span>
							<svg
								class="relative top-px ml-6"
								width="8"
								height="5"
								viewbox="0 0 8 5"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</div>
					<div class="w-full sm:w-1/3 lg:w-1/5 py-2 sm:px-3">
						<a
							class="flex items-center py-5 px-8 xl:px-12 font-heading font-medium border border-gray-200 hover:border-gray-300 rounded-4xl"
							href="#"
						>
							<span>Price</span>
							<svg
								class="relative top-px ml-6"
								width="8"
								height="5"
								viewbox="0 0 8 5"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</div>
					<div class="w-full sm:w-1/3 lg:w-1/5 py-2 sm:px-3">
						<a
							class="flex items-center py-5 px-8 xl:px-12 font-heading font-medium border border-gray-200 hover:border-gray-300 rounded-4xl"
							href="#"
						>
							<span>Brand</span>
							<svg
								class="relative top-px ml-6"
								width="8"
								height="5"
								viewbox="0 0 8 5"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.97291 0.193232C7.20854 -0.0644107 7.58938 -0.0644107 7.82328 0.193232C8.05804 0.450875 8.05978 0.867141 7.82328 1.12478L4.42529 4.80677C4.19053 5.06441 3.81056 5.06441 3.57406 4.80677L0.176073 1.12478C-0.0586909 0.868102 -0.0586909 0.450875 0.176073 0.193232C0.411706 -0.0644107 0.792544 -0.0644107 1.02644 0.193232L4.00098 3.21284L6.97291 0.193232Z"
									fill="currentColor"
								></path>
							</svg>
						</a>
					</div>
				</div>
				<div class="flex flex-wrap -mx-3 mb-20 md:mb-40">
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/iphone-12-pro.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Apple iPhone 12 Pro (128GB) Silver
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>544.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/headphones-sony.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Headphones SONY 1l X-O
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>44.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/macbook-pro-17.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								MacBook Pro 17’’
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>2090.59</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/smartwatch-green.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Smartwatch Uistore Homme Watch 19
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>120.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/macbook-pro-15.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								MacBook Pro 15’’ new
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>1780.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/smartwatch-yellow.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Xui Smartwatch YW
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>100.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/headphones-blacksaint.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Headphones Blacksaint 3
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>42.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/smartphone.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Wiko Y51 1GB/16GB 5.45’’ Syrena Lol
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>376.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24 xl:mb-0">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/xiaomi-camera.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Kamera Xiaomi Mi Home Security Camera 2K 360°
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>37.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24 lg:mb-0">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/smartwatch-green.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Smartwatch Uistore Homme Watch 19
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>120.90</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3 mb-24 sm:mb-0">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover mx-auto"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/xiaomi-camera2.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Kamera Xiaomi Mi Home Security Camera 2K Pro 360°
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>29.59</span>
						</p>
					</div>
					<div class="w-full sm:w-1/2 lg:w-1/3 xl:w-1/4 px-3">
						<div class="xl:flex xl:items-center p-10 xl:py-32 mb-8 bg-white rounded-3xl">
							<a class="block mx-auto max-w-max" href="#">
								<img
									class="h-40 object-cover"
									src="https://shuffle.dev/uinel-assets/images/ecommerce-product-list/smartwatch-blue.png"
									alt=""
								/>
							</a>
						</div>
						<a href="#">
							<p class="mb-4 text-xl leading-8 font-heading font-medium hover:underline">
								Xui Smartwatch Pr
							</p>
						</a>
						<p class="text-xl text-blue-500 font-heading font-medium tracking-tighter">
							<span class="text-base pr-2">$</span>
							<span>44.90</span>
						</p>
					</div>
				</div>
				<div class="sm:mx-auto sm:w-96">
					<a
						class="block py-5 px-10 w-full text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl"
						href="#"
						>More products</a
					>
				</div>
			</div>
		</div>
	</section>
</div>
