<div><div class="fixed right-0 bottom-0 px-5 w-full">
    <div class="relative p-10 xl:px-24 xl:py-14 w-full bg-yellow-500 rounded-t-3xl">
      <div class="flex flex-wrap -mx-4">
        <a class="absolute right-7 top-7" href="#">
          <svg width="14" height="13" viewbox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="13.495" y1="0.494975" x2="1.49498" y2="12.495" stroke="black" stroke-width="1.4"></line><line x1="12.505" y1="12.495" x2="0.505026" y2="0.494976" stroke="black" stroke-width="1.4"></line></svg>
        </a>
        <div class="px-4 mb-6 lg:mb-0 w-full sm:w-3/12 lg:w-2/12 xl:w-2/12 2xl:w-1/12">
          <img src="uinel-assets/elements/ecommerce-cookies/logo-uinel-gray2.png" alt="">
        </div>
        <div class="relative z-10 px-4 mb-10 lg:mb-0 w-full sm:w-9/12 lg:w-5/12 xl:w-6/12 2xl:w-7/12">
          <h2 class="mb-2 text-3xl md:text-6xl font-heading font-medium">Accept or manage</h2>
          <p>
            <span>By clicking “Accept”, you agree to the storing of cookies on your device to enhance (...)</span>
            <a class="block md:inline-block mt-4 sm:mt-0 md:ml-3 pb-1 text-xl text-body hover:text-darkBlueGray-400 font-bold tracking-tight max-w-max border-b border-darkBlueGray-400 hover:border-darkBlueGray-400" href="#">
              <span class="inline-block mr-5">More</span>
              <svg class="inline-block" width="14" height="17" viewbox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 11.3L6.5 15.5L6.5 1.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M1.5 11.5L6.5 15.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </p>
        </div>
        <div class="relative z-10 flex flex-wrap items-center justify-end px-4 w-full lg:w-5/12 xl:w-4/12">
          <div class="w-full mb-3 sm:mb-0 sm:mr-6 sm:max-w-max"><a class="block py-5 px-10 w-full text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-blue-500 hover:bg-blue-600 focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 rounded-xl" href="#">Accept</a></div>
          <div class="w-full sm:max-w-max"><a class="block py-5 px-10 w-full text-xl leading-6 text-white font-medium tracking-tighter font-heading text-center bg-darkBlueGray-500 hover:bg-darkBlueGray-600 focus:ring-2 focus:ring-darkBlueGray-500 focus:ring-opacity-50 rounded-xl" href="#">Manage</a></div>
        </div>
        <img class="absolute right-12 top-1/2 transform -translate-y-1/2" src="uinel-assets/elements/ecommerce-cookies/bg4.svg" alt="">
      </div>
    </div>
  </div> </div>