<div> <section class="py-20 2xl:py-40 bg-gray-800">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4 pb-6 lg:pb-20 border-b border-gray-500">
        <div class="w-full lg:w-3/5 px-4">
          <div class="flex flex-wrap -mx-4">
            <div class="w-1/2 lg:w-1/3 px-4 mb-12">
              <h3 class="mb-8 lg:mb-14 text-xl font-bold font-heading text-white">Zospace</h3>
              <ul class="text-lg">
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Hello</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Story</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Pricing</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Applications</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Stats</a></li>
                <li><a class="text-gray-200 hover:text-gray-100" href="#">Blog</a></li>
              </ul>
            </div>
            <div class="w-1/2 lg:w-1/3 px-4 mb-12">
              <h3 class="mb-8 lg:mb-14 text-xl font-bold font-heading text-white">Products</h3>
              <ul class="text-lg">
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Newsletter</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Features</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">How it works</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">FAQ's</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Portfolio</a></li>
                <li><a class="text-gray-200 hover:text-gray-100" href="#">Team</a></li>
              </ul>
            </div>
            <div class="w-full lg:w-1/3 px-4 mb-4">
              <h3 class="mb-8 lg:mb-14 text-xl font-bold font-heading text-white">Your Account</h3>
              <ul class="text-lg">
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">New account</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Log in</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Testimonials</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Contact</a></li>
                <li class="mb-5"><a class="text-gray-200 hover:text-gray-100" href="#">Privacy Policy</a></li>
                <li><a class="text-gray-200 hover:text-gray-100" href="#">Cookies</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-2/5 px-4 order-first lg:order-last mb-16 lg:mb-0">
          <h3 class="mb-16 text-xl font-bold text-white">Newsletter</h3>
          <form action="#">
            <div class="max-w-sm mb-8 flex items-center bg-white rounded-full">
              <span class="inline-block pl-6 lg:pl-10">
                <svg width="37" height="37" viewbox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="18.5" cy="18.5" r="9.5" fill="#1F40FF" fill-opacity="0.15"></circle><circle cx="18.5" cy="18.5" r="18.5" fill="#1F40FF" fill-opacity="0.06"></circle><circle cx="18.5" cy="18.5" r="2.5" fill="#282C36"></circle></svg>
              </span>
              <input class="pl-4 py-5 rounded-full placeholder-gray-900 font-bold" type="email" placeholder="Drop your Email">
              <button class="ml-auto px-4 px-8 lg:px-10 py-5 text-white font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200">Ok</button>
            </div>
            <p class="text-gray-300">The brown fox jumps over the lazy dog.</p>
          </form>
        </div>
      </div>
      <div class="flex flex-wrap items-center pt-10 mb-8 lg:mb-0">
        <div class="w-full md:w-1/2 mb-8 md:mb-0">
          <div class="md:flex items-center">
            <a class="inline-block text-white text-xl font-bold" href="#">
              <img class="h-7" src="zospace-assets/logos/zospace-logo.svg" alt="" width="auto">
            </a>
            <span class="hidden md:inline-block mx-8 w-px h-8 bg-gray-500"></span>
            <p class="hidden lg:block text-sm text-white">
              <span>© 2021 Shuffle.</span>
              <span class="text-gray-200">All rights reserved.</span>
            </p>
          </div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="md:flex items-center justify-end">
            <a class="inline-block mr-2" href="#">
              <img src="zospace-assets/logos/facebook.svg" alt="">
            </a>
            <a class="inline-block mr-2" href="#">
              <img src="zospace-assets/logos/instagram.svg" alt="">
            </a>
            <a class="inline-block" href="#">
              <img src="zospace-assets/logos/twitter.svg" alt="">
            </a>
          </div>
        </div>
      </div>
      <p class="lg:hidden text-sm text-white">
        <span>© 2021 Shuffle.</span>
        <span class="text-gray-200">All rights reserved.</span>
      </p>
    </div>
  </section></div>