<div>
	<section class="relative py-20 2xl:py-40 overflow-hidden">
		<div class="absolute bottom-0 left-0 mb-40 2xl:mb-60 py-px bg-gray-50 w-1/6 md:w-1/3"></div>
		<div class="absolute bottom-0 right-0 mb-40 2xl:mb-60 py-px bg-gray-50 w-1/6 md:w-1/3"></div>
		<div class="relative container px-4 mx-auto">
			<div class="flex flex-wrap items-center -mx-4">
				<div class="w-full lg:w-1/6 px-4 text-right">
					<button
						class="hidden lg:inline-flex items-center justify-center w-14 h-14 bg-blue-500 hover:bg-blue-600 rounded-full"
					>
						<svg
							width="7"
							height="14"
							viewbox="0 0 7 14"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M6.84708 12.115C7.05097 12.3207 7.05097 12.6512 6.84708 12.8554C6.64319 13.0596 6.31377 13.0603 6.10987 12.8554L0.152917 6.87493C-0.0509739 6.67074 -0.0509738 6.34026 0.152917 6.13456L6.10988 0.154119C6.31377 -0.0500693 6.64319 -0.0500693 6.84708 0.154119C7.05097 0.359063 7.05097 0.690301 6.84708 0.894489L1.4143 6.50512L6.84708 12.115Z"
								fill="white"
							></path>
						</svg>
					</button>
					<div class="lg:hidden text-center mb-10">
						<button
							class="inline-flex items-center justify-center w-14 h-14 mx-1 bg-blue-500 hover:bg-blue-600 rounded-full"
						>
							<svg
								width="7"
								height="14"
								viewbox="0 0 7 14"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.84708 12.115C7.05097 12.3207 7.05097 12.6512 6.84708 12.8554C6.64319 13.0596 6.31377 13.0603 6.10987 12.8554L0.152917 6.87493C-0.0509739 6.67074 -0.0509738 6.34026 0.152917 6.13456L6.10988 0.154119C6.31377 -0.0500693 6.64319 -0.0500693 6.84708 0.154119C7.05097 0.359063 7.05097 0.690301 6.84708 0.894489L1.4143 6.50512L6.84708 12.115Z"
									fill="white"
								></path>
							</svg>
						</button>
						<button
							class="inline-flex items-center justify-center w-14 h-14 mx-1 bg-blue-500 hover:bg-blue-600 rounded-full"
						>
							<svg
								width="7"
								height="13"
								viewbox="0 0 7 13"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M0.15292 0.901511C-0.0509709 0.696057 -0.0509709 0.365972 0.15292 0.16203C0.356811 -0.0419136 0.686232 -0.0426689 0.890123 0.16203L6.84708 6.13528C7.05097 6.33923 7.05097 6.66931 6.84708 6.87476L0.890121 12.848C0.686231 13.052 0.35681 13.052 0.152919 12.848C-0.050972 12.6433 -0.0509719 12.3125 0.152919 12.1085L5.5857 6.50465L0.15292 0.901511Z"
									fill="white"
								></path>
							</svg>
						</button>
					</div>
				</div>
				<div class="w-full lg:w-4/6 px-4">
					<div class="relative text-center mb-14">
						<img
							class="absolute top-0 right-0 mt-28"
							src="https://shuffle.dev/zospace-assets/images/quote-gray-light.svg"
							alt=""
						/>
						<div class="relative">
							<span class="text-lg text-blue-500 font-bold">Testimonials</span>
							<h2 class="mt-24 mb-16 text-5xl font-bold font-heading">
								Zospace has helped us work
							</h2>
						</div>
						<div class="max-w-xl mx-auto">
							<p class="mb-8 text-lg text-gray-500">
								The point of using Lorem Ipsum is that it has a more-or-less normal.
								Vestibulum lectus ex, molestie id erat at, consectetur.
							</p>
							<p class="text-lg text-gray-300">
								Etiam finibus nibh enim, et tempus sem imperdiet eget. Ut blandit,
								nulla quis tincidunt dignissim, ipsum diam efficitur est, et iaculis
								dui ante eu enim.
							</p>
						</div>
					</div>
					<div class="flex -mx-4 items-center justify-center">
						<div class="px-4">
							<img
								class="w-30 h-40 rounded-full object-cover"
								src="https://images.pexels.com/photos/5325840/pexels-photo-5325840.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=940&w=940"
								alt=""
							/>
						</div>
						<div class="px-4">
							<div class="flex mb-4">
								<img
									class="mr-1"
									src="https://shuffle.dev/zospace-assets/images/star-yellow.svg"
									alt=""
								/>
								<img
									class="mr-1"
									src="https://shuffle.dev/zospace-assets/images/star-yellow.svg"
									alt=""
								/>
								<img
									class="mr-1"
									src="https://shuffle.dev/zospace-assets/images/star-yellow.svg"
									alt=""
								/>
								<img
									class="mr-1"
									src="https://shuffle.dev/zospace-assets/images/star-yellow.svg"
									alt=""
								/>
								<img
									src="https://shuffle.dev/zospace-assets/images/star-light-gray.svg"
									alt=""
								/>
							</div>
							<div>
								<h3 class="mb-1 text-2xl font-bold">Léa Herrera</h3>
								<p>Google</p>
							</div>
						</div>
					</div>
				</div>
				<div class="w-full lg:w-1/6 px-4">
					<button
						class="hidden lg:inline-flex items-center justify-center w-14 h-14 bg-blue-500 hover:bg-blue-600 rounded-full"
					>
						<svg
							width="7"
							height="13"
							viewbox="0 0 7 13"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M0.15292 0.901511C-0.0509709 0.696057 -0.0509709 0.365972 0.15292 0.16203C0.356811 -0.0419136 0.686232 -0.0426689 0.890123 0.16203L6.84708 6.13528C7.05097 6.33923 7.05097 6.66931 6.84708 6.87476L0.890121 12.848C0.686231 13.052 0.35681 13.052 0.152919 12.848C-0.050972 12.6433 -0.0509719 12.3125 0.152919 12.1085L5.5857 6.50465L0.15292 0.901511Z"
								fill="white"
							></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</section>
</div>
