<div>
	<section class="pt-20 2xl:pt-40 bg-gray-800">
		<div class="container px-4 mx-auto mb-20 lg:mb-24 text-center">
			<a class="inline-block mb-8 text-2xl text-white font-bold" href="#">
				<img class="h-7" src="https://shuffle.dev/zospace-assets/logos/zospace-logo.svg" alt="" width="auto" />
			</a>
			<h2 class="mb-8 text-6xl 2xl:text-7xl text-white font-bold font-heading">Collaborate everywhere.</h2>
			<p class="mb-16 text-xl text-white">Get our free mobile application.</p>
			<a
				class="inline-block px-12 py-5 bg-blue-500 hover:bg-blue-600 rounded-full text-lg font-bold text-white transition duration-200"
				href="#"
				>Downolad</a
			>
		</div>
		<div class="relative">
			<div class="hidden lg:block absolute right-0 top-0 mt-40 w-1/2 h-px bg-gray-500"></div>
			<div class="hidden lg:block absolute left-0 top-0 mt-72 w-1/2 h-px bg-gray-500"></div>
			<img
				class="lg:relative w-80 lg:w-auto lg:max-w-4xl mx-auto"
				src="https://shuffle.dev/zospace-assets/images/smartphone-dark.png"
				alt=""
			/>
		</div>
	</section>
</div>
