<div><section class="py-20 bg-white overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-5">
        <div class="w-full md:w-1/2 lg:w-1/4 p-5 lg:mb-12">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover object-top" src="https://images.pexels.com/photos/6822288/pexels-photo-6822288.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">30</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 lg:px-10 bg-blue-50 rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-blue-500" href="#">Music</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">New: Is remote work working? A one year check-in</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5 lg:mb-12">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/5325708/pexels-photo-5325708.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">29</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 lg:px-10 bg-blue-50 rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-violet-500" href="#">Sport</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">10 ways to keep your remote teams engaged</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5 lg:mb-12">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover object-top" src="https://images.pexels.com/photos/5325768/pexels-photo-5325768.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">28</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 lg:px-10 bg-blue-50 rounded-b-lg">
            <a class="inline-block mb-6 mr-2 py-1 px-3 text-white font-bold rounded-xl bg-blue-500" href="#">Music</a><a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-yellow-500" href="#">Art</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">Live: How to make a concept map? + Examples</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5 lg:mb-12">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/5325708/pexels-photo-5325708.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">26</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 lg:px-10 bg-blue-50 rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-green-500" href="#">Video</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">New: Is remote work working? A one year check-in</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover object-top" src="https://images.pexels.com/photos/6822288/pexels-photo-6822288.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">30</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 lg:px-10 bg-blue-50 rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-blue-500" href="#">Music</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">New: Is remote work working? A one year check-in</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/5325708/pexels-photo-5325708.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">29</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 lg:px-10 bg-blue-50 rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-violet-500" href="#">Sport</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">10 ways to keep your remote teams engaged</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover object-top" src="https://images.pexels.com/photos/5325768/pexels-photo-5325768.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">28</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 lg:px-10 bg-blue-50 rounded-b-lg">
            <a class="inline-block mb-6 mr-2 py-1 px-3 text-white font-bold rounded-xl bg-blue-500" href="#">Music</a><a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-yellow-500" href="#">Art</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">Live: How to make a concept map? + Examples</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/5325708/pexels-photo-5325708.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">26</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 lg:px-10 bg-blue-50 rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-green-500" href="#">Video</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">New: Is remote work working? A one year check-in</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="mt-14 lg:mt-20 text-center">
        <div class="flex justify-center items-center">
          <a class="flex items-center justify-center h-10 w-10 mr-3 bg-gray-50 hover:bg-gray-100 rounded-xl" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.10807 11.4444C7.55252 10.9999 7.55252 10.3333 7.10807 9.88883L3.21918 5.99994L7.10807 2.11106C7.55252 1.66661 7.55252 0.999946 7.10807 0.555501C6.66363 0.111057 5.99696 0.111057 5.55252 0.555501L0.88585 5.22217C0.663627 5.44439 0.552516 5.66661 0.552516 5.99994C0.552516 6.33328 0.663627 6.5555 0.88585 6.77772L5.55252 11.4444C5.99696 11.8888 6.66363 11.8888 7.10807 11.4444Z" fill="#697073"></path>
            </svg>
          </a>
          <a class="flex items-center justify-center h-10 w-10 mr-3 text-xl font-semibold bg-blue-500 text-white rounded-xl" href="#">1</a><a class="flex items-center justify-center h-10 w-10 mr-3 text-xl font-semibold text-gray-400 rounded-xl hover:bg-gray-50" href="#">2</a><a class="flex items-center justify-center h-10 w-10 mr-3 text-xl font-semibold text-gray-400 rounded-xl hover:bg-gray-50" href="#">3</a><a class="flex items-center justify-center h-10 w-10 mr-3 text-xl font-semibold text-gray-400 rounded-xl hover:bg-gray-50" href="#">4</a><a class="flex items-center justify-center h-10 w-10 mr-3 text-xl font-semibold text-gray-400 rounded-xl hover:bg-gray-50" href="#">5</a><a class="flex items-center justify-center h-10 w-10 mr-3 text-xl font-semibold text-gray-400 rounded-xl hover:bg-gray-50" href="#">...</a><a class="flex items-center justify-center h-10 w-10 mr-3 text-xl font-semibold text-gray-400 rounded-xl hover:bg-gray-50" href="#">32</a>
          <a class="flex items-center justify-center h-10 w-10 bg-gray-50 hover:bg-gray-100 rounded-xl" href="#">
            <svg width="8" height="12" viewbox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.552084 11.4444C0.107639 10.9999 0.107639 10.3333 0.552084 9.88883L4.44097 5.99994L0.552083 2.11106C0.107639 1.66661 0.107639 0.999946 0.552083 0.555501C0.996528 0.111057 1.6632 0.111057 2.10764 0.555501L6.77431 5.22217C6.99653 5.44439 7.10764 5.66661 7.10764 5.99994C7.10764 6.33328 6.99653 6.5555 6.77431 6.77772L2.10764 11.4444C1.6632 11.8888 0.996528 11.8888 0.552084 11.4444Z" fill="#697073"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </section> </div>