<div> <section class="relative py-20 2xl:py-40 bg-gray-800">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-1/2 px-4 mb-16 lg:mb-0">
          <img class="max-w-md mx-auto object-cover" src="zospace-assets/images/zospace_app1.png" alt="">
        </div>
        <div class="w-full lg:w-1/2 px-4">
          <div class="max-w-xl">
            <a class="inline-block text-2xl font-bold" href="#">
              <img class="h-7" src="zospace-assets/logos/zospace-logo.svg" alt="" width="auto">
            </a>
            <h2 class="my-14 text-5xl md:text-7xl font-bold font-heading text-white">Yes! Collaborate everywhere</h2>
            <p class="mb-10 text-xl text-gray-200">In general, dignissim accumsan, lacus vel dictum semper, ipsum justo fermentum ex, sagittis sollicitudin.</p>
            <p class="mb-20 text-xl text-gray-200">This morning, platea dictumst nec nunc. In hac habitasse.</p>
            <a class="inline-block px-12 py-5 bg-blue-500 hover:bg-blue-600 rounded-full text-lg font-bold text-white transition duration-200" href="#">Downolad</a>
          </div>
        </div>
      </div>
    </div>
  </section></div>