<div> <section class="relative py-20 2xl:py-40 bg-gray-800">
    <div class="container px-4 mx-auto">
      <div class="mb-14 pb-16 text-center border-b border-gray-500">
        <span class="text-lg text-blue-500 font-bold">Check of details</span>
        <h2 class="mt-8 text-5xl font-bold font-heading text-white">Employees</h2>
      </div>
      <div class="max-w-5xl mx-auto mb-20 overflow-x-auto overflow-y-hidden">
        <table class="table-auto w-full">
          <thead class="bg-blue-500">
            <tr class="text-lg text-white text-left"><th class="pl-28 py-8 font-normal">Name & Email</th><th class="pl-14 font-normal">Feature 1</th></tr>
          </thead>
          <tbody class="bg-gray-900">
            <tr class="border-b border-gray-500">
              <td class="w-1/2 py-10 pl-10 text-left border-r border-gray-500">
                <div class="flex items-center">
                  <input class="mr-8" type="checkbox" name="" id="">
                  <span class="flex items-center justify-center w-12 h-12 mr-6 rounded-full bg-blue-500 text-white text-lg font-bold">D</span>
                  <h4 class="text-xl text-white">Donel Chamberlain</h4>
                </div>
              </td>
              <td class="w-1/2 pl-14 px-4 text-lg text-gray-200">The time, this accumsan augue, posuere.</td>
            </tr>
            <tr class="border-b border-gray-500">
              <td class="w-1/2 py-10 pl-10 text-left border-r border-gray-500">
                <div class="flex items-center">
                  <input class="mr-8" type="checkbox" name="" id="">
                  <span class="flex items-center justify-center w-12 h-12 mr-6 rounded-full bg-violet-500 text-white text-lg font-bold">X</span>
                  <h4 class="text-xl text-white">Xavier Ulano</h4>
                </div>
              </td>
              <td class="w-1/2 pl-14 px-4 text-lg text-gray-200">Again and again vehicula libero at nibh volutpal.</td>
            </tr>
            <tr class="border-b border-gray-500">
              <td class="w-1/2 py-10 pl-10 text-left border-r border-gray-500">
                <div class="flex items-center">
                  <input class="mr-8" type="checkbox" name="" id="">
                  <span class="flex items-center justify-center w-12 h-12 mr-6 rounded-full bg-pink-500 text-white text-lg font-bold">A</span>
                  <h4 class="text-xl text-white">Alex Ramsey</h4>
                </div>
              </td>
              <td class="w-1/2 pl-14 px-4 text-lg text-gray-200">The time, this accumsan augue, posuere.</td>
            </tr>
            <tr class="border-b border-gray-500">
              <td class="w-1/2 py-10 pl-10 text-left border-r border-gray-500">
                <div class="flex items-center">
                  <input class="mr-8" type="checkbox" name="" id="">
                  <span class="flex items-center justify-center w-12 h-12 mr-6 rounded-full bg-gray-300 text-white text-lg font-bold">J</span>
                  <h4 class="text-xl text-white">Jonas Lennard Gonzales</h4>
                </div>
              </td>
              <td class="w-1/2 pl-14 px-4 text-lg text-gray-200">The lacinia non sed you see.</td>
            </tr>
            <tr class="border-b border-gray-500">
              <td class="w-1/2 py-10 pl-10 text-left border-r border-gray-500">
                <div class="flex items-center">
                  <input class="mr-8" type="checkbox" name="" id="">
                  <span class="flex items-center justify-center w-12 h-12 mr-6 rounded-full bg-blue-500 text-white text-lg font-bold">Y</span>
                  <h4 class="text-xl text-white">Yard A. McTominay</h4>
                </div>
              </td>
              <td class="w-1/2 pl-14 px-4 text-lg text-gray-200">The lacinia non sed you see.</td>
            </tr>
            <tr class="border-b border-gray-500">
              <td class="w-1/2 py-10 pl-10 text-left border-r border-gray-500">
                <div class="flex items-center">
                  <input class="mr-8" type="checkbox" name="" id="">
                  <span class="flex items-center justify-center w-12 h-12 mr-6 rounded-full bg-violet-500 text-white text-lg font-bold">B</span>
                  <h4 class="text-xl text-white">Ben White</h4>
                </div>
              </td>
              <td class="w-1/2 pl-14 px-4 text-lg text-gray-200">Again and again vehicula libero at nibh volutpal.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center"><a class="inline-block py-5 px-12 mb-4 sm:mb-0 sm:mr-4 bg-blue-500 hover:bg-blue-600 rounded-full text-white font-bold transition duration-200" href="#">Show more</a><a class="inline-block py-5 px-12 sm:mr-4 border border-gray-300 hover:border-gray-200 rounded-full text-white font-bold" href="#">Details</a></div>
    </div>
  </section></div>