<div> <section class="relative py-20 2xl:py-40">
    <div class="container px-4 mx-auto">
      <div class="mb-20 text-center">
        <span class="text-lg text-blue-500 font-bold">Check of details</span>
        <h2 class="mt-8 text-5xl font-bold font-heading">Summer features</h2>
      </div>
      <div>
        <div class="mb-16 overflow-x-auto overflow-y-hidden">
          <table class="table-auto w-full mb-10">
            <thead class="bg-blue-50">
              <tr class="text-lg text-left font-bold">
                <th class="pl-16 py-5">Feature 1</th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    1 Year
                  </div>
                </th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    2 Year
                  </div>
                </th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    3 Year
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-lg text-center border-b border-gray-50">
                <td class="pl-16 py-6 text-left">Statistics & Details</td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
              <tr class="text-lg text-center border-b border-gray-50">
                <td class="pl-16 py-6 text-left">Video chat</td>
                <td></td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
              <tr class="text-lg text-center border-b border-gray-50">
                <td class="pl-16 py-6 text-left">Real-Time Collaboration</td>
                <td></td>
                <td></td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
              <tr class="text-xl text-center">
                <td class="pl-16 py-6 text-left">Technical Support</td>
                <td></td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mb-16 overflow-x-auto overflow-y-hidden">
          <table class="table-auto w-full mb-10">
            <thead class="bg-blue-50">
              <tr class="text-lg text-left font-bold">
                <th class="pl-16 py-5">Feature 2</th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    1 Year
                  </div>
                </th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    2 Year
                  </div>
                </th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    3 Year
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-lg text-center border-b border-gray-50">
                <td class="pl-16 py-6 text-left">Statistics & Details</td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10"></td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
              <tr class="text-lg text-center border-b border-gray-50">
                <td class="pl-16 py-6 text-left">Video chat</td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
              <tr class="text-lg text-center border-b border-gray-50">
                <td class="pl-16 py-6 text-left">Real-Time Collaboration</td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
              <tr class="text-xl text-center">
                <td class="pl-16 py-6 text-left">Technical Support</td>
                <td></td>
                <td></td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="overflow-x-auto overflow-y-hidden">
          <table class="table-auto w-full mb-10">
            <thead class="bg-blue-50">
              <tr class="text-lg text-left font-bold">
                <th class="pl-16 py-5">Feature 3</th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    1 Year
                  </div>
                </th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    2 Year
                  </div>
                </th>
                <th class="px-4 py-5">
                  <div class="flex items-center">
                    <span class="inline-block w-2 h-2 mr-4 rounded-full bg-blue-500"></span>
                    3 Year
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="text-lg text-center border-b border-gray-50">
                <td class="pl-16 py-6 text-left">Statistics & Details</td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
              <tr class="text-lg text-center border-b border-gray-50">
                <td class="pl-16 py-6 text-left">Video chat</td>
                <td></td>
                <td></td>
                <td class="pl-10">
                  <svg width="36" height="37" viewbox="0 0 36 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="18" cy="18.4595" r="18" fill="#1F40FF" fill-opacity="0.1"></circle>
                    <g clip-path="url(#clip0)">
                      <path d="M15.135 24.797L9 18.662L9.81024 17.8517L15.135 23.1765L26.1898 12.1218L27 12.9321L15.135 24.797Z" fill="#1F40FF"></path>
                    </g>
                  </svg>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section></div>