<div> <section class="py-20 2xl:py-40 bg-gray-800">
    <div class="container px-4 mx-auto">
      <div class="relative max-w-xl mx-auto mb-16 pb-16 text-center border-b border-gray-400">
        <h2 class="mb-8 md:mb-14 text-5xl lg:text-6xl 2xl:text-7xl text-white font-bold font-heading">Choose a plan</h2>
        <p class="text-lg text-gray-200">The quick brown fox jumps over the lazy dog.</p>
        <img class="absolute bottom-0 right-0 -mb-8 mr-32" src="zospace-assets/lines/arrow-blue.svg" alt="">
      </div>
      <div class="flex justify-center items-center mb-8">
        <span class="mr-6 text-lg font-bold text-white">Monthly</span>
        <div class="flex p-2 border border-gray-400 rounded-full">
          <button class="inline-block w-10 h-8 bg-white rounded-full"></button>
          <button class="inline-block w-10 h-8 bg-transparent rounded-full"></button>
        </div>
        <span class="ml-6 text-lg text-gray-200">Annual</span>
      </div>
      <p class="mb-24 text-center text-gray-200">You can save 20%*</p>
      <div class="max-w-6xl mx-auto">
        <div class="flex flex-wrap -m-4">
          <div class="w-full lg:w-1/2 p-4">
            <div class="pt-16 pb-20 px-14 bg-gray-500 rounded-3xl">
              <div class="flex mb-14">
                <img class="mr-6 h-20" src="zospace-assets/images/new-3d-icon.svg" alt="">
                <div>
                  <h3 class="mb-3 text-4xl font-bold font-heading text-white">Beginner</h3>
                  <p class="text-lg font-bold text-white">$9,90/month</p>
                </div>
              </div>
              <ul class="text-center mb-12 text-white pb-12 border-b border-gray-400">
                <li class="py-4 text-lg rounded-2xl bg-gray-700">10GB</li>
                <li class="py-4 text-lg">5 team members</li>
                <li class="py-4 flex items-center justify-center text-lg rounded-2xl bg-gray-700">
                  <svg class="mr-2" width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.81671 15.0416L0 8.22485L0.90027 7.32458L6.81671 13.241L19.0997 0.958008L20 1.85828L6.81671 15.0416Z" fill="white"></path>
                  </svg>
                  <span>Support</span>
                </li>
              </ul>
              <div class="text-center">
                <p class="text-lg mb-10 lg:px-20 font-bold text-gray-200">The brown me quam, sagittis porttitor finils commodo.</p>
                <a class="inline-block text-center px-12 py-4 text-white font-bold border border-gray-200 hover:border-gray-100 rounded-full" href="#">Buy now</a>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 p-4">
            <div class="pt-16 pb-20 px-14 bg-blue-500 rounded-3xl">
              <div class="flex mb-14">
                <img class="mr-6 h-20" src="zospace-assets/images/big-3d-icon.svg" alt="">
                <div>
                  <h3 class="mb-3 text-4xl font-bold font-heading text-white">Advanced</h3>
                  <p class="text-lg font-bold text-white">$29,90/month</p>
                </div>
              </div>
              <ul class="text-center mb-12 text-white pb-12 border-b border-gray-200">
                <li class="py-4 text-lg rounded-2xl bg-blue-600">20TB</li>
                <li class="py-4 text-lg">5 team members</li>
                <li class="py-4 flex items-center justify-center text-lg rounded-2xl bg-blue-600">
                  <svg class="mr-2" width="20" height="16" viewbox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.81671 15.0416L0 8.22485L0.90027 7.32458L6.81671 13.241L19.0997 0.958008L20 1.85828L6.81671 15.0416Z" fill="white"></path>
                  </svg>
                  <span>Support</span>
                </li>
              </ul>
              <div class="text-center">
                <p class="text-lg mb-10 lg:px-20 font-bold text-white">The brown me quam, sagittis porttitor finils commodo.</p>
                <a class="inline-block text-center px-12 py-4 text-white font-bold border border-white hover:border-gray-100 rounded-full" href="#">Buy now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section></div>