<div>
	<section class="relative py-20 2xl:py-40 overflow-hidden">
		<img
			class="lg:absolute bottom-0 left-0 mx-auto h-80 w-112 lg:w-auto lg:h-112 2xl:h-144 object-cover"
			src="https://images.pexels.com/photos/5325885/pexels-photo-5325885.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=650"
			alt=""
		/>
		<img
			class="hidden lg:block absolute bottom-0 right-0 h-64 2xl:h-96 object-cover"
			src="https://images.pexels.com/photos/5325762/pexels-photo-5325762.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=650"
			alt=""
		/>
		<div class="container px-4 mx-auto pt-20">
			<div class="max-w-lg 2xl:max-w-3xl mx-auto text-center">
				<a class="inline-block mx-auto text-gray-900 text-xl font-bold" href="#">
					<img
						class="h-7"
						src="https://shuffle.dev/zospace-assets/logos/zospace-dark-logo.svg"
						alt=""
						width="auto"
					/>
				</a>
				<h2 class="my-8 text-6xl 2xl:text-7xl font-bold font-heading">Now in season.</h2>
				<p class="mb-14 text-lg text-gray-500">Great experience for everyone.</p>
				<a
					class="inline-block py-4 px-12 text-white font-bold bg-blue-500 hover:bg-blue-600 rounded-full transition duration-200"
					href="#"
					>Say hello!</a
				>
			</div>
		</div>
	</section>
</div>
