<div> <section class="relative py-20 2xl:py-40 bg-violet-500 overflow-hidden">
    <img class="absolute top-0 right-0 h-40 lg:h-80 lg:mt-64" src="zospace-assets/images/five-stars.svg" alt="">
    <img class="hidden lg:block absolute top-0 left-0 h-64" src="zospace-assets/images/blue-double-circle.svg" alt="">
    <div class="relative container px-4 mx-auto">
      <div class="max-w-3xl mx-auto">
        <a class="inline-block text-white text-xl font-bold" href="#">
          <img class="h-7" src="zospace-assets/logos/zospace-logo.svg" alt="" width="auto">
        </a>
        <img class="mx-auto mb-8" src="zospace-assets/images/error-404.svg" alt="">
        <div class="max-w-md mx-auto text-center">
          <h2 class="mb-20 text-2xl text-white font-bold font-heading">Sorry, we can't find that page or something has gone wrong...</h2>
          <a class="inline-block px-12 py-4 text-lg bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-full transition duration-200" href="#">Start again</a>
        </div>
      </div>
    </div>
  </section></div>