<div> <section class="bg-blue-600 py-20 2xl:py-40 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="max-w-4xl mx-auto text-center">
        <span class="text-white font-bold">What's new at Shuffle</span>
        <h2 class="my-8 mb-20 text-6xl lg:text-7xl text-white font-bold font-heading">The quick brown fox jumps over the lazy dog.</h2>
        <a class="inline-block py-4 px-12 text-white font-bold bg-blue-500 hover:bg-blue-400 rounded-full transition duration-200" href="#">Learn how</a>
      </div>
    </div>
  </section></div>