<div>
	<section class="py-20 bg-gray-800">
		<div class="container px-4 mx-auto">
			<h2 class="mb-12 text-center text-xl font-bold font-heading text-white">Trusted by brands all over the world</h2>
			<div class="flex flex-wrap -m-4">
				<div class="w-full md:w-1/2 lg:w-1/5 p-4">
					<div class="flex w-full h-32 items-center justify-center border-2 border-gray-600 rounded-lg">
						<img class="h-16" src="https://shuffle.dev/zospace-assets/logos/spotify-box.svg" alt="" />
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/5 p-4">
					<div class="flex w-full h-32 items-center justify-center border-2 border-gray-600 rounded-lg">
						<img class="h-6" src="https://shuffle.dev/zospace-assets/logos/we-box.svg" alt="" />
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/5 p-4">
					<div class="flex w-full h-32 items-center justify-center border-2 border-gray-600 rounded-lg">
						<img class="h-6" src="https://shuffle.dev/zospace-assets/logos/slack-box.svg" alt="" />
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/5 p-4">
					<div class="flex w-full h-32 items-center justify-center border-2 border-gray-600 rounded-lg">
						<img class="h-12" src="https://shuffle.dev/zospace-assets/logos/miro-box.svg" alt="" />
					</div>
				</div>
				<div class="w-full md:w-1/2 lg:w-1/5 p-4">
					<div class="flex w-full h-32 items-center justify-center border-2 border-gray-600 rounded-lg">
						<img class="h-6" src="https://shuffle.dev/zospace-assets/logos/dropbox-box.svg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
