<div> <section class="py-20 2xl:py-40 bg-blue-50 overflow-hidden">
    <div class="container px-4 mx-auto">
      <div class="mb-20 text-center">
        <span class="text-lg text-blue-500 font-bold">What's new at Shuffle</span>
        <h2 class="mt-8 text-6xl lg:text-7xl font-bold font-heading">Latest blog</h2>
      </div>
      <div class="flex flex-wrap -mx-5">
        <div class="w-full md:w-1/2 lg:w-1/4 p-5">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover object-top" src="https://images.pexels.com/photos/6822288/pexels-photo-6822288.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">30</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 bg-white rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-blue-500" href="#">Music</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">New: Is remote work working? A one year check-in</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/5325708/pexels-photo-5325708.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">29</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 bg-white rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-violet-500" href="#">Sport</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">10 ways to keep your remote teams engaged</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover object-top" src="https://images.pexels.com/photos/5325768/pexels-photo-5325768.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">28</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 bg-white rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-blue-500" href="#">Music</a><a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-yellow-500" href="#">Art</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">Live: How to make a concept map? + Examples</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
        <div class="w-full md:w-1/2 lg:w-1/4 p-5">
          <div class="relative h-52">
            <a href="">
              <img class="w-full h-full object-cover" src="https://images.pexels.com/photos/5325708/pexels-photo-5325708.jpeg?q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=450&w=940" alt="">
            </a>
            <div class="absolute bottom-0 left-0 ml-8 mb-6 px-3 pb-3 pt-1 inline-block bg-white rounded-b-2xl border-t-4 border-blue-500">
              <p class="text-xl font-bold">26</p>
              <p class="text-xs uppercase text-gray-300">Feb</p>
            </div>
          </div>
          <div class="pt-10 pb-14 px-5 bg-white rounded-b-lg">
            <a class="inline-block mb-6 py-1 px-3 text-white font-bold rounded-xl bg-green-500" href="#">Video</a>
            <a href="#">
              <h3 class="mb-4 text-2xl font-bold">New: Is remote work working? A one year check-in</h3>
              <p class="text-lg text-gray-300">This morning, platea lorem dictumst nec nunc in.</p>
            </a>
          </div>
        </div>
      </div>
      <div class="mt-14 lg:mt-20 text-center"><a class="inline-block py-5 px-12 mr-4 bg-blue-500 hover:bg-blue-600 rounded-full text-white font-bold transition duration-200" href="#">See all</a></div>
    </div>
  </section></div>